interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffRound?id=6e6206eb-1326-4c4e-a0cf-1d745aa611de
  response:
    body:
      string: '{"id":"6e6206eb-1326-4c4e-a0cf-1d745aa611de","gameIndex":2,"games":[["4257b13c-fc09-4b80-8d99-862889502180","none"],["29588a2a-69a1-45bf-ae0b-7b80a301a343"],["7288ef24-842d-4ae1-aede-392e00330406"]],"matchups":["84f28e07-507a-4dd9-bc38-8c6c02be7542"],"name":"The
        Internet Series","roundNumber":2,"special":true,"winnerSeeds":[2],"winners":["23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17c-NJ2e7gf4HP0S0fixUyObvWgNb0I"
    status:
      code: 200
      message: OK
version: 1
