interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonRecap?season=13
  response:
    body:
      string: '{"id":"2fe42057-49c6-4dd7-b9e4-988b85a23dce","bonusResults":["61eef574-f208-4e71-92ce-33dc7a823f7a","74f05c78-081b-4dff-8a9e-c677f6525c28","fd114ac2-a814-4ae8-a8cf-4a07bc67988e","c67e39b5-a046-4a92-8d5c-48388fee066f","d8bcd3ad-30a1-478b-9f0e-4a871fd49c70","a67d2193-00a7-422e-9b80-c050144875fa","8b14e616-6979-4a84-921c-fe57f1c73c90","7d97a93e-a7cc-4d70-a516-ee0d9cc25134","60563003-1e0a-4efa-8093-3fee11408d27","abca4227-71f7-4cd5-b757-d379401df7ef","b61e3875-d114-4c51-a5f1-aa5c9ecf2aea"],"decreeResults":["8cbfa4ef-c684-40df-a806-4f9e85357f94"],"name":"The
        Season 14 Election","season":13,"totalBonusVotes":6120395,"totalDecreeVotes":1163696,"voteCount":10927301,"eventResults":["65040c73-2337-4698-aa89-87e396f1cb09","e42abd51-8254-4a6d-af1f-14387d928724","d00f417d-d140-46e4-b93c-512393fca47b"],"willResults":["44a39124-6024-4dad-b218-6b58e2f28c57","167ceb3f-cece-442f-ac44-f1e51206eba7","81f57a20-e5b5-42d1-acbf-568e19bfa5d3","e4b661f2-a771-417b-995d-4859ebfcdfe7","2056ff1b-2b6b-482c-8a61-1cc9374cb866","54cde28e-924f-4070-b83a-9fdaeee2487f","53e8a6c0-515d-45e3-b7b2-5b06e30b0518","0be6b9e3-e500-4f12-99e0-f4d38332011f","45474528-db44-4ad9-b995-d7543754076c","61f02872-ac67-4c36-a42e-1dfabde4db62","815f2973-5f04-47c1-ae11-3d7ae84aec33","bcdf3f86-8b32-4901-a285-db7226cd4fc2","99abbb11-8cac-4086-881b-7d425b[...]
