interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/standings?id=dbcb0a13-2d59-4f13-8681-fd969aefdcc6
  response:
    body:
      string: '{"id":"dbcb0a13-2d59-4f13-8681-fd969aefdcc6","losses":{"adc5b394-8f76-416d-9ce9-813706877b84":51,"b72f3061-f573-40d7-832a-5ad475bd7909":50,"878c1bf6-0d21-4659-bfee-916c8314d69c":69,"b024e975-1c4a-4575-8936-a3754a08806a":43,"979aee4a-6d80-4863-bf1c-ee1a78e06024":55,"bfd38797-8404-4b38-8b82-341da28b1f83":48,"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16":38,"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e":55,"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7":46,"8d87c468-699a-47a8-b40d-cfb73a5660ad":47,"36569151-a2fb-43c1-9df7-2df512424c82":41,"7966eb04-efcc-499b-8f03-d13916330531":50,"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff":46,"f02aeae2-5e6a-4098-9842-02d2273f25c7":59,"57ec08cc-0411-4643-b304-0e80dbc15ac7":56,"747b8e4a-7e50-4638-a973-ea7950a3e739":31,"a37f9158-7f82-46bc-908c-c9e2dda7c33b":41,"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5":62,"b63be8c2-576a-4d6e-8daf-814f8bcea96f":52,"105bc3ff-1320-4e37-8ef0-8d595cb95dd0":50},"wins":{"adc5b394-8f76-416d-9ce9-813706877b84":48,"b72f3061-f573-40d7-832a-5ad475bd7909":49,"878c1bf6-0d21-4659-bfee-916c8314d69c":30,"b024e975-1c4a-4575-8936-a3754a08806a":56,"979aee4a-6d80-4863-bf1c-ee1a78e06024":44,"bfd38797-8404-4b38-8b82-341da28b1f83":51,"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16":61,"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e":44,"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7":53,"8d87c468-699a-47a8-b40d-cfb73a5660ad":52,"36569151-a2fb-43c1-9df7-2df512424c82":58,"7966eb04-efcc-499b-8f03-d13916330531":49,"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff":53,"f02aeae2-5e6a-4098-9842-02d2273f25c7":40,"57ec08cc-0411-4643-b304-0e80dbc15ac7":43,"747b8e4a-7e50-4638-a973-ea7950a3e739":68,"a37f9158-7f82-46bc-908c-c9e2dda7c33b":58,"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5":37,"b63be8c2-576a-4d6e-8daf-814f8bcea96f":47,"105bc3ff-1320-4e37-8ef0-8d595cb95dd0":49},"runs":{},"gamesPlayed":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ec-+udJCcjfH6tXfc54s89dFEqAwbc"
    status:
      code: 200
      message: OK
version: 1
