interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=bee2a1e6-50d6-4866-a7b4-f13705873052
  response:
    body:
      string: '[{"id":"bee2a1e6-50d6-4866-a7b4-f13705873052","name":null,"awaySeed":0,"awayTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","awayWins":3,"homeSeed":1,"homeTeam":"36569151-a2fb-43c1-9df7-2df512424c82","homeWins":0,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5-szNJtkjXyasUfA374mxS2LWA/zo"
    status:
      code: 200
      message: OK
version: 1
