interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerStatsheets?ids=c339dd13-e3fa-478f-871f-371fff8fbe8d
  response:
    body:
      string: '[{"id":"c339dd13-e3fa-478f-871f-371fff8fbe8d","playerId":"de21c97e-f575-43b7-8be7-ecc5d8c4eaff","teamId":"878c1bf6-0d21-4659-bfee-916c8314d69c","team":"Unlimited
        Tacos","name":"Pitching Machine","atBats":0,"caughtStealing":0,"doubles":0,"earnedRuns":32,"groundIntoDp":0,"hits":0,"hitsAllowed":63,"homeRuns":0,"losses":4,"outsRecorded":168,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":43,"struckouts":0,"triples":0,"walks":0,"walksIssued":3,"wins":2,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"203-6bXnkvADlWj0edLztD+R0nXINkg"
    status:
      code: 200
      message: OK
version: 1
