interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffs?number=4
  response:
    body:
      string: '{"id":"8e354ba9-7825-468d-b81f-6f5654ef66aa","name":"Season 5 Postseason","numberOfRounds":3,"playoffDay":13,"rounds":["34c99cbf-1d7d-4715-8957-8abcba3c5b89","79cbac29-c60f-4962-9a11-60f9aacca7dc","e647b1d5-829d-4aeb-b50d-3426c99b5c21"],"season":4,"tomorrowRound":2,"winner":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","tournament":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14a-/ikO0dm/zzSEdopOcan8cOVX1GA"
    status:
      code: 200
      message: OK
version: 1
