interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/simulationData
  response:
    body:
      string: '{"id":"thisidisstaticyo","day":15,"league":"d8545021-e9fc-48a3-af74-48685950a183","nextElectionEnd":"2020-12-13T19:00:00.341Z","nextPhaseTime":"2020-12-08T22:00:00.886Z","nextSeasonStart":"2020-12-14T16:00:00.341Z","phase":0,"playOffRound":3,"playoffs":"ec9a7986-6817-4ba2-b258-244dd60b5424","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","season":10,"seasonId":"1d184823-a466-44da-ac72-cbd91d13f7dc","terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","eraColor":"#884ec2","eraTitle":"GRAND
        SIESTA","twgo":"JHFMTOJMNPSMLMDGFOSEZDTMJWHPADAACGRTBBPBBCJRTPMJCSNKKAOMVMSTAJTVTCJIMPSSSTBFHRSSMSDKIRLWLVWSSMEIMCCDMDRTEIFBCLRMMW","subEraColor":"#ab383a","subEraTitle":"","attr":["OPENED_BOOK","UNLOCKED_PEANUTS","EAT_THE_RICH","UNLOCKED_INTERVIEWS","UNLOCKED_IDOLS","PARTY_TIME","UNLOCKED_HALL","WILD_CARDS","BLACK_HOLE","SIM_BOOK_EAT","SIM_TAROT","SIM_BOOK_DEFACE","SIM_BOOK_CLOSE"],"agitations":261,"salutations":0,"tournament":0,"tournamentRound":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b3-ePmVfFk2A3aWvjA9kEO/P0l1cL8"
    status:
      code: 200
      message: OK
version: 1
