interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/renovations?ids=flooding_plus
  response:
    body:
      string: '[{"id":"flooding_plus","title":"Flooding +","type":0,"effects":["Weather
        % +"],"description":"Your Ballpark will have Flooding weather more often."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-c0ejAHjjMf00ZrURD55fCBumirk"
    status:
      code: 200
      message: OK
version: 1
