interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonSetup
  response:
    body:
      string: '{"decrees":[{"id":"meal_plan","type":58,"title":"Meal Plan","description":"All
        Fans will gain 2 new temporary Snack Slots each Earlsiesta and 2 new temporary
        Snack slots each Latesiesta. The 4 extra Slots and the Snacks in them will
        be washed away after each Election."},{"id":"pot_luck","type":60,"title":"Pot
        Luck","description":"All Fans gain 3 Snack Slots permanently. Every Season,
        3 Snacks in Concessions will be randomly selected to be Spoiled, earning extremely
        low payouts, with a small chance of a Gourmet Jackpot."},{"id":"all_you_can_eat","type":59,"title":"All
        You Can Eat","description":"Fans will be able to freely buy and sell Snack
        Slots at any time. The less Snack Slots a Fan owns, the higher the payout
        for the Snacks in them."}],"blessings":[{"id":"mod_team_black_hole_payouts","type":155,"value":1,"title":"Jam-Packed","subheader":"Brought
        to you by @the Multitude Podcast Collective@https://multitude.productions/shows","description":"Your
        Team will pay out double to all Fans when they trigger the Black Hole."},{"id":"mod_team_sun_two_payouts","type":156,"value":1,"title":"Glazed","description":"Your
        Team will pay out double to all Fans when they trigger Sun 2."},{"id":"mod_team_popcorn_payouts","type":153,"value":1,"title":"Buttered
        Up","description":"Your Team will pay out double for P[...]
