interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/global?limit=3
  response:
    body:
      string: '[{"id":"324075e5-095c-494e-b13f-2d0ae0b70080","playerTags":["89ec77d8-c186-4027-bd45-f407b4800c2c"],"teamTags":["7966eb04-efcc-499b-8f03-d13916330531"],"gameTags":[],"metadata":{"mod":"SUPERYUMMY","type":0,"parent":"6ad86057-b1d4-444b-b885-01ef7a96feb6"},"created":"2021-03-21T18:51:45.795Z","season":13,"tournament":-1,"type":106,"day":116,"phase":13,"category":1,"description":"James
        Mora is Superyummy..."},{"id":"95d69c10-be2a-405c-846e-eaba8a080dd5","playerTags":["b6aa8ce8-2587-4627-83c1-2a48d44afaee"],"teamTags":["7966eb04-efcc-499b-8f03-d13916330531"],"gameTags":[],"metadata":{"parent":"6ad86057-b1d4-444b-b885-01ef7a96feb6"},"created":"2021-03-21T18:51:26.124Z","season":13,"tournament":-1,"type":168,"day":116,"phase":13,"category":1,"description":"Inky
        Rutledge is no longer allergic to Peanuts."},{"id":"9afd8382-4614-4f0d-b06f-5f7aebf6933e","playerTags":["8adb084b-19fe-4295-bcd2-f92afdb62bd7"],"teamTags":["7966eb04-efcc-499b-8f03-d13916330531"],"gameTags":[],"metadata":{"parent":"6ad86057-b1d4-444b-b885-01ef7a96feb6"},"created":"2021-03-21T18:50:50.980Z","season":13,"tournament":-1,"type":168,"day":116,"phase":13,"category":1,"description":"Logan
        Rodriguez is no longer allergic to Peanuts."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4be-nw/+9F7G5525ZoX++Ym4upscx+8"
    status:
      code: 200
      message: OK
version: 1
