interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/tributes/updates?before=2020-09-20T12%3A41%3A36.360000Z&count=1&order=desc
  response:
    body:
      string: '{"nextPage":"CBMsAjfIlEC1bQd24Mw603DHnNAQQAAA","data":[{"updateId":"022c1308-c837-4094-b56d-0776e0cc3ad3","timestamp":"2020-09-20T12:41:36.359Z","players":{"f9c0d3cb-d8be-4f53-94c9-fc53bcbce520":0,"f967d064-0eaf-4445-b225-daed700e044b":0,"f8c20693-f439-4a29-a421-05ed92749f10":0,"f7715b05-ee69-43e5-a0e5-8e3d34270c82":0,"f44a8b27-85c1-44de-b129-1b0f60bcb99c":0,"ef32eb48-4866-49d0-ae58-9c4982e01142":0,"d74a2473-1f29-40fa-a41e-66fa2281dfca":0,"d744f534-2352-472b-9e42-cd91fa540f1b":0,"d5b6b11d-3924-4634-bd50-76553f1f162b":0,"d1a7c13f-8e78-4d2e-9cae-ebf3a5fcdb5d":0,"cd68d3a6-7fbc-445d-90f1-970c955e32f4":0,"c86b5add-6c9a-40e0-aa43-e4fd7dd4f2c7":0,"c83f0fe0-44d1-4342-81e8-944bb38f8e23":0,"c83a13f6-ee66-4b1c-9747-faa67395a6f1":0,"c73d59dd-32a0-49ce-8ab4-b2dbb7dc94ec":0,"be35caba-b16a-4e0d-b927-4da857f4cdb5":0,"bd9d1d6e-7822-4ad9-bac4-89b8afd8a630":0,"bd549bfe-b395-4dc0-8546-5c04c08e24a5":0,"bd4c6837-eeaa-4675-ae48-061efa0fd11a":0,"bca38809-81de-42ff-94e3-1c0ebfb1e797":0,"b86237bb-ade6-4b1d-9199-a3cc354118d9":0,"b4505c48-fc75-4f9e-8419-42b28dcc5273":0,"b3d518b9-dc68-4902-b68c-0022ceb25aa0":0,"afc90398-b891-4cdf-9dea-af8a3a79d793":0,"ab9eb213-0917-4374-a259-458295045021":0,"a5adc84c-80b8-49e4-9962-8b4ade99a922":0,"a311c089-0df4-46bd-9f5d-8c45c7eb5ae2":0,"a1628d97-16ca-4a75-b8df-569bae02bef9":0,"a071a713-a6a1-4b4c-bb3f-45d9fba7a08c":0,"98a98014-9636-4ece-a46a-4625b47c65d5":0,"90c6e6ca-77fc-42b7-94d8-d8afd6d299e5":0,"8e1fd784-99d5-41c1-a6c5-6b947cec6714":0,"8ba7e1ff-4c6d-4963-8e0f-7096d14f4b12":0,"8604e861-d784-43f0-b0f8-0d43ea6f7814":0,"80a2f015-9d40-426b-a4f6-b9911ba3add8":0,"7b0f91aa-4d66-4362-993d-6ff60f7ce0ef":0,"773712f6-d76d-4caa-8a9b-56fe1d1a5a68":0,"76c4853b-7fbc-4688-8cda-c5b8de1724e4":0,"7310c32f-8f32-40f2-b086-54555a2c0e86":0,"70ccff1e-6b53-40e2-8844-0a28621cb33e":0,"70a458ed-25ca-4ff8-97fc-21cbf58f2c2a":0,"6fc36[...]
