interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonSetup
  response:
    body:
      string: '{"decrees":[{"id":"book_bury","type":43,"title":"Bury","description":"...Bury!
        The Forbidden Book..."},{"id":"book_burn","type":44,"title":"Burn","description":"...Burn!
        The Forbidden Book..."},{"id":"book_close","type":45,"title":"Close","description":"...Close!
        The Forbidden Book..."},{"id":"book_deface","type":46,"title":"Deface","description":"...Deface!
        The Forbidden Book..."},{"id":"book_eat","type":47,"title":"Eat","description":"...Eat!
        The Forbidden Book..."},{"id":"book_freeze","type":48,"title":"Freeze","description":"...Freeze!
        The Forbidden Book..."},{"id":"book_shred","type":49,"title":"Shred","description":"...Shred!
        The Forbidden Book..."},{"id":"book_sink","type":50,"title":"Sink","description":"...Sink!
        The Forbidden Book..."},{"id":"book_trash","type":51,"title":"Trash","description":"...Trash!
        The Forbidden Book..."}],"blessings":[{"id":"tarot_magician","type":136,"value":0,"title":"I","description":"The
        Magician"},{"id":"tarot_high_priestess","type":136,"value":1,"title":"II","description":"The
        High Priestess"},{"id":"tarot_empress","type":136,"value":2,"title":"III","description":"The
        Empress"},{"id":"tarot_emperor","type":136,"value":3,"title":"IIII","description":"The
        Emperor"},{"id":"tarot_pope","type":136,"value":4,"title":"V","description":"The
        Pope"},{"id":"tarot_lover","type":136,"value":5,"title":"VI","descri[...]
