interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=762670ae-8bf9-4165-bf36-7a78697bd927
  response:
    body:
      string: '[{"id":"762670ae-8bf9-4165-bf36-7a78697bd927","bonusId":"item_grappling_hook","bonusTitle":"Grappling
        Hook","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","totalVotes":73833,"description":"Richardson
        Games gained the Grappling Hook. Their Baserunning and Defense increased by
        a big amount!","highestTeam":"8d87c468-699a-47a8-b40d-cfb73a5660ad","highestTeamVotes":34145,"teamVotes":4142}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"184-fUiFVIk/ltGDp96vgeisKMnFrtU"
    status:
      code: 200
      message: OK
version: 1
