interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=nagomi_mystery
  response:
    body:
      string: '[{"id":"nagomi_mystery","bonusId":"mysterious_change","bonusTitle":"Mystery
        Defection","teamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","totalVotes":0,"description":"Nagomi
        Mcdaniel mysteriously defected to the Hawaii Fridays. Nolanestophia Patterson
        swapped to the Tigers. There''s still no clear answer for why this happened.","highestTeam":null,"highestTeamVotes":null,"teamVotes":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"184-AwuTTEBrXM3rQSqWB+iPgLT3rWw"
    status:
      code: 200
      message: OK
version: 1
