interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/stadiums
  response:
    body:
      string: "{\"data\":[{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"lastUpdate\":\"2021-03-13T14:00:33.156975Z\",\"data\":{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hype\":0,\"mods\":[],\"name\":\"Core
        Pillar Center\",\"birds\":0,\"model\":3,\"state\":{},\"teamId\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"renoLog\":{},\"weather\":{},\"nickname\":\"The
        Pillars\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#d15700\",\"mysticism\":0.48208876148585916,\"viscosity\":0.2769749520408473,\"elongation\":0.5124500042294067,\"filthiness\":0.01302935742480258,\"obtuseness\":0.4521598407783409,\"forwardness\":0.4446314721438908,\"grandiosity\":0.4447289767338998,\"ominousness\":0.4391837802585088,\"renoDiscard\":[],\"fortification\":0.5376439522647619,\"inconvenience\":0.6025859364172551,\"luxuriousness\":0,\"tertiaryColor\":\"#ffddc4\",\"secondaryColor\":\"#ffaf96\"}},{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"lastUpdate\":\"2021-03-13T14:00:33.156975Z\",\"data\":{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hype\":0,\"mods\":[],\"name\":\"The
        Fire Safety Awareness Center\",\"birds\":0,\"model\":2,\"state\":{},\"teamId\":\"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16\",\"renoLog\":{},\"weather\":{},\"nickname\":\"The
        Fire House\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#8c2a3e\",\"mysticism\":0.2343003613218557,\"v[...]
