interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?at=2020-07-29T12%3A00%3A00.000000Z&count=1000&type=globalevents
  response:
    body:
      string: '{"nextPage":"AAAAAAAAAAAAAAAAAAAAAFC6EJheFgAA","items":[{"entityId":"00000000-0000-0000-0000-000000000000","hash":"d1a6fdd9-83b2-befd-856a-3bf292449fd8","validFrom":"2020-07-29T11:12:33.397Z","validTo":"2020-07-29T12:12:37.076Z","data":[{"__v":0,"_id":"the_discipline_era","msg":"The
        Discipline Era has begun"},{"__v":0,"_id":"mourning_best_player","msg":"In
        Memoriam: Jaylen Hotdogfingers, Fitzgerald Massey, Tyreek Olive, Jenna Maldonado,
        Nora Perez, Scrap Murphy","expire":"2020-07-29T19:00:02.379Z"},{"_id":"darkness_forecast","msg":"THE
        COMMISSIONER IS DOING A GREAT JOB"},{"_id":"commissioner_parker","msg":"THE
        COMMISSIONER IS DOING A GREAT JOB"},{"__v":0,"_id":"hitting_stat_leaders_update","msg":"Home
        Run Leaders: ... Jessica Telephone, Philly Pies - 19 ..... Landry Violence,
        Hades Tigers - 19 ..... Dominic Marijuana, New York Millennials - 18 .....
        Antonio Wallace, Charleston Shoe Thieves - 16 ..... Beck Whitney, Boston Flowers
        - 15 ..... "},{"__v":0,"_id":"pitching_stat_leaders_update","msg":"Earned
        Run Average Leaders: ... Orville Manco, Dallas Steaks - 1.556 ..... Dunlap
        Figueroa, Hades Tigers - 2.186 ..... PolkaDot Patterson, Baltimore Crabs -
        2.198 ..... Kevin Dudley, Philly Pies - 2.277 ..... Greer Lott, Canada Moist
        Talkers - 2.444 ..... "}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
