interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonRecap?season=0
  response:
    body:
      string: '{"id":"dfb49299-a2cc-40b4-b1c3-f4444beb7336","bonusResults":["cbb567c0-d770-4d22-92f6-ff16ebb94758","0d3ea692-e151-4629-8f88-d75b56107ebc","06a455d4-6bbc-4820-9256-e5c89e327720","b40b4946-9f1c-4328-969f-20fae50dc47e","ab2b02b4-935d-403e-81fc-d39c3e7c95ee","8b5fb689-1d47-473a-bfa1-2d3ca26426ed","468fcd69-fad7-4364-8426-24900db3e609","268580d3-7bbd-474d-a563-08044bafda8b","nagomi_mystery","winniehess_mystery"],"decreeResults":["b090fdfc-7d9d-414b-a4a5-bbc698028c15"],"name":"The
        Season 1 Election","season":0,"totalBonusVotes":1295,"totalDecreeVotes":925,"voteCount":2220,"eventResults":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"250-Qy2WVgeIKGbR/OTqbED5tEAtOjU"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonRecap?season=9
  response:
    body:
      string: '{"id":"f69ac860-76da-438f-97f6-03243a3b2f3a","bonusResults":["241ce429-48fb-45f6-b761-cc03dd4a6d86","42f6ab98-8d39-4520-a6fa-7baf572d01cd","790aa0ae-c1dc-4457-bcdc-8da6fdb7be73","cd9d4dfe-66e8-402e-9bce-3915654c8ffe","316d3766-737b-4698-8f9b-72892d392a91","2f24687c-2c0d-48f5-8aa9-b485716ad443","6df271b6-6b90-4de5-baf7-bea9d8c5ed52","bf12231d-4128-4067-a4db-f6d9a41c9121","a0100c6b-4e38-435b-a2b7-c72aa772ce06","1e71b138-6b9a-439c-9b76-368ee9277b46","bfbead18-9907-4a9a-9756-cc0a97d1d34a","76432c31-f703-4442-b0e0-37a1b28810b7","db6ca571-a2fc-4598-a530-06d5a9571230","dee7fe16-a8df-4bd7-9eec-cfd8dfa285b8","8dc98a20-b4d4-46b8-b909-ac69627d739e","f4844a32-7551-413a-8986-0e1460923094","99bd606d-5206-4a83-a274-594464e0a70f","6116ac2b-7a39-47ad-9122-d40787f999f9","271299c2-a781-4dcd-b363-2b0445b5f839","7cad4419-d88d-4c7c-bff5-2e206bdb5e26"],"decreeResults":["b0317431-b707-4a76-af96-c46ac46c3834"],"name":"The
        Season 10 Election","season":9,"totalBonusVotes":7176924,"totalDecreeVotes":685733,"voteCount":7862657,"eventResults":["ascension_10","pods_10","stars_10"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42b-GeDwraj95+b5MuysDyw2oIh+imw"
    status:
      code: 200
      message: OK
version: 1
