interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=a979d2e9-f8d8-47e9-9bf8-05807cf49ffa
  response:
    body:
      string: '[{"id":"a979d2e9-f8d8-47e9-9bf8-05807cf49ffa","homeTeamRunsByInning":[2,1,1,0,0,3,0,0],"awayTeamRunsByInning":[0,2,0,0,0,0,1,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"3e027c20-a5bf-4989-b9c8-28f24e1c84b1","homeTeamStats":"be8d4b1c-aa03-45f2-948d-36573c541604"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-d0jc5bEq0bNsXKrCKEolCE4vTGQ"
    status:
      code: 200
      message: OK
version: 1
