interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/global?limit=3
  response:
    body:
      string: '[{"id":"fee7385a-cfcf-4927-a2e5-932871992873","playerTags":["f245f6c6-4613-40f5-bc3b-85aa9ee3cf7e"],"teamTags":["23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7"],"gameTags":[],"metadata":{"mods":["OVERPERFORMING"],"type":3},"created":"2021-05-19T20:32:04.522Z","season":18,"tournament":-1,"type":108,"day":52,"phase":4,"category":1,"description":"Usurper
        Violet''s game mods wore off.","nuts":0},{"id":"9b6a2053-9160-4b15-bccf-8d823d59b200","playerTags":["2d07ccd0-cac7-4ccd-bab6-a078bb983174"],"teamTags":["b024e975-1c4a-4575-8936-a3754a08806a"],"gameTags":[],"metadata":{"mods":["OVERPERFORMING"],"type":3},"created":"2021-05-19T20:32:04.367Z","season":18,"tournament":-1,"type":108,"day":52,"phase":4,"category":1,"description":"Engine
        Eberhardt''s game mods wore off.","nuts":0},{"id":"d5fa2734-1f1d-4fe2-a652-9439bd0dca72","playerTags":[],"teamTags":["bfd38797-8404-4b38-8b82-341da28b1f83"],"gameTags":[],"metadata":{"mods":["0"],"type":3},"created":"2021-05-19T20:32:04.315Z","season":18,"tournament":-1,"type":108,"day":52,"phase":4,"category":1,"description":"The
        Shoe Thieves'' game mods wore off.","nuts":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"451-TJYMdFyCgIoaIDAJfhqmHkM0fyE"
    status:
      code: 200
      message: OK
version: 1
