interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=9033b003-5205-4fcd-bc35-49fe8cd33062
  response:
    body:
      string: '[{"id":"9033b003-5205-4fcd-bc35-49fe8cd33062","homeTeamRunsByInning":[0,0,0,1,0,0,0,0,1,2,0,4],"awayTeamRunsByInning":[0,0,0,2,0,0,0,0,0,2,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"5bd186cd-3fec-44bd-962f-4c30e91bd63e","homeTeamStats":"ba51a850-113c-4211-8d58-10dc5fc9cff2"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"131-z3ahYdU2DJ27Sekvi3ER8h1ES9Y"
    status:
      code: 200
      message: OK
version: 1
