interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameById/2eb1b614-2a5c-440b-bbac-74e3ae054fc6
  response:
    body:
      string: '{"id":"2eb1b614-2a5c-440b-bbac-74e3ae054fc6","basesOccupied":[],"baseRunners":[],"baseRunnerNames":[],"outcomes":["Nic
        Winkler is Partying!"],"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","lastUpdate":"Game
        over.","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","statsheet":"ce3a10b8-bc95-4fa4-b515-ff9939afdb44","awayPitcher":"ff5a37d9-a6dd-49aa-b6fb-b935fd670820","awayPitcherName":"Dunn
        Keyes","awayBatter":null,"awayBatterName":"","awayTeam":"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","awayTeamName":"Boston
        Flowers","awayTeamNickname":"Flowers","awayTeamColor":"#f7d1ff","awayTeamEmoji":"0x1F339","awayOdds":0.4506664647412394,"awayStrikes":3,"awayScore":1,"awayTeamBatterCount":34,"homePitcher":"3c331c87-1634-46c4-87ce-e4b9c59e2969","homePitcherName":"Yosh
        Carpenter","homeBatter":null,"homeBatterName":"","homeTeam":"b72f3061-f573-40d7-832a-5ad475bd7909","homeTeamName":"San
        Francisco Lovers","homeTeamNickname":"Lovers","homeTeamColor":"#780018","homeTeamEmoji":"0x1F48B","homeOdds":0.5493335352587606,"homeStrikes":3,"homeScore":5,"homeTeamBatterCount":33,"season":6,"isPostseason":false,"day":94,"phase":6,"gameComplete":true,"finalized":true,"gameStart":true,"halfInningOuts":0,"halfInningScore":0,"inning":8,"topOfInning":true,"atBatBalls":0,"atBatStrikes":0,"seriesIndex":2,"seriesLength":3,"shame":false,"weather":9,"baserunnerCount":0,"homeBases":4,"awayBases":4,"repeatCount":0,"awayTeamSecondaryColor":"","homeTeamSecondaryColor":"","homeBalls":4,"awayBalls":4,"homeOuts":3,"awayOuts":3,"playCount":0,"tournament":-1,"baseRunnerMods":[],"homePitcherMod":"","homeBatterMod":"","awayPitcherMod":"","awayBatterMod":"","scoreUpdate":"","scoreLedger":"","stadiumId":null,"secretBaserunner":null,"topInningScore":0,"bottomInningScore":0,"newInningPhase":-1,"gameStartPhase":-1,"isTitleMatch":false,"queuedEvents":[],"state":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"731-xcqLTtE17H6O16RgKwy+Z58BU74"
    status:
      code: 200
      message: OK
version: 1
