interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerSeasonStats?ids=5fb13222-3864-4498-a43b-c42b9bc89203
  response:
    body:
      string: '[{"id":"5fb13222-3864-4498-a43b-c42b9bc89203","playerId":null,"teamId":null,"team":"5fb13222-3864-4498-a43b-c42b9bc89203","name":"5fb13222-3864-4498-a43b-c42b9bc89203","atBats":0,"caughtStealing":0,"doubles":0,"earnedRuns":12,"groundIntoDp":0,"hits":0,"hitsAllowed":15,"homeRuns":0,"losses":1,"outsRecorded":27,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":3,"struckouts":0,"triples":0,"walks":0,"walksIssued":8,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e6-I2uhrOtkctZ1Y8gaDk7po8sLUQM"
    status:
      code: 200
      message: OK
version: 1
