interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=b090fdfc-7d9d-414b-a4a5-bbc698028c15
  response:
    body:
      string: '[{"id":"b090fdfc-7d9d-414b-a4a5-bbc698028c15","decreeId":"forbidden_book","decreeTitle":"Open
        the Forbidden Book","description":"The Book Opens.\nSolar Eclipse.\nUmpires''
        eyes turn white.\nStar player Jaylen Hotdogfingers is incinerated.\nHellmouth
        swallows the Moab Desert.\nTHE DISCIPLINE ERA BEGINS","totalVotes":566}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"141-mVIUKOoV04v5KnPTaebQ4oyk29s"
    status:
      code: 200
      message: OK
version: 1
