interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=e3c514ae-f813-470e-9c91-d5baf5ffcf16
  response:
    body:
      string: '[{"id":"e3c514ae-f813-470e-9c91-d5baf5ffcf16","anticapitalism":0.40448100989845703,"baseThirst":1.0561598057120216,"buoyancy":1.3516844684333278,"chasiness":0.6705812114947152,"coldness":1.601749346300988,"continuation":1.0598706557079747,"divinity":1.1923627679317519,"groundFriction":1.126436336807483,"indulgence":1.0914632216348106,"laserlikeness":0.6077868095054803,"martyrdom":0.7720298861484367,"moxie":0.7763495462838013,"musclitude":1.320476456887691,"name":"Tot
        Clark","omniscience":1.1361878979247948,"overpowerment":0.8513161540615235,"patheticism":0.2972299225384636,"ruthlessness":0.9798102224099445,"shakespearianism":1.4161039127061712,"suppression":0.7678653987597093,"tenaciousness":0.6806769183211429,"thwackability":1.04976197826641,"tragicness":0.001,"unthwackability":1.0385752376522794,"watchfulness":1.4430101531954576,"pressurization":0.25770338518165786,"totalFingers":13,"soul":3,"deceased":false,"peanutAllergy":false,"cinnamon":1.091344019042086,"fate":60,"ritual":"Breaking
        bones","coffee":5,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.8049065498270198,"pitchingRating":1.033745841758168,"hittingRating":1.0593094181827758,"defenseRating":0.8648486803386614,"leagueTeamId":"105bc3ff-1320-4e37-8ef0-8d595cb95dd0","tournamentTeamId":"e3f90fa1-0bbe-40df-88ce-578d0723a23b","eDensity":32.33967343074637,"state":{},"evolution":0,"items":[{"id":"f0650f80-1d51-4e6e-bf26-16b1fc4c2adb","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.14838976122429057}]},"suffix":null,"durability":1,"health":1,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.05184258877297965,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71c-VE0NPVs090Enu6m/3Ekd7JlrpPc"
    status:
      code: 200
      message: OK
version: 1
