interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/league?id=d8545021-e9fc-48a3-af74-48685950a183
  response:
    body:
      string: '{"id":"d8545021-e9fc-48a3-af74-48685950a183","subleagues":["aabc11a1-81af-4036-9f18-229c759ca8a9","4fe65afa-804f-4bb2-9b15-1281b2eab110"],"name":"Internet
        League Blaseball","tiebreakers":"370c436f-79fa-418b-bc98-5db48442ba3f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2-cFykwLb91cJWZxLalQbvqbb30H0"
    status:
      code: 200
      message: OK
version: 1
