interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/league?id=d8545021-e9fc-48a3-af74-48685950a183
  response:
    body:
      string: '{"id":"d8545021-e9fc-48a3-af74-48685950a183","subleagues":["aabc11a1-81af-4036-9f18-229c759ca8a9","4fe65afa-804f-4bb2-9b15-1281b2eab110"],"name":"Internet
        League Blaseball","tiebreakers":"c38608a0-c3de-4351-a938-c946be452cfb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2-XBgHl2u7qvThhNiJd1JO13+zpS0"
    status:
      code: 200
      message: OK
version: 1
