interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=8d87c468-699a-47a8-b40d-cfb73a5660ad
  response:
    body:
      string: '{"id":"8d87c468-699a-47a8-b40d-cfb73a5660ad","lineup":["90c2cec7-0ed5-426a-9de8-754f34d59b39","84a2b5f6-4955-4007-9299-3d35ae7135d3","97af97a7-19dc-4d18-9f72-8bd89f7eeaa8","64c92f8d-6028-495b-b81d-32c975afb2e1","a3ea0e93-c9f5-4f85-8acd-c3c5ce8601fa","611d18e0-b972-4cdd-afc2-793c56bfe5a9","1a93a2d2-b5b6-479b-a595-703e4a2f3885"],"rotation":["b9d97990-df0b-4b8f-ac85-61c44ab29a3d","73265ee3-bb35-40d1-b696-1f241a6f5966","d0d7b8fe-bad8-481f-978e-cb659304ed49","f9930cb1-7ed2-4b9a-bf4f-7e35f2586d71"],"bullpen":["dd8a43a4-a024-44e9-a522-785d998b29c3","61bbbf34-98c1-4bf6-bd0c-56c19199b35e","d2f827a5-0133-4d96-b403-85a5e50d49e0","34e1b683-ecd5-477f-b9e3-dd4bca76db45","e1e33aab-df8c-4f53-b30a-ca1cea9f046e","ce3fb736-d20e-4e2a-88cb-e136783d3a47","093af82c-84aa-4bd6-ad1a-401fae1fce44","7e160e9f-2c79-4e08-8b76-b816de388a98","dd6ba7f1-a97a-4374-a3a7-b3596e286bb3","1ffb1153-909d-44c7-9df1-6ed3a9a45bbd","7dcf6902-632f-48c5-936a-7cf88802b93a"],"bench":["b61b2871-7254-49b3-b009-174a23acaa1a","7afedcd8-870d-4655-9659-3bdfb2e17730","4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd","5915b7bb-e532-4036-9009-79f1e80c0e28","e6114fd4-a11d-4f6c-b823-65691bb2d288","1cded4e7-8302-49b7-a646-40a0767b6969","b72a136e-bbfd-4687-a576-1ab538c8f264","6cc3246f-2da2-4c7c-a46f-9b45dcbf384c"],"seasAttr":[],"permAttr":["CARCINIZATION","UNHOLEY","0"],"fullName":"Baltimore
        Crabs","location":"Baltimore","mainColor":"#593037","nickname":"Crabs","secondaryColor":"#b05c6b","shorthand":"BALC","emoji":"0x1F980","slogan":"Claws
        Up!","shameRuns":0,"totalShames":80,"totalShamings":77,"seasonShames":7,"seasonShamings":1,"championships":4,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":-1,"tournamentWins":0,"stadium":"cfb57d7c-4118-4b0a-85cc-4e3a51a66cb6","eDensity":1499.4823865302503,"state":{},"evolution":1,"winStreak":1,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71a-m6xWRKrTMGWhSAylKK46uJcK4gQ"
    status:
      code: 200
      message: OK
version: 1
