interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=nagomi_mystery,762670ae-8bf9-4165-bf36-7a78697bd927
  response:
    body:
      string: '[{"id":"nagomi_mystery","bonusId":"mysterious_change","bonusTitle":"Mystery
        Defection","teamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","totalVotes":0,"description":"Nagomi
        Mcdaniel mysteriously defected to the Hawaii Fridays. Nolanestophia Patterson
        swapped to the Tigers. There''s still no clear answer for why this happened.","highestTeam":null,"highestTeamVotes":null,"teamVotes":null},{"id":"762670ae-8bf9-4165-bf36-7a78697bd927","bonusId":"item_grappling_hook","bonusTitle":"Grappling
        Hook","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","totalVotes":73833,"description":"Richardson
        Games gained the Grappling Hook. Their Baserunning and Defense increased by
        a big amount!","highestTeam":"8d87c468-699a-47a8-b40d-cfb73a5660ad","highestTeamVotes":34145,"teamVotes":4142}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"307-wRMlPzAkuwT6K19vPkLzZIV/4xM"
    status:
      code: 200
      message: OK
version: 1
