interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=937187dc-4d7d-45d3-95f6-dfb2ae2972a9
  response:
    body:
      string: '[{"id":"937187dc-4d7d-45d3-95f6-dfb2ae2972a9","name":null,"awaySeed":2,"awayTeam":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","awayWins":3,"homeSeed":1,"homeTeam":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","homeWins":2,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5-bohxihK7C1SxNWKqb1PmAD3+4L4"
    status:
      code: 200
      message: OK
version: 1
