interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?at=2020-08-01T12%3A00%3A00.000000Z&count=1000&type=sim
  response:
    body:
      string: '{"nextPage":"AAAAAAAAAAAAAAAAAAAAAEB5rKyYGAAA","items":[{"entityId":"00000000-0000-0000-0000-000000000000","hash":"9f319579-98a0-f56e-28d8-c190c77bbdc5","validFrom":"2020-08-01T07:13:21.108Z","validTo":"2020-08-01T13:00:02.705Z","data":{"__v":0,"_id":"thisidisstaticyo","day":98,"phase":3,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","league":"d8545021-e9fc-48a3-af74-48685950a183","season":1,"eraColor":"","eraTitle":"The
        Discipline Era","playoffs":"1c6e809b-5d8f-4d8c-b5f8-10261130a85e","seasonId":"9b1b80e0-9771-4f37-a480-bfa397cdbb12","openedBook":true,"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","playOffRound":0,"nextPhaseTime":"2020-08-01T13:00:00.159Z","nextElectionEnd":"2020-08-02T19:00:00.525Z","nextSeasonStart":"2020-08-01T13:00:00.159Z","unlockedPeanuts":false}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
