interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/teamStatsheets?ids=a52c5612-31c1-4243-a25b-6f159a91dbe7
  response:
    body:
      string: '[{"id":"a52c5612-31c1-4243-a25b-6f159a91dbe7","playerStats":["c24bf126-b55d-4432-b4e4-aaf359f58d41","bc1082b5-94bc-4fdc-8db3-7871950affba","e2d3e9ec-5af7-468b-b43c-203f34cda548","edc9311f-c42a-4060-a036-0f7b1d48b808","48b8eb23-ddd0-49c4-a5f5-7013886930fd","fd1852f2-2cf3-4106-989f-92cdb8f53f38","bf1a1aa2-b402-4ca9-adac-33aecc9b361d","6e2d1e21-8651-4502-bc63-9f0020b33330","fcd13551-37ba-413e-9bb0-fac232b0ba12","6b8c9184-9b59-4d54-aa34-14e9f1abfc8b","1be09da5-bd99-4760-9cef-2d762110a639","f5252233-54af-43d1-b763-edc787897821","69b7847c-28a7-48ff-8710-6e71fae9d8ab","a4942b7e-6929-47ad-a00f-74a64bd8be5c"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Charleston
        Shoe Thieves","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d6-Zg5wipi+5m1VqUzYJrTkBOFwfMA"
    status:
      code: 200
      message: OK
version: 1
