interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=e3c514ae-f813-470e-9c91-d5baf5ffcf16
  response:
    body:
      string: '[{"id":"e3c514ae-f813-470e-9c91-d5baf5ffcf16","anticapitalism":0.20576446156335876,"baseThirst":0.8632259524673187,"buoyancy":1.1159357545348738,"chasiness":0.38430469762986524,"coldness":1.3043603684453502,"continuation":0.8417744410801449,"divinity":0.920673612637974,"groundFriction":0.8413439775041618,"indulgence":0.7983027933654425,"laserlikeness":0.409114725809328,"martyrdom":0.47635866211202554,"moxie":0.5238417492180591,"musclitude":1.0179941456496577,"name":"Tot
        Clark","bat":"","omniscience":0.9256630243409769,"overpowerment":0.5509711337954428,"patheticism":0.5672372672234167,"ruthlessness":0.6259527412139376,"shakespearianism":1.2482987288177703,"suppression":0.4649647521202477,"tenaciousness":0.44102839718635406,"thwackability":0.7164540018235002,"tragicness":0.1,"unthwackability":0.8063593901461441,"watchfulness":1.1462858989400964,"pressurization":0.25770338518165786,"totalFingers":13,"soul":4,"deceased":false,"peanutAllergy":false,"cinnamon":0.8258030623098149,"fate":60,"armor":"","ritual":"Breaking
        bones","coffee":5,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":0.5953449886251823,"pitchingRating":0.7007563820590816,"hittingRating":0.7783723611660275,"defenseRating":0.6575333652513509,"leagueTeamId":"105bc3ff-1320-4e37-8ef0-8d595cb95dd0","tournamentTeamId":"e3f90fa1-0bbe-40df-88ce-578d0723a23b"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57d-6NsCrP2IbQq7EerOlhaXMdiouVk"
    status:
      code: 200
      message: OK
version: 1
