interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=b090fdfc-7d9d-414b-a4a5-bbc698028c15,a52b1257-9020-4582-8da0-dc97559dedbf
  response:
    body:
      string: '[{"id":"b090fdfc-7d9d-414b-a4a5-bbc698028c15","decreeId":"forbidden_book","decreeTitle":"Open
        the Forbidden Book","description":"The Book Opens.\nSolar Eclipse.\nUmpires''
        eyes turn white.\nStar player Jaylen Hotdogfingers is incinerated.\nHellmouth
        swallows the Moab Desert.\nTHE DISCIPLINE ERA BEGINS","totalVotes":566},{"id":"a52b1257-9020-4582-8da0-dc97559dedbf","decreeId":"targeted_shame","decreeTitle":"Targeted
        Shame","description":"Targets appear.\nThe Hades Tigers are Targeted.\nThe
        Chicago Firefighters are Targeted.\nThe New York Millennials are Targeted.\nThe
        Breckenridge Jazz Hands are Targeted.\nShame Deepens.","totalVotes":72209}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"288-KaJDjDzeLnpZgM34cV5orGEAR5E"
    status:
      code: 200
      message: OK
version: 1
