interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/sim/updates?count=1000&page=mAhc-_n3Ake9Qt5UY5jE8PAHW1mITQAA
  response:
    body:
      string: '{"nextPage":"_AzG3QIj_E-b3v6EWb6QEmBml7p2wAAA","data":[{"updateId":"a3823d0b-e7ce-46a9-b054-95e1af83b665","firstSeen":"2020-10-07T17:00:00.998851Z","lastSeen":"2020-10-07T17:59:46.456074Z","data":{"id":"thisidisstaticyo","day":49,"attr":["OPENED_BOOK","UNLOCKED_PEANUTS","EAT_THE_RICH","UNLOCKED_INTERVIEWS","UNLOCKED_IDOLS","PARTY_TIME","UNLOCKED_HALL","WILD_CARDS"],"twgo":"JHFMTOJMNPSMLMDGFOSEZDTMJWHPADAACGRTBBPBBCJRTPMJCSNKKAOMVMSTAJTVTCJIMPSSSTBFHRSSMSDKIRLWLVWSSMEIMCCDMDRTEIFBCLRMMW","phase":2,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","league":"d8545021-e9fc-48a3-af74-48685950a183","season":8,"eraColor":"#ff0000","eraTitle":"The
        Discipline Era","playoffs":"67f224c9-4eca-4c97-bef3-524877b6fb7c","seasonId":"462c65c2-3892-4401-8fa6-601230833665","subEraColor":"#576b8c","subEraTitle":"FORECAST","terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","playOffRound":0,"nextPhaseTime":"2020-10-05T16:00:00.402Z","nextElectionEnd":"2020-10-11T19:00:00.106Z","nextSeasonStart":"2020-10-12T16:00:00.106Z"}},{"updateId":"da313bc9-11d9-4035-83a0-fb5b822ed51e","firstSeen":"2020-10-07T18:00:01.004139Z","lastSeen":"2020-10-07T18:59:11.098346Z","data":{"id":"thisidisstaticyo","day":50,"attr":["OPENED_BOOK","UNLOCKED_PEANUTS","EAT_THE_RICH","UNLOCKED_INTERVIEWS","UNLOCKED_IDOLS","PARTY_TIME","UNLOCKED_HALL","WILD_CARDS"],"twgo":"JHFMTOJMNPSMLMDGFOSEZDTMJWHPADAACGRTBBPBBCJRTPMJCSNKKAOMVMSTAJTVTCJIMPSSSTBFHRSSMSDKIRLWLVWSSMEIMCCDMDRTEIFBCLRMMW","phase":2,"rules":"4ae9d46a-5408-4[...]
