interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=ca3f1c8c-c025-4d8e-8eef-5be6accbeb16
  response:
    body:
      string: '{"id":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","lineup":["ab36c776-b520-429b-a85f-bf633d7b081a","c182f33c-aea5-48a2-97ed-dc74fa29b3c0","ad8d15f4-e041-4a12-a10e-901e6285fdc5","20e13b56-599b-4a22-b752-8059effc81dc","20c529b3-947e-4a77-b56f-69fe25fb3717","43d5da5f-c6a1-42f1-ab7f-50ea956b6cd5","68f98a04-204f-4675-92a7-8823f2277075","5831a238-8efe-4d53-a483-1ad681e50ac3","5ff66eae-7111-4e3b-a9b8-a9579165b0a5","2268f452-01b9-4e16-98bb-c07e3ce767e3"],"rotation":["316abea7-9890-4fb8-aaea-86b35e24d9be","e4e4c17d-8128-4704-9e04-f244d4573c4d","1513aab6-142c-48c6-b43e-fbda65fd64e8","94baa9ac-ff96-4f56-a987-10358e917d91","f4a5d734-0ade-4410-abb6-c0cd5a7a1c26"],"bullpen":["f071889c-f10f-4d2f-a1dd-c5dda34b3e2b","ce0a156b-ba7b-4313-8fea-75807b4bc77f","3c051b92-4a86-4157-988a-e334bf6dc691","c8de53a4-d90f-4192-955b-cec1732d920e","54e5f222-fb16-47e0-adf9-21813218dafa","88ca603e-b2e5-4916-bef5-d6bba03235f5","520e6066-b14b-45cf-985c-0a6ee2dc3f7a","5f3b5dc2-351a-4dee-a9d6-fa5f44f2a365","ee29020f-1964-4fce-80f4-35a5e7edfb95"],"bench":["a7edbf19-caf6-45dd-83d5-46496c99aa88","7e4f012e-828c-43bb-8b8a-6c33bdfd7e3f","64aaa3cb-7daf-47e3-89a8-e565a3715b5d","bfd9ff52-9bf6-4aaf-a859-d308d8f29616","97387580-1f7c-49ea-a9e7-44be89329130"],"seasAttr":[],"permAttr":[],"fullName":"Chicago
        Firefighters","location":"Chicago","mainColor":"#8c2a3e","nickname":"Firefighters","secondaryColor":"#d13757","shorthand":"CHIF","emoji":"0x1F525","slogan":"We
        Are From Chicago","shameRuns":0,"totalShames":55,"totalShamings":60,"seasonShames":0,"seasonShamings":0,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":13,"tournamentWins":0,"stadium":"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1","eDensity":1841.3189409984911,"state":{},"evolution":0,"winStreak":-1,"level":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ea-TX723tkuhNIRKJjdNpxpFRLP6qM"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=09f2787a-3352-41a6-8810-d80e97b253b5,316abea7-9890-4fb8-aaea-86b35e24d9be
  response:
    body:
      string: '[{"id":"316abea7-9890-4fb8-aaea-86b35e24d9be","anticapitalism":0.8359329704481304,"baseThirst":0.8463118171784367,"buoyancy":0.0930830706900685,"chasiness":0.8110339578055679,"coldness":0.5583546606259776,"continuation":0.11473030023424437,"divinity":0.7432775255255708,"groundFriction":0.629124317532908,"indulgence":0.16834300633018473,"laserlikeness":0.13200519260877752,"martyrdom":0.5867421133786843,"moxie":0.27058439094744946,"musclitude":0.5348700247769871,"name":"Kennedy
        Rodgers","bat":"","omniscience":0.03,"overpowerment":0.8744562540340829,"patheticism":0.922815527066779,"ruthlessness":0.7645552037305964,"shakespearianism":0.3084108642419964,"suppression":0.8238507101095759,"tenaciousness":0.7465797937383487,"thwackability":0.3942111778756332,"tragicness":0.1,"unthwackability":0.46995349201821257,"watchfulness":0.03869315579558942,"pressurization":0.266324437480846,"totalFingers":13,"soul":3,"deceased":false,"peanutAllergy":true,"cinnamon":0.34145377768804286,"fate":86,"armor":"","ritual":"Updating","coffee":9,"blood":10,"permAttr":["UNDEROVER","TRIPLE_THREAT","OVERPERFORMING"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.22988440805093371,"pitchingRating":0.5287342133030167,"hittingRating":0.48948250053457387,"defenseRating":0.3250303846226135,"leagueTeamId":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","tournamentTeamId":null,"eDensity":17.011920545577965,"state":{"permModSources":{"OVERPERFORMING":["UNDEROVER"]}},"evolution":0},{"id":"09f2787a-3352-41a6-8810-d80e97b253b5","anticapitalism":1.256132120879667,"baseThirst":0.5565308611162642,"buoyancy":0.7039109769332003,"chasiness":1.1707912812453831,"coldness":1.121361138636024,"continuation":0.4445964997086256,"divinity":1.2396374181526257,"groundFriction":0.8670639362364617,"indulgence":0.734776965569531,"laserlikeness":0.3445758050237605,"martyrdom":0.8027976041945023,"moxie":1.1706080776021686,"musclitude":1.1366952852343934,"name":"Cur[...]
[...]
