interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7
  response:
    body:
      string: '{"id":"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","lineup":["32810dca-825c-4dbc-8b65-0702794c424e","26cfccf2-850e-43eb-b085-ff73ad0749b8","b323f897-ccf9-4200-8870-249cbe19f904","814bae61-071a-449b-981e-e7afc839d6d6","405dfadf-d435-4307-82f6-8eba2287e87a","da0bbbe6-d13c-40cc-9594-8c476975d93d","667cb445-c288-4e62-b603-27291c1e475d","f245f6c6-4613-40f5-bc3b-85aa9ee3cf7e"],"rotation":["c6e2e389-ed04-4626-a5ba-fe398fe89568","80dff591-2393-448a-8d88-122bd424fa4c","d2a1e734-60d9-4989-b7d9-6eacda70486b"],"bullpen":["0672a4be-7e00-402c-b8d6-0b813f58ba96","62111c49-1521-4ca7-8678-cd45dacf0858","7f379b72-f4f0-4d8f-b88b-63211cf50ba6","906a5728-5454-44a0-adfe-fd8be15b8d9b","90cc0211-cd04-4cac-bdac-646c792773fc","a7b0bef3-ee3c-42d4-9e6d-683cd9f5ed84","b85161da-7f4c-42a8-b7f6-19789cf6861d","ca26d8cc-8668-48c9-a061-28f6fdf5f44d","ce99d7af-ba75-48a7-a5d8-d46f543829f2"],"bench":["20395b48-279d-44ff-b5bf-7cf2624a2d30","d8bc482e-9309-4230-abcb-2c5a6412446d","cd5494b4-05d0-4b2e-8578-357f0923ff4c","e495cadc-a645-439d-a556-e41de7493f18","a0e7445f-2b93-4ca7-a69d-ff32593700ee","7f3f2e75-900e-40b6-846b-db585541490d","190a0f31-d686-4ac4-a7f3-cfc87b72c145","dd6044ef-c635-4aed-97bd-d18068432b8f","4ec6951f-6822-4861-bc25-79826dd8c554","3d52ace6-a0a0-467e-80e0-ae86b289ad32"],"seasAttr":[],"permAttr":["AFFINITY_FOR_CROWS","AA"],"fullName":"Philly
        Pies","location":"Philly","mainColor":"#399d8f","nickname":"Pies","secondaryColor":"#58c3b4","shorthand":"PHIL","emoji":"0x1F967","slogan":"Pie
        or Die.","shameRuns":0,"totalShames":97,"totalShamings":67,"seasonShames":2,"seasonShamings":5,"championships":2,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":8,"tournamentWins":0,"stadium":"a109bd65-bfd3-43c7-9eb8-70dddc4d8a29","eDensity":1169.399328566105,"state":{},"evolution":0,"winStreak":-1,"level":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70f-jSdtqwAvb7MjqfPkYlqeyKgxf/M"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=f245f6c6-4613-40f5-bc3b-85aa9ee3cf7e
  response:
    body:
      string: '[{"id":"f245f6c6-4613-40f5-bc3b-85aa9ee3cf7e","anticapitalism":0.3902912779462566,"baseThirst":0.22252641133703843,"buoyancy":0.48717615719020657,"chasiness":0.6460386149033233,"coldness":0.582188207346529,"continuation":0.9968711327113444,"divinity":0.2935028084443835,"groundFriction":0.015430561930310116,"indulgence":0.013190626926588012,"laserlikeness":0.8297265307168118,"martyrdom":0.28356140505806915,"moxie":0.869795418591938,"musclitude":1.0227260741508968,"name":"Usurper
        Violet","omniscience":1.0641833902725621,"overpowerment":0.9800220156896806,"patheticism":0.56969862378002,"ruthlessness":0.5806022860535796,"shakespearianism":0.17228905993092325,"suppression":0.8473046456923368,"tenaciousness":0.7407913643433623,"thwackability":0.8946480834145719,"tragicness":0.1,"unthwackability":0.9168613097949796,"watchfulness":0.5338764916163041,"pressurization":0.03931466142577866,"totalFingers":10,"soul":4,"deceased":false,"peanutAllergy":false,"cinnamon":0.6862363627042429,"fate":2,"ritual":"Kneeling","coffee":1,"blood":2,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.33491474234477886,"pitchingRating":0.6355373077552257,"hittingRating":0.5797153654203558,"defenseRating":0.7802814629351721,"leagueTeamId":"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","tournamentTeamId":"70eab4ab-6cb1-41e7-ac8b-1050ee12eecc","eDensity":24.313142149188728,"state":{"itemModSources":{"SOUNDPROOF":["4ce639be-405e-4a16-98dc-438d73747d72"]}},"evolution":1,"items":[{"id":"4ce639be-405e-4a16-98dc-438d73747d72","name":"Noise-Cancelling
        Jersey of Charisma","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Noise-Cancelling","adjustments":[{"mod":"SOUNDPROOF","type":0}]}],"postPrefix":null,"root":{"name":"Jersey","adjustments":[{"stat":5,"type":1,"value":0.11883491616951883}]},"suffix":{"name":"Charisma","adjustments":[{"stat":3,"type":1,"value":0.1744100115057281},{"stat":8,"type":1,"value":0.13842978798752847},{"stat":4,"type":1,"value":0.10385976834184547}]},"durability":3,"health":2,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.07915367953276287,"defenseRating":0},{"id":"8772a70f-e2a7-4d14-b182-ca815c755925","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.174906431616488}]},"suffix":null,"durability":1,"health":1,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.037387485615455573,"defenseRating":0}],"itemAttr":["SOUNDPROOF"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9fa-/xOSGnquyv3wBd+PA1ayDTIvKEg"
    status:
      code: 200
      message: OK
[...]
