interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5,ce7d33b7-1bba-48d6-a1d1-cd0e29231be8,d0d7b8fe-bad8-481f-978e-cb659304ed49,f9930cb1-7ed2-4b9a-bf4f-7e35f2586d71
  response:
    body:
      string: '[{"id":"97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5","anticapitalism":1.03828798460699,"baseThirst":0.6299707483931725,"buoyancy":0.9514153561250237,"chasiness":0.7947670859275663,"coldness":0.6014847619775987,"continuation":0.1736143643125459,"divinity":0.3484765530463455,"groundFriction":0.6825387871631676,"indulgence":0.4749007723201835,"laserlikeness":0.9160436688975373,"martyrdom":0.04,"moxie":0.04,"musclitude":0.24034003221959135,"name":"Brock
        Forbes","bat":"","omniscience":0.8006331503894483,"overpowerment":0.42203087202931866,"patheticism":0.3076029085797788,"ruthlessness":1.2271340255990033,"shakespearianism":0.4861552819852688,"suppression":1.0087569645123662,"tenaciousness":0.684843923397867,"thwackability":0.10841643343618577,"tragicness":0.07000000000000002,"unthwackability":0.9722779641628543,"watchfulness":0.38363100659004956,"pressurization":0.49843552394620527,"totalFingers":14,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":0.5110705570395755,"fate":67,"armor":"","ritual":"Playing
        fetch","coffee":6,"blood":7,"permAttr":["WILD"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.6853646711191063,"pitchingRating":0.863797157477406,"hittingRating":0.20630240293884125,"defenseRating":0.7904095433278387,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":33.821116424042344,"state":{},"evolution":1},{"id":"ce7d33b7-1bba-48d6-a1d1-cd0e29231be8","anticapitalism":0.5567380554775322,"baseThirst":0.651882488524907,"buoyancy":0.8642427625815408,"chasiness":0.29230555432375216,"coldness":1.023811373688106,"continuation":0.7456690222560041,"divinity":0.8518484677359479,"groundFriction":0.7596667074116559,"indulgence":0.3834321641862488,"laserlikeness":0.36133636877355957,"martyrdom":0.778574717981344,"moxie":0.42033647388022,"musclitude":0.8082924482397287,"name":"Jacoby
        Podcast","bat":[...]
