interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=eb67ae5e-c4bf-46ca-bbbc-425cd34182ff
  response:
    body:
      string: '{"id":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","lineup":["238f8c50-311f-4486-a734-e1a17606af4d","9f85676a-7411-444a-8ae2-c7f8f73c285c","c31d874c-1b4d-40f2-a1b3-42542e934047","8c8cc584-199b-4b76-b2cd-eaa9a74965e5","9be56060-3b01-47aa-a090-d072ef109fbf","dddb6485-0527-4523-9bec-324a5b66bf37","90768354-957e-4b4c-bb6d-eab6bbda0ba3","d89da2d2-674c-4b85-8959-a4bd406f760a","a7d8196a-ca6b-4dab-a9d7-c27f3e86cc21","611d18e0-b972-4cdd-afc2-793c56bfe5a9"],"rotation":["e6502bc7-5b76-4939-9fb8-132057390b30","a691f2ba-9b69-41f8-892c-1acd42c336e4","36786f44-9066-4028-98d9-4fa84465ab9e","338694b7-6256-4724-86b6-3884299a5d9e"],"bullpen":["64f59d5f-8740-4ebf-91bd-d7697b542a9f","8f11ad58-e0b9-465c-9442-f46991274557","3ebb5361-3895-4a50-801e-e7a0ee61750c","7853aa8c-e86d-4483-927d-c1d14ea3a34d","ceb5606d-ea3f-4471-9ca7-3d2e71a50dde","27faa5a7-d3a8-4d2d-8e62-47cfeba74ff0","c57222fd-df55-464c-a44e-b15443e61b70","c3b1b4e5-4b88-4245-b2b1-ae3ade57349e"],"bench":["6524e9e0-828a-46c4-935d-0ee2edeb7e9a","51cba429-13e8-487e-9568-847b7b8b9ac5","24cb35c1-c24c-45ca-ac0b-f99a2e650d89","9ba361a1-16d5-4f30-b590-fc4fc2fb53d2","c90eafdf-4244-41e0-8a66-adf31d700f02","c09e66b3-5847-4cbb-aeba-2b70e7bafedb","750c7d44-757a-430c-9fa3-d4ca22111933"],"seasAttr":[],"permAttr":["HIGH_PRESSURE"],"fullName":"Canada
        Moist Talkers","location":"Canada","mainColor":"#f5feff","nickname":"Moist
        Talkers","secondaryColor":"#f5feff","shorthand":"CAN","emoji":"0x1F5E3","slogan":"Talk
        Spit, Get Hits","shameRuns":0,"totalShames":70,"totalShamings":65,"seasonShames":0,"seasonShamings":0,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":4,"tournamentWins":0,"stadium":"f71fd587-d20c-461c-88a4-1634a2df3f43","eDensity":2136.206026296165,"state":{"permModSources":{}},"evolution":0,"winStreak":1,"level":5}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"708-fQak0kaQPblt6jOYrXUX/8x2HWc"
    status:
      code: 200
      message: OK
[...]
