interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=50&type=item
  response:
    body:
      string: '{"nextPage":"wB8QD5FAqk2PjGMJ2fh_mJb3q5K7-QAA","items":[{"entityId":"005f0aa3-e9d8-4b72-b28b-ae26b6ff71c6","hash":"6abca66e-4518-da1d-4997-431e65b2836b","validFrom":"2021-05-19T17:28:00.969517Z","validTo":null,"data":{"id":"005f0aa3-e9d8-4b72-b28b-ae26b6ff71c6","name":"Blood
        Cap","root":{"name":"Cap","adjustments":[{"stat":16,"type":1,"value":0.11538241188260688}]},"forger":null,"health":2,"suffix":null,"prefixes":null,"prePrefix":null,"durability":2,"forgerName":null,"postPrefix":{"name":"Blood","adjustments":[{"stat":7,"type":1,"value":0.16998649618209266},{"stat":9,"type":1,"value":-0.12002507281881579},{"stat":4,"type":1,"value":0.23080247888218292}]},"defenseRating":0,"hittingRating":0.09339028145179118,"pitchingRating":0.057201188291124805,"baserunningRating":-0.04510305186703656}},{"entityId":"007606b2-97c5-4757-93ac-a00b24d027df","hash":"c8afe6cc-9b06-7f7b-dc75-25edadfa91ab","validFrom":"2021-04-21T07:26:00.53329Z","validTo":null,"data":{"id":"007606b2-97c5-4757-93ac-a00b24d027df","name":"Bat","root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.12504765664091935}]},"forger":null,"health":0,"suffix":null,"prefixes":null,"prePrefix":null,"durability":1,"forgerName":null,"postPrefix":null,"defenseRating":0,"hittingRating":0.03400633942459[...]
