interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/player?category=0&id=1f159bab-923a-4811-b6fa-02bfde50925a&limit=2
  response:
    body:
      string: '[{"id":"db79791e-d5d9-45e2-8284-6aacd29a8109","playerTags":["1f159bab-923a-4811-b6fa-02bfde50925a"],"teamTags":["b63be8c2-576a-4d6e-8daf-814f8bcea96f","3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e"],"gameTags":["8d01bc9a-3d55-4c4f-b280-d978b2fefe5b"],"metadata":{"play":112,"subPlay":-1},"created":"2021-05-19T18:09:28.211Z","season":18,"tournament":-1,"type":10,"day":50,"phase":4,"category":0,"description":"NaN
        hits a Double!","nuts":0},{"id":"c5198939-417b-4835-9837-615ef84ef84a","playerTags":["1f159bab-923a-4811-b6fa-02bfde50925a"],"teamTags":["3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","747b8e4a-7e50-4638-a973-ea7950a3e739"],"gameTags":["a41e14b3-f749-4e35-adb5-b925fc5cc7ff"],"metadata":{"play":208,"subPlay":-1},"created":"2021-05-19T05:17:44.754Z","season":18,"tournament":-1,"type":10,"day":37,"phase":4,"category":0,"description":"NaN
        hits a Single!","nuts":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35f-7IO/hfF1GCP2GYdnW0K1JQTY/Zc"
    status:
      code: 200
      message: OK
version: 1
