interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=6644d767-ab15-4528-a4ce-ae1f8aadb65f,d97835fd-2e92-4698-8900-1f5abea0a3b6
  response:
    body:
      string: '[{"id":"d97835fd-2e92-4698-8900-1f5abea0a3b6","anticapitalism":0.2962651287269629,"baseThirst":0.32528894117107165,"buoyancy":0.8103247043621261,"chasiness":0.8856645524185325,"coldness":0.47126931930513527,"continuation":0.914916948144458,"divinity":1.1832037134601086,"groundFriction":1.1038665299856392,"indulgence":0.2711561896717454,"laserlikeness":0.9253773634436407,"martyrdom":0.6533770336168205,"moxie":0.2827908533333876,"musclitude":1.2566326537607848,"name":"King
        Roland","omniscience":0.930029224915635,"overpowerment":0.7608056445403363,"patheticism":0.001,"ruthlessness":1.1153125077271273,"shakespearianism":0.5749090929570541,"suppression":0.3864611089474818,"tenaciousness":1.0340975842994995,"thwackability":0.5210462063042425,"tragicness":0.001,"unthwackability":0.8542251222106294,"watchfulness":0.8047482450513831,"pressurization":0.9509063179128374,"totalFingers":10,"soul":4,"deceased":false,"peanutAllergy":true,"cinnamon":0.9468372397867665,"fate":68,"ritual":"Eating","coffee":12,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7553324479532237,"pitchingRating":0.8604536966108022,"hittingRating":0.7745603308323716,"defenseRating":0.8493224574782984,"leagueTeamId":"b72f3061-f573-40d7-832a-5ad475bd7909","tournamentTeamId":null,"eDensity":30.67768253012287,"state":{},"evolution":0,"items":[{"id":"cb8acb95-86d1-4bc0-9169-def394e31cfa","name":"Mesh
        Jersey","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Mesh","adjustments":[{"stat":3,"type":1,"value":0.3489640982995896},{"stat":18,"type":1,"value":-0.1302459327775372}]}],"postPrefix":null,"root":{"name":"Jersey","adjustments":[{"stat":5,"type":1,"value":0.11758412922877573}]},"suffix":null,"durability":2,"health":2,"baserunningRating":0,"pitchingRating":-0.023897002743800577,"hittingRating":0.05366787399741413,"defenseRating":0}],"itemAttr":[]},{"id":"6644d767-ab15-4528-a4ce-ae1f8aadb65f","anticapitalism":0.21638585126057738,"baseThirst":0.7088650277668863,"buoyancy":0.102821094200512,"chasiness":0.31947315802048937,"coldness":0.8860402736329226,"continuation":0.6754728323618524,"divinity":1.025723108579267,"groundFriction":0.39660517508375626,"indulgence":0.398308154600915,"laserlikeness":0.3261031174280058,"martyrdom":0.3039322657124523,"moxie":1.0962145506198797,"musclitude":0.12628586724043722,"name":"Paula
        Reddick","omniscience":0.7208275706510296,"overpowerment":0.9402286440834833,"patheticism":0.05887827487989102,"ruthlessness":0.5319423626719348,"shakespearianism":0.9372226263174125,"suppression":0.9463840255574854,"tenaciousness":1.0188060458645376,"thwackability":0.9078268859199926,"tragicness":0.001,"unthwackability":0.2622462884080141,"watchfulness":0.3135779664774694,"pressurization":0.040072109597423244,"totalFingers":10,"soul":5,"deceased":false,"peanutAllergy":false,"cinnamon":0.17512258917460827,"fate":62,"ritual":"Reading
        theory","coffee":7,"blood":4,"permAttr":["AMBITIOUS"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.44111555897257176,"pitchingRating":0.39044165144488274,"hittingRating":0.8186322838486249,"defenseRating":0.6408928965767862,"leagueTeamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","tournamentTeamId":null,"eDensity":26.037576735900057,"state":{"permModSources":{}},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d46-CfaO3beKN/8msHO9xMY0D3mpRKg"
    status:
      code: 200
      message: OK
version: 1
