interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffs?number=3
  response:
    body:
      string: '{"id":"d30b9002-6e9d-4c31-bb86-68b69ad32a75","name":"Season 4 Postseason","numberOfRounds":3,"playoffDay":12,"rounds":["b435ba04-dd90-4454-a123-6bd10989a6eb","def46e3e-3cec-410c-985d-4decef431eb6","a46cf811-3202-4d5d-98aa-c8965337702c"],"season":3,"tomorrowRound":2,"winner":"747b8e4a-7e50-4638-a973-ea7950a3e739","tournament":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14a-7rmZ0Dvwgf8phu7aNi57cKdsCsc"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffs?number=-2
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
