interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/roster/updates?count=1
  response:
    body:
      string: '{"nextPage":"HtsrANaZME-InTSfhUsjjGBMO2xFFgAA","data":[{"playerId":"03f920cc-411f-44ef-ae66-98a44e883291","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"rotation","rosterIndex":3,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2020-12-08T17:28:45.019353Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
