interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blaseball-reference.com/v1/allPlayersForGameday?season=1&day=99
  response:
    body:
      string: "[{\"player_id\":\"88cd6efa-dbf2-4309-aabe-ec1d6f21f98a\",\"player_name\":\"Hewitt
        Best\",\"current_state\":\"active\",\"current_location\":\"main_roster\",\"debut_gameday\":0,\"debut_season\":2,\"debut_tournament\":-1,\"team_id\":\"adc5b394-8f76-416d-9ce9-813706877b84\",\"team_abbreviation\":\"KCBM\",\"team\":\"Breath
        Mints\",\"position_id\":0,\"position_type\":\"BATTER\",\"valid_from\":\"2020-07-29T08:12:22.438Z\",\"valid_until\":\"2020-08-02T10:22:48.962Z\",\"gameday_from\":27,\"season_from\":1,\"tournament_from\":null,\"phase_type_from\":\"GAMEDAY\",\"deceased\":false,\"incineration_season\":null,\"incineration_gameday\":null,\"incineration_phase\":null,\"anticapitalism\":\"0.994024467334009\",\"base_thirst\":\"0.72541580462313\",\"buoyancy\":\"0.891025761686492\",\"chasiness\":\"0.0033626867983958\",\"coldness\":\"0.856128529864405\",\"continuation\":\"0.94886537275155\",\"divinity\":\"0.529804582394036\",\"ground_friction\":\"0.22895605493751\",\"indulgence\":\"0.0100292912196234\",\"laserlikeness\":\"0.910232389655516\",\"martyrdom\":\"0.656757157457522\",\"moxie\":\"0.992921528611625\",\"musclitude\":\"0.745881769521421\",\"omniscience\":\"0.76304178333927\",\"overpowerment\":\"0.760401545509657\",\"patheticism\":\"0.561575020925627\",\"ruthlessness\":\"0.412253789625393\",\"shakespearianism\":\"0.286740971257472\",\"suppression\":\"0.11018004217682\",\"tenaciousness\":\"0.857330971233051\",\"thwackability\":\"0.549847021921457\",\"tragicness\":\"0\",\"unthwackability\":\"0.396111749208385\",\"watchfulness\":\"0.735558586371804\",\"pressurization\":\"0.341746409352351\",\"cinnamon\":\"0\",\"total_fingers\":10,\"soul\":2,\"fate\":-1,\"peanut_allergy\":false,\"armor\":\"\",\"bat\":\"\",\"ritual\":\"\",\"coffee\":null,\"blood\":null,\"url_slug\":\"hewitt-best\",\"modifications\":null,\"batting_rating\":\"0.604208576157450\",\"baserunning_rating\":\"0.500561612907012\",\"defense_rating\":\"0.503743485596565\",\"pitching_rating\":\"0.372557767840863\",\"batting_stars\":\"3.0\",\"baserunning_stars\":\"2.5\",\"defense_stars\":\"2.5\",\"pitching_stars\":\"2.0\"},{\"player_id\":\"b39b5aae-8571-4c90-887a-6a00f2a2f6fd\",\"player_name\":\"Dickerson
        Morse\",\"current_state\":\"active\",\"current_location\":\"main_roster\",\"debut_gameday\":0,\"debut_season\":2,\"debut_tournament\":-1,\"team_id\":\"adc5b394-8f76-416d-9ce9-813706877b84\",\"team_abbreviation\":\"KCBM\",\"team\":\"Breath
        Mints\",\"position_id\":1,\"position_type\":\"BATTER\",\"valid_from\":\"2020-07-29T08:12:22.438Z\",\"valid_until\":\"2020-08-02T10:22:48.962Z\",\"gameda[...]
[...]
