interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/global?limit=1
  response:
    body:
      string: '[{"id":"fee7385a-cfcf-4927-a2e5-932871992873","playerTags":["f245f6c6-4613-40f5-bc3b-85aa9ee3cf7e"],"teamTags":["23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7"],"gameTags":[],"metadata":{"mods":["OVERPERFORMING"],"type":3},"created":"2021-05-19T20:32:04.522Z","season":18,"tournament":-1,"type":108,"day":52,"phase":4,"category":1,"description":"Usurper
        Violet''s game mods wore off.","nuts":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"181-Y/nNmY7p9o+vkmNM9GfRC5jZ27M"
    status:
      code: 200
      message: OK
version: 1
