interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/versions?count=10&type=team
  response:
    body:
      string: "{\"nextPage\":\"Su6al4BtY0i_HO4aeOBgJGBMO2xFFgAA\",\"items\":[{\"entityId\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"hash\":\"064f0ac0-e3e6-d681-4531-f80c64caa210\",\"validFrom\":\"2020-07-29T08:12:22.438Z\",\"validTo\":\"2020-07-29T12:12:37.076Z\",\"data\":{\"_id\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"bench\":[\"061b209a-9cda-44e8-88ce-6a4a37251970\",\"1c73f91e-0562-480d-9543-2aab1d5e5acd\",\"b88d313f-e546-407e-8bc6-94040499daa5\"],\"emoji\":\"0x1F3B8\",\"lineup\":[\"1301ee81-406e-43d9-b2bb-55ca6e0f7765\",\"f3ddfd87-73a2-4681-96fe-829476c97886\",\"8cf78b49-d0ca-4703-88e8-4bcad26c44b1\",\"425f3f84-bab0-4cf2-91c1-96e78cf5cd02\",\"495a6bdc-174d-4ad6-8d51-9ee88b1c2e4a\",\"da0bbbe6-d13c-40cc-9594-8c476975d93d\",\"8b53ce82-4b1a-48f0-999d-1774b3719202\",\"1068f44b-34a0-42d8-a92e-2be748681a6f\",\"03097200-0d48-4236-a3d2-8bdb153aa8f7\"],\"slogan\":\"Smells
        like Team Spirit.\",\"bullpen\":[\"4ed61b18-c1f6-4d71-aea3-caac01470b5c\",\"ce58415f-4e62-47e2-a2c9-4d6a85961e1e\",\"efa73de4-af17-4f88-99d6-d0d69ed1d200\",\"f6b38e56-0d98-4e00-a96e-345aaac1e653\",\"a3947fbc-50ec-45a4-bca4-49ffebb77dbe\",\"f968532a-bf06-478e-89e0-3856b7f4b124\",\"864b3be8-e836-426e-ae56-20345b41d03d\",\"dd0b48fe-2d49-4344-83ed-9f0770b370a8\"],\"fullName\":\"Seattle
        Garages\",\"location\":\"Seattle\",\"nickname\":\"Garages\",\"rotation\":[\"c6a277c3-d2b5-4363-839b-950896a5ec5e\",\"e3c514ae-f813-470e-9c91-d5baf5ffcf16\",\"6f9de777-e812-4c84-915c-ef283c9f0cde\",\"41949d4d-b151-4f46-8bf7-73119a48fac8\",\"bd9d1d6e-7822-4ad9-bac4-89b8afd8a630\"],\"mainColor\":\"#2b4075\",\"shameRuns\":0,\"shorthand\":\"SEA\",\"totalShames\":1,\"seasonShames\":1,\"championships\":0,\"totalShamings\":0,\"seasonShamings\":2,\"secondaryColor\":\"#543d04\",\"seasonAttributes\":[],\"permanentAttributes\":[]}},{\"entityId\":\"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7\",\"hash\":\"9c3df605-7511-7952-2fb2-a2cfafc79c37\",\"validFrom\":\"2020-07-29T08:12:22.438Z\",\"validTo\":\"2020-07-30T04:13:42.802Z\",\"data\":{\"_id\":\"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7\",\"bench\":[\"20395b48-279d-44ff-b5bf-7cf2624a2d30\",\"d8bc482e-9309-4230-abcb-2c5a6412446d\",\"cd5494b4-05d0-4b2e-8578-357f0923ff4c\"],\"emoji\":\"0x1F967\",\"lineup\":[\"1ba715f2-caa3-44c0-9118-b045ea702a34\",\"26cfccf2-850e-43eb-b085-ff73ad0749b[...]
