interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonRecap?season=18
  response:
    body:
      string: '{"id":"eef1717c-4f84-4eba-9564-3637d1bd6260","bonusResults":["c44a6c38-9e14-4d1c-9e78-5971ebfbb5b4","470ea0e2-0b99-442b-bd19-d07bf05c4915","9179c1b1-6701-4be9-9075-77dfe683fc14","3fbcec88-799e-49b9-b220-6aa426b8a988","746a351d-e1a6-4fa0-8507-06f1be036620","bd1c9230-293d-4e3a-838f-7a9271d4c952","52ee9261-87df-4a97-a9b3-f2e12b727422","4d960471-4b42-441e-ae36-4bc3acdfe48c","e655d182-d443-4986-bd35-d80c6e88ec75","f79e9f62-7289-4ee6-bc18-0f5d29a236fe","20266221-a626-4e3f-af63-b99068b3b27a","9b6dafc1-fb02-47a8-8a71-7388e21329e4","d84f2777-5249-4ba5-bedd-f9e3ef611901","577d03d2-1194-47c5-9f59-d850f80d6b1e","fc7dfd2c-9ca8-4174-bee2-e1825bd32593","2ab3ba74-0295-4424-8031-2cf30aa57bc5","f23ee250-9888-4e3b-82f7-dd7e4827ba4c","e45e7768-1c75-4b4b-9439-cbb7bdf7f89f","04614765-f227-4433-8ee4-b01bc30c4d36","dfa68a4f-2039-4ff2-98d5-032efda26e9c","1f75c766-1c2e-4af2-9e35-7e06d9c4df7b","1d93f8a2-599f-4203-8f35-cb7a253bf28d","14ff949c-a30a-48fe-a931-7dd0b6464b29","6455c972-4c84-4ccc-8a56-6de0b149d207","3e36a9c9-da73-44ea-8a5c-e209f65f5ae7","80022120-e7c0-46e8-b251-0738d93e9404","ae4a0a7a-bbf4-416e-8995-c4a29c97c496","f98d3487-e446-4473-839f-e9be303e8a8a"],"decreeResults":["c3aff3f1-f5c0-449f-b5a0-6b04050e35c8"],"name":"The
        Season 19 Election","season":18,"totalBonusVotes":43049299,"totalDecreeVotes":11615119,"voteCount":77181628,"eventResults":["24012584-0bed-4e53-a65a-e2614ca87c56","d7f390c1-7928-4ce7-b0b6-7645a478b7a2","b24374ba-e870-4f47-9fd9-1fc64a662956","f06c230c-195a-470d-8e0c-3a83f98aa193","99599d2a-061e-4b11-a610-e99ff7778983","d378f97a-a1bf-459b-afcd-727f916202f3","9f4e7c88-ab50-474c-a013-7b6f85bd67ce","c693af25-5448-4170-b170-123ef41b3843","fd5ac00f-5ec2-4679-a7f2-ff30b9762e5c","cf485ccb-06ca-4183-9502-566e9be08080","bdec45e8-f72f-4ae4-9318-c7facd05dbe6","b483e580-6ebc-4468-9d2b-899fb47ee4d3","24bee41e-145a-4f21-b1e6-6d0c9d231157","ae849a34-0946-4b26-a1a5-5730d6f7df5b","72806632-a090-4561-8683-83d0b8158b9b","9c531f68-8852-4ffc-971e-02890c88ce74","62acd4ec-3b01-4c22-9d71-ce0d01b96335","194bc617-57e0-4441-ae34-1281f1042940"],"willResults":["40c111a4-b409-415a-b31e-013c0b6d5cbe","66af8adc-fc64-4acc-a1a9-e1d298c0a0aa","00988b39-cfe6-4730-a550-5d9d9971faad","3244cc04-80eb-4efe-a7fc-3593ac244e6a","29a83b63-01c5-40aa-b03f-7bce0b26c900","c539ac27-ecbb-43be-b5e7-4e87e57d3d81","3c0f26b0-298e-4e40-96b6-11c51a2a00e3","ea74d537-fbb8-48af-b4d3-cc7512db9b6e","05f0da5e-c158-48dd-a330-69050374da6b","216431ea-7f96-4b53-ac69-027de8a5cd46","4e3ab3a5-8a24-4a44-99ea-68b4592f104e","9710194e-b629-4073-b0c7-7772ee7926e5","e1785463-27c2-438d-9b7f-75bd00[...]
