interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=ce3a10b8-bc95-4fa4-b515-ff9939afdb44
  response:
    body:
      string: '[{"id":"ce3a10b8-bc95-4fa4-b515-ff9939afdb44","homeTeamRunsByInning":[0,2,0,1,1,0,0,1],"awayTeamRunsByInning":[0,1,0,0,0,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"76129fa4-dbed-4c6b-b133-74942bbfbdac","homeTeamStats":"b07ec0e3-568d-4125-87e1-0bb5223f68f4"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-GRQGRG3VsneBON+LFHTEwri4zyI"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=f852abec-b80e-40e2-b213-f0368d4e7f57
  response:
    body:
      string: '[{"id":"f852abec-b80e-40e2-b213-f0368d4e7f57","homeTeamRunsByInning":[0,0,0,0,0,2,0,0],"awayTeamRunsByInning":[0,1,0,0,0,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"f067b19b-5392-4484-b6d0-462cd87a0f03","homeTeamStats":"8fd4f2e3-0ee5-4641-935e-4d6584a28329"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-A9esBzGtw7t2YR2S+Z85Ba4h3FU"
    status:
      code: 200
      message: OK
version: 1
