interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=b61b2871-7254-49b3-b009-174a23acaa1a,7afedcd8-870d-4655-9659-3bdfb2e17730,4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd,5915b7bb-e532-4036-9009-79f1e80c0e28,e6114fd4-a11d-4f6c-b823-65691bb2d288,1cded4e7-8302-49b7-a646-40a0767b6969,b72a136e-bbfd-4687-a576-1ab538c8f264,6cc3246f-2da2-4c7c-a46f-9b45dcbf384c,dd8a43a4-a024-44e9-a522-785d998b29c3,61bbbf34-98c1-4bf6-bd0c-56c19199b35e,d2f827a5-0133-4d96-b403-85a5e50d49e0,34e1b683-ecd5-477f-b9e3-dd4bca76db45,e1e33aab-df8c-4f53-b30a-ca1cea9f046e,ce3fb736-d20e-4e2a-88cb-e136783d3a47,093af82c-84aa-4bd6-ad1a-401fae1fce44,7e160e9f-2c79-4e08-8b76-b816de388a98,dd6ba7f1-a97a-4374-a3a7-b3596e286bb3,1ffb1153-909d-44c7-9df1-6ed3a9a45bbd,7dcf6902-632f-48c5-936a-7cf88802b93a
  response:
    body:
      string: "[{\"id\":\"7afedcd8-870d-4655-9659-3bdfb2e17730\",\"anticapitalism\":0.6654184871703235,\"baseThirst\":0.724829553344996,\"buoyancy\":0.7500288545284375,\"chasiness\":0.1095417069434046,\"coldness\":0.38183196959521565,\"continuation\":0.16435403489368017,\"divinity\":0.2926915933074141,\"groundFriction\":0.3130995826436142,\"indulgence\":0.5220816465758858,\"laserlikeness\":0.3356939767376998,\"martyrdom\":0.46956528346640414,\"moxie\":0.41714968558645116,\"musclitude\":0.40776279953696015,\"name\":\"Pierre
        Haley\",\"omniscience\":0.7515628392287927,\"overpowerment\":1.0692898123753882,\"patheticism\":0.6435912280804161,\"ruthlessness\":0.2807195802713791,\"shakespearianism\":0.3898710558166569,\"suppression\":0.23290734195516005,\"tenaciousness\":0.7036710105088408,\"thwackability\":0.1667366483684385,\"tragicness\":0.1,\"unthwackability\":0.6356412756375629,\"watchfulness\":0.7743738528675119,\"pressurization\":0.17312259693364696,\"totalFingers\":10,\"soul\":2,\"deceased\":false,\"peanutAllergy\":false,\"cinnamon\":0.9728450586265991,\"fate\":98,\"ritual\":\"Jumping-jacks\",\"coffee\":9,\"blood\":2,\"permAttr\":[],\"seasAttr\":[],\"weekAttr\":[],\"gameAttr\":[],\"hitStreak\":0,\"consecutiveHits\":0,\"baserunningRating\":0.39076485089161234,\"pitchingRating\":0.43044567509049947,\"hittingRating\":0.28433524005389843,\"defenseRating\":0.6604341111444341,\"leagueTeamId\":\"8d87c468-699a-47a8-b40d-cfb73a5660ad\",\"tournamentTeamId\":null,\"eDensity\":16.36185914026311,\"state\":{},\"evolution\":0,\"items\":[],\"itemAttr\":[]},{\"id\":\"4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd\",\"anticapitalism\":0.007780973052307072,\"baseThirst\":0.7060513440241531,\"buoyancy\":0.6851783620919014,\"chasiness\":0.9983638347680568,\"coldness\":0.8746486625977877,\"continuation\":0.9508584192053318,\"divinity\":0.812722286820512,\"groundFriction\":0.8295727882101811,\"indulgence\":0.4328391992651893,\"laserlikeness\":0.2626493989706007,\"martyrdom\":0.18748256193017387,\"moxie\":0.5921913526202971,\"musclitude\":0.10406903792167643,\"[...]
