interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/division?id=f711d960-dc28-4ae2-9249-e1f320fec7d7
  response:
    body:
      string: '{"id":"f711d960-dc28-4ae2-9249-e1f320fec7d7","teams":["b72f3061-f573-40d7-832a-5ad475bd7909","878c1bf6-0d21-4659-bfee-916c8314d69c","b024e975-1c4a-4575-8936-a3754a08806a","adc5b394-8f76-416d-9ce9-813706877b84","ca3f1c8c-c025-4d8e-8eef-5be6accbeb16"],"name":"Lawful
        Good"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10f-x228bxPUmqChoIR7o1UwSqdiPEM"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=b72f3061-f573-40d7-832a-5ad475bd7909
  response:
    body:
      string: '{"id":"b72f3061-f573-40d7-832a-5ad475bd7909","lineup":["cbd19e6f-3d08-4734-b23f-585330028665","11de4da3-8208-43ff-a1ff-0b3480a0fbf1","58c9e294-bd49-457c-883f-fb3162fc668e","bd24e18b-800d-4f15-878d-e334fb4803c4","c9e4a49e-e35a-4034-a4c7-293896b40c58","2b157c5c-9a6a-45a6-858f-bf4cf4cbc0bd","0eea4a48-c84b-4538-97e7-3303671934d2","ee55248b-318a-4bfb-8894-1cc70e4e0720","1f159bab-923a-4811-b6fa-02bfde50925a"],"rotation":["3c331c87-1634-46c4-87ce-e4b9c59e2969","f2c477fb-28ea-4fcb-943a-9fab22df3da0","c3ae0552-59e8-44bf-ba66-48a96aff35e6","73265ee3-bb35-40d1-b696-1f241a6f5966","db33a54c-3934-478f-bad4-fc313ac2580e","04e14d7b-5021-4250-a3cd-932ba8e0a889"],"bullpen":["7c5ae357-e079-4427-a90f-97d164c7262e","b390b28c-df96-443e-b81f-f0104bd37860","0f62c20c-72d0-4c12-a9d7-312ea3d3bcd1","23e78d92-ee2d-498a-a99c-f40bc4c5fe99","f1185b20-7b4a-4ccc-a977-dc1afdfd4cb9","9313e41c-3bf7-436d-8bdc-013d3a1ecdeb","3be2c730-b351-43f7-a832-a5294fe8468f","e749dc27-ca3b-456e-889c-d2ec02ac7f5f","d97835fd-2e92-4698-8900-1f5abea0a3b6"],"bench":["26f01324-9d1c-470b-8eaa-1b9bfbcd8b65","9f6d06d6-c616-4599-996b-ec4eefcff8b8","0e27df51-ad0c-4546-acf5-96b3cb4d7501","8997123f-b24d-4326-80c8-3c862f80f623"],"seasAttr":[],"permAttr":["LOVE"],"fullName":"San
        Francisco Lovers","location":"San Francisco","mainColor":"#780018","nickname":"Lovers","secondaryColor":"#da0000","shorthand":"SFL","emoji":"0x1F48B","slogan":"Let''s
        Go All The Way!","shameRuns":1,"totalShames":55,"totalShamings":47,"seasonShames":0,"seasonShamings":0,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":19,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"649-yw0n5prPeN2cSphqiq8bt/ymNsE"
    status:
      code: 200
      message: OK
[...]
