interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=10&type=team
  response:
    body:
      string: "{\"nextPage\":\"YwBdTrRzCkSy0SFKc0XPFiiWScYCygAA\",\"items\":[{\"entityId\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"hash\":\"5c13b068-521d-c135-c512-ca1bb696522a\",\"validFrom\":\"2021-04-09T21:21:41.287294Z\",\"validTo\":null,\"data\":{\"id\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"card\":7,\"bench\":[\"81a0889a-4606-4f49-b419-866b57331383\",\"25581c43-f8da-4657-9e96-e704df0a8878\",\"04e14d7b-5021-4250-a3cd-932ba8e0a889\",\"061b209a-9cda-44e8-88ce-6a4a37251970\",\"2d95d41c-ff54-4fa1-89a0-76b84dd8fe2b\",\"04651d05-44ef-40c1-abd3-4d0c14b6845d\"],\"emoji\":\"0x1F3B8\",\"level\":11,\"state\":{},\"lineup\":[\"542af915-79c5-431c-a271-f7185e37c6ae\",\"86adac6f-c694-44ac-9560-758de7eac937\",\"9f218ed1-d793-437d-a1b9-79f88f69154d\",\"1301ee81-406e-43d9-b2bb-55ca6e0f7765\",\"b88d313f-e546-407e-8bc6-94040499daa5\",\"8b53ce82-4b1a-48f0-999d-1774b3719202\",\"f3ddfd87-73a2-4681-96fe-829476c97886\",\"c18961e9-ef3f-4954-bd6b-9fe01c615186\",\"1c73f91e-0562-480d-9543-2aab1d5e5acd\",\"d5c24c97-f3d3-4b3d-8c13-0debb61346c5\"],\"slogan\":\"Park
        It!\",\"bullpen\":[\"6f9de777-e812-4c84-915c-ef283c9f0cde\",\"ce58415f-4e62-47e2-a2c9-4d6a85961e1e\",\"efa73de4-af17-4f88-99d6-d0d69ed1d200\",\"f6b38e56-0d98-4e00-a96e-345aaac1e653\",\"8a6fc67d-a7fe-443b-a084-744294cec647\",\"f968532a-bf06-478e-89e0-3856b7f4b124\",\"c6a277c3-d2b5-4363-839b-950896a5ec5e\",\"dd0b48fe-2d49-4344-83ed-9f0770b370a8\",\"d8742d68-8fce-4d52-9a49-f4e33bd2a6fc\",\"019ce117-2399-4382-8036-8c14db7e1d30\"],\"stadium\":\"cb94ac8b-003b-4d95-baf3-7c14b1c3fc29\",\"eDensity\":4856.244230374376,\"fullName\":\"Seattle
        Garages\",\"gameAttr\":[],\"location\":\"Seattle\",\"nickname\":\"Garages\",\"permAttr\":[\"FREE_WILL\"],\"rotation\":[\"1732e623-ffc2-40f0-87ba-fdcf97131f1f\",\"e3c514ae-f813-470e-9c91-d5baf5ffcf16\",\"a1628d97-16ca-4a75-b8df-569bae02bef9\",\"68dd9d47-b9a8-4fd3-a89c-5c112eb1982e\",\"f2468055-e880-40bf-8ac6-a0763d846eb2\",\"4ed61b18-c1f6-4d71-aea3-caac01470b5c\",\"7e9a514a-7850-4ed0-93ab-f3a6e2f41c03\",\"f1cc4d7d-bef0-43dd-ba0a-17c7628aa775\"],\"seasAttr\":[\"PARTY_TIME\"],\"weekAttr\":[],\"evolution\":0,\"mainColor\":\"#2b4075\",\"shameRuns\":0,\"shorthand\":\"SEA\",\"winStreak\":-1,\"teamSpirit\":0,\"totalShames\":68,\"rotationSlot\":99,\"seasonShames\":2,\"championships\":0,\"totalShamings\":61,\"seasonShamings\":1,\"secondaryColor\":\"#5a83ea\",\"tournamentWins\":0}},{\"entityId\":\"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7\",\"hash\":\"9f414321-a130-3d3f-70b3-9adc18c58eff\",\"validFrom\":\"2021-04-09T21:21:41.287294Z\",\"validTo\":null,\"data\":{\"id\":\"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7\",\"card\":8,\"bench\":[\"20395b48-279d-44ff-b5bf-7cf2624a2d30\",\"d8bc482e-9309-4230-abcb-2c5a6412446d\",\"cd5494b4-05d0-4b2e-8578-357f0923ff4c\",\"e495cadc-a645-439d-a556-e41de7493f18\",\"a0e7445f-2b93-4ca7-a69d-ff32593700ee\",\"7f3f2e75-900e-40b6-846b-db585541490d\"],\[...]
