interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/games?season=0&day=4
  response:
    body:
      string: "[{\"id\":\"f67a37e3-d749-499e-b5a0-06fd2c023187\",\"basesOccupied\":[],\"baseRunners\":[],\"baseRunnerNames\":[],\"outcomes\":[],\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"lastUpdate\":\"Game
        over.\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"statsheet\":\"a78a3117-5701-40e4-ab87-2cc118cfbbe8\",\"awayPitcher\":\"80a2f015-9d40-426b-a4f6-b9911ba3add8\",\"awayPitcherName\":\"Paul
        Barnes\",\"awayBatter\":null,\"awayBatterName\":null,\"awayTeam\":\"b72f3061-f573-40d7-832a-5ad475bd7909\",\"awayTeamName\":\"San
        Francisco Lovers\",\"awayTeamNickname\":\"Lovers\",\"awayTeamColor\":\"#780018\",\"awayTeamEmoji\":\"0x1F48B\",\"awayOdds\":0.39637702428985383,\"awayStrikes\":3,\"awayScore\":5,\"awayTeamBatterCount\":33,\"homePitcher\":\"bca38809-81de-42ff-94e3-1c0ebfb1e797\",\"homePitcherName\":\"Famous
        Oconnor\",\"homeBatter\":null,\"homeBatterName\":null,\"homeTeam\":\"7966eb04-efcc-499b-8f03-d13916330531\",\"homeTeamName\":\"Yellowstone
        Magic\",\"homeTeamNickname\":\"Magic\",\"homeTeamColor\":\"#bf0043\",\"homeTeamEmoji\":\"0x2728\",\"homeOdds\":0.6036229757101462,\"homeStrikes\":3,\"homeScore\":2,\"homeTeamBatterCount\":33,\"season\":0,\"isPostseason\":false,\"day\":4,\"phase\":4,\"gameComplete\":true,\"finalized\":true,\"gameStart\":true,\"halfInningOuts\":0,\"halfInningScore\":0,\"inning\":8,\"topOfInning\":false,\"atBatBalls\":0,\"atBatStrikes\":0,\"seriesIndex\":2,\"seriesLength\":3,\"shame\":false,\"weather\":1,\"baserunnerCount\":0,\"homeBases\":4,\"awayBases\":4,\"repeatCount\":0,\"awayTeamSecondaryColor\":\"\",\"homeTeamSecondaryColor\":\"\",\"homeBalls\":4,\"awayBalls\":4,\"homeOuts\":3,\"awayOuts\":3,\"playCount\":0,\"tournament\":-1,\"baseRunnerMods\":[],\"homePitcherMod\":\"\",\"homeBatterMod\":\"\",\"awayPitcherMod\":\"\",\"awayBatterMod\":\"\",\"scoreUpdate\":\"\",\"scoreLedger\":\"\",\"stadiumId\":null,\"secretBaserunner\":null,\"topInningScore\":0,\"bottomInningScore\":0,\"newInningPhase\":-1,\"gameStartPhase\":-1,\"isTitleMatch\":false,\"queuedEvents\":[],\"state\":{}},{\"id\":\"0e9d516d-4da1-4e7b-9e27-e2f214f0f85b\",\"basesOccupied\":[],\"baseRunners\":[],\"baseRunnerNames\":[],\"outcomes\":[],\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"lastUpdate\":\"Game
        over.\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"statsheet\":\"be160560-5f23-4a1f-bf41-bfca40afb476\",\"awayPitcher\":\"7663c3ca-40a1-4f13-a430-14637dce797a\",\"awayPitcherName\":\"PolkaDot
        Zavala\",\"awayBatter\":null,\"awayBatterName\":null,\"awayTeam\":\"a[...]
