interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=84f28e07-507a-4dd9-bc38-8c6c02be7542
  response:
    body:
      string: '[{"id":"84f28e07-507a-4dd9-bc38-8c6c02be7542","name":null,"awaySeed":2,"awayTeam":"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","awayWins":3,"homeSeed":2,"homeTeam":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","homeWins":0,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5-0t1dB5NOePxTGC1MEmjz97sFs3c"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7
  response:
    body:
      string: '{"id":"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","lineup":["32810dca-825c-4dbc-8b65-0702794c424e","26cfccf2-850e-43eb-b085-ff73ad0749b8","bbf9543f-f100-445a-a467-81d7aab12236","405dfadf-d435-4307-82f6-8eba2287e87a","da0bbbe6-d13c-40cc-9594-8c476975d93d","dd6044ef-c635-4aed-97bd-d18068432b8f","fcbe1d14-04c4-4331-97ad-46e170610633"],"rotation":["c6e2e389-ed04-4626-a5ba-fe398fe89568","b082ca6e-eb11-4eab-8d6a-30f8be522ec4","60026a9d-fc9a-4f5a-94fd-2225398fa3da","814bae61-071a-449b-981e-e7afc839d6d6","80dff591-2393-448a-8d88-122bd424fa4c"],"bullpen":["0672a4be-7e00-402c-b8d6-0b813f58ba96","62111c49-1521-4ca7-8678-cd45dacf0858","7f379b72-f4f0-4d8f-b88b-63211cf50ba6","906a5728-5454-44a0-adfe-fd8be15b8d9b","90cc0211-cd04-4cac-bdac-646c792773fc","a7b0bef3-ee3c-42d4-9e6d-683cd9f5ed84","b85161da-7f4c-42a8-b7f6-19789cf6861d","d2a1e734-60d9-4989-b7d9-6eacda70486b"],"bench":["20395b48-279d-44ff-b5bf-7cf2624a2d30","d8bc482e-9309-4230-abcb-2c5a6412446d","cd5494b4-05d0-4b2e-8578-357f0923ff4c","e495cadc-a645-439d-a556-e41de7493f18","a0e7445f-2b93-4ca7-a69d-ff32593700ee"],"seasAttr":[],"permAttr":["AFFINITY_FOR_CROWS"],"fullName":"Philly
        Pies","location":"Philly","mainColor":"#399d8f","nickname":"Pies","secondaryColor":"#58c3b4","shorthand":"PHIL","emoji":"0x1F967","slogan":"Pie
        or Die.","shameRuns":1,"totalShames":55,"totalShamings":38,"seasonShames":0,"seasonShamings":0,"championships":2,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":8,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c6-g+N9OxH/OmoVZPDziCizGeKRY+w"
    status:
      code: 200
      message: OK
version: 1
