interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/time/seasons
  response:
    body:
      string: '{"data":[{"season":0,"tournament":-1,"startTime":"2020-07-20T16:00:00Z","seasonStartTime":"2020-07-20T16:00:00Z","postseasonStartTime":"2020-07-25T13:00:00Z","endTime":"2020-07-26T00:30:00Z","days":111},{"season":1,"tournament":-1,"startTime":"2020-07-27T16:00:00Z","seasonStartTime":"2020-07-27T16:00:00Z","postseasonStartTime":"2020-08-01T13:00:02.705Z","endTime":"2020-08-02T00:26:01.312Z","days":111},{"season":2,"tournament":-1,"startTime":"2020-08-03T08:00:03.438Z","seasonStartTime":"2020-08-03T16:00:02.156Z","postseasonStartTime":"2020-08-08T13:00:01.13Z","endTime":"2020-08-09T03:25:29.935Z","days":113},{"season":3,"tournament":-1,"startTime":"2020-08-24T08:00:01.591Z","seasonStartTime"[...]
