interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=GRAVITY
  response:
    body:
      string: '[{"id":"GRAVITY","color":"#759bc9","textColor":"#759bc9","background":"#4c5052","title":"Gravity","description":"This
        player cannot be affected by Reverb."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-++gmzOTapPgl2zRXoKNXQlYFBWQ"
    status:
      code: 200
      message: OK
version: 1
