interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/globalevents/updates?count=500&page=zlGlL0mR10SooPsrgBDEaTA1Q9QIQwAA
  response:
    body:
      string: "{\"nextPage\":\"HVE1_rt89kic4Ai5PvgCFzJPbErZUgAA\",\"data\":[{\"updateId\":\"4e979f10-78e1-4758-bad9-4bf4af991420\",\"firstSeen\":\"2020-09-24T07:33:59.997589Z\",\"lastSeen\":\"2020-09-24T08:30:00.006401Z\",\"data\":[{\"id\":\"the_discipline_era\",\"msg\":\"The
        Discipline Era continues\",\"expire\":null},{\"id\":\"commissioner_parker\",\"msg\":\"WE
        ARE ALL LOVE BLASEBALL\",\"expire\":null},{\"id\":\"bigger_machines\",\"msg\":\"NO
        THOUGHTS ONLY BLASEBALL\",\"expire\":null},{\"id\":\"is_it_the_same\",\"msg\":\"YOU
        ARE NOW PARTICIPATING IN THE CULTURAL EVENT OF BLASEBALL\",\"expire\":null},{\"id\":\"peanuts_eaten\",\"msg\":\"We
        have eaten -Infinity collective peanuts.\",\"expire\":null},{\"id\":\"the_birds\",\"msg\":\"THE
        FEEDBACK IS LOUD\",\"expir[...]
