interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&id=abbd5ec5-a15b-421c-b0c5-cd80d8907373&type=player
  response:
    body:
      string: '{"nextPage":"xV69q1uhHEKwxc2A2JBzc04sYVV64AAA","items":[{"entityId":"abbd5ec5-a15b-421c-b0c5-cd80d8907373","hash":"1c86806f-feb0-6aac-762f-c3933ca4b4d8","validFrom":"2021-04-12T16:00:02.306363Z","validTo":null,"data":{"id":"abbd5ec5-a15b-421c-b0c5-cd80d8907373","fate":37,"name":"Rat
        Batson","soul":9,"blood":4,"items":[{"id":"ebbad936-3761-4cd4-b006-f26cf5215f6f","name":"Bat","root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.10861287493336695}]},"forger":null,"health":1,"suffix":null,"prefixes":null,"prePrefix":null,"durability":1,"forgerName":null,"postPrefix":null,"defenseRating":0,"hittingRating":0.010097845501428254,"pitchingRating":0,"baserunningRating":0}],"moxie":0.9226262232192517,"state":{},"coffee":4,"ritual":"Posing
        for pictures","buoyancy":0.20856094135041633,"cinnamon":0.6878540172787431,"coldness":0.8469932490436827,"deceased":false,"divinity":0.09079266185520327,"eDensity":30.341134983112884,"gameAttr":[],"itemAttr":[],"permAttr":[],"seasAttr":[],"weekAttr":[],"chasiness":0.836313829712998,"evolution":0,"hitStreak":0,"martyrdom":0.055543576176875,"baseThirst":0.8814915940585686,"indulgence":0.10807182551119521,"musclitude":0.2756368567278563,"tragicness":0.930074445651392,"omniscience":0.06429794458030662,"patheticism":0.9530720352256365,"suppression":0.9990906898283032,"continuation":0.5808047996347501,"leagueTeamId":"878c1bf6-0d21-4659-bfee-916c8314d69c","ruthlessness":0.7154391508211245,"totalFingers":10,"watchfulness":0.7136269604849322,"defenseRating":0.5047470314270671,"hittingRating":0.2749763960892488,"laserlikeness":0.4026697921740513,"overpowerment":0.2877608155102996,"peanutAllergy":false,"tenaciousness":0.7473574265956876,"thwackability":0.7276112910259481,"anticapitalism":0.7788365374125574,"groundFriction":0.6104643831766337,"pitchingRating":0.5310895185504164,"pressurization":0.6591847720408346,"consecutiveHits":0,"unthwackability":0.5631423668275151,"shakespearianism":0.8124151528763767,"tournamentTeamId":null,"baserunningRating":0.45220633723510817}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
