interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=90c2cec7-0ed5-426a-9de8-754f34d59b39,d35ccee1-9559-49a1-aaa4-7809f7b5c46e,2c4b2a6d-9961-4e40-882c-a338f4e72117,84a2b5f6-4955-4007-9299-3d35ae7135d3,425f3f84-bab0-4cf2-91c1-96e78cf5cd02,e4034192-4dc6-4901-bb30-07fe3cf77b5e,7dcf6902-632f-48c5-936a-7cf88802b93a,c6a19154-7438-4c4f-b786-2dfaf5951f0f,1a93a2d2-b5b6-479b-a595-703e4a2f3885
  response:
    body:
      string: '[{"id":"e4034192-4dc6-4901-bb30-07fe3cf77b5e","anticapitalism":1.056900345840619,"baseThirst":0.8219746474414378,"buoyancy":0.5118591782775339,"chasiness":0.2729313459649551,"coldness":0.8705246918531906,"continuation":0.12618261929979635,"divinity":0.6973326448260432,"groundFriction":0.8537778371512051,"indulgence":0.791419648121383,"laserlikeness":0.4543591122438788,"martyrdom":0.9002202931678926,"moxie":0.39840783027934284,"musclitude":0.7709630726053277,"name":"Baldwin
        Breadwinner","bat":"","omniscience":0.6042813816489021,"overpowerment":0.10963279020526522,"patheticism":0.8667836806466119,"ruthlessness":0.4569655362479358,"shakespearianism":0.731705446017842,"suppression":0.5399251354945234,"tenaciousness":0.11032434668192628,"thwackability":0.1369623463199825,"tragicness":0.1,"unthwackability":0.6521669532706306,"watchfulness":0.9082313214073571,"pressurization":0.3668300245679931,"totalFingers":13,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":1.0629499778656835,"fate":39,"armor":"","ritual":"Gaming","coffee":7,"blood":6,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.5167263252206826,"pitchingRating":0.40930966461455204,"hittingRating":0.362596656510293,"defenseRating":0.508874289200017,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null},{"id":"d35ccee1-9559-49a1-aaa4-7809f7b5c46e","anticapitalism":0.8520045091319592,"baseThirst":1.4893240543129698,"buoyancy":0.9607657176607342,"chasiness":0.27201058351485097,"coldness":1.0430399722279748,"continuation":1.0395923943820216,"divinity":0.8532003680926808,"groundFriction":0.8644676816956027,"indulgence":0.7209526288801629,"laserlikeness":1.3224608558884063,"martyrdom":1.013029637876206,"moxie":0.5736728653053265,"musclitude":1.4054172122657373,"name":"Forrest
        Best","ba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5,e6114fd4-a11d-4f6c-b823-65691bb2d288,d0d7b8fe-bad8-481f-978e-cb659304ed49,f9930cb1-7ed2-4b9a-bf4f-7e35f2586d71
  response:
    body:
      string: '[{"id":"97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5","anticapitalism":0.88828798460699,"baseThirst":0.6299707483931725,"buoyancy":0.9214153561250237,"chasiness":0.6447670859275663,"coldness":0.5014847619775987,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=dd8a43a4-a024-44e9-a522-785d998b29c3,d2f827a5-0133-4d96-b403-85a5e50d49e0,34e1b683-ecd5-477f-b9e3-dd4bca76db45,e1e33aab-df8c-4f53-b30a-ca1cea9f046e,ce3fb736-d20e-4e2a-88cb-e136783d3a47,093af82c-84aa-4bd6-ad1a-401fae1fce44,7e160e9f-2c79-4e08-8b76-b816de388a98,dd6ba7f1-a97a-4374-a3a7-b3596e286bb3
  response:
    body:
      string: '[{"id":"d2f827a5-0133-4d96-b403-85a5e50d49e0","anticapit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=7afedcd8-870d-4655-9659-3bdfb2e17730,4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd,5915b7bb-e532-4036-9009-79f1e80c0e28,61bbbf34-98c1-4bf6-bd0c-56c19199b35e,ce7d33b7-1bba-48d6-a1d1-cd0e29231be8
  response:
    body:
      string: '[{"id":"7afedcd8-870d-4655-9659-3bdfb2e17730","anticapitalism":0.6654184871703235,"baseThirst":0.5749528370573149,"buoyancy":0.7500288545284375,"chasiness":0.109541706[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=555b0a07-a3e0-41bc-b3db-ca8f520857bc
  response:
    body:
      string: '[{"id":"555b0a07-a3e0-41bc-b3db-ca8f520857bc","anticapitalism":0.5595608690594709,"baseThirst":0.04757662353334524,"buoyancy":0.08858130780444284,"chasiness":0.13122852935369878,"coldness":0.8227287237029124,"continuation":0.9249763689640531,"divinity":0.9241399541042874,"groundFriction":0.6003965317765747,"indulg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?before=2020-07-30T02%3A13%3A38.328000Z&count=1&order=desc&player=1ba715f2-caa3-44c0-9118-b045ea702a34
  response:
    body:
      string: '{"nextPage":"8hWnG6PKwESRGLBF6nAqNGBMO2xFFgAA","data":[{"updateId":"c4ef9e05-ed0f-471a-a8a2-bf063e7eba89","playerId":"1ba715f2-caa3-44c0-9118-b045ea702a34","firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2020-08-02T09:22:45.421Z","data":{"_id":"1ba715f2-caa3-44c0-9118-b045ea702a34","name":"Juan
        Rangel","soul":7,"moxie":0.7902667065860169,"buoyancy":0.5704539863180131,"coldness":0.8728283012639908,"deceased":false,"divinity":0.23092286428295772,"chasiness":0.45220067395227703,"martyrdom":0.15604374403800514,"baseThirst":0.2567450240376663,"indulgence":0.8987065506269727,"musclitude":0.761296177150365,"tragicness":0,"omniscience":0.8030959144190009,"patheticism":0.5600703314870863,"suppression":0.6315923651209989,"continuation":0.05203350816128083,"ruthlessness":0.568086727107028,"totalFingers":10,"watchfulness":0.483012047119856,"laserlikeness":0.6257205547810696,"overpowerment":0.5742813697105611,"tenaciousness":0.05779127133944528,"thwackability":0.5768468959098274,"anticapitalism":0.22083607963084173,"groundFriction":0.11941254093212628,"pressurization":0.708898424261198,"unthwackability":0.02624770155449463,"shakespearianism":0.042643577818908485}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
