interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=979aee4a-6d80-4863-bf1c-ee1a78e06024
  response:
    body:
      string: '{"id":"979aee4a-6d80-4863-bf1c-ee1a78e06024","lineup":["1e8b09bd-fbdd-444e-bd7e-10326bd57156","167751d5-210c-4a6e-9568-e92d61bab185","21cbbfaa-100e-48c5-9cea-7118b0d08a34","c0732e36-3731-4f1a-abdc-daa9563b6506","13a05157-6172-4431-947b-a058217b4aa5","4ecee7be-93e4-4f04-b114-6b333e0e6408","80de2b05-e0d4-4d33-9297-9951b2b5c950","9ac2e7c5-5a34-4738-98d8-9f917bc6d119"],"rotation":["1ffb1153-909d-44c7-9df1-6ed3a9a45bbd","7b55d484-6ea9-4670-8145-986cb9e32412","89ec77d8-c186-4027-bd45-f407b4800c2c","94baa9ac-ff96-4f56-a987-10358e917d91","a5f8ce83-02b2-498c-9e48-533a1d81aebf"],"bullpen":["a2483925-697f-468f-931c-bcd0071394e5","527c1f6e-a7e4-4447-a824-703b662bae4e","62823073-84b8-46c2-8451-28fd10dff250","805ba480-df4d-4f56-a4cf-0b99959111b5","cd6b102e-1881-4079-9a37-455038bbf10e","3954bdfa-931f-4787-b9ac-f44b72fe09d7","ccc99f2f-2feb-4f32-a9b9-c289f619d84c","fbb5291c-2438-400e-ab32-30ce1259c600"],"bench":["03d06163-6f06-4817-abe5-0d14c3154236","960f041a-f795-4001-bd88-5ddcf58ee520","0bd5a3ec-e14c-45bf-8283-7bc191ae53e4","4cd0ac8f-6c2e-4bf1-a232-a5ac6fd4a677"],"seasAttr":[],"permAttr":[],"fullName":"Hawai''i
        Fridays","location":"Hawai''i","mainColor":"#3ee652","nickname":"Fridays","secondaryColor":"#3ee652","shorthand":"HF","emoji":"0x1F3DD","slogan":"It''s
        Island Time!","shameRuns":0,"totalShames":47,"totalShamings":40,"seasonShames":0,"seasonShamings":0,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":1,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5be-Xy7+PZ3HUGqTtC+67GzWcybAzRM"
    status:
      code: 200
      message: OK
[...]
