interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/games?count=1
  response:
    body:
      string: "{\"data\":[{\"gameId\":\"5947b5f0-7a90-4896-bfa6-fd011a36fba7\",\"startTime\":\"2020-11-17T22:00:02.891029Z\",\"endTime\":\"2020-11-17T22:25:23.190674Z\",\"data\":{\"id\":\"5947b5f0-7a90-4896-bfa6-fd011a36fba7\",\"day\":0,\"phase\":6,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":8,\"season\":-1,\"weather\":15,\"awayOdds\":0.5093590222528657,\"awayOuts\":3,\"awayTeam\":\"4d921519-410b-41e2-882e-9726a4e54a6a\",\"homeOdds\":0.4906409777471344,\"homeOuts\":3,\"homeTeam\":\"49181b72-7f1c-4f1c-929f-928d763ad7fb\",\"outcomes\":[],\"awayBalls\":4,\"awayBases\":4,\"awayScore\":4,\"finalized\":true,\"gameStart\":true,\"homeBalls\":4,\"homeBases\":4,\"homeScore\":9,\"playCount\":277,\"statsheet\":\"824ea7be-18b3-496f-b731-1fa86c7b07f2\",\"atBatBalls\":0,\"awayBatter\":null,\"homeBatter\":null,\"lastUpdate\":\"Game
        over.\",\"tournament\":0,\"awayPitcher\":\"f2a27a7e-bf04-4d31-86f5-16bfa3addbe7\",\"awayStrikes\":3,\"baseRunners\":[],\"homePitcher\":\"80dff591-2393-448a-8d88-122bd424fa4c\",\"homeStrikes\":3,\"repeatCount\":0,\"scoreLedger\":\"\",\"scoreUpdate\":\"\",\"seriesIndex\":1,\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"topOfInning\":true,\"atBatStrikes\":0,\"awayTeamName\":\"Cold
        Brew Crew\",\"gameComplete\":true,\"homeTeamName\":\"Atl\xE9tico Latte\",\"isPostseason\":true,\"seriesLength\":3,\"awayBatterMod\":\"\",\"awayTeamColor\":\"#2a5e6c\",\"awayTeamEmoji\":\"0x2744\",\"basesOccupied\":[],\"homeBatterMod\":\"\",\"homeTeamColor\":\"#094f12\",\"homeTeamEmoji\":\"0x1F3C6\",\"awayBatterName\":\"\",\"awayPitcherMod\":\"\",\"baseRunnerMods\":[],\"halfInningOuts\":0,\"homeBatterName\":\"\",\"homePitcherMod\":\"\",\"awayPitcherName\":\"Winnie
        Hess\",\"baseRunnerNames\":[],\"baserunnerCount\":0,\"halfInningScore\":0,\"homePitcherName\":\"Elvis
        Figueroa\",\"awayTeamNickname\":\"Cold Brew\",\"homeTeamNickname\":\"Atl\xE9tico\",\"awayTeamBatterCount\":33,\"homeTeamBatterCount\":37,\"awayTeamSecondaryColor\":\"#92c7d6\",\"homeTeamSecondaryColor\":\"#36ad45\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
