interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=bfd38797-8404-4b38-8b82-341da28b1f83
  response:
    body:
      string: '{"id":"bfd38797-8404-4b38-8b82-341da28b1f83","lineup":["2175cda0-a427-40fd-b497-347edcc1cd61","b1b141fc-e867-40d1-842a-cea30a97ca4f","4ca52626-58cd-449d-88bb-f6d631588640","020ed630-8bae-4441-95cc-0e4ecc27253b","d47dd08e-833c-4302-a965-a391d345455c","15d3a844-df6b-4193-a8f5-9ab129312d8d","fa477c92-39b6-4a52-b065-40af2f29840a","b8ab86c6-9054-4832-9b96-508dbd4eb624","f7847de2-df43-4236-8dbe-ae403f5f3ab3"],"rotation":["f0594932-8ef7-4d70-9894-df4be64875d8","34267632-8c32-4a8b-b5e6-ce1568bb0639","f70dd57b-55c4-4a62-a5ea-7cc4bf9d8ac1","03f920cc-411f-44ef-ae66-98a44e883291","5e4dfa16-f1b9-400f-b8ef-a1613c2b026a"],"bullpen":["5b5bcc6c-d011-490f-b084-6fdc2c52f958","99e7de75-d2b8-4330-b897-a7334708aff9","50154d56-c58a-461f-976d-b06a4ae467f9","5b3f0a43-45e7-44e7-9496-512c24c040f0","93502db3-85fa-4393-acae-2a5ff3980dde","eaaef47e-82cc-4c90-b77d-75c3fb279e83","2d22f026-2873-410b-a45f-3b1dac665ffd","d002946f-e7ed-4ce4-a405-63bdaf5eabb5"],"bench":["d6e9a211-7b33-45d9-8f09-6d1a1a7a3c78","3531c282-cb48-43df-b549-c5276296aaa7","b056a825-b629-4856-856b-53a15ad34acb","94844fad-9519-4c14-8ab3-d38606a7bb44","fe3e8ba5-6687-400d-9828-2b70d63ea8be","3e0f7f48-675b-4f72-bb40-8a8c676f0054"],"seasAttr":[],"permAttr":["TRAVELING"],"fullName":"Charleston
        Shoe Thieves","location":"Charleston","mainColor":"#ffce0a","nickname":"Shoe
        Thieves","secondaryColor":"#ffce0a","shorthand":"CHST","emoji":"0x1F45F","slogan":"Your
        Kicks are My Kicks.","shameRuns":0,"totalShames":57,"totalShamings":36,"seasonShames":0,"seasonShamings":0,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":9,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"657-PFAvAhEZ42MQgs1M6gv45aef3pw"
    status:
      code: 200
      message: OK
[...]
