interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/games/updates?count=1000
  response:
    body:
      string: "{\"nextPage\":\"5Ne6m1GDLP84RFSL93HTqWCQZALMGAAA\",\"data\":[{\"gameId\":\"4e5ab1ce-c23a-458b-bfbd-635048be4e39\",\"timestamp\":\"2020-08-01T07:13:21.108Z\",\"hash\":\"00eaedf2-773f-2de4-fd0a-1c2405f2627d\",\"data\":{\"_id\":\"4e5ab1ce-c23a-458b-bfbd-635048be4e39\",\"day\":98,\"phase\":4,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":8,\"season\":1,\"weather\":7,\"awayOdds\":0.5492281646653242,\"awayTeam\":\"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e\",\"homeOdds\":0.45077183533467563,\"homeTeam\":\"979aee4a-6d80-4863-bf1c-ee1a78e06024\",\"outcomes\":[],\"awayScore\":1,\"finalized\":true,\"gameStart\":true,\"homeScore\":4,\"statsheet\":\"ebb12e83-62bc-4349-aaa9-4f8127012aff\",\"atBatBalls\":0,\"awayBatter\":\"\",\"homeBatter\":\"\",\"lastUpdate\":\"Game
        over.\",\"awayPitcher\":\"24f6829e-7bb4-4e1e-8b59-a07514657e72\",\"awayStrikes\":3,\"baseRunners\":[],\"homePitcher\":\"7158d158-e7bf-4e9b-9259-62e5b25e3de8\",\"homeStrikes\":3,\"seriesIndex\":3,\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"topOfInning\":true,\"atBatStrikes\":0,\"awayTeamName\":\"Boston
        Flowers\",\"gameComplete\":true,\"homeTeamName\":\"Hawaii Fridays\",\"isPostseason\":false,\"seriesLength\":3,\"awayTeamColor\":\"#f7d1ff\",\"awayTeamEmoji\":\"0x1F339\",\"basesOccupied\":[],\"homeTeamColor\":\"#3ee652\",\"homeTeamEmoji\":\"0x1F3DD\",\"awayBatterName\":\"\",\"halfInningOuts\":0,\"homeBatterName\":\"\",\"awayPitcherName\":\"King
        Weatherman\",\"baserunnerCount\":0,\"halfInningScore\":0,\"homePitcherName\":\"Karato
        Bean\",\"awayTeamNickname\":\"Flowers\",\"homeTeamNickname\":\"Fridays\",\"awayTeamBatterCount\":32,\"homeTeamBatterCount\":29}},{\"gameId\":\"634eb067-81eb-4e4d-aea9-0b0623ff75b2\",\"timestamp\":\"2020-08-01T07:13:21.108Z\",\"hash\":\"0191ed72-4a87-c782-961e-d711f5418e63\",\"data\":{\"_id\":\"634eb067-81eb-4e4d-aea9-0b0623ff75b2\",\"day\":98,\"phase\":4,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":8,\"season\":1,\"weather\":7,\"awayOdds\":0.5535832182287892,\"awayTeam\":\"7966eb04-efcc-499b-8f03-d13916330531\",\"homeOdds\":0.44641678177121075,\"homeTeam\":\"878c1bf6-0d21-4659-bfee-91[...]
