interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=a691f2ba-9b69-41f8-892c-1acd42c336e4
  response:
    body:
      string: '[{"id":"a691f2ba-9b69-41f8-892c-1acd42c336e4","anticapitalism":0.35319692402606884,"baseThirst":0.01,"buoyancy":0.2115320650687611,"chasiness":0.05518798026433758,"coldness":0.2568681864878104,"continuation":0.01,"divinity":0.6530734037531807,"groundFriction":0.5314611379802637,"indulgence":0.250641898318651,"laserlikeness":0.1324029455811809,"martyrdom":0.3843815676825175,"moxie":0.49912923514194585,"musclitude":0.026948103087579334,"name":"Jenkins
        Good","bat":"","omniscience":0.883147780293642,"overpowerment":0.5360770345052601,"patheticism":0.18627995926653051,"ruthlessness":0.8900624714533705,"shakespearianism":0.11160057455880534,"suppression":0.0888044270184154,"tenaciousness":0.8195986524804952,"thwackability":0.2161383648357671,"tragicness":0.1,"unthwackability":0.8177046605836391,"watchfulness":0.005446576804651215,"pressurization":0.7071860243831654,"totalFingers":10,"soul":6,"deceased":false,"peanutAllergy":true,"cinnamon":0.4081373245219726,"fate":78,"armor":"","ritual":"Collective
        bargaining","coffee":12,"blood":8,"permAttr":["ALTERNATE","FRIEND_OF_CROWS"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.11841353380687494,"pitchingRating":0.6101827331465499,"hittingRating":0.35384239677662,"defenseRating":0.37542693512662567,"leagueTeamId":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","tournamentTeamId":"9a5ab308-41f2-4889-a3c3-733b9aab806e","eDensity":22.205059191996696,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c3-2/5vyRQ5h+tV6CEjW6HpIq1kmpY"
    status:
      code: 200
      message: OK
[...]
