interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=EXTRA_STRIKE
  response:
    body:
      string: '[{"id":"EXTRA_STRIKE","color":"#f77c9f","textColor":"#f77c9f","background":"#8c1839","title":"The
        Fourth Strike","description":"Those with the Fourth Strike will get an extra
        strike in each at bat."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8-sGZjYaA/tMaS9dNdLFp5u9quphs"
    status:
      code: 200
      message: OK
version: 1
