interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3d4545ed-6217-4d7a-9c4a-209265eb6404
  response:
    body:
      string: '[{"id":"3d4545ed-6217-4d7a-9c4a-209265eb6404","anticapitalism":0.23396302810322234,"baseThirst":0.22743149955753528,"buoyancy":0.7403540994996214,"chasiness":0.5514676396363198,"coldness":0.8700811996143536,"continuation":0.9648030470547813,"divinity":0.7066252800232606,"groundFriction":0.9627015906498357,"indulgence":0.9160096547299346,"laserlikeness":0.5609405078696739,"martyrdom":0.26671151480323374,"moxie":0.9330691630594798,"musclitude":0.8516921238466315,"name":"Tiana
        Cash","bat":null,"omniscience":0.4194539678329481,"overpowerment":0.22457110086908005,"patheticism":0.21057764953962788,"ruthlessness":0.730940146776097,"shakespearianism":0.37761340214186756,"suppression":0.7931187455896413,"tenaciousness":0.46385784761646676,"thwackability":0.7558122269330703,"tragicness":0.1,"unthwackability":0.03586883961628273,"watchfulness":0.42304950280732023,"pressurization":0.384363988727366,"totalFingers":10,"soul":3,"deceased":true,"peanutAllergy":false,"cinnamon":0.021306623816545578,"fate":3,"armor":null,"ritual":null,"coffee":null,"blood":null,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.6355160217587601,"pitchingRating":0.1207280552365851,"hittingRating":0.7587602059880197,"defenseRating":0.538914276375029,"leagueTeamId":null,"tournamentTeamId":null,"eDensity":0,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"561-bJX5nZOBVjleO72UVfA4U2gDe30"
    status:
      code: 200
      message: OK
[...]
