interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/global?category=0&limit=2
  response:
    body:
      string: '[{"id":"a3f02dfd-31cf-4d9b-946c-5dcc4c654280","playerTags":[],"teamTags":["a37f9158-7f82-46bc-908c-c9e2dda7c33b","c73b705c-40ad-4633-a6ed-d357ee2e2bcf"],"gameTags":["99c2eaac-ec24-4eaf-b09b-6b410ec375b9"],"metadata":{"play":376,"subPlay":-1},"created":"2021-05-19T20:31:58.886Z","season":18,"tournament":-1,"type":8,"day":52,"phase":4,"category":0,"description":"Gerund
        Pantheocide hit into a double play!","nuts":0},{"id":"9e18456d-9a33-478f-a290-961a579c67e7","playerTags":[],"teamTags":["a37f9158-7f82-46bc-908c-c9e2dda7c33b","c73b705c-40ad-4633-a6ed-d357ee2e2bcf"],"gameTags":["99c2eaac-ec24-4eaf-b09b-6b410ec375b9"],"metadata":{"play":375,"subPlay":-1},"created":"2021-05-19T20:31:53.824Z","season":18,"tournament":-1,"type":12,"day":52,"phase":4,"category":0,"description":"Gerund
        Pantheocide batting for the Lift.","nuts":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"340-uWrKz25dIvvcLTHg6zMTrBvmYoM"
    status:
      code: 200
      message: OK
version: 1
