interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/teamStatsheets?ids=43bec39b-411e-4cab-9f41-862c7fcadd27,8ee1da76-ab62-4014-80a3-74eb29f82135
  response:
    body:
      string: '[{"id":"43bec39b-411e-4cab-9f41-862c7fcadd27","playerStats":["06a85543-5dad-46dc-b5c4-3f9cd518c2bf","cb7bb4e9-528c-45f6-b765-b2613077662f","ea0bfee3-4f72-4598-a12a-b2530d40fd1a","6dfd7efd-a6a3-4efe-a60a-69bd64e9068d","98c44237-7bc2-498d-8c37-1471d4021c57","63c7da56-89c9-45d8-8e83-df74a3b84934","700ceddf-8012-422a-bcf8-35202e611fd6","c74739ec-e91c-4d7e-815e-651e3015a865","87423bef-ca0e-49a6-a9d3-075f32af7306","d7d6e758-54a8-4c16-a903-ce59b79f1767"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Dallas
        Steaks","teamId":null},{"id":"8ee1da76-ab62-4014-80a3-74eb29f82135","playerStats":["ef1acbc8-6675-4a14-b7a8-4993e965780b","34265f2a-bbd9-4552-8f01-5d94c39fefc1","b73d64f8-0044-412b-8480-cf9a0348e1c5","2d9c9807-a9e5-4a3b-97f3-18a6a381139f","b1c7c0d6-67ef-4377-b404-f6c9ccbb0845","809f59c3-d1c2-45e1-b7ba-56cc75c53e75","45928283-0c86-4ad9-a4ac-e30eddf9d1d6","b3fc5f9d-5419-4419-891a-08eebf9fb2d1","fef3c3c7-2753-430c-94a9-fb79f27abc5a","6e0cdc09-2971-43ca-93f7-9d4f3db2f5da"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Los
        Angeles Tacos","teamId":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41f-ncZbaj9jmEjwGGbwVEzegGP8GtA"
    status:
      code: 200
      message: OK
version: 1
