interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=ff5a37d9-a6dd-49aa-b6fb-b935fd670820
  response:
    body:
      string: '[{"id":"ff5a37d9-a6dd-49aa-b6fb-b935fd670820","anticapitalism":1.031585076848077,"baseThirst":1.0670003608656025,"buoyancy":1.0480590857558645,"chasiness":1.0363580169631619,"coldness":1.1761116297109995,"continuation":1.2793294070057115,"divinity":0.5124654384724421,"groundFriction":0.4789149130402089,"indulgence":0.7590526968201775,"laserlikeness":1.1429214679484734,"martyrdom":0.4242298028391268,"moxie":0.5486289708928456,"musclitude":0.6314130601801053,"name":"Dunn
        Keyes","omniscience":0.6464396716343551,"overpowerment":0.38060140496425376,"patheticism":0.6117608910674579,"ruthlessness":0.5640059595091949,"shakespearianism":0.7597394838667477,"suppression":0.5349265302105727,"tenaciousness":0.5494188742620075,"thwackability":0.4348979096106015,"tragicness":0.101,"unthwackability":1.2770440462586734,"watchfulness":0.7563696176439009,"pressurization":0.6718389101890525,"totalFingers":14,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.8893775421762515,"fate":15,"ritual":"Fixating
        on their impending death","coffee":12,"blood":12,"permAttr":["ALTERNATE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":0.9967263023947454,"pitchingRating":0.7594770537007541,"hittingRating":0.5114841406698832,"defenseRating":0.7959049558294373,"leagueTeamId":"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","tournamentTeamId":null,"eDensity":33.44514716816374,"state":{},"evolution":0,"items":[{"id":"60a236a5-d0bd-404b-a035-368523089eaf","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.1198468685748656}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.04468304047870586,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71f-wQ/+A/OMSO19MMvzns0I5tHBX0w"
    status:
      code: 200
      message: OK
[...]
