interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=94baa9ac-ff96-4f56-a987-10358e917d91
  response:
    body:
      string: '[{"id":"94baa9ac-ff96-4f56-a987-10358e917d91","anticapitalism":1.3125260662257294,"baseThirst":0.8691635430775371,"buoyancy":0.5504108871773876,"chasiness":1.22782022095559,"coldness":0.7468400990190296,"continuation":1.2012411014326558,"divinity":1.2037599262692873,"groundFriction":1.2782068349542217,"indulgence":0.8411258034525376,"laserlikeness":0.9974747488480192,"martyrdom":1.456485908776825,"moxie":0.9453617649317319,"musclitude":1.1061130409986801,"name":"Gabriel
        Griffith","bat":"","omniscience":1.4516319789482062,"overpowerment":0.6561265201618525,"patheticism":0.001,"ruthlessness":1.3277212200066852,"shakespearianism":0.6698546881977215,"suppression":0.6639616607877885,"tenaciousness":0.5708570291378802,"thwackability":0.9262970383060252,"tragicness":0.05495698097081463,"unthwackability":1.2171631235911462,"watchfulness":0.6253599012116235,"pressurization":0.3911165382493247,"totalFingers":10,"soul":4,"deceased":false,"peanutAllergy":false,"cinnamon":0.7185612810615092,"fate":87,"armor":"","ritual":"Counting","coffee":3,"blood":11,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":1.0103464802084638,"pitchingRating":1.1063538237278263,"hittingRating":1.0495552050787302,"defenseRating":0.9638602072541893,"leagueTeamId":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","tournamentTeamId":"b3b9636a-f88a-47dc-a91d-86ecc79f9934","eDensity":36.910810013884465,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b3-0ITiK7QUoFjicjKEv2Lh8CIyv7g"
    status:
      code: 200
      message: OK
version: 1
