interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=90c2cec7-0ed5-426a-9de8-754f34d59b39,84a2b5f6-4955-4007-9299-3d35ae7135d3,97af97a7-19dc-4d18-9f72-8bd89f7eeaa8,64c92f8d-6028-495b-b81d-32c975afb2e1,a3ea0e93-c9f5-4f85-8acd-c3c5ce8601fa,611d18e0-b972-4cdd-afc2-793c56bfe5a9,1a93a2d2-b5b6-479b-a595-703e4a2f3885
  response:
    body:
      string: '[{"id":"90c2cec7-0ed5-426a-9de8-754f34d59b39","anticapitalism":0.6754995347352414,"baseThirst":1.5971673666106878,"buoyancy":0.3850772607222778,"chasiness":1.262835663427846,"coldness":0.9620807887178507,"continuation":1.0873945508341407,"divinity":1.0482344166060074,"groundFriction":1.0880657478885332,"indulgence":1.4564258105457883,"laserlikeness":0.9633930179784721,"martyrdom":0.4921547733182394,"moxie":1.1778521455184459,"musclitude":1.1700612925047786,"name":"Tot
        Fox","omniscience":0.7340515206022674,"overpowerment":0.45456961292805304,"patheticism":0.011455036028725704,"ruthlessness":0.6666816363922267,"shakespearianism":1.1770677958599163,"suppression":0.5253040268978951,"tenaciousness":1.317928846239232,"thwackability":0.507822866085469,"tragicness":0.001,"unthwackability":1.403790632390603,"watchfulness":1.3684614822860932,"pressurization":0.1967169760847065,"totalFingers":11,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.5767072633256304,"fate":82,"ritual":"Smoke
        Cleansing","coffee":8,"blood":8,"permAttr":["FLINCH","EGO1"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":1.0861001055053325,"pitchingRating":0.9089061949896113,"hittingRating":0.8094587052416704,"defenseRating":1.0088907687804187,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":47.19349042161923,"state":{"itemModSources":{}},"evolution":1,"items":[{"id":"21a954ca-dd7f-4aca-8f19-fedf0004a96f","name":"Clutch
        Rubber Glove","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Clutch","adjustments":[{"mod":"HIGH_PRESSURE","type":0}]},{"name":"Rubber","adjustments":[{"stat":13,"type":1,"value":-0.0665261985329072},{"stat":10,"type":1,"value":-0.10921747856006897},{"stat":16,"type":1,"value":0.34402777381444855},{"stat":18,"type":1,"value":-0.13916149265293123}]}],"postPrefix":null,"root":{"name":"Glove","adjustments":[{"stat":21,"type":1,"value":0.151166214596663}]},"suffix":null,"durability":3,"health":0,"baserunningRating":-0.07072122915548207,"pitchingRating":0.04108825059024013,"hittingRating":0,"defenseRating":0.039224623286085},{"id":"561db603-f7cd-4416-8e3b-2203cbc7741c","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.13329332768405}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.07082314519733135,"defenseRating":0}],"itemAttr":[]},{"id":"84a2b5f6-4955-4007-9299-3d35ae7135d3","anticapitalism":0.7470267085751029,"baseThirst":1.0922055430886617,"buoyancy":0.5489584734180647,"chasiness":0.5987344646654015,"coldness":1.0595692015531921,"continuation":0.8621955102271541,"divinity":1.2722547595098201,"groundFriction":1.4232236925830093,"indulgence":0.66937458816888,"laserlikeness":0.7225597166489696,"martyrdom":0.9235596045568532,"moxie":0.6477745139266842,"musclitude":0.5846314470715406,"name":"Kennedy
        Loser","omniscience":1.0190833857672483,"overpowerment":0.4761249434486203,"patheticism":0.001,"ruthlessness":0.9874221298794443,"shakespearianism":1.4116393681019703,"suppression":1.1930666375242664,"tenaciousness":1.2503470007104023,"thwackability":0.820188246464128,"tragicness":0.001,"unthwackability":1.067849289275808,"watchfulness":0.6043716125336084,"pressurization":0.45612744390847126,"totalFingers":12,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.8473212568172245,"fate":83,"ritual":"Tarot","coffee":10,"blood":9,"permAttr":["REVERBERATING","HAUNTED"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.8408569627330851,"pitchingRating":0.9534872134778811,"hittingRating":0.9421647445220491,"defenseRating":0.9209488291069067,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":37.60220424887946,"state":{"itemModSources":{"GRAVITY":["c3136764-a320-4a47-8f8d-fef45bb195db"],"PARASITE":["32779760-bdad-4707-97b1-1214465492cf"]}},"evolution":1,"items":[{"id":"32779760-bdad-4707-97b1-1214465492cf","name":"Parasitic
        Hearty Shoes","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Parasitic","adjustments":[{"mod":"PARASITE","type":0}]},{"name":"Hearty","adjustments":[{"stat":22,"type":1,"value":0.12327912813696475},{"stat":20,"type":1,"value":0.184725856187072},{"stat":12,"type":1,"value":0.09485957543658101}]}],"postPrefix":null,"root":{"name":"Shoes","[...]
