interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=cb8208c2-6473-4ab2-990c-8a0f04d2f6f6,a7853495-54fe-4c8b-93a2-18c8075d9e7b,618b7f75-da29-4860-bbc6-c82a80d55c5f,136e7769-f3e2-4f86-9f34-8abbf6b7d58e,05664891-7844-470c-9b9f-212038380e89,24a8ff8a-d2bb-4d9b-ace2-8cd2be211326,d85ec2f7-a824-469b-bc84-1259172ccf17,969ac1c9-84ad-4d1a-8232-8bafa1a1ce51
  response:
    body:
      string: '[{"id":"618b7f75-da29-4860-bbc6-c82a80d55c5f","name":null,"awaySeed":null,"awayTeam":null,"awayWins":0,"homeSeed":1,"homeTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","homeWins":0,"gamesPlayed":0,"gamesNeeded":"2"},{"id":"136e7769-f3e2-4f86-9f34-8abbf6b7d58e","name":null,"awaySeed":null,"awayTeam":null,"awayWins":0,"homeSeed":2,"homeTeam":"878c1bf6-0d21-4659-bfee-916c8314d69c","homeWins":0,"gamesPlayed":0,"gamesNeeded":"2"},{"id":"05664891-7844-470c-9b9f-212038380e89","name":null,"awaySeed":null,"awayTeam":null,"awayWins":0,"homeSeed":0,"homeTeam":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","homeWins":0,"gamesPlayed":0,"gamesNeeded":"2"},{"id":"a7853495-54fe-4c8b-93a2-18c8075d9e7b","name":null,"awaySeed":4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=f02aeae2-5e6a-4098-9842-02d2273f25c7
  response:
    body:
      string: '{"id":"f02aeae2-5e6a-4098-9842-02d2273f25c7","lineup":["f0bcf4bb-74b3-412e-a54c-04c12ad28ecb","cf8e152e-2d27-4dcc-ba2b-68127de4e6a4","fa477c92-39b6-4a52-b065-40af2f29840a","89f74891-2e25-4b5a-bd99-c95ba3f36aa0","5576a2cb-3deb-4a35-a1ef-9e3cc2039563","df4da81a-917b-434f-b309-f00423ee4967","d0ffc9c2-e677-4230-a639-b0ae11650501","4b01cc3f-c59f-486d-9c00-b8a82624e620","6644d767-ab15-4528-a4ce-ae1f8aadb65f"],"rotation":["5703141c-25d9-46d0-b680-0cf9cfbf4777","3d3be7b8-1cbf-450d-8503-fce0daf46cbf","f883269f-117e-45ec-bb1e-fa8dbcf40d3e","20fd71e7-4fa0-4132-9f47-06a314ed539a","333067fd-c2b4-4045-a9a4-e87a8d0332d0"],"bullpen":["3dd85c20-a251-4903-8a3b-1b96941c07b7","206bd649-4f5f-4707-ad85-92784be4eb95","126fb128-7c53-45b5-ac2b-5dbf9943d71b","088884af-f38d-4914-9d67-b319287481b4","1f145436-b25d-49b9-a1e3-2d3c91626211","14bfad43-2638-41ec-8964-8351f22e9c4f","459f7700-521e-40da-9483-4d111119d659","b69aa26f-71f7-4e17-bc36-49c875872cc1","4c53fcd8-df02-4a80-99c9-51710863bc7f","e0d64270-6f5a-4c10-9b22-f91f9d4f241c"],"bench":["4562ac1f-026c-472c-b4e9-ee6ff800d701","e3c06405-0564-47ce-bbbd-552bee4dd66f","8b0d717f-ae42-4492-b2ed-106912e2b530","5a6b0c6d-1cc8-4acb-991c-0ffe62f3d990","5f5b3b18-ebc5-4611-b8bf-61b8c6a3ba12","24ca976f-ddf2-4966-ba14-4fd2b9b20341","aca90625-5bde-4489-bc9f-a7996a7b9a30","5ddee49d-79f2-4eba-a3c9-174784322059","72ca8ed5-a8c7-4571-9745-80de5a49b2d1"],"seasAttr":[],"permAttr":["BASE_INSTINCTS"],"fullName":"Hellmouth
        Sunbeams","location":"Hellmouth","mainColor":"#fffbab","nickname":"Sunbeams","secondaryColor":"#fffbab","shorthand":"SUN","emoji":"0x1F31E","slogan":"Stare
        into the Sun...","shameRuns":0,"totalShames":92,"totalShamings":76,"seasonShames":1,"seasonShamings":2,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":11,"tournamentWins":0,"stadium":"8e900d85-7d4c-47d0-a67f-6432144f0210","eDensity":1307.1185692352715,"state":{},"evolution":0,"winStreak":-1,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"794-vOHlHuhkbjROWK7YF8TzzlWPX04"
    status:
      code: 200
      message: OK
[...]
