interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=aa1f981a-40dc-4b10-bc35-9f0f1928c810
  response:
    body:
      string: '[{"id":"aa1f981a-40dc-4b10-bc35-9f0f1928c810","homeTeamRunsByInning":[2,0,0,1,1,0,1,5],"awayTeamRunsByInning":[0,3,0,0,1,0,1,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"9159eed6-332c-4b94-93f8-1c5cead381ec","homeTeamStats":"e2a55d72-5e88-403f-975e-9b1478c720fe"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-RSgTULEOu8CNzIhAbMRslFJV8mk"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
