interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=cbb567c0-d770-4d22-92f6-ff16ebb94758,0d3ea692-e151-4629-8f88-d75b56107ebc,06a455d4-6bbc-4820-9256-e5c89e327720,b40b4946-9f1c-4328-969f-20fae50dc47e,ab2b02b4-935d-403e-81fc-d39c3e7c95ee,8b5fb689-1d47-473a-bfa1-2d3ca26426ed,468fcd69-fad7-4364-8426-24900db3e609,268580d3-7bbd-474d-a563-08044bafda8b,nagomi_mystery,winniehess_mystery
  response:
    body:
      string: '[{"id":"cbb567c0-d770-4d22-92f6-ff16ebb94758","bonusId":"team_improve_hitting","bonusTitle":"Hitting
        Boost","teamId":"7966eb04-efcc-499b-8f03-d13916330531","totalVotes":96,"description":"Improved
        the Yellowstone Magic''s hitting by 10%","highestTeam":null,"highestTeamVotes":null,"teamVotes":null},{"id":"0d3ea692-e151-4629-8f88-d75b56107ebc","bonusId":"team_improve_pitching","bonusTitle":"Pitching
        Boost","teamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","totalVotes":123,"description":"Improved
        the Hades Tigers''s pitching by 10%","highestTeam":null,"highestTeamVotes":null,"teamVotes":null},{"id":"06a455d4-6bbc-4820-9256-e5c89e327720","bonusId":"reroll_worst_players_5","bonusTitle":"Randomize
        Players","teamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","totalVote[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=b090fdfc-7d9d-414b-a4a5-bbc698028c15
  response:
    body:
      string: '[{"id":"b090fdfc-7d9d-414b-a4a5-bbc698028c15","decreeId":"forbidden_book","decreeTitle":"Open
        the Forbidden Book","description":"The Book Opens.\nSolar Eclipse.\nUmpires''
        eyes turn white.\nStar player Jaylen Hotdogfingers is incinerated.\nHellmouth
        swallows the Moab Desert.\nTHE DISCIPLINE ERA BEGINS","totalVotes":566}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"141-mVIUKOoV04v5KnPTaebQ4oyk29s"
    status:
      code: 200
      message: OK
version: 1
