interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=dbc476ba-539e-4737-abd6-9a2911ae3904
  response:
    body:
      string: '[{"id":"dbc476ba-539e-4737-abd6-9a2911ae3904","homeTeamRunsByInning":[0,0,0,0,2,0,0,0,0],"awayTeamRunsByInning":[1,0,0,0,0,1,0,0,2],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"513a6dce-25f9-4f01-bd71-799c4bc40ee2","homeTeamStats":"1f3b8450-2e79-4885-9559-238caef2c797"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-cg/2Pi5Hoy4HybpfjcbE4f8NFb8"
    status:
      code: 200
      message: OK
version: 1
