interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=03f920cc-411f-44ef-ae66-98a44e883291
  response:
    body:
      string: '[{"id":"03f920cc-411f-44ef-ae66-98a44e883291","anticapitalism":0.9757811122087696,"baseThirst":0.8209137462465141,"buoyancy":0.6357750873176015,"chasiness":0.42042686486883674,"coldness":0.32609188048885135,"continuation":0.3426433245987108,"divinity":0.8721604763688224,"groundFriction":0.6944455058267247,"indulgence":0.7943764470270354,"laserlikeness":0.3766111523735709,"martyrdom":0.6408824061722884,"moxie":0.3567597453655872,"musclitude":0.2130415606169705,"name":"Cornelius
        Games","bat":"","omniscience":0.7592105677658072,"overpowerment":0.9189080233158786,"patheticism":0.7227333026673363,"ruthlessness":0.8933703539806085,"shakespearianism":0.1196370950119294,"suppression":0.3476530124216177,"tenaciousness":0.9596695271650697,"thwackability":0.32456890337128164,"tragicness":0.027657963908973016,"unthwackability":0.7708869926959914,"watchfulness":0.440239049220248,"pressurization":0.9408542236529036,"totalFingers":12,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":0.19682468966198197,"fate":31,"armor":"HEADPHONES","ritual":"Swearing
        an oath","coffee":7,"blood":1,"permAttr":["WILD","PERK"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.5093625623623066,"pitchingRating":0.6516567011720154,"hittingRating":0.49247911202941935,"defenseRating":0.7909880688298303,"leagueTeamId":"bfd38797-8404-4b38-8b82-341da28b1f83","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1","eDensity":59.111405110755,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e2-9sNCSOprD2YQru9DcH3HyFiuvTk"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=733d80f1-2485-40f7-828b-fd7cd8243a01,733d80f1-2485-40f7-828b-fd7cd8243a01
  response:
    body:
      string: '[{"id":"733d80f1-2485-40f7-828b-fd7cd8243a01","anticapitalism":1.178704502411408,"baseThirst":0.5180224137471207,"buoyancy":0.3132818265091646,"chasiness":0.5172931754931909,"coldness":0.8294217431981931,"continuation":0.5826995176315298,"divinity":1.169295681111278,"gro[...]
