interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=b72f3061-f573-40d7-832a-5ad475bd7909
  response:
    body:
      string: '{"id":"b72f3061-f573-40d7-832a-5ad475bd7909","lineup":["ee55248b-318a-4bfb-8894-1cc70e4e0720","c9e4a49e-e35a-4034-a4c7-293896b40c58","740d5fef-d59f-4dac-9a75-739ec07f91cf","91f5298e-a2ec-4f54-a541-1818702d1b6d","db33a54c-3934-478f-bad4-fc313ac2580e","a6ec8d00-a78f-4f6b-b51a-db9f5507cf0a","0eea4a48-c84b-4538-97e7-3303671934d2","9965eed5-086c-4977-9470-fe410f92d353"],"rotation":["bd24e18b-800d-4f15-878d-e334fb4803c4","9f6d06d6-c616-4599-996b-ec4eefcff8b8","f2c477fb-28ea-4fcb-943a-9fab22df3da0","c3ae0552-59e8-44bf-ba66-48a96aff35e6","d97835fd-2e92-4698-8900-1f5abea0a3b6","7158d158-e7bf-4e9b-9259-62e5b25e3de8"],"bullpen":["1e8b09bd-fbdd-444e-bd7e-10326bd57156","b390b28c-df96-443e-b81f-f0104bd37860","0f62c20c-72d0-4c12-a9d7-312ea3d3bcd1","23e78d92-ee2d-498a-a99c-f40bc4c5fe99","f1185b20-7b4a-4ccc-a977-dc1afdfd4cb9","9313e41c-3bf7-436d-8bdc-013d3a1ecdeb","3be2c730-b351-43f7-a832-a5294fe8468f","e749dc27-ca3b-456e-889c-d2ec02ac7f5f"],"bench":["26f01324-9d1c-470b-8eaa-1b9bfbcd8b65","7c5ae357-e079-4427-a90f-97d164c7262e","0e27df51-ad0c-4546-acf5-96b3cb4d7501","0268b35f-b19b-4b2f-90c4-89fb36403686","8997123f-b24d-4326-80c8-3c862f80f623","331d9910-0991-40c8-9345-a7cddb7465c6","114100a4-1bf7-4433-b304-6aad75904055"],"seasAttr":[],"permAttr":["LOVE"],"fullName":"San
        Francisco Lovers","location":"San Francisco","mainColor":"#780018","nickname":"Lovers","secondaryColor":"#da0000","shorthand":"SFL","emoji":"0x1F48B","slogan":"Let''s
        Go All The Way!","shameRuns":0,"totalShames":86,"totalShamings":79,"seasonShames":2,"seasonShamings":1,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":54,"teamSpirit":0,"card":19,"tournamentWins":0,"stadium":"1c1614b3-abdb-4008-98eb-12aeb8f7bb54","eDensity":1080.3113403571888,"state":{},"evolution":0,"winStreak":1,"level":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f1-s7wmhi61U/W6siooJ2rYyQMBhZQ"
    status:
      code: 200
      message: OK
[...]
