interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/roster/updates?count=1000
  response:
    body:
      string: '{"nextPage":"GN6BEWxltESSVTTv1cOF4h721l28VAAA","data":[{"playerId":"d002946f-e7ed-4ce4-a405-63bdaf5eabb5","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"bullpen","rosterIndex":7,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2021-03-14T18:01:10.450009Z"},{"playerId":"5b3f0a43-45e7-44e7-9496-512c24c040f0","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"bullpen","rosterIndex":3,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2021-03-14T18:01:10.450009Z"},{"playerId":"5b5bcc6c-d011-490f-b084-6fdc2c52f958","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"bullpen","rosterIndex":0,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2021-03-14T18:01:10.450009Z"},{"playerId":"03f920cc-411f-44ef-ae6[...]
