interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3af96a6b-866c-4b03-bc14-090acf6ecee5
  response:
    body:
      string: '[{"id":"3af96a6b-866c-4b03-bc14-090acf6ecee5","anticapitalism":0.3469603430006694,"baseThirst":0.8690630598490787,"buoyancy":0.7238111435577803,"chasiness":1.1960269313923606,"coldness":1.6193007577226046,"continuation":0.4662266760068119,"divinity":0.35225361197729477,"groundFriction":0.8818945269381331,"indulgence":0.5716817401125811,"laserlikeness":0.2671708033089475,"martyrdom":0.439620087639228,"moxie":0.7096743624281436,"musclitude":0.48202652712292604,"name":"Axel
        Trololol","omniscience":0.8047442441120651,"overpowerment":1.229625071185445,"patheticism":0.19205201434874186,"ruthlessness":0.9518058456763223,"shakespearianism":1.160939803685265,"suppression":1.6862234401221348,"tenaciousness":0.9251061606086934,"thwackability":0.5944207199679405,"tragicness":0.1,"unthwackability":1.3087018521578744,"watchfulness":1.05833337358486,"pressurization":0.3729562413771852,"totalFingers":66,"soul":2,"deceased":false,"peanutAllergy":true,"cinnamon":0.09111023582618527,"fate":12,"ritual":"Remembering
        past lives","coffee":8,"blood":8,"permAttr":["HONEY_ROASTED","SQUIDDISH","RETIRED"],"seasAttr":[],"weekAttr":["LIBERATED"],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.44097750491701937,"pitchingRating":1.188556332333526,"hittingRating":0.5189974069440935,"defenseRating":0.8682288631869919,"leagueTeamId":"c6c01051-cdd4-47d6-8a98-bb5b754f937f","tournamentTeamId":null,"eDensity":0,"state":{},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bd-LFq0TKqmhE/q60TPLGL/H2tMdBE"
    status:
      code: 200
      message: OK
[...]
