interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?count=1000
  response:
    body:
      string: "{\"nextPage\":\"TZ2UQVGxRk-L93MRmkj6yJB9mFB8GQAA\",\"data\":[{\"updateId\":\"0054517a-2101-4204-a6f9-685587617504\",\"playerId\":\"09f2787a-3352-41a6-8810-d80e97b253b5\",\"firstSeen\":\"2020-07-29T08:12:22.438Z\",\"lastSeen\":\"2020-08-02T09:22:44.666Z\",\"data\":{\"_id\":\"09f2787a-3352-41a6-8810-d80e97b253b5\",\"name\":\"Curry
        Aliciakeyes\",\"soul\":8,\"moxie\":0.8889447173393259,\"buoyancy\":0.4091256148654818,\"coldness\":0.5907833937420564,\"deceased\":false,\"divinity\":0.9165996385012969,\"chasiness\":0.8714860623556537,\"martyrdom\":0.5508321332851869,\"baseThirst\":0.26583361008027584,\"indulgence\":0.4119105123818023,\"musclitude\":0.8177383953605961,\"tragicness\":0,\"omniscience\":0.46439922713553083,\"patheticism\":0.8674003956783001,\"suppression\":0.33049793810879136,\"continuation\":0.20099374255469038,\"ruthlessness\":0.6503800096498373,\"totalFingers\":10,\"watchfulness\":0.8480151044105111,\"laserlikeness\":0.0616625712588581,\"overpowerment\":0.7615887951082312,\"tenaciousness\":0.8986753479447172,\"thwackability\":0.0245122543244205,\"anticapitalism\":0.9465373518328934,\"groundFriction\":0.5459215343090857,\"pressurization\":0.9383202630490881,\"unthwackability\":0.5554861697045805,\"shakespearianism\":0.3771775983124346}},{\"updateId\":\"01342639-3852-4eb1-81b0-4581862632cb\",\"playerId\":\"29bf512a-cd8c-4ceb-b25a-d96300c184bb\",\"firstSeen\":\"2020-07-29T08:12:22.438Z\",\"lastSeen\":\"2020-08-02T09:22:44.666Z\",\"data\":{\"_id\":\"29bf512a-cd8c-4ceb-b25a-d96300c184bb\",\"name\":\"Garcia
        Soto\",\"soul\":7,\"moxie\":0.39122814534143324,\"buoyancy\":0.06459814530903052,\"coldness\":0.600107705816499,\"deceased\":false,\"divinity\":0.6532572113845627,\"chasiness\":0.7424281282541914,\"m[...]
