interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=ff5a37d9-a6dd-49aa-b6fb-b935fd670820
  response:
    body:
      string: '[{"id":"ff5a37d9-a6dd-49aa-b6fb-b935fd670820","anticapitalism":0.9797711007700018,"baseThirst":1.0174446430578281,"buoyancy":1.0850578905934625,"chasiness":0.971969502320316,"coldness":1.0983742103706278,"continuation":1.2088502855390797,"divinity":0.5623599751608019,"groundFriction":0.4007491293833701,"indulgence":0.7049709734784234,"laserlikeness":1.0937724807402145,"martyrdom":0.45781942847378615,"moxie":0.5700646342582579,"musclitude":0.6699427459335859,"name":"Dunn
        Keyes","bat":"","omniscience":0.5679443244452609,"overpowerment":0.3150226021491341,"patheticism":0.5844583545599619,"ruthlessness":0.4842614408784393,"shakespearianism":0.6817038640340927,"suppression":0.47774463227124003,"tenaciousness":0.46958858860375385,"thwackability":0.45676489300554596,"tragicness":0.04416794726855082,"unthwackability":1.1999022680283833,"watchfulness":0.6791292464076667,"pressurization":0.6718389101890525,"totalFingers":14,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.8153000692366617,"fate":15,"armor":"","ritual":"Fixating
        on their impending death","coffee":12,"blood":12,"permAttr":["ALTERNATE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.940927603070143,"pitchingRating":0.6648665503440648,"hittingRating":0.5444939442991331,"defenseRating":0.7349835675694982,"leagueTeamId":"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","tournamentTeamId":null,"eDensity":32.196901656979875,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c2-Chj2N5CRFVi8iSVhVofq/9VhFY0"
    status:
      code: 200
      message: OK
[...]
