interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=f70dd57b-55c4-4a62-a5ea-7cc4bf9d8ac1
  response:
    body:
      string: '[{"id":"f70dd57b-55c4-4a62-a5ea-7cc4bf9d8ac1","anticapitalism":1.2770985994774149,"baseThirst":0.9048056885119862,"buoyancy":1.0425245309584614,"chasiness":1.009804458661889,"coldness":0.6885706314828881,"continuation":1.5581151800615123,"divinity":0.8156383490547339,"groundFriction":1.4234629560577936,"indulgence":1.1461460836632968,"laserlikeness":1.580260214187808,"martyrdom":0.5498778603938608,"moxie":1.0156067473052075,"musclitude":1.1031178011639895,"name":"Tillman
        Henderson","omniscience":1.4378656416873166,"overpowerment":0.7378048090971344,"patheticism":0.001,"ruthlessness":0.6954952217797874,"shakespearianism":0.8979987482535455,"suppression":0.3527803436132112,"tenaciousness":1.3876037016241165,"thwackability":0.7826617727490992,"tragicness":0.001,"unthwackability":0.6969288513869982,"watchfulness":0.7981626680207357,"pressurization":0.042087823682364744,"totalFingers":12,"soul":3,"deceased":true,"peanutAllergy":true,"cinnamon":0.32455646288571416,"fate":70,"ritual":"Inventing
        secret handshakes","coffee":4,"blood":6,"permAttr":["EGO1"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":1.3662758931028411,"pitchingRating":0.6760508916237239,"hittingRating":0.8516387816268596,"defenseRating":1.1514685047542943,"leagueTeamId":"bfd38797-8404-4b38-8b82-341da28b1f83","tournamentTeamId":"4d921519-410b-41e2-882e-9726a4e54a6a","eDensity":40.81803849775403,"state":{},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c4-8FerDaqTexJW32nVYEiVV7aJ4yU"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=b28bb7f7-2d8c-4781-8808-83844df7e732
  response:
    body:
      string: '[{"id":"b28bb7f7-2d8c-4781-8808-83844df7e732","anticapitalism":0.01,"baseThirst":0.001,"buoyancy":0.001,"chasiness":0.01,"coldness":0.001,"continuation":0.001,"divinity":0.001,"groundFriction":0.001,"indulgence":0.001,"laserlikeness":0.001,"martyrdom":0.001,"moxie":0.001,"musclitude":0.001,"name":"Chorby
        Soul III","omniscience":0.01,"overpowerment":0.001,"patheticism":0.99,"ruthlessness":0.001,"shakespearianism":0.001,"suppression":0.001,"tenaciousness":0.01,"thwackability":0.001,"tragicness":0.999,"unthwackability":0.001,"watchfulness":0.01,"pressurization":0.7113755233221608,"totalFingers":10,"soul":0,"deceased":true,"peanutAllergy":false,"cinnamon":0.001,"fate":1,"ritual":null,"coffee":null,"blood":null,"permAttr":["MARKED","LEGENDARY","REPLICA"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.0019952623149688785,"pitchingRating":0.00029853826189179584,"hittingRating":0.0018197008586099837,"defenseRating":0.03981071705534972,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":130.30746952943574,"state":{"original":"a1628d97-16ca-4a75-b8df-569bae02bef9"},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4b0-nR2NkBl9t4daVp6LYdzWaah3Xno"
    status:
      code: 200
      message: OK
[...]
