interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5,e6114fd4-a11d-4f6c-b823-65691bb2d288,d0d7b8fe-bad8-481f-978e-cb659304ed49,f9930cb1-7ed2-4b9a-bf4f-7e35f2586d71
  response:
    body:
      string: '[{"id":"97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5","anticapitalism":0.88828798460699,"baseThirst":0.6299707483931725,"buoyancy":0.9214153561250237,"chasiness":0.6447670859275663,"coldness":0.5014847619775987,"continuation":0.1736143643125459,"divinity":0.3184765530463455,"groundFriction":0.6825387871631676,"indulgence":0.4749007723201835,"laserlikeness":0.9160436688975373,"martyrdom":0.01,"moxie":0.01,"musclitude":0.21034003221959133,"name":"Brock
        Forbes","bat":"","omniscience":0.6506331503894482,"overpowerment":0.3220308720293187,"patheticism":0.3376029085797788,"ruthlessness":1.1271340255990032,"shakespearianism":0.38615528198526883,"suppression":0.9087569645123662,"tenaciousness":0.534843923397867,"thwackability":0.07841643343618579,"tragicness":0.1,"unthwackability":0.8722779641628543,"watchfulness":0.23363100659004954,"pressurization":0.49843552394620527,"totalFingers":13,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":0.5110705570395755,"fate":67,"armor":"","ritual":"Playing
        fetch","coffee":6,"blood":7,"permAttr":["WILD"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.6853646711191063,"pitchingRating":0.7387286499361487,"hittingRating":0.15450305940799075,"defenseRating":0.6621575928048616,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null},{"id":"d0d7b8fe-bad8-481f-978e-cb659304ed49","anticapitalism":0.2709190487988691,"baseThirst":0.9879922032960449,"buoyancy":0.19760419136562626,"chasiness":0.5837626604947681,"coldness":0.44338586197589636,"continuation":0.7519352424312085,"divinity":0.4513929929118704,"groundFriction":0.31816692698941657,"indulgence":0.5090756430287888,"laserlikeness":0.6128642390404953,"martyrdom":0.7957819450269895,"moxie":0.06260014139031025,"musclitude":0.2418978017853836,"name":"Adalberto
        To[...]
