interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=a5f8ce83-02b2-498c-9e48-533a1d81aebf
  response:
    body:
      string: '[{"id":"a5f8ce83-02b2-498c-9e48-533a1d81aebf","anticapitalism":0.5948890899973641,"baseThirst":0.7669080780425239,"buoyancy":1.135978020359,"chasiness":1.5788067637535603,"coldness":1.4246522121839487,"continuation":0.7843494300780347,"divinity":0.5440169085140667,"groundFriction":0.6315156629586318,"indulgence":0.38822339047173743,"laserlikeness":0.8045480398909114,"martyrdom":0.8416514846498364,"moxie":0.452752299262041,"musclitude":0.5275741128606339,"name":"Evelton
        McBlase","bat":"","omniscience":0.9467715551002912,"overpowerment":1.180111054711619,"patheticism":0.3299192012869875,"ruthlessness":1.020406054513987,"shakespearianism":0.5664630157434315,"suppression":0.8661948043600205,"tenaciousness":1.0277922377860569,"thwackability":0.5157381028842192,"tragicness":0.1,"unthwackability":0.49441921880122197,"watchfulness":0.5870600288735768,"pressurization":0.8115882671698996,"totalFingers":12,"soul":4,"deceased":false,"peanutAllergy":true,"cinnamon":1.2816043397343542,"fate":10,"armor":"","ritual":"Crystals","coffee":8,"blood":5,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7407094113586079,"pitchingRating":0.69263620984836,"hittingRating":0.561728949024749,"defenseRating":0.9370760891958829,"leagueTeamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","tournamentTeamId":"e8f7ffee-ec53-4fe0-8e87-ea8ff1d0b4a9"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"571-qtlmhrPcrnCgWm9FytMkxI6eqBM"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=bc4187fa-459a-4c06-bbf2-4e0e013d27ce
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
