interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/renovations?ids=hoops_mod,grandiosity_plus,filthiness_cleanup,event_horizon_mod,fire_insurance_mod,obtuseness_plus,soundsystem_mod,viscosity_plus,grind_rail_mod
  response:
    body:
      string: '[{"id":"hoops_mod","title":"Hoops","type":1,"effects":["Modification"],"description":"With
        Hoops in your Ballpark, every Home Run can be a Slam Dunk."},{"id":"grandiosity_plus","title":"Grandiosity
        +","type":0,"effects":["Home Run % -","Hit % +"],"description":"Raise the
        Grandiosity of your Ballpark."},{"id":"filthiness_cleanup","title":"Ballpark
        Cleanup","type":0,"effects":["eDensity -"],"description":"Clean up your Ballpark,
        removing all Filthiness."},{"id":"event_horizon_mod","title":"Event Horizon","type":1,"effects":["Modificatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/renovations?ids=big_bucket_mod,black_hole_plus,flooding_plus,event_horizon_mod,coffee_one_plus,peanut_mister_mod,inconvenience_minus,fortifications_plus,inconvenience_plus,psychoacoustics_mod,big_bucket_mod,event_horizon_mod,solar_panels_mod,coffee_two_plus,fortifications_minus,mysticism_plus,viscosity_plus,sun_two_plus,secret_base_mod,echo_chamber_mod,soundsystem_mod,flood_pumps_mod,grind_rail[...]
