interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=adc5b394-8f76-416d-9ce9-813706877b84
  response:
    body:
      string: '{"id":"adc5b394-8f76-416d-9ce9-813706877b84","lineup":["4b6f0a4e-de18-44ad-b497-03b1f470c43c","51c5473a-7545-4a9a-920d-d9b718d0e8d1","a8a5cf36-d1a9-47d1-8d22-4a665933a7cc","fcbe1d14-04c4-4331-97ad-46e170610633","57290370-6723-4d33-929e-b4fc190e6a9a","87e6ae4b-67de-4973-aa56-0fc9835a1e1e","fa5b54d2-b488-47cd-a529-592831e4813d","5679d5de-f417-45db-ab8d-49b92e744486"],"rotation":["a199a681-decf-4433-b6ab-5454450bbe5e","fedbceb8-e2aa-4868-ac35-74cd0445893f","f2a27a7e-bf04-4d31-86f5-16bfa3addbe7"],"bullpen":["d46abb00-c546-4952-9218-4f16084e3238","6e373fca-b8ab-4848-9dcc-50e92cd732b7","7663c3ca-40a1-4f13-a430-14637dce797a","113f47b2-3111-4abb-b25e-18f7889e2d44","64f4cd75-0c1e-42cf-9ff0-e41c4756f22a","a8e757c6-e299-4a2e-a370-4f7c3da98bd1","9fd1f392-d492-4c48-8d46-27fb4283b2db","6598e40a-d76d-413f-ad06-ac4872875bde","90c8be89-896d-404c-945e-c135d063a74e","01772798-8d45-47cb-bbb5-515832c5b590"],"bench":["35d5b43f-8322-4666-aab1-d466b4a5a388","849e13dc-6eb1-40a8-b55c-d4b4cd160aab","cd417f8a-ce01-4ab2-921d-42e2e445bbe2","378c07b0-5645-44b5-869f-497d144c7b35","6305e2dd-2d5d-49ed-ab47-b1b56f0e7e85","53e701c7-e3c8-4e18-ba05-9b41b4b64cda"],"seasAttr":[],"permAttr":[],"fullName":"Kansas
        City Breath Mints","location":"Kansas City","mainColor":"#178f55","nickname":"Breath
        Mints","secondaryColor":"#178f55","shorthand":"KCBM","emoji":"0x1F36C","slogan":"Fresh
        Breath, Here We Come.","shameRuns":0,"totalShames":88,"totalShamings":71,"seasonShames":3,"seasonShamings":2,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":12,"tournamentWins":0,"stadium":"21ce1233-b2d6-4bd2-8d03-68a8915afdc5","eDensity":1132.3229785839758,"state":{"permModSources":{}},"evolution":0,"winStreak":-1,"level":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c0-falfvvIxVwx0Ly5WBy1/aZZftqk"
    status:
      code: 200
      message: OK
[...]
