interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerSeasonStats?ids=5fb13222-3864-4498-a43b-c42b9bc89203,4b5bcf0d-3519-4e27-9bc3-00823f9a7983,014760a0-a685-4713-b944-67053725fde2,35423662-2e3f-4a8c-be6b-b6bf2cf46319,41f4c039-dc9f-4fda-8fa9-868d0b0349df,bf56014b-a21e-4cec-b598-d21dbfb8f31b,c630607f-792e-4d02-88c7-7ea104021268,b4b1fcec-590f-4d3b-aa8d-4f35dbca8db4,0ad65532-6a8f-427a-80bf-5f7535314c55,2e0d9611-316f-4974-af09-20a955b757a2
  response:
    body:
      string: '[{"id":"014760a0-a685-4713-b944-67053725fde2","playerId":null,"teamId":null,"team":"014760a0-a685-4713-b944-67053725fde2","name":"014760a0-a685-4713-b944-67053725fde2","atBats":5,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":2,"hitsAllowed":0,"homeRuns":1,"losses":0,"outsRecorded":0,"rbis":4,"runs":1,"stolenBases":0,"strikeouts":0,"struckouts":1,"triples":1,"walks":0,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"0ad65532-6a8f-427a-80bf-5f7535314c55","playerId":null,"teamId":null,"team":"0ad65532-6a8f-427a-80bf-5f7535314c55","name":"0ad65532-6a8f-427a-80bf-5f7535314c55","atBats":3,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":0,"hitsAllowed":0,"homeRuns":0,"losses":0,"outsRecorded":0,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":0,"struckouts":0,"triples":0,"walks":1,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"2e0d9611[...]
