interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=f852abec-b80e-40e2-b213-f0368d4e7f57
  response:
    body:
      string: '[{"id":"f852abec-b80e-40e2-b213-f0368d4e7f57","homeTeamRunsByInning":[0,0,0,0,0,2,0,0],"awayTeamRunsByInning":[0,1,0,0,0,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"f067b19b-5392-4484-b6d0-462cd87a0f03","homeTeamStats":"8fd4f2e3-0ee5-4641-935e-4d6584a28329"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-A9esBzGtw7t2YR2S+Z85Ba4h3FU"
    status:
      code: 200
      message: OK
version: 1
