interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/teamSeasonStats?ids=257d39f9-42ba-4918-bae3-f42291a6a928,678269f7-a086-4d64-980b-bb9b92e7532d
  response:
    body:
      string: '[{"id":"257d39f9-42ba-4918-bae3-f42291a6a928","playerStats":["2299db13-4d26-417f-b799-a39243cffe41","f63a3075-4914-4faa-ad54-4cbfc825cb8d","feaf9150-cefa-4088-bfe6-a4076692b778","42d1eb57-9fe7-4c77-8f78-ed5a8821bd42","8bc45d18-d3d5-4a0a-8268-58885a76ba21","af197985-0cc8-4a2f-9df7-a07d263dd034","18d9b5d3-ebfb-47ff-b140-0914bc4aa88e","c4c64fa3-9168-46f3-9e77-ff14b51ab9a2","65c58ceb-dec2-4ab3-b348-609cc93d6c3b","bb8e7ec4-908c-4c71-9dab-e4f3c0972fc2"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Yellowstone
        Magic","teamId":null},{"id":"678269f7-a086-4d64-980b-bb9b92e7532d","playerStats":["0bcdabde-bd6e-4cd5-b1ab-a96383d6af13","dd5b445c-537d-47f5-8aba-3faaac2ba1ca","cf4fa5b8-b955-4f80-9b38-e86bbfb46da5","f563c44f-1fbc-4c51-a064-0c437085d7d0","a439a81c-b735-412c-b2a7-404f0f06da9d","d26f439f-82c4-4221-bcf5-0c9cf443c61e","f50e7086-a89f-4bb5-9fac-aa75b450a5a8","afb249e5-5614-4d8a-8a1c-498ead55fc30","040f6d76-738d-4c40-9135-2c78d6e524e3","d49dc887-ca61-4300-bd86-017f26da5738"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Boston
        Flowers","teamId":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"420-v7wKFEvpHOe1F7dGSnSLI3Mf5fc"
    status:
      code: 200
      message: OK
[...]
