interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=57290370-6723-4d33-929e-b4fc190e6a9a,c9e4a49e-e35a-4034-a4c7-293896b40c58,6b8d128f-ed51-496d-a965-6614476f8256,8b53ce82-4b1a-48f0-999d-1774b3719202,138fccc3-e66f-4b07-8327-d4b6f372f654
  response:
    body:
      string: '[{"id":"138fccc3-e66f-4b07-8327-d4b6f372f654","anticapitalism":0.8680530780912592,"baseThirst":0.40269916176903375,"buoyancy":0.01,"chasiness":1.0216942303351553,"coldness":0.48600995912213385,"continuation":0.434357223761566,"divinity":0.01,"groundFriction":1.0093123360563918,"indulgence":0.5060695162285549,"laserlikeness":0.8428225228076685,"martyrdom":0.642501370170344,"moxie":0.5395033696176093,"musclitude":0.3440954811262603,"name":"Oscar
        Vaughan","bat":"","omniscience":0.1851387653642818,"overpowerment":0.8438107028395048,"patheticism":0.48397475666936995,"ruthlessness":0.7683355127289149,"shakespearianism":0.3002542950044008,"suppression":0.21053429229931023,"tenaciousness":0.16383684509012414,"thwackability":0.01,"tragicness":0.1,"unthwackability":0.35823901514812895,"watchfulness":0.5068004820178018,"pressurization":0.01,"totalFingers":11,"soul":9,"deceased":false,"peanutAllergy":true,"cinnamon":0.3352539774828601,"fate":47,"armor":"","ritual":"Rally-cap","coffee":7,"blood":6,"permAttr":["ALTERNATE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.721065006652857,"pitchingRating":0.4572551551038684,"hittingRating":0.033611193834568724,"defenseRating":0.45883042909427985,"leagueTeamId":"adc5b394-8f76-416d-9ce9-813706877b84","tournamentTeamId":null},{"id":"57290370-6723-4d33-929e-b4fc190e6a9a","anticapitalism":0.4176621175635872,"baseThirst":0.8398817031674477,"buoyancy":0.8877706186575443,"chasiness":0.8740188622874997,"coldness":0.41291027918716106,"continuation":0.44740707600118046,"divinity":0.495121351081772,"groundFriction":0.5783202924918166,"indulgence":1.018686893922129,"laserlikeness":0.9963195661280817,"martyrdom":0.41005864352366733,"moxie":0.5519254458949825,"musclitude":0.8874201130680853,"name":"Mooney
        Doctor I[...]
