interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=PARTY_TIME
  response:
    body:
      string: '[{"id":"PARTY_TIME","color":"#ff66f9","textColor":"#ff66f9","background":"#fff947","title":"Party
        Time","description":"This team is mathematically eliminated from the Postseason,
        and will occasionally receive permanent stats boost in their games."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f9-+5d3oQdJOQNbjGwCSgWLcC9G2xk"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=SHELLED
  response:
    body:
      string: '[{"id":"SHELLED","color":"#fffd85","textColor":"#fffd85","background":"#404040","title":"Shelled","description":"A
        Shelled player is trapped in a big Peanut is unable to bat or pitch."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba-m8NNd/lspRyQ46hjxuWiX/0C2yo"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=HEATING_UP
  response:
    body:
      string: '[{"id":"HEATING_UP","color":"#9e0022","textColor":"#9e0022","background":"#d15700","title":"Heating
        Up...","description":"This batter needs one more consecutive hit to enter
        Fire mode. This mod will disappear if the batter gets out."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb-qJ63xl9g7mpCcokXLCgqhBslnhk"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=GRAVITY
  response:
    body:
      string: '[{"id":"GRAVITY","color":"#759bc9","textColor":"#759bc9","background":"#4c5052","title":"Gravity","description":"This
        player cannot be affected by Reverb."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-++gmzOTapPgl2zRXoKNXQlYFBWQ"
    status:
      code: 200
      message: OK
version: 1
