interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=bf122660-df52-4fc4-9e70-ee185423ff93
  response:
    body:
      string: '[{"id":"bf122660-df52-4fc4-9e70-ee185423ff93","anticapitalism":1.084539025142457,"baseThirst":1.1101274978081939,"buoyancy":0.3339632462966883,"chasiness":1.2651015146783509,"coldness":0.722437788534981,"continuation":0.7671212979427969,"divinity":0.6973083299732454,"groundFriction":0.3195448947108508,"indulgence":0.5110382238722281,"laserlikeness":0.9586826489335799,"martyrdom":0.8673245573576113,"moxie":0.3377617443026507,"musclitude":0.49535170103561976,"name":"Walton
        Sports","omniscience":1.120079810447571,"overpowerment":0.6863004224097093,"patheticism":0.001,"ruthlessness":0.7980522113610304,"shakespearianism":1.1352761370720938,"suppression":1.2019706996356463,"tenaciousness":1.2454284553504504,"thwackability":0.31491896413771164,"tragicness":0.001,"unthwackability":1.2598974190444518,"watchfulness":0.8378940003732906,"pressurization":0.4286682141063424,"totalFingers":10,"soul":5,"deceased":false,"peanutAllergy":false,"cinnamon":0.8835054116112958,"fate":48,"ritual":"Tarot","coffee":9,"blood":8,"permAttr":["FRIEND_OF_CROWS","ELSEWHERE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.8038215598237974,"pitchingRating":0.9737274595784213,"hittingRating":0.5129442367406886,"defenseRating":1.0838508304275871,"leagueTeamId":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb","eDensity":33.62040860599346,"state":{"elsewhere":{"day":47,"season":18},"itemModSources":{"CONTAINMENT":["7acdcbdd-c589-442d-835e-9312f048380f"]}},"evolution":0,"items":[{"id":"7acdcbdd-c589-442d-835e-9312f048380f","name":"Cape
        of Containment","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Cape","adjustments":[{"stat":23,"type":1,"value":0.14901695787729413}]},"suffix":{"name":"Containment","adjustments":[{"mod":"CONTAINMENT","type":0}]},"durability":2,"health":2,"baserunningRating":0,"pitchingRating":0,"hittingRating":0,"defenseRating":0.017887359378349288}],"itemAttr":["CONTAINMENT"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f8-627svRhCfoWlIMjMGo2wKl2TyuE"
    status:
      code: 200
      message: OK
[...]
