interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=ce3a10b8-bc95-4fa4-b515-ff9939afdb44
  response:
    body:
      string: '[{"id":"ce3a10b8-bc95-4fa4-b515-ff9939afdb44","homeTeamRunsByInning":[0,2,0,1,1,0,0,1],"awayTeamRunsByInning":[0,1,0,0,0,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"76129fa4-dbed-4c6b-b133-74942bbfbdac","homeTeamStats":"b07ec0e3-568d-4125-87e1-0bb5223f68f4"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-GRQGRG3VsneBON+LFHTEwri4zyI"
    status:
      code: 200
      message: OK
version: 1
