interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=7966eb04-efcc-499b-8f03-d13916330531
  response:
    body:
      string: '{"id":"7966eb04-efcc-499b-8f03-d13916330531","lineup":["9a031b9a-16f8-4165-a468-5d0e28a81151","89ec77d8-c186-4027-bd45-f407b4800c2c","44c92d97-bb39-469d-a13b-f2dd9ae644d1","ea44bd36-65b4-4f3b-ac71-78d87a540b48","2ffbaec8-a646-4435-a17a-3a0a2b5f3e16","ac69dba3-6225-4afd-ab4b-23fc78f730fb","2c4b2a6d-9961-4e40-882c-a338f4e72117"],"rotation":["24f6829e-7bb4-4e1e-8b59-a07514657e72","51dab868-820b-4969-8bba-bde0be8090d7","09f2787a-3352-41a6-8810-d80e97b253b5","aa6c2662-75f8-4506-aa06-9a0993313216"],"bullpen":["17392be2-7344-48a0-b4db-8a040a7fb532","450e6483-d116-41d8-933b-1b541d5f0026","94f30f21-f889-4a2e-9b94-818475bb1ca0","1ded0384-d290-4ea1-a72b-4f9d220cbe37","82733eb4-103d-4be1-843e-6eb6df35ecd7","db53211c-f841-4f33-accf-0c3e167889a0","b77dffaa-e0f5-408f-b9f2-1894ed26e744","3205f4ff-7050-470b-8970-8d7ea56564bc"],"bench":["945974c5-17d9-43e7-92f6-ba49064bbc59","c6146c45-3d9b-4749-9f03-d4faae61e2c3","ac57cf28-556f-47af-9154-6bcea2ace9fc","1af239ae-7e12-42be-9120-feff90453c85","7b779947-46ef-4b77-be37-962d60875647","f617c1ef-d676-4119-8359-a5c3ac3bef51"],"seasAttr":[],"permAttr":["O_NO"],"fullName":"Yellowstone
        Magic","location":"Yellowstone","mainColor":"#bf0043","nickname":"Magic","secondaryColor":"#f60f63","shorthand":"YELL","emoji":"0x2728","slogan":"As
        Above, So Below","shameRuns":0,"totalShames":81,"totalShamings":84,"seasonShames":2,"seasonShamings":2,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":0,"tournamentWins":0,"stadium":"2a1a52b3-9759-44aa-ba49-b1437396d895","eDensity":1323.1600678514394,"state":{},"evolution":0,"winStreak":1,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64b-/1mokVUV9vQqEuHWCtkASEML6fo"
    status:
      code: 200
      message: OK
[...]
