interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=7afedcd8-870d-4655-9659-3bdfb2e17730,4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd,5915b7bb-e532-4036-9009-79f1e80c0e28,61bbbf34-98c1-4bf6-bd0c-56c19199b35e,ce7d33b7-1bba-48d6-a1d1-cd0e29231be8
  response:
    body:
      string: '[{"id":"7afedcd8-870d-4655-9659-3bdfb2e17730","anticapitalism":0.6654184871703235,"baseThirst":0.5749528370573149,"buoyancy":0.7500288545284375,"chasiness":0.1095417069434046,"coldness":0.2972741155320473,"continuation":0.12340666104128162,"divinity":0.2926915933074141,"groundFriction":0.2111783726216887,"indulgence":0.4386493385884149,"laserlikeness":0.20012931527613298,"martyrdom":0.46956528346640414,"moxie":0.41714968558645116,"musclitude":0.40776279953696015,"name":"Pierre
        Haley","bat":"","omniscience":0.7515628392287927,"overpowerment":0.9812056725808047,"patheticism":0.6435912280804161,"ruthlessness":0.19101626044045728,"shakespearianism":0.3840843587799214,"suppression":0.23470274908809596,"tenaciousness":0.7036710105088408,"thwackability":0.1667366483684385,"tragicness":0.1,"unthwackability":0.4613542744725687,"watchfulness":0.7743738528675119,"pressurization":0.17312259693364696,"totalFingers":10,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.9728450586265991,"fate":98,"armor":"","ritual":"Jumping-jacks","coffee":9,"blood":2,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.2706631481083823,"pitchingRating":0.30795056616790656,"hittingRating":0.28433524005389843,"defenseRating":0.6604341111444341,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null},{"id":"4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd","anticapitalism":0.007780973052307072,"baseThirst":0.5867529195368897,"buoyancy":0.6851783620919014,"chasiness":0.9983638347680568,"coldness":0.8809536491688266,"continuation":0.8943866497011381,"divinity":0.812722286820512,"groundFriction":0.671232635146072,"indulgence":0.44945791185622275,"laserlikeness":0.30508523773577756,"martyrdom":0.18748256193017387,"moxie":0.5921913526202971,"musclitude":0.10406903792167643,"name":"Axel
        Campbel[...]
