interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=b61b2871-7254-49b3-b009-174a23acaa1a,7afedcd8-870d-4655-9659-3bdfb2e17730,4e63cb5d-4fce-441b-b9e4-dc6a467cf2fd,5915b7bb-e532-4036-9009-79f1e80c0e28,e6114fd4-a11d-4f6c-b823-65691bb2d288,1cded4e7-8302-49b7-a646-40a0767b6969,b72a136e-bbfd-4687-a576-1ab538c8f264,6cc3246f-2da2-4c7c-a46f-9b45dcbf384c
  response:
    body:
      string: "[{\"id\":\"b61b2871-7254-49b3-b009-174a23acaa1a\",\"anticapitalism\":0.43031783422682035,\"baseThirst\":0.2693259149530072,\"buoyancy\":0.9663076335945913,\"chasiness\":0.8269121507016254,\"coldness\":0.9461356396261207,\"continuation\":1.1044844637792315,\"divinity\":1.0537046327644015,\"groundFriction\":0.3103763470706653,\"indulgence\":0.19916427749349244,\"laserlikeness\":0.10657981863326194,\"martyrdom\":0.7702924425840346,\"moxie\":0.8157829842519794,\"musclitude\":0.4705932922398815,\"name\":\"Jon
        Halifax\",\"omniscience\":0.3191027442491773,\"overpowerment\":0.6462751123285218,\"patheticism\":0.6665604637974238,\"ruthlessness\":0.5948576070247393,\"shakespearianism\":0.3125872390251847,\"suppression\":0.6869899911102065,\"tenaciousness\":0.3534573368221471,\"thwackability\":0.8173914993111641,\"tragicness\":0.3456107010585513,\"unthwackability\":0.8067089063911188,\"watchfulness\":0.7015577379315986,\"pressurization\":0.3200604037402268,\"totalFingers\":10,\"soul\":9,\"deceased\":false,\"peanutAllergy\":false,\"cinnamon\":0.4709234506011725,\"fate\":95,\"ritual\":\"Knitting\",\"coffee\":9,\"blood\":1,\"permAttr\":[],\"seasAttr\":[],\"weekAttr\":[],\"gameAttr\":[],\"hitStreak\":0,\"consecutiveHits\":0,\"baserunningRating\":0.21892293918946057,\"pitchingRating\":0.6075502557756433,\"hittingRating\":0.8282491705453195,\"defenseRating\":0.5625805610180159,\"leagueTeamId\":\"8d87c468-699a-47a8-b40d-cfb73a5660ad\",\"tournamentTeamId\":null,\"eDensity\":33.52112048569907,\"state\":{},\"evolution\":0,\"items\":[{\"id\":\"b0d8b8d0-5167-4884-aaec-2ce9f5478fff\",\"name\":\"Hot
        Bat of Stamina\",\"forger\":null,\"forgerName\":null,\"prePrefix\":null,\"prefixes\":[{\"name\":\"Hot\",\"adjustments\":[{\"stat\":2,\"type\":1,\"value\":0.3755683118708064},{\"stat\":17,\"type\":1,\"value\":-0.10231668180362463},{\"stat\":3,\"type\":1,\"value\":-0.11997663229600303}]}],\"postPrefix\":null,\"root\":{\"name\":\"Bat\",\"adjustments\":[{\"stat\":2,\"type\":1,\"value\":0.16212373197907787}]},\"suffix\":{\"name\":\"Stamina\",\"adjustments\":[{\"stat\":22,\"type\":1,\"value\":0.1653498239738094},{\"stat\":25,\"type\":1,\"value\":0.1420043701247945},{\"stat\":11,\"type\":1,\"value\":0.18006273509124535},{\"stat\":9,\"type\":1,\"value\":0.10189388560455595}]},\"durability\":3,\"health\":3,\"baserunningRating\":0.007926751087253658,\"pitchingRating\":-0.0016440973734034303,\"hittingRating\":0.14747315942877204,\"defenseRating\":0.05366243958063244}],\"itemAttr\":[]},{\"id\":\"7afedcd8-870d-4655-9659-3bdfb2e17730\",\"anticapitalism\":0.6654184871703235,\"baseThirst\":0.5749528370573149,\"buoyancy\":0.7500288545284375,\"chasiness\":0.1095417069434046,\"coldness\":0.2972741155320473,\"continuation\":0.12340666104128162,\"divinity\":0.2926915933074141,\"groundFriction\":0.2111783726216887,\"indulgence\":0.4386493385884149,\"laserlikeness\":0.20012931527613298,\"martyrdom\":0.46956528346640414,\"moxie\":0.41714968558645116,\"musclitude\":0.40776279953696015,[...]
