interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/global?category=0&limit=2
  response:
    body:
      string: '[{"id":"bf631ad8-b8e2-47ac-a902-0637d7f76f90","playerTags":[],"teamTags":["878c1bf6-0d21-4659-bfee-916c8314d69c","eb67ae5e-c4bf-46ca-bbbc-425cd34182ff"],"gameTags":["b2cafd20-a799-48f6-abd7-c99bd79a6bd1"],"metadata":{"play":291,"subPlay":-1},"created":"2021-03-20T23:24:43.186Z","season":13,"tournament":-1,"type":8,"day":116,"phase":11,"category":0,"description":"Halexandrey
        Walton hit a ground out to Lachlan Shelton."},{"id":"ed5e97c9-02ff-4827-bb16-043b9e5a5f3e","playerTags":[],"teamTags":["878c1bf6-0d21-4659-bfee-916c8314d69c","eb67ae5e-c4bf-46ca-bbbc-425cd34182ff"],"gameTags":["b2cafd20-a799-48f6-abd7-c99bd79a6bd1"],"metadata":{"play":290,"subPlay":-1},"created":"2021-03-20T23:24:38.148Z","season":13,"tournament":-1,"type":13,"day":116,"phase":11,"category":0,"description":"Strike,
        looking. 0-2"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32b-KQCL1IPQmuiGwsQXx76La+c+/Ss"
    status:
      code: 200
      message: OK
version: 1
