interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=fbe7fe7a-aadb-40cd-9162-c4c87fceafad
  response:
    body:
      string: '[{"id":"fbe7fe7a-aadb-40cd-9162-c4c87fceafad","homeTeamRunsByInning":[1,0,0,2,0,0.5,0,0,0],"awayTeamRunsByInning":[0,0,10,0,0,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"721475bd-7bbe-499e-b4bf-4ae1dc79f7fe","homeTeamStats":"4d92690a-f14f-4b45-8dcc-df289a08d893"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"128-ieWFDlNmT0IdbQ0TkgPOwYjhqKY"
    status:
      code: 200
      message: OK
version: 1
