interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=740d5fef-d59f-4dac-9a75-739ec07f91cf,84a2b5f6-4955-4007-9299-3d35ae7135d3,8cf78b49-d0ca-4703-88e8-4bcad26c44b1,f4ca437c-c31c-4508-afe7-6dae4330d717,64c92f8d-6028-495b-b81d-32c975afb2e1,a3ea0e93-c9f5-4f85-8acd-c3c5ce8601fa,611d18e0-b972-4cdd-afc2-793c56bfe5a9,1a93a2d2-b5b6-479b-a595-703e4a2f3885
  response:
    body:
      string: '[{"id":"1a93a2d2-b5b6-479b-a595-703e4a2f3885","anticapitalism":1.0489027841025467,"baseThirst":1.2015808914515198,"buoyancy":0.6037058411128505,"chasiness":0.8087806251532533,"coldness":1.2968482425484673,"continuation":0.8896582311979365,"divinity":1.2619428353829563,"groundFriction":1.570074546159557,"indulgence":1.1859466488119492,"laserlikeness":0.668453015335723,"martyrdom":1.4014815002166852,"moxie":1.1925083442322868,"musclitude":0.5447741753691213,"name":"Pedro
        Davids","omniscience":1.3678110934866992,"overpowerment":0.5993076757724521,"patheticism":0.4688295964755829,"ruthlessness":1.1018718279847803,"shakespearianism":1.150952049847501,"suppression":1.3803876424628223,"tenaciousness":0.664864492308134,"thwackability":0.5805984187177012,"tragicness":0.001,"unthwackability":0.43363239328324343,"watchfulness":1.1912515082954915,"pressurization":0.905892757793139,"totalFingers":12,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.5323904812122467,"fate":82,"ritual":"Bragging","coffee":9,"blood":12,"permAttr":["FLINCH"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":0.8758537773231805,"pitchingRating":0.6471258054503832,"hittingRating":0.8469550793749039,"defenseRating":0.9822200527684463,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":35.4650830044184,"state":{},"evolution":1,"items":[{"id":"f5404df9-c214-4d00-92fc-0df1fc17b9d0","name":"Socks
        of Intelligence","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Socks","adjustments":[{"stat":11,"type":1,"value":0.12319265131081557}]},"suffix":{"name":"Intelligence","adjustments":[{"stat":19,"type":1,"value":0.14626752407130764},{"stat":24,"type":1,"value":0.16873842051664012},{"stat":14,"type":1,"value":0.1862141969258473}]},"durability":2,"health":2,"baserunningRating":0.011432650060367311,"pitchingRating":0.04335933162106642,"hittingRating":0,"defenseRating":0.014761691753109596},{"id":"366fa2b9-c542-4f46-a42e-7f6f54d92181","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.13796602759031695}]},"suffix":null,"durability":1,"health":1,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.0687665820468325,"defenseRating":0}],"itemAttr":[]},{"id":"84a2b5f6-4955-4007-9299-3d35ae7135d3","anticapitalism":0.8025363964055289,"baseThirst":1.1598357221361173,"buoyancy":0.5891983513777507,"chasiness":0.6541653713698541,"coldness":1.107449432220329,"continuation":0.9224680058560006,"divinity":1.3285157686806528,"groundFriction":1.482677777381223,"indulgence":0.7306227450957208,"laserlikeness":0.7832744140417642,"martyrdom":0.9979913452741805,"moxie":0.6941062277922548,"musclitude":0.6375424810411693,"name":"Kennedy
        Loser","omniscience":1.0642029343283963,"overpowerment":0.5422729763503037,"patheticism":0.001,"ruthlessness":1.0371760326454385,"shakespearianism":1.4655806530662112,"suppression":1.2510059437772314,"tenaciousness":1.3110128710842894,"thwackability":0.8818755286627199,"tragicness":0.001,"unthwackability":1.1238074568481558,"watchfulness":0.6715645582102304,"pressurization":0.45612744390847126,"totalFingers":12,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.9153149868754488,"fate":83,"ritual":"Tarot","coffee":10,"blood":9,"permAttr":["REVERBERATING","HAUNTED"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.8981848928998026,"pitchingRating":1.0221831273334352,"hittingRating":0.9941971108811457,"defenseRating":0.9630532188882007,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":39.14332845001809,"state":{"itemModSources":{"GRAVITY":["c3136764-a320-4a47-8f8d-fef45bb195db"],"PARASITE":["32779760-bdad-4707-97b1-1214465492cf"]}},"evolution":1,"items":[{"id":"32779760-bdad-4707-97b1-1214465492cf","name":"Parasitic
        Hearty Shoes","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Parasitic","adjustments":[{"mod":"PARASITE","type":0}]},{"name":"Hearty","adjustments":[{"stat":22,"type":1,"value":0.12327912813696475},{"stat":20,"type":1,"value":0.184725856187072},{"stat":12,"type":1,"value":0.09485957543658101}]}],"postPrefix":null,"root":{"name":"Shoes","adjustments":[{"stat":10,"type":1,"value":0.1257552780366903}]},"suffix":null,"durability":3,"health":3,"baserunningRating":0.08239352642736986,"pitchingRating":0,"hittingRating":0,"defenseRating":0.0174837950051977},{"id":"c3136764-a320-4a47-8f8d-fef45bb[...]
