interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/renovations?ids=big_bucket_mod,black_hole_plus,flooding_plus,event_horizon_mod,coffee_one_plus,peanut_mister_mod,inconvenience_minus,fortifications_plus,inconvenience_plus,psychoacoustics_mod,big_bucket_mod,event_horizon_mod,solar_panels_mod,coffee_two_plus,fortifications_minus,mysticism_plus,viscosity_plus,sun_two_plus,secret_base_mod,echo_chamber_mod,soundsystem_mod,flood_pumps_mod,grind_rail_mod,fortifications_plus,mysticism_minus,peanuts_plus,inconvenience_plus
  response:
    body:
      string: '[{"id":"big_bucket_mod","title":"Big Buckets","type":1,"effects":["Modification"],"description":"Place
        Big Buckets in Home Run territory to make your Home Runs just a little bit
        bigger."},{"id":"black_hole_plus","title":"Black Hole +","type":0,"effects":["Weather
        % +"],"description":"Your Ballpark will have Black Holes more often."},{"id":"flooding_plus","title":"Flooding
        +","type":0,"effects":["Weather % +"],"description":"Your Ballpark will have
        Flooding weather more often."},{"id":"event_horizon_mod","title":"Event Horizon","type":1,"effects"[...]
