interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=132368ab-6127-496c-ac86-3b1bc2df9dc9
  response:
    body:
      string: '[{"id":"132368ab-6127-496c-ac86-3b1bc2df9dc9","homeTeamRunsByInning":[0,0,1,0,3,0,0,1],"awayTeamRunsByInning":[1,0,1,1,1,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"f2994ee8-b714-4168-8bd2-e8c55abc0f2e","homeTeamStats":"784e4826-3264-4b55-b18d-bde7788b242e"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-SDRTE5MDFs7gazqSSquMMP2kpvY"
    status:
      code: 200
      message: OK
version: 1
