interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/offseasonSetup
  response:
    body:
      string: '{"decrees":[{"id":"repeal_turntables","type":80,"source":2,"title":"Repeal
        Turntables","description":"Repeal the Turntables Rule."},{"id":"underachiever","type":81,"source":3,"title":"Under
        Achiever","description":"unwin the underbracket. crown the underchampions."}],"blessings":[{"id":"recruit_roamin_player","type":163,"value":1,"metadata":{"sourceLocation":[0,1],"mod":"WANDERER"},"title":"Now
        Hiring","subheader":"Brought to you by @Work with Indies@https://workwithindies.com?utm_source=blaseball","description":"Recruit
        a Random Player with the Roamin'' Modification to your Team."},{"id":"super_roamin_fifth_base","type":192,"value":1,"title":"Super
        Roamin'' Fifth Base","description":"Give the best Baserunner in your Team''s
        Lineup the Legendary Super Roamin'' Fifth Base."},{"id":"fax_preparation","type":164,"value":1,"metadata":{"sourceLocation":[0],"destinationLocation":[2,3],"playerSelection":3,"destinationSelection":1},"title":"Fax
        Preparation","description":"Move the Best Pitcher in your Team''s Lineup to
        your Shadows."},{"id":"sort_lineup_tragicness","type":189,"value":1,"metadata":{"sourceLocation":[0],"sortType":7},"title":"Hits
        Keep Coming","description":"Sort your Lineup in order of Tragicness."},{"id":"random_player_outdoorsy","type":167,"value":1,"metadata":{"sourceLocation":[0,1],"playerSelection":0,"mod":"OUTDOORSY","modType":0},"title":"Outdoorsy","description":"A
        random Player on your Team will play better in Grandiose Ballparks and worse
        in Ungrandiose Ballparks."},{"id":"random_player_gaudy","type":167,"value":1,"metadata":{"sourceLocation":[0,1],"playerSelection":0,"mod":"GAUDY","modType":0},"title":"Gaudy","description":"A
        random Player on your Team will play better in Ballparks with more Modifications."},{"id":"random_player_cluttered","type":167,"value":1,"metadata":{"sourceLocation":[0,1],"playerSelection":0,"mod":"CLUTTERED","modType":0},"title":"Cluttered","description":"A
        random Player on your Team will play better in Filthier Ballparks."},{"id":"random_player_guarded","type":167,"value":1,"metadata":{"sourceLocation":[0,1],"playerSelection":0,"mod":"GUARDED","modType":0},"title":"Guarded","description":"A
        random Player on your Team will play better in Fortified Ballparks and worse
        in Unfortified Ballparks."},{"id":"team_lineup_ranged_hitting","type":160,"value":1,"metadata":{"sourceLocation":[0],"min":".01","max":".04","rating":0},"title":"Batting
        Practice","description":"Your Team''s Lineup will have their Hitting Boosted
        from 1% to 4%."},{"id":"team_rotation_ranged_pitching","type":160,"value":1,"metadata":{"sourceLocation":[1],"min":".01","max":".04","rating":1},"title":"Pitching
        Practice","description":"Your Team''s Rotation will have their Pitching Boosted
        from 1% to 4%."},{"id":"team_lineup_ranged_baserunning","type":160,"value":1,"metadata":{"sourceLocation":[0],"min":".01","m[...]
