interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=5ca7e854-dc00-4955-9235-d7fcd732ddcf
  response:
    body:
      string: '[{"id":"5ca7e854-dc00-4955-9235-d7fcd732ddcf","anticapitalism":0.9600332054369839,"baseThirst":0.1916653836827617,"buoyancy":0.5623608120682864,"chasiness":0.22358708689664936,"coldness":0.7506218303559734,"continuation":0.7130493216204783,"divinity":0.7933663067794438,"groundFriction":0.20390360812137115,"indulgence":0.2061534499703596,"laserlikeness":0.18630512142850902,"martyrdom":0.16676833339664227,"moxie":0.8437056112621775,"musclitude":0.17328400928497628,"name":"Wyatt
        Quitter","bat":"","omniscience":0.24246251842543964,"overpowerment":0.1857947731461488,"patheticism":0.606354276357622,"ruthlessness":0.4122033881629531,"shakespearianism":0.5184029213919152,"suppression":0.18868269057998127,"tenaciousness":0.7189096816805218,"thwackability":0.19766263109704826,"tragicness":0.028426600409161784,"unthwackability":0.1679273663837527,"watchfulness":0.464020088746285,"pressurization":0.46357032322903113,"totalFingers":14,"soul":5,"deceased":false,"peanutAllergy":true,"cinnamon":1.0339933012740896,"fate":92,"armor":"","ritual":"Gambling","coffee":1,"blood":2,"permAttr":["HONEY_ROASTED"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.25765600812817757,"pitchingRating":0.20764078351096996,"hittingRating":0.41670904313710144,"defenseRating":0.5598745989178602,"leagueTeamId":"c73b705c-40ad-4633-a6ed-d357ee2e2bcf","tournamentTeamId":"70eab4ab-6cb1-41e7-ac8b-1050ee12eecc"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a1-yFTJbAfW5ZhYL7Qxgqi06QcylCA"
    status:
      code: 200
      message: OK
version: 1
