interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=89ec77d8-c186-4027-bd45-f407b4800c2c
  response:
    body:
      string: '[{"id":"89ec77d8-c186-4027-bd45-f407b4800c2c","anticapitalism":0.9025985785509185,"baseThirst":1.190029612403846,"buoyancy":1.2556745260032869,"chasiness":0.9848209971398874,"coldness":1.1777782999054442,"continuation":0.8039387587645803,"divinity":0.7309074298893101,"groundFriction":0.8224578496178949,"indulgence":1.130113150322562,"laserlikeness":0.5410764252182185,"martyrdom":1.2697684338477329,"moxie":0.8932900218682891,"musclitude":1.2002244267178848,"name":"James
        Mora","bat":"","omniscience":1.0967065070653637,"overpowerment":0.9667930946461867,"patheticism":0.001,"ruthlessness":0.7111722401429681,"shakespearianism":1.2242466377856291,"suppression":1.4034149548715666,"tenaciousness":0.836203302205804,"thwackability":1.4068953085080174,"tragicness":0.001,"unthwackability":0.9018322966897173,"watchfulness":1.5042862238723613,"pressurization":0.5408376821510407,"totalFingers":12,"soul":3,"deceased":false,"peanutAllergy":false,"cinnamon":0.6142448000190904,"fate":72,"armor":"","ritual":"Pre-visualizing","coffee":3,"blood":2,"permAttr":["SUPERYUMMY"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.726994185551288,"pitchingRating":0.8447268959631368,"hittingRating":1.0199079943970664,"defenseRating":1.0118093818269216,"leagueTeamId":"7966eb04-efcc-499b-8f03-d13916330531","tournamentTeamId":"b3b9636a-f88a-47dc-a91d-86ecc79f9934","eDensity":31.224069204168888,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b0-vTUYTNWIVtzGRPYlZKPHUgIINAE"
    status:
      code: 200
      message: OK
version: 1
