interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=PARTY_TIME
  response:
    body:
      string: '[{"id":"PARTY_TIME","color":"#ff66f9","textColor":"#ff66f9","background":"#fff947","title":"Party
        Time","description":"This team is mathematically eliminated from the Postseason,
        and will occasionally receive permanent stats boost in their games."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f9-+5d3oQdJOQNbjGwCSgWLcC9G2xk"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=FIREPROOF
  response:
    body:
      string: '[{"id":"FIREPROOF","color":"#a5c5f0","textColor":"#a5c5f0","background":"#4c77b0","title":"Fireproof","description":"A
        Fireproof player can not be incinerated."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2-l6aRyP64TBgfQJ+EpYFMNSfKeic"
    status:
      code: 200
      message: OK
version: 1
