interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/tributes/updates
  response:
    body:
      string: '{"nextPage":"nKIpcrZqI0iVXNRDEBmTLcCtModlQAAA","data":[{"updateId":"022c1308-c837-4094-b56d-0776e0cc3ad3","timestamp":"2020-09-20T12:41:36.359Z","players":{"03097200-0d48-4236-a3d2-8bdb153aa8f7":0,"05bd08d5-7d9f-450b-abfa-1788b8ee8b91":0,"0fe896e1-108c-4ce9-97be-3470dde73c21":0,"14d88771-7a96-48aa-ba59-07bae1733e96":0,"15ae64cd-f698-4b00-9d61-c9fffd037ae2":0,"18798b8f-6391-4cb2-8a5f-6fb540d646d5":0,"1ba715f2-caa3-44c0-9118-b045ea702a34":0,"248ccf3d-d5f6-4b69-83d9-40230ca909cd":0,"25376b55-bb6f-48a7-9381-7b8210842fad":0,"262c49c6-8301-487d-8356-747023fa46a9":0,"2ae8cbfc-2155-4647-9996-3f2591091baf":0,"2b1cb8a2-9eba-4fce-85cf-5d997ec45714":0,"2ca0c7[...]
