interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?before=2020-09-20T12%3A41%3A36.360000Z&count=1&order=desc&player=f9c0d3cb-d8be-4f53-94c9-fc53bcbce520
  response:
    body:
      string: '{"nextPage":"y9PA-b7YU0-UyfxTvLzlILAxUW9VHAAA","data":[{"updateId":"3d9b1ecc-5d92-46d1-afc9-44320b2afc08","playerId":"f9c0d3cb-d8be-4f53-94c9-fc53bcbce520","firstSeen":"2020-08-06T01:22:06.539Z","lastSeen":"2020-08-06T03:52:32.55Z","data":{"_id":"f9c0d3cb-d8be-4f53-94c9-fc53bcbce520","bat":"","fate":86,"name":"Matteo
        Prestige","soul":4,"moxie":0.23397247667877513,"buoyancy":0.246359523154616,"cinnamon":0.6074551007020397,"coldness":0.4120645483600684,"deceased":false,"divinity":0.01,"chasiness":0.4127911134542572,"martyrdom":0.38172075687152257,"baseThirst":0.6018739579172581,"indulgence":0.35466015136933343,"musclitude":0.36346225310135954,"tragicness":0.1,"omniscience":0.10837366741022308,"patheticism":0.99,"suppression":0.33043895673795126,"continuation":0.28438416401708827,"ruthlessness":0.7971189510494958,"totalFingers":11,"watchfulness":0.4022496885286974,"laserlikeness":0.5780541741191483,"overpowerment":0.181077821997988,"peanutAllergy":true,"tenaciousness":0.15541461934650952,"thwackability":0.2280966840036775,"anticapitalism":0.2110556440062667,"groundFriction":0.19352291022985985,"pressurization":0.027649634956792957,"unthwackability":0.340606684791455,"shakespearianism":0.3086856386518168}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?before=2020-09-20T12%3A41%3A36.360000Z&count=1&order=desc&player=f967d064-0eaf-4445-b225-daed700e044b
  response:
    body:
      string: '{"nextPage":"ZNBn-a8ORUSyJdrtcA4ES9DuDQDfPwAA","data":[{"updateId":"63eca76d-caea-4dc3-bbff-8d1578efd0a4","playerId":"f967d064-0eaf-4445-b225-daed700e044b","firstSeen":"2020-09-20T06:45:01.117Z","lastSeen":"2020-10-14T01:30:00.681375Z","data":{"id":"f967d064-0eaf-4445-b225-daed700e044b","bat":"","fate":13,"name":"Wesley
        Dudley","soul":6,"armor":"","blood":12,"moxie":0.7232510935121119,"coffee":13,"ritual":"Divination","buoyancy":0.19982041408653517,"cinnamon":0.5812736257950355,"coldness":0.40912298130828595,"deceased":true,"divinity":0.9583320380051735,"gameAttr":[],"permAttr":["ALTERNATE"],"seasAttr":[],"weekAttr":[],"chasiness":0.7228684641248913,"hitStreak":0,"martyrdom":0.553816010890321,"baseThirst":0.5895095029176871,"indulgence":0.340369321509123,"musclitude":1.0959754480029487,"tragicness":0.1,"omniscience":0.6608592899715096,"patheticism":0.09517815574886757,"suppression":0.8584703457251002,"continuation":0.1537350499728518,"ruthlessness":0.272625360299505,"totalFingers":10,"watchfulness":0.5993311297269368,"laserlikeness":0.6260050012028473,"overpowerment":0.4148479558480018,"peanutAllergy":true,"tenaciousness":0.845956469166095,"thwackability":0.38559902566082793,"anticapitalism":0.05561176676187052,"groundFriction":0.48441309002234306,"pressurization":0.11826295296301659,"consecutiveHits":0,"unthwackability":0.8871084095892234,"shakespearianism":0.5440299286232886}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?after=2020-09-20T12%3A41%3A36.360000Z&count=1&order=asc&player=ef32eb48-4866-49d0-ae58-9c4982e01142
  response:
    body:
      string: '{"nextPage":"SOsy72ZI0EmuWJxJguARQogXaPA2RAAA","data":[{"updateId":"9e650648-fa2d-41c2-ac42-7484fa564ea0","playerId":"ef32eb48-4866-49d0-ae58-9c4982e01142","firstSeen":"2020-09-25T19:24:35.227636Z","lastSeen":"2020-10-14T01:30:00.681375Z","d[...]
[...]
