interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=dd8a43a4-a024-44e9-a522-785d998b29c3,61bbbf34-98c1-4bf6-bd0c-56c19199b35e,d2f827a5-0133-4d96-b403-85a5e50d49e0,34e1b683-ecd5-477f-b9e3-dd4bca76db45,e1e33aab-df8c-4f53-b30a-ca1cea9f046e,ce3fb736-d20e-4e2a-88cb-e136783d3a47,093af82c-84aa-4bd6-ad1a-401fae1fce44,7e160e9f-2c79-4e08-8b76-b816de388a98,dd6ba7f1-a97a-4374-a3a7-b3596e286bb3,1ffb1153-909d-44c7-9df1-6ed3a9a45bbd,7dcf6902-632f-48c5-936a-7cf88802b93a
  response:
    body:
      string: '[{"id":"d2f827a5-0133-4d96-b403-85a5e50d49e0","anticapitalism":0.24712472255572515,"baseThirst":0.6601412569982414,"buoyancy":0.893355277927322,"chasiness":0.40061560956257103,"coldness":0.5861934708291645,"continuation":0.6644072090597619,"divinity":0.5084866524979323,"groundFriction":0.5349964666970026,"indulgence":0.7323002338435345,"laserlikeness":0.515421010436381,"martyrdom":0.1779299065861477,"moxie":0.01799406814775284,"musclitude":0.6603572590866171,"name":"Robbins
        Schmitt","omniscience":0.014938322626494083,"overpowerment":0.22001751961485083,"patheticism":0.4630698401791251,"ruthlessness":0.5002453542903458,"shakespearianism":0.8595363463506853,"suppression":0.7377622024924173,"tenaciousness":0.2678483460679164,"thwackability":0.7099626026060346,"tragicness":0.1,"unthwackability":0.09336739368465552,"watchfulness":0.09140709794358703,"pressurization":0.962876163281293,"totalFingers":10,"soul":9,"deceased":false,"peanutAllergy":true,"cinnamon":0.3233555791511318,"fate":83,"ritual":"Astral
        projection","coffee":3,"blood":3,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.6019940362165438,"pitchingRating":0.17937705198055184,"hittingRating":0.46966876472834457,"defenseRating":0.20706207366468038,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":28.206713486130845,"state":{},"evolution":0,"items":[],"itemAttr":[]},{"id":"34e1b683-ecd5-477f-b9e3-dd4bca76db45","anticapitalism":0.7044331223813718,"baseThirst":0.47290009448107706,"buoyancy":0.8674966871169576,"chasiness":0.05796448609891813,"coldness":0.7009156832230088,"continuation":0.15995209670306387,"divinity":0.06043533174327531,"groundFriction":0.464802638568413,"indulgence":0.6395934809472288,"laserlikeness":0.18038803767924172,"martyrdom":0.7666259180098651,"moxie":0.678194471307161,"musclitude":0.35647117796082184,"name":"Alexandria
        Hes[...]
