interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerStatsheets?ids=c24bf126-b55d-4432-b4e4-aaf359f58d41,bc1082b5-94bc-4fdc-8db3-7871950affba,e2d3e9ec-5af7-468b-b43c-203f34cda548,edc9311f-c42a-4060-a036-0f7b1d48b808,48b8eb23-ddd0-49c4-a5f5-7013886930fd,fd1852f2-2cf3-4106-989f-92cdb8f53f38,bf1a1aa2-b402-4ca9-adac-33aecc9b361d,6e2d1e21-8651-4502-bc63-9f0020b33330,fcd13551-37ba-413e-9bb0-fac232b0ba12,6b8c9184-9b59-4d54-aa34-14e9f1abfc8b,1be09da5-bd99-4760-9cef-2d762110a639,f5252233-54af-43d1-b763-edc787897821,69b7847c-28a7-48ff-8710-6e71fae9d8ab,a4942b7e-6929-47ad-a00f-74a64bd8be5c
  response:
    body:
      string: '[{"id":"1be09da5-bd99-4760-9cef-2d762110a639","playerId":null,"teamId":null,"team":"Charleston
        Shoe Thieves","name":"Beasley Gloom","atBats":0,"caughtStealing":0,"doubles":0,"earnedRuns":1,"groundIntoDp":0,"hits":0,"hitsAllowed":3,"homeRuns":0,"losses":0,"outsRecorded":27,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":7,"struckouts":0,"triples":0,"walks":0,"walksIssued":0,"wins":1,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"48b8eb23-ddd0-49c4-a5f5-7013886930fd","playerId":"9f85676a-7411-444a-8ae2-c7f8f73c285c","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","team":"Charleston
        Shoe Thieves","name":"Lachlan Shelton","atBats":27,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":4,"hitsAllowed":0,"homeRuns":1,"losses":0,"outsRecorded":0,"rbis":3,"runs":3,"stolenBases":0,"strikeouts":0,"struckouts":8,"triples":0,"walks":0,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quad[...]
