interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=1db2f602-64b1-4a5c-8697-1932cc2c6df1
  response:
    body:
      string: '[{"id":"1db2f602-64b1-4a5c-8697-1932cc2c6df1","anticapitalism":0.36288611594808295,"baseThirst":0.8046304802263591,"buoyancy":1.1552823240864345,"chasiness":0.4290489872007347,"coldness":1.0369509947228985,"continuation":1.096310904599184,"divinity":1.0108591485643532,"groundFriction":1.2833181958492814,"indulgence":1.047046611983204,"laserlikeness":0.511678539607179,"martyrdom":1.2697993820805185,"moxie":0.5916338116888625,"musclitude":0.6238719374527941,"name":"Mummy
        Melcon","bat":"","omniscience":0.4480957171596029,"overpowerment":0.9094413053561573,"patheticism":0.5265680259463004,"ruthlessness":1.1312704641092826,"shakespearianism":1.3067158185789418,"suppression":0.9375770645568416,"tenaciousness":0.800663807761201,"thwackability":0.7850486172708355,"tragicness":0.001,"unthwackability":0.5564936587517776,"watchfulness":0.6551219300933132,"pressurization":0.4704999159830534,"totalFingers":13,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.4220673574654016,"fate":76,"armor":"","ritual":"Having
        an epiphany","coffee":2,"blood":2,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7275815194380674,"pitchingRating":0.7943007292800931,"hittingRating":0.8283710043175533,"defenseRating":0.6483718263722565,"leagueTeamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":17.43655804320111,"state":{},"evolution":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b6-lB681N0s1oVptuLIHDcHDvoCmEg"
    status:
      code: 200
      message: OK
[...]
