interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e
  response:
    body:
      string: '{"id":"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","lineup":["a647388d-fc59-4c1b-90d3-8c1826e07775","855775c1-266f-40f6-b07b-3a67ccdf8551","04931546-1b4a-469f-b391-7ed67afe824c","8acc97fa-4bf1-49f6-bb93-fb52513a015b","28964497-0efe-420c-9c1d-8574f224a4e9","ff5a37d9-a6dd-49aa-b6fb-b935fd670820","c09e64b6-8248-407e-b3af-1931b880dbee","718dea1a-d9a8-4c2b-933a-f0667b5250e6","be18d363-752d-4e4a-b06b-1a7e4641400b","04e14d7b-5021-4250-a3cd-932ba8e0a889","c6a19154-7438-4c4f-b786-2dfaf5951f0f","e9a46e0c-0437-443a-be81-956665ec588e","1f159bab-923a-4811-b6fa-02bfde50925a"],"rotation":["2da49de2-34e5-49d0-b752-af2a2ee061be","8cd06abf-be10-4a35-a3ab-1a408a329147","a3947fbc-50ec-45a4-bca4-49ffebb77dbe","97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5"],"bullpen":["51985516-5033-4ab8-a185-7bda07829bdb","98f26a25-905f-4850-8960-b741b0c583a4","4b73367f-b2bb-4df6-b2eb-2a0dd373eead","a938f586-f5c1-4a35-9e7f-8eaab6de67a6","c771abab-f468-46e9-bac5-43db4c5b410f","a98917bc-e9df-4b0e-bbde-caa6168aa3d7","2cadc28c-88a5-4e25-a6eb-cdab60dd446d","e3e1d190-2b94-40c0-8e88-baa3fd198d0f","828c5080-4543-4bf2-9d84-436d58c7fd66"],"bench":["73a934de-3db1-4553-97f2-9e7b57744b34","dfd5ccbb-90ed-4bfe-83e0-dae9cc763f10","d9a072f5-1cbb-45ce-87fb-b138e4d8f769","de67b585-9bf4-4e49-b410-101483ca2fbc","81b25b16-3370-4eb0-9d1b-6d630194c680","710541f4-bb89-4134-8973-958c82b29a41","3e008f60-6842-42e7-b125-b88c7e5c1a95","6caa8180-e178-4f8b-865c-f1af47119bc2"],"seasAttr":[],"permAttr":["GROWTH"],"fullName":"Boston
        Flowers","location":"Boston","mainColor":"#f7d1ff","nickname":"Flowers","secondaryColor":"#f7d1ff","shorthand":"BOF","emoji":"0x1F339","slogan":"Let''s
        Grow!","shameRuns":0,"totalShames":80,"totalShamings":83,"seasonShames":7,"seasonShamings":2,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":2,"tournamentWins":0,"stadium":"d37abba6-9fba-463a-8f4f-7cf49de3c7b6","eDensity":1585.9927443457996,"state":{"permModSources":{}},"evolution":0,"winStreak":1,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b2-eiwmH2O6kTDMoJXZ6TPmNgB3wJQ"
    status:
      code: 200
      message: OK
[...]
