interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&type=stadium
  response:
    body:
      string: "{\"nextPage\":\"h9Uf9wzSHEaIpBY0ot8_Q75HGsyh_QAA\",\"items\":[{\"entityId\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hash\":\"4889b087-cafe-00f3-8a20-871c68739719\",\"validFrom\":\"2021-05-19T20:28:18.967168Z\",\"validTo\":null,\"data\":{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hype\":0.4499999999999996,\"mods\":[\"PSYCHOACOUSTICS\",\"SECRET_BASE\",\"ECHO_CHAMBER\",\"SWEETENER\",\"SALMON_CANNONS\",\"FAX_MACHINE\",\"SMITHY\"],\"name\":\"Core
        Pillar Center\",\"birds\":0,\"model\":3,\"state\":{},\"teamId\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"renoLog\":{\"sweetener_mod\":1,\"turntables_mod\":0,\"fax_machine_mod\":1,\"hotel_motel_mod\":0,\"secret_base_mod\":1,\"echo_chamber_mod\":1,\"salmon_cannons_mod\":1,\"psychoacoustics_mod\":1},\"weather\":{\"16\":1,\"17\":1},\"nickname\":\"The
        Pillars\",\"renoCost\":-1,\"renoHand\":[\"hoops_mod\",\"sun_two_plus\",\"fortifications_plus\",\"reverb_plus\",\"black_hole_plus\",\"fortifications_minus\",\"soundsystem_mod\",\"grandiosity_minus\",\"peanut_mister_mod\"],\"mainColor\":\"#d15700\",\"mysticism\":0.48208876148585916,\"viscosity\":0.2769749520408473,\"elongation\":0.5124500042294067,\"filthiness\":0.09247626162505111,\"obtuseness\":0.37428873746890134,\"forwardness\":0.4446314721438908,\"grandiosity\":0.4447289767338998,\"ominousness\":0.4391837802585088,\"renoDiscard\":[\"psychoacoustics_mod\",\"solar_panels_mod\",\"viscosity_minus\",\"viscosity_plus\",\"event_horizon_mod\",\"peanut_mister_mod\",\"elongation_plus\",\"grandiosity_plus\",\"coffee_threes_plus\",\"secret_base_mod\",\"grind_rail_mod\",\"ominousness_minus\",\"echo_chamber_mod\",\"big_bucket_mod\",\"soundsystem_mod\",\"event_horizon_mod\",\"grandiosity_plus\",\"flood_pumps_mod\",\"salmon_cannons_mod\",\"sweetener_mod\",\"flooding_plus\",\"big_bucket_mod\",\"mysticism_plus\",\"filthiness_cleanup\",\"coffee_one_plus\",\"solar_panels_mod\",\"forwardness_plus\",\"fax_machine_mod\",\"ominousness_minus\",\"obtuseness_minus\",\"peanuts_plus\",\"hotel_motel_mod\",\"viscosity_minus\",\"solar_eclipse_plus\",\"coffee_one_plus\",\"reverb_plus\",\"mysticism_plus\",\"inconvenience_plus\",\"peanut_mister_mod\",\"filthiness_cleanup\",\"obtuseness_minus\",\"mysticism_minus\",\"event_horizon_mod\",\"solar_panels_mod\",\"coffee_two_plus\"],\"fortification\":0.5376439522647619,\"inconvenience\":0.6025859364172551,\"luxuriousness\":0,\"tertiaryColor\":\"#ffddc4\",\"secondaryColor\":\"#ffaf96\"}},{\"entityId\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hash\":\"357c341a-fbe3-9842-5195-14dd73f353ad\",\"validFrom\":\"2021-05-19T20:26:53.745162Z\",\"validTo\":null,\"data\":{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hype\":0.05999999999999958,\"mods\":[\"BIG_BUCKET\",\"SECRET_BASE\",\"ECHO_CHAMBER\",\"SALMON_CANNONS\",\"SWEETENER\"],\"name\":\"The
        Fire Safety Awareness Center\",\"birds\":0,\"model\":2,\"state\":{},\"teamId\":\"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16\",\"renoLog\":{\"sweetener_mod\":1,\"big_bucket_mod\":1,\"turntables_mod\":0,\"hotel_motel_mod\":0,\"secret_base_mod\":1,\"echo_chamber_mod\":1,\"salmon_cannons_mod\":1},\"weather\":{\"15\":2},\"nickname\":\"The
        Fire House\",\"renoCost\":-1,\"renoHand\":[\"hoops_mod\",\"fortifications_minus\",\"event_horizon_mod\",\"sun_two_plus\",\"viscosity_plus\",\"fax_machine_mod\",\"flooding_plus\",\"obtuseness_plus\",\"filthiness_cleanup\"],\"mainColor\":\"#8c2a3e\",\"mysticism\":0.2343003613218557,\"viscosity\":0.43120967518540154,\"elongation\":0.4[...]
