interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=6ca27ca4-e2d4-43d8-818e-c83462ee9608,aa1f981a-40dc-4b10-bc35-9f0f1928c810
  response:
    body:
      string: '[{"id":"6ca27ca4-e2d4-43d8-818e-c83462ee9608","homeTeamRunsByInning":[0,0,0,0,2,0,0,0,0],"awayTeamRunsByInning":[0,1,0,0,0,2,1,2,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"8ee1da76-ab62-4014-80a3-74eb29f82135","homeTeamStats":"43bec39b-411e-4cab-9f41-862c7fcadd27"},{"id":"aa1f981a-40dc-4b10-bc35-9f0f1928c810","homeTeamRunsByInning":[2,0,0,1,1,0,1,5],"awayTeamRunsByInning":[0,3,0,0,1,0,1,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"9159eed6-332c-4b94-93f8-1c5cead381ec","homeTeamStats":"e2a55d72-5e88-403f-975e-9b1478c720fe"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"247-sXeAcgEYRtR/O8kLkiHv5QtNUjA"
    status:
      code: 200
      message: OK
version: 1
