interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=FAKE_MODIFICATION
  response:
    body:
      string: '[{"id":"????","color":"#FFFFFF","background":"#FFFFFF","textColor":"#FFFFFF","title":"????","description":"This
        Modification is unknown."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b-Jr+pw03BmVOTZOoK1eDdvyY2d4c"
    status:
      code: 200
      message: OK
version: 1
