interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/temporal/updates?count=600
  response:
    body:
      string: "{\"nextPage\":\"oQD0jqXN7Uma_DA80-iyq8ogBWjAzQAA\",\"data\":[{\"updateId\":\"a7751d95-f5fe-45b8-807e-2fe04529afd1\",\"firstSeen\":\"2020-09-03T21:40:38.266Z\",\"lastSeen\":\"2020-09-06T18:43:05.834Z\",\"data\":{\"doc\":{\"id\":\"whatistime\",\"beta\":1,\"zeta\":\"WHERE
        IS YOUR FAITH\",\"alpha\":1000,\"delta\":true,\"gamma\":500000000,\"epsilon\":false}}},{\"updateId\":\"de29a7be-347b-4852-aed7-bdfae9e00ac3\",\"firstSeen\":\"2020-09-06T19:00:12.11Z\",\"lastSeen\":\"2020-09-06T19:00:12.11Z\",\"data\":{\"doc\":{\"id\":\"whatistime\",\"beta\":1,\"zeta\":\"WHO
        IS TALKING\",\"alpha\":1000,\"delta\":true,\"gamma\":500000000,\"epsilon\":false}}},{\"updateId\":\"a92fe2e4-778f-4d5a-8221-ceb2e0a94c82\",\"firstSeen\":\"2020-09-06T19:00:20.111Z\",\"lastSeen\":\"2020-09-06T19:00:20.111Z\",\"data\":{\"doc\":{\"id\":\"whatistime\",\"beta\":1,\[...]
