interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=73265ee3-bb35-40d1-b696-1f241a6f5966
  response:
    body:
      string: '[{"id":"73265ee3-bb35-40d1-b696-1f241a6f5966","anticapitalism":0.8186629072314737,"baseThirst":0.6712488720527097,"buoyancy":0.9132840631674503,"chasiness":0.6869739211548501,"coldness":1.1212093556955107,"continuation":0.41680858511809055,"divinity":0.1402538177383512,"groundFriction":1.153312501046977,"indulgence":0.6300727399479434,"laserlikeness":0.3996086586271152,"martyrdom":0.38548904791124644,"moxie":0.43758476174467986,"musclitude":0.15307656321819235,"name":"Parker
        Meng","omniscience":0.4351356490782061,"overpowerment":0.7548883040923156,"patheticism":0.6476330133118593,"ruthlessness":1.009855284010923,"shakespearianism":0.9160617229032002,"suppression":0.8208706568470774,"tenaciousness":0.596871483828493,"thwackability":1.0559209552508084,"tragicness":0.03290057565727623,"unthwackability":0.9577337234665514,"watchfulness":1.0504131062605175,"pressurization":0.6735110277965328,"totalFingers":11,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":0.5173776534720199,"fate":38,"ritual":"Showtunes","coffee":7,"blood":9,"permAttr":["ALTERNATE","PERK","MINIMALIST"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.5390551957059843,"pitchingRating":0.9363605172570346,"hittingRating":0.38955040919291406,"defenseRating":0.7245054365597038,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1","eDensity":60.12630091100945,"state":{},"evolution":0,"items":[{"id":"0dfcdd1d-9155-477e-bde2-52dd4ce68adf","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.12172791374285906}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.015437521971387091,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74e-xmBvLAJCaxsQnmE8Jru5W0QYVvU"
    status:
      code: 200
      message: OK
[...]
