interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/eventResults?ids=65040c73-2337-4698-aa89-87e396f1cb09,e42abd51-8254-4a6d-af1f-14387d928724,d00f417d-d140-46e4-b93c-512393fca47b
  response:
    body:
      string: '[{"id":"65040c73-2337-4698-aa89-87e396f1cb09","msg":"The Investigation
        is Underway."},{"id":"e42abd51-8254-4a6d-af1f-14387d928724","msg":"The Meadow
        is now a Crime Scene."},{"id":"d00f417d-d140-46e4-b93c-512393fca47b","msg":"The
        Choux is now a Crime Scene."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"103-0Pb2SIn/JFd+QheTWr5UneAMMb4"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=61eef574-f208-4e71-92ce-33dc7a823f7a,74f05c78-081b-4dff-8a9e-c677f6525c28,fd114ac2-a814-4ae8-a8cf-4a07bc67988e,c67e39b5-a046-4a92-8d5c-48388fee066f,d8bcd3ad-30a1-478b-9f0e-4a871fd49c70,a67d2193-00a7-422e-9b80-c050144875fa,8b14e616-6979-4a84-921c-fe57f1c73c90,7d97a93e-a7cc-4d70-a516-ee0d9cc25134,60563003-1e0a-4efa-8093-3fee11408d27,abca4227-71f7-4cd5-b757-d379401df7ef,b61e3875-d114-4c51-a5f1-aa5c9ecf2aea
  response:
    body:
      string: '[{"id":"61eef574-f208-4e71-92ce-33dc7a823f7a","bonusId":"popular_lineup_order","bonusTitle":"Headliners","teamId":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","totalVotes":121210,"description":"The
        Moist Talkers sorted their lineup by Idolatry.","highestTeam":"36569151-a2fb-43c1-9df7-2df512424c82","highestTeamVotes":54597,"teamVotes":8819},{"id":"74f05c78-081b-4dff-8a9e-c677f6525c28","bonusId":"random_hitter_star_boost","bonusTitle":"Precognition","teamId":"7966eb04-efcc-499b-8f03-d13916330531","totalVotes":2599213,"description":"Chorby
        Short''s hitting was boosted.\nKurt Crueller''s hitting was boosted.\nTiana
        Wheeler''s hitting was boosted.","highestTeam":"7966eb04-efcc-499b-8f03-d13916330531","highestTeamVotes":452381,"teamVotes":452381},{"id":"fd114ac2-a814-4ae8-a8cf-4a07bc67988e","bonusId":"variable_te[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=8cbfa4ef-c684-40df-a806-4f9e85357f94
  response:
    body:
      string: '[{"id":"8cbfa4ef-c684-40df-a806-4f9e85357f94","decreeId":"all_you_can_eat","decreeTitle":"All
        You Can Eat","description":"THE FEAST BECKONS\nMOUTHS CIRCLE\nA FEEDING FRENZY","totalVotes":560766}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3-v47WzXxVLBQpXP23bYISzgJGnB0"
    status:
      code: 200
      message: OK
version: 1
