interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/tributes/updates?before=2020-09-21T20%3A52%3A03.232000Z&count=1&order=desc
  response:
    body:
      string: '{"nextPage":"Yv0kJ9hzPUup7PfBhnELf_AMJn0eQQAA","data":[{"updateId":"2724fd62-73d8-4b3d-a9ec-f7c186710b7f","timestamp":"2020-09-21T20:52:00.447Z","players":{"f9c0d3cb-d8be-4f53-94c9-fc53bcbce520":29600,"f967d064-0eaf-4445-b225-daed700e044b":3286,"f8c20693-f439-4a29-a421-05ed92749f10":77143,"f7715b05-ee69-43e5-a0e5-8e3d34270c82":127626,"f44a8b27-85c1-44de-b129-1b0f60bcb99c":28839,"ef32eb48-4866-49d0-ae58-9c4982e01142":9554,"d74a2473-1f29-40fa-a41e-66fa2281dfca":322910,"d744f534-2352-472b-9e42-cd91fa540f1b":13311,"d5b6b11d-3924-4634-bd50-76553f1f162b":2656,"d1a7c13f-8e78-4d2e-9cae-ebf3a5fcdb5d":17346,"cd68d3a6-7fbc-445d-90f1-970c955e32f4":44868,"c86b5add-6c9a-40e0-aa43-e4fd7dd4f2c7":6044,"c83f0fe0-44d1-4342-81e8-944bb38f8e23":2540,"c83a13f6-ee66-4b1c-9747-faa67395a6f1":5722,"c73d59dd-32a0-49ce-8ab4-b2dbb7dc94ec":3856,"be35caba-b16a-4e0d-b927-4da857f4cdb5":29378,"bd9d1d6e-7822-4ad9-bac4-89b8afd8a630":3375,"bd549bfe-b395-4dc0-8546-5c04c08e24a5":18802,"bd4c6837-eeaa-4675-ae48-061efa0fd11a":159522,"bca38809-81de-42ff-94e3-1c0ebfb1e797":5630,"b86237bb-ade6-4b1d-9199-a3cc354118d9":3120,"b4505c48-fc75-4f9e-8419-42b28dcc5273":2456,"b3d518b9-dc68-4902-b68c-0022ceb25aa0":3240,"afc90398-b891-4cdf-9dea-af8a3a79d793":136779,"ab9eb213-0917-4374-a259-458295045021":10689,"a5adc84c-80b8-49e4-9962-8b4ade99a922":31600,"a311c089-0df4-46bd-9f5d-8c45c7eb5ae2":84308,"a1628d97-16ca-4a75-b8df-569bae02bef9":87355,"a071a713-a6a1-4b4c-bb3f-45d9fba7a08c":6031,"98a98014-9636-4ece-a46a-4625b47c65d5":228421,"90c6e6ca-77fc-42b7-94d8-d8afd6d299e5":5262,"8e1fd784-99d5-41c1-a6c5-6b947cec6714":4160,"8ba7e1ff-4c6d-4963-8e0f-7096d14f4b12":2506,"8604e861-d784-43f0-b0f8-0d43ea6f7814":176335,"80a2f015-9d40-426b-a4f6-b9911ba3add8":2705,"7b0f91aa-4d66-4362-993d-6ff60f7ce0ef":5571,"773712f6-d76d-4caa-8a9b-56fe1d1a5a68":3285,"76c4853b-7fbc-4688-8cda-c5b8de1724e4":48014,"7310c32f-8f32-40f2-b086-54555a2c0e86":150911,"70ccff1e-6b53-40e2-8844-0a28621cb33e":62231,"70[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/tributes/updates?before=1980-01-01T00%3A00%3A00.000000Z&count=1&order=desc
  response:
    body:
      string: '{"nextPage":null,"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
