interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=bf122660-df52-4fc4-9e70-ee185423ff93
  response:
    body:
      string: '[{"id":"bf122660-df52-4fc4-9e70-ee185423ff93","anticapitalism":0.8886697478583736,"baseThirst":1.030930455971265,"buoyancy":0.19315434105360477,"chasiness":1.097940445693794,"coldness":0.5238692754556791,"continuation":0.6686203381716658,"divinity":0.5106922472307364,"groundFriction":0.2177821134744142,"indulgence":0.41946528491389934,"laserlikeness":0.877523374042722,"martyrdom":0.6880348802642454,"moxie":0.19633187398234583,"musclitude":0.2749574954114772,"name":"Walton
        Sports","bat":"","omniscience":0.9027258384320214,"overpowerment":0.5107740325814711,"patheticism":0.09952065676797921,"ruthlessness":0.6154952417263115,"shakespearianism":0.9289335115532616,"suppression":1.0734098343144296,"tenaciousness":1.0600766248342441,"thwackability":0.16405224431311738,"tragicness":0.001,"unthwackability":1.0709006016347011,"watchfulness":0.6806427872899565,"pressurization":0.4286682141063424,"totalFingers":10,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.6882245246681683,"fate":48,"armor":"","ritual":"Tarot","coffee":9,"blood":8,"permAttr":["FRIEND_OF_CROWS"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7104639812478639,"pitchingRating":0.752623576757097,"hittingRating":0.3330353117583767,"defenseRating":0.9514861455564816,"leagueTeamId":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb","eDensity":23.233263107238734,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c0-P+ZJhdPyrIzjEIs4kc6ZqHoWMw8"
    status:
      code: 200
      message: OK
[...]
