interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players
  response:
    body:
      string: "{\"data\":[{\"id\":\"006e1d32-9742-48ef-a6ba-36545e93b9e3\",\"teamId\":\"b63be8c2-576a-4d6e-8daf-814f8bcea96f\",\"lastUpdate\":\"2021-05-19T20:46:01.16265Z\",\"position\":\"lineup\",\"rosterIndex\":3,\"data\":{\"id\":\"006e1d32-9742-48ef-a6ba-36545e93b9e3\",\"fate\":59,\"name\":\"Jomgy
        Rolsenthal\",\"soul\":3,\"blood\":9,\"items\":[{\"id\":\"12c9ebdb-baf1-43a1-a01b-e646aa0f8ac7\",\"name\":\"Chunky
        Bat\",\"root\":{\"name\":\"Bat\",\"adjustments\":[{\"stat\":2,\"type\":1,\"value\":0.11958466793319182}]},\"forger\":null,\"health\":0,\"suffix\":null,\"prefixes\":[{\"name\":\"Chunky\",\"adjustments\":[{\"mod\":\"CHUNKY\",\"type\":0}]}],\"prePrefix\":null,\"durability\":2,\"forgerName\":null,\"postPrefix\":null,\"defenseRating\":0,\"hittingRating\":0.037071794132517044,\"pitchingRating\":0,\"baserunningRating\":0}],\"moxie\":0.18509619086300413,\"state\":{\"itemModSources\":{}},\"coffee\":7,\"ritual\":\"Recharging\",\"buoyancy\":0.3773816324781821,\"cinnamon\":0.9557723346100397,\"coldness\":0.8014029000551868,\"deceased\":false,\"divinity\":0.7352946917603408,\"eDensity\":18.079721582900493,\"gameAttr\":[],\"itemAttr\":[],\"permAttr\":[],\"seasAttr\":[],\"weekAttr\":[],\"chasiness\":0.7229793667815614,\"evolution\":0,\"hitStreak\":0,\"martyrdom\":0.728838150810906,\"baseThirst\":0.8063255042563098,\"indulgence\":0.9362932518963565,\"musclitude\":0.6827715556855444,\"tragicness\":0.5650735014282325,\"omniscience\":0.834642193183369,\"patheticism\":0.0023268912107062556,\"suppression\":0.5639760167314403,\"continuation\":0.9426529377328381,\"leagueTeamId\":\"b63be8c2-576a-4d6e-8daf-814f8bcea96f\",\"ruthlessness\":0.3092681417641161,\"totalFingers\":10,\"watchfulness\":0.10619351145852662,\"defenseRating\":0.5207252411864172,\"hittingRating\":0.6631654029393738,\"laserlikeness\":0.023860282939176303,\"overpowerment\":0.7160279604013691,\"peanutAllergy\":false,\"tenaciousness\":0.45272361179163,\"thwackability\":0.6834560120336476,\"anticapitalism\":0.13371971759180457,\"groundFriction\":0.05784949974566822,\"pitchingRating\":0.4295057387110304,\"pressurization\":0.8174676049595371,\"consecutiveHits\":0,\"unthwackability\":0.6019902869990443,\"shakespearianism\":0.5152806683047602,\"tournamentTeamId\":null,\"baserunningRating\":0.1122781290061063},\"forbidden\":false},{\"id\":\"00ca40af-a8df-4519-af9a-beaf93ffc122\",\"teamId\":null,\"lastUpdate\":\"2021-05-19T20:46:01.993045Z\",\"position\":null,\"rosterIndex\":null,\"data\":{\"id\":\"00ca40af-a8df-4519-af9a-beaf93ffc122\",\"fate\":55,\"name\":\"Eli
        Winner\",\"soul\":4,\"blood\":0,\"items\":[],\"moxie\":1.106860043476153,\"state\":{},\"coffee\":0,\"ritual\":\"Night
        terrors\",\"buoyancy\":0.47265662478938064,\"cinnamon\":0.0998392127375296,\"coldness\":1.2195256498335258,\"deceased\":f[...]
