interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=50&type=item
  response:
    body:
      string: '{"nextPage":"r3goHeyeHkWnpAwvLn4TmdZJE14j4QAA","items":[{"entityId":"007606b2-97c5-4757-93ac-a00b24d027df","hash":"42369982-7666-fe7c-0cd7-149494a66b5b","validFrom":"2021-04-11T19:32:16.260467Z","validTo":null,"data":{"id":"007606b2-97c5-4757-93ac-a00b24d027df","name":"Bat","root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.12504765664091935}]},"forger":null,"health":1,"suffix":null,"prefixes":null,"prePrefix":null,"durability":1,"forgerName":null,"postPrefix":null,"defenseRating":0,"hittingRating":0.03400633942459197,"pitchingRating":0,"baserunningRating":0}},{"entityId":"00ab100b-df4f-48a7-a942-4f27935e17c2","hash":"f0bf8e48-b62f-cea5-49f0-e0c2f1049939","validFrom":"2021-04-11T19:32:16.782482Z","validTo":null,"data":{"id":"00ab100b-df4f-48a7-a942-4f27935e17c2","name":"Bat","root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.1253377886439282}]},"forger":null,"health":1,"suffix":null,"prefixes":null,"prePrefix":null,"durability":1,"forgerName":null,"postPrefix":null,"defenseRating":0,"hittingRating":0.035964317596851036,"pitchingRatin[...]
