interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=b9d97990-df0b-4b8f-ac85-61c44ab29a3d,d0ffc9c2-e677-4230-a639-b0ae11650501,d0d7b8fe-bad8-481f-978e-cb659304ed49,f9930cb1-7ed2-4b9a-bf4f-7e35f2586d71
  response:
    body:
      string: '[{"id":"b9d97990-df0b-4b8f-ac85-61c44ab29a3d","anticapitalism":0.499921796810042,"baseThirst":0.431724620334064,"buoyancy":0.7896476494175042,"chasiness":0.779877799433257,"coldness":0.5861090725222168,"continuation":0.3808038784481831,"divinity":0.4183735665981526,"groundFriction":0.4504419863407509,"indulgence":0.8938006759214898,"laserlikeness":0.7255936170305212,"martyrdom":0.5314970183687517,"moxie":0.5700276459852873,"musclitude":0.9720902016245704,"name":"Lorcan
        Smaht","omniscience":0.4189507489916884,"overpowerment":1.0843708306492041,"patheticism":0.6010378324516782,"ruthlessness":0.8229040328542272,"shakespearianism":0.916908379666086,"suppression":1.1815454977675528,"tenaciousness":0.7490466190539036,"thwackability":0.9963947685347959,"tragicness":0.11372712400576282,"unthwackability":1.221526778061763,"watchfulness":0.8312559002809263,"pressurization":0.1909381121542617,"totalFingers":10,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.9654333981541237,"fate":51,"ritual":"Astral
        projection","coffee":11,"blood":11,"permAttr":["UNDERTAKER","ELSEWHERE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.649270243186319,"pitchingRating":1.012278240448594,"hittingRating":0.6634389269625012,"defenseRating":0.7085992706230291,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":35.235106768543105,"state":{},"evolution":0,"items":[],"itemAttr":[]},{"id":"d0ffc9c2-e677-4230-a639-b0ae11650501","anticapitalism":1.2041314240336474,"baseThirst":0.7895530682607721,"buoyancy":1.0724739949719813,"chasiness":0.43794993547738115,"coldness":0.6228472992122347,"continuation":0.8107309460790717,"divinity":0.9491412574609241,"groundFriction":0.8287706524233013,"indulgence":0.5446678012592321,"laserlikeness":0.5595107020769446,"martyrdom":1.0239057058546706,"moxie":0.5159983200053436,"musclitude":1.3399922595932376,"name":"Kaz
        Fiasco","omni[...]
