interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=09f2787a-3352-41a6-8810-d80e97b253b5
  response:
    body:
      string: '[{"id":"09f2787a-3352-41a6-8810-d80e97b253b5","anticapitalism":1.256132120879667,"baseThirst":0.5565308611162642,"buoyancy":0.7039109769332003,"chasiness":1.1707912812453831,"coldness":1.121361138636024,"continuation":0.4445964997086256,"divinity":1.2396374181526257,"groundFriction":0.8670639362364617,"indulgence":0.734776965569531,"laserlikeness":0.3445758050237605,"martyrdom":0.8027976041945023,"moxie":1.1706080776021686,"musclitude":1.1366952852343934,"name":"Curry
        Aliciakeyes","bat":"","omniscience":0.7621885241956927,"overpowerment":1.185107316067059,"patheticism":0.5399990686666957,"ruthlessness":1.1317451130300074,"shakespearianism":0.8772622366844371,"suppression":0.8004705007934657,"tenaciousness":1.2211525256467928,"thwackability":0.3283180155891247,"tragicness":0.001,"unthwackability":1.029557519469591,"watchfulness":1.139446161977604,"pressurization":0.9383202630490881,"totalFingers":14,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":0.7434475398848632,"fate":8,"armor":"","ritual":"Photography","coffee":2,"blood":6,"permAttr":["OVERUNDER"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.48798737299205563,"pitchingRating":1.082542589597335,"hittingRating":0.7143090734910258,"defenseRating":1.0379760303288212,"leagueTeamId":"7966eb04-efcc-499b-8f03-d13916330531","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":39.259705464864666,"state":{"permModSources":{}},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cf-ZLjsQ7lrXGy/5NA67oIcPYiXhnw"
    status:
      code: 200
      message: OK
[...]
