interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=9ba361a1-16d5-4f30-b590-fc4fc2fb53d2,60026a9d-fc9a-4f5a-94fd-2225398fa3da,cd417f8a-ce01-4ab2-921d-42e2e445bbe2,a647388d-fc59-4c1b-90d3-8c1826e07775
  response:
    body:
      string: '[{"id":"9ba361a1-16d5-4f30-b590-fc4fc2fb53d2","anticapitalism":0.20153493865703043,"baseThirst":0.6193144860305861,"buoyancy":0.6694403028848148,"chasiness":0.6600779369088758,"coldness":0.19247928914399504,"continuation":0.2500215654898419,"divinity":0.2890736747948268,"groundFriction":0.3828599718455674,"indulgence":0.8085452229692396,"laserlikeness":0.7716568635665009,"martyrdom":0.19174465533400653,"moxie":0.3277264967121307,"musclitude":0.6677688002085969,"name":"Mooney
        Doctor","bat":"","omniscience":0.07005077973239948,"overpowerment":0.9808880432360387,"patheticism":0.27470763336364,"ruthlessness":0.3865457366516998,"shakespearianism":0.8139413707248528,"suppression":0.9854555477967812,"tenaciousness":0.24347320818568585,"thwackability":0.6419266678833049,"tragicness":0.1,"unthwackability":0.5117691378618316,"watchfulness":0.5801944412470672,"pressurization":0.2389176666127779,"totalFingers":10,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.2887733374956263,"fate":22,"armor":"","ritual":"Stretching","coffee":7,"blood":9,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.648299087661121,"pitchingRating":0.4584893263967338,"hittingRating":0.47065833951037744,"defenseRating":0.3428662545121934,"leagueTeamId":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","tournamentTeamId":null},{"id":"60026a9d-fc9a-4f5a-94fd-2225398fa3da","anticapitalism":0.5267600614593912,"baseThirst":0.49769924816381356,"buoyancy":0.27758363385331936,"chasiness":0.3763033992894125,"coldness":0.3039502744832021,"continuation":0.10988142657887244,"divinity":0.838959752721736,"groundFriction":0.6301963924534808,"indulgence":0.43833054983167,"laserlikeness":0.07813118358477697,"martyrdom":0.513075325106314,"moxie":0.794902260449326,"musclitude":0.3534221131648787,"name":"Bright
        Zimmerman"[...]
