interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?at=2020-07-30T02%3A13%3A38.328000Z&count=1000&id=1732e623-ffc2-40f0-87ba-fdcf97131f1f&type=player
  response:
    body:
      string: '{"nextPage":"I-YyF8L_8ECHuv3PlxMfH2BMO2xFFgAA","items":[{"entityId":"1732e623-ffc2-40f0-87ba-fdcf97131f1f","hash":"15a69882-083e-fa81-357d-7ecaaaa8d7b1","validFrom":"2020-07-29T08:12:22.438Z","validTo":"2020-08-02T10:22:50.243Z","data":{"_id":"1732e623-ffc2-40f0-87ba-fdcf97131f1f","name":"Betsy
        Trombone","soul":3,"moxie":0.8506050189829093,"buoyancy":0.8267466077900696,"coldness":0.872848831945386,"deceased":false,"divinity":0.5434644899789711,"chasiness":0.31889236881684413,"martyrdom":0.7481246865847735,"baseThirst":0.016986546344093467,"indulgence":0.8047219602154017,"musclitude":0.2953982471920851,"tragicness":0,"omniscience":0.04848632803289665,"patheticism":0.6777060542972428,"suppression":0.02175303641092885,"continuation":0.7914469736255476,"ruthlessness":0.7253703025644835,"totalFingers":10,"watchfulness":0.0917071560446514,"laserlikeness":0.713425324007301,"overpowerment":0.47366414083200525,"tenaciousness":0.4729168176582932,"thwackability":0.7641399884791478,"anticapitalism":0.3333932436989364,"groundFriction":0.08645124959686368,"pressurization":0.14435710015681358,"unthwackability":0.4185482371382203,"shakespearianism":0.4749002512112459}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
