interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=747b8e4a-7e50-4638-a973-ea7950a3e739
  response:
    body:
      string: '{"id":"747b8e4a-7e50-4638-a973-ea7950a3e739","lineup":["194a78fd-3aa7-4356-8ba0-b9fdcbc0ea85","c0177f76-67fc-4316-b650-894159dede45","b082ca6e-eb11-4eab-8d6a-30f8be522ec4","19241aa4-38e3-45ed-9750-68f4401f80e1","5bcfb3ff-5786-4c6c-964c-5c325fcc48d7","7cf83bdc-f95f-49d3-b716-06f2cf60a78d","2e86de11-a2dd-4b28-b5fe-f4d0c38cd20b","7932c7c7-babb-4245-b9f5-cdadb97c99fb"],"rotation":["2720559e-9173-4042-aaa0-d3852b72ab2e","7aeb8e0b-f6fb-4a9e-bba2-335dada5f0a3","b3e512df-c411-4100-9544-0ceadddb28cf"],"bullpen":["5fc4713c-45e1-4593-a968-7defeb00a0d4","77a41c29-8abd-4456-b6e0-a034252700d2","a73427b3-e96a-4156-a9ab-844edc696fed","1db2f602-64b1-4a5c-8697-1932cc2c6df1","04f955fe-9cc9-4482-a4d2-07fe033b59ee","6e744b21-c4fa-4fa8-b4ea-e0e97f68ded5","37efef78-2df4-4c76-800c-43d4faf07737","58fca5fa-e559-4f5e-ac87-dc99dd19e410","2727215d-3714-438d-b1ba-2ed15ec481c0","63580bd7-6138-471c-82a5-bc9d29ffd06d"],"bench":["9abe02fb-2b5a-432f-b0af-176be6bd62cf","32c9bce6-6e52-40fa-9f64-3629b3d026a8","695daf02-113d-4e76-b802-0862df16afbd","db3ff6f0-1045-4223-b3a8-a016ca987af9","6f71667b-59f2-46df-adac-a8885a4f6ac5","df34d168-4d6a-403c-aca5-2b1ebe90444d","2a8b371f-d2eb-4be7-b89f-aff10edb4412","128a33b9-c82f-408e-9fa3-5161f5a3e297","852107b8-8cf3-4fbb-97f9-76f73bc47708","243e9c5c-5a8a-4b48-9ce6-b10ddd677ae6","d744f534-2352-472b-9e42-cd91fa540f1b","f73009c5-2ede-4dc4-b96d-84ba93c8a429","6fc3689f-bb7d-4382-98a2-cf6ddc76909d"],"seasAttr":[],"permAttr":["FIREPROOF","SEALANT","AMBUSH","FIERY"],"fullName":"Hades
        Tigers","location":"Hades","mainColor":"#5c1c1c","nickname":"Tigers","secondaryColor":"#e83622","shorthand":"HAT","emoji":"0x1F405","slogan":"Never
        Look Back.","shameRuns":0,"totalShames":62,"totalShamings":91,"seasonShames":0,"seasonShamings":3,"championships":3,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":14,"tournamentWins":0,"stadium":"929fc650-948a-4736-b7a2-bb7b75902e6e","eDensity":1661.0695194219463,"state":{},"evolution":1,"winStreak":-2,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c0-aztD9tRowdKQTm4pPhscUPIJLaE"
    status:
      code: 200
      message: OK
[...]
