interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=65273615-22d5-4df1-9a73-707b23e828d5
  response:
    body:
      string: '[{"id":"65273615-22d5-4df1-9a73-707b23e828d5","anticapitalism":0.7987283700911394,"baseThirst":0.8213935837891735,"buoyancy":1.0846875103318623,"chasiness":0.33931942060879705,"coldness":0.9736383108914901,"continuation":1.2192452498995814,"divinity":0.5470946884404175,"groundFriction":0.6878522370906888,"indulgence":1.0523723263824503,"laserlikeness":0.6601995335393881,"martyrdom":0.34566920073479834,"moxie":1.1261174941604795,"musclitude":0.8768466969092947,"name":"Burke
        Gonzales","bat":"","omniscience":0.6360929090940246,"overpowerment":0.8799564409454538,"patheticism":0.01,"ruthlessness":1.3414118493677978,"shakespearianism":0.8703914432369291,"suppression":0.7896460027842918,"tenaciousness":0.9536218618437295,"thwackability":0.8415867461989165,"tragicness":0.01,"unthwackability":1.1716386402227115,"watchfulness":1.3056949924180612,"pressurization":0.7309676123161581,"totalFingers":13,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":0.8959608390325469,"fate":31,"armor":"","ritual":"Powerlifting","coffee":2,"blood":12,"permAttr":["ALTERNATE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7868071570284316,"pitchingRating":1.1769886564303838,"hittingRating":0.7450850742111098,"defenseRating":0.8155757556570412,"leagueTeamId":"57ec08cc-0411-4643-b304-0e80dbc15ac7","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":40.67119650328876,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b3-Mey3ENO3qPQbhFBh1bnr00eYB8A"
    status:
      code: 200
      message: OK
[...]
