interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=0c47a83a-d216-4665-82e1-c008c6c81e15
  response:
    body:
      string: '[{"id":"0c47a83a-d216-4665-82e1-c008c6c81e15","homeTeamRunsByInning":[0,0,0,0,0,0,0,0,0],"awayTeamRunsByInning":[1,0,0,0,0,0,2,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"adab7f8c-d703-42f7-8981-c40951443edd","homeTeamStats":"64bf9890-a8c9-43b4-a417-cad620582492"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-VDBv0ZRFnndcEsuLjCOmBCEBWGA"
    status:
      code: 200
      message: OK
version: 1
