interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=winniehess_mystery,5e58b4ce-2737-494d-826e-4c69bf548039
  response:
    body:
      string: "[{\"id\":\"winniehess_mystery\",\"bonusId\":\"mysterious_improvement\",\"bonusTitle\":\"Mysterious
        Improvement\",\"teamId\":\"adc5b394-8f76-416d-9ce9-813706877b84\",\"totalVotes\":0,\"description\":\"Winnie
        Hess mysteriously improved to 2.5 stars after being traded from the Crabs
        to the Breath Mints. An investigation may be incoming.\",\"highestTeam\":null,\"highestTeamVotes\":null,\"teamVotes\":null},{\"id\":\"5e58b4ce-2737-494d-826e-4c69bf548039\",\"bonusId\":\"division_min_vibes_cut\",\"bonusTitle\":\"Questioning
        Their Every Decision\",\"teamId\":\"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff\",\"totalVotes\":3660,\"description\":\"Impaired
        the Houston Spies's minimum vibes by 7%\\nImpaired the Miami Dal\xE9's minimum
        vibes by 7%\\nImpaired the Seattle Garages's minimum vibes by 7%\\nImpaired
        the Breckenridge Jazz Hands's minimum vibes by 7%\\n\",\"highestTeam\":\"8d87c468-699a-47a8-b40d-cfb73a5660ad\",\"highestTeamVotes\":496,\"teamVotes\":280}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37b-PfHDJBz7qkReL+mz1nsxvVZgh3k"
    status:
      code: 200
      message: OK
version: 1
