interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/sim/updates?count=1000
  response:
    body:
      string: '{"nextPage":"mAhc-_n3Ake9Qt5UY5jE8PAHW1mITQAA","data":[{"updateId":"b143782a-2c95-4b4c-a206-4e1f0f9ca871","firstSeen":"2020-08-01T07:13:21.108Z","lastSeen":"2020-08-01T13:00:02.705Z","data":{"__v":0,"_id":"thisidisstaticyo","day":98,"phase":3,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","league":"d8545021-e9fc-48a3-af74-48685950a183","season":1,"eraColor":"","eraTitle":"The
        Discipline Era","playoffs":"1c6e809b-5d8f-4d8c-b5f8-10261130a85e","seasonId":"9b1b80e0-9771-4f37-a480-bfa397cdbb12","openedBook":true,"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","playOffRound":0,"nextPhaseTime":"2020-08-01T13:00:00.159Z","nextElectionEnd":"2020-08-02T19:00:00.525Z","nextSeasonStart":"2020-08-01T13:00:00.159Z","unlockedPeanuts":false}},{"updateId":"82d4e2c0-cf44-4700-aec2-41e744e3bfc2","firstSeen":"2020-08-01T13:00:02.705Z","lastSeen":"2020-08-01T14:00:02.188Z","data":{"__v":0,"_id":"thisidisstaticyo","day":99,"phase":4,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","league":"d8545021-e9fc-48a3-af74-48685950a183","season":1,"eraColor":"","eraTitle":"The
        Discipline Era","playoffs":"1c6e809b-5d8f-4d8c-b5f8-10261130a85e","seasonId":"9b1b80e0-9771-4f37-a480-bfa397cdbb12","openedBook":true,"terminology":"b67e9bbb-1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/sim/updates?count=1000&page=mAhc-_n3Ake9Qt5UY5jE8PAHW1mITQAA
  response:
    body:
      string: '{"nextPage":"_AzG3QIj_E-b3v6EWb6QEmBml7p2wAAA","data":[{"updateId":"a3823d0b-e7ce-46a9-b054-95e1af83b665","firstSeen":"2020-10-07T17:00:00.998851Z","lastSeen":"2020-10-07T18:00:01.004139Z","data":{"id":"thisidisstaticyo","day":49,"attr":["OPENED_BOOK","UNLOCKED_PEANUTS","EAT_THE_RICH","UNLOCKED_INTERVIEWS","UNLOCKED_IDOLS","PARTY_TIME","UNLOCKED_HALL","WILD_CARDS"],"twgo":"JHFMTOJMNPSMLMDGFOSEZDTMJWHPADAACGRTBBPBBCJRTPMJCSNKKAOMVMSTAJTVTCJIMPSSSTBFHRSSMSDKIRLWLVWSSMEIMCCDMDRTEIFBCLRMMW","phase":2,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","league":"d8545021-e9fc-48a3-af74-48685950a183","season":8,"eraColor":"#ff0000","eraTitle":"The
        Discipline Era","playoffs":"67f224c9-4eca-4c97-bef3-524877b6fb7c","seasonId":"462c65c2-3892-4401-8fa6-601230833665","subEraColor":"#576b8c","subEraTitle":"FORECAST","terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","playOffRound":0,"nextPhaseTime":"2020-10-05T16:00:00.402Z","nextElectionEnd":"2020-10-11T19:00:00.106Z","nextSeasonStart":"2020-10-12T16:00:00.106Z"}},{"updateId":"da313bc9-11d9-4035-83a0-fb5b822ed51e","firstSeen":"2020-10-07T18:00:01.004139Z","lastSeen":"2020-10-07T19:00:01.002272Z","data":{"id":"thisidisstaticyo","day":50,"attr":["OPENED_BOOK","UNLOCKED_PEANUTS","EAT_THE_RICH","UNLOCKED_INTERVIEWS","UNLOCKED_IDOLS","PARTY_TIME","[...]
