interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=1db2f602-64b1-4a5c-8697-1932cc2c6df1
  response:
    body:
      string: '[{"id":"1db2f602-64b1-4a5c-8697-1932cc2c6df1","anticapitalism":0.31233701925529256,"baseThirst":0.6537221922066383,"buoyancy":1.0672321765239472,"chasiness":0.39549654236438236,"coldness":1.1703126445457426,"continuation":1.0700346132307395,"divinity":0.9479223472918665,"groundFriction":1.1327963061207866,"indulgence":0.994165656467986,"laserlikeness":0.33823897809701303,"martyrdom":1.2400934530591852,"moxie":0.567265646523953,"musclitude":0.5656514199575516,"name":"Mummy
        Melcon","omniscience":0.41370295242227045,"overpowerment":1.0881396044850977,"patheticism":0.6076226679523593,"ruthlessness":1.2924077798891296,"shakespearianism":1.44146642938621,"suppression":1.0504214867570831,"tenaciousness":0.745207512696211,"thwackability":0.7352909110644605,"tragicness":0.16899116286973748,"unthwackability":0.7197980779287407,"watchfulness":0.638941195380598,"pressurization":0.4704999159830534,"totalFingers":13,"soul":1,"deceased":false,"peanutAllergy":false,"cinnamon":0.35399900501176745,"fate":76,"ritual":"Having
        an epiphany","coffee":2,"blood":2,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.5678740068478239,"pitchingRating":0.9914158551968981,"hittingRating":0.7742062597958269,"defenseRating":0.6130781993643253,"leagueTeamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":22.62602024843412,"state":{},"evolution":1,"items":[{"id":"9430004c-ffa9-46e1-8486-dd4e1bef6394","name":"Rock
        Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":{"name":"Rock","adjustments":[{"type":3,"value":1}]},"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.1372509659370856}]},"suffix":null,"durability":3,"health":3,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.04715983909800048,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"769-aKYpueAblYAKho1fKRKIzCwJoFo"
    status:
      code: 200
      message: OK
[...]
