interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&id=8a84154e-80d7-47d5-8f56-295e9a9653d9&type=stadium
  response:
    body:
      string: '{"nextPage":"ThWEiteA1UePVilempZT2SLh9Yc73gAA","items":[{"entityId":"8a84154e-80d7-47d5-8f56-295e9a9653d9","hash":"2a1ac9b9-6239-a31a-3145-7cd3b406d097","validFrom":"2021-04-09T19:25:26.547485Z","validTo":null,"data":{"id":"8a84154e-80d7-47d5-8f56-295e9a9653d9","hype":0,"mods":["PSYCHOACOUSTICS","SECRET_BASE","FLOOD_PUMPS"],"name":"Wapakoneta
        Air, Space, and Worm Museum and Ballpark","birds":0,"model":3,"state":{},"teamId":"bb4a9de5-c924-4923-a0cb-9d1445f1ee5d","renoLog":{"flood_pumps_mod":1,"secret_base_mod":1,"psychoacoustics_mod":1},"weather":{"14":1},"nickname":"The
        Wormhole","renoCost":-1,"renoHand":[],"mainColor":"#5c4822","mysticism":0.4617130261512937,"viscosity":0.263229502203971,"elongation":0.4040771749168108,"filthiness":0.17748545292821094,"obtuseness":0.5981744694032705,"forwardness":0.5902250518696203,"grandiosity":0.5053671963554746,"ominousness":0.5474000831124898,"renoDiscard":["psychoacoustics_mod","coffee_one_plus","black_hole_plus","mysticism_minus","event_horizon_mod","solar_panels_mod","feedback_plus","forwardness_plus","grandiosity_plus","secret_base_mod","sun_two_plus","flood_pumps_mod","elongation_plus","flooding_plus","soundsystem_mod","elongation_minus","echo_chamber_mod","blooddrain_plus"],"fortification":0.5247785781278169,"inconvenience":0.6819910875419015,"luxuriousness":0,"tertiaryColor":"#ffe0a8","secondaryColor":"#ba9c65"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
