interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=6644d767-ab15-4528-a4ce-ae1f8aadb65f
  response:
    body:
      string: '[{"id":"6644d767-ab15-4528-a4ce-ae1f8aadb65f","anticapitalism":0.09820482794626617,"baseThirst":0.5981758490869238,"buoyancy":0.0008908716441011766,"chasiness":0.16980266728260318,"coldness":0.7788441451386205,"continuation":0.5086997271165257,"divinity":0.9271603638578974,"groundFriction":0.216137470040763,"indulgence":0.2340110011984089,"laserlikeness":0.17516216161185794,"martyrdom":0.1845429646426302,"moxie":0.9844870828631578,"musclitude":0.015154132030299916,"name":"Paula
        Reddick","bat":"","omniscience":0.6143125481352854,"overpowerment":0.8185466769535259,"patheticism":0.18583044463894738,"ruthlessness":0.4186738122956346,"shakespearianism":0.8242078709412874,"suppression":0.8453860628420269,"tenaciousness":0.8992208318642234,"thwackability":0.7857708881577676,"tragicness":0.1,"unthwackability":0.14476802181878257,"watchfulness":0.19231573226607757,"pressurization":0.040072109597423244,"totalFingers":10,"soul":3,"deceased":false,"peanutAllergy":true,"cinnamon":0.06429302817673332,"fate":62,"armor":"","ritual":"Reading
        theory","coffee":7,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.27570574753839294,"pitchingRating":0.2540581293455701,"hittingRating":0.6241492841411685,"defenseRating":0.5001040425764154,"leagueTeamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","tournamentTeamId":null,"eDensity":17.578120425210827,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a0-5dPOaau9J2pD5+tbAFce7o0dp/s"
    status:
      code: 200
      message: OK
version: 1
