interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=a37f9158-7f82-46bc-908c-c9e2dda7c33b
  response:
    body:
      string: "{\"id\":\"a37f9158-7f82-46bc-908c-c9e2dda7c33b\",\"lineup\":[\"2f3d7bc7-6ffb-40c3-a94f-5e626be413c9\",\"0f61d948-4f0c-4550-8410-ae1c7f9f5613\",\"f3c07eaf-3d6c-4cc3-9e54-cbecc9c08286\",\"18f45a1b-76eb-4b59-a275-c64cf62afce0\",\"e69db30d-74ac-4265-8da6-467b0d25694b\",\"b9293beb-d199-4b46-add9-c02f9362d802\",\"678170e4-0688-436d-a02d-c0467f9af8c0\",\"ef9f8b95-9e73-49cd-be54-60f84858a285\",\"b348c037-eefc-4b81-8edd-dfa96188a97e\"],\"rotation\":[\"5dbf11c0-994a-4482-bd1e-99379148ee45\",\"ea44bd36-65b4-4f3b-ac71-78d87a540b48\",\"9c3273a0-2711-4958-b716-bfcf60857013\",\"d23a1f7e-0071-444e-8361-6ae01f13036f\",\"bf122660-df52-4fc4-9e70-ee185423ff93\",\"ae81e172-801a-4236-929a-b990fc7190ce\"],\"bullpen\":[\"e376a90b-7ffe-47a2-a934-f36d6806f17d\",\"f6342729-a38a-4204-af8d-64b7accb5620\",\"4f328502-d347-4d2c-8fad-6ae59431d781\",\"dac2fd55-5686-465f-a1b6-6fbed0b417c5\",\"5fbf04bb-f5ec-4589-ab19-1d89cda056bd\",\"ecf19925-dc57-4b89-b114-923d5a714dbe\",\"52cfebfb-8008-4b9f-a566-72a30e0b64bf\",\"b5c95dba-2624-41b0-aacd-ac3e1e1fe828\"],\"bench\":[\"16a59f5f-ef0f-4ada-8682-891ad571a0b6\",\"3de17e21-17db-4a6b-b7ab-0b2f3c154f42\",\"f10ba06e-d509-414b-90cd-4d70d43c75f9\",\"ac5e4ce2-de6f-408b-9910-a52bb1d1a978\"],\"seasAttr\":[\"PARTY_TIME\"],\"permAttr\":[],\"fullName\":\"Breckenridge
        Jazz Hands\",\"location\":\"Breckenridge\",\"mainColor\":\"#6388ad\",\"nickname\":\"Jazz
        Hands\",\"secondaryColor\":\"#7ba9d7\",\"shorthand\":\"BJAZ\",\"emoji\":\"0x1F450\",\"slogan\":\"We\u2019ve
        Got Winning to Do. Just for You.\",\"shameRuns\":0,\"totalShames\":73,\"totalShamings\":60,\"seasonShames\":4,\"seasonShamings\":4,\"championships\":0,\"weekAttr\":[],\"gameAttr\":[],\"rotationSlot\":99,\"teamSpirit\":0,\"card\":15,\"tournamentWins\":0,\"stadium\":\"60e78a6c-fe49-4283-8293-735e9fa7e3e9\",\"eDensity\":1914.55877056197,\"state\":{\"permModSources\":{}},\"evolution\":0,\"winStreak\":-1,\"level\":5}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d5-GPlSHKku0K+V/qs9WtV9m7KR/+w"
    status:
      code: 200
      message: OK
[...]
