interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=cbb567c0-d770-4d22-92f6-ff16ebb94758,0d3ea692-e151-4629-8f88-d75b56107ebc,06a455d4-6bbc-4820-9256-e5c89e327720,b40b4946-9f1c-4328-969f-20fae50dc47e,ab2b02b4-935d-403e-81fc-d39c3e7c95ee,8b5fb689-1d47-473a-bfa1-2d3ca26426ed,468fcd69-fad7-4364-8426-24900db3e609,268580d3-7bbd-474d-a563-08044bafda8b,nagomi_mystery,winniehess_mystery
  response:
    body:
      string: '[{"id":"cbb567c0-d770-4d22-92f6-ff16ebb94758","bonusId":"team_improve_hitting","bonusTitle":"Hitting
        Boost","teamId":"7966eb04-efcc-499b-8f03-d13916330531","totalVotes":96,"description":"Improved
        the Yellowstone Magic''s hitting by 10%","highestTeam":null,"highestTeamVotes":null,"teamVotes":null},{"id":"0d3ea692-e151-4629-8f88-d75b56107ebc","bonusId":"team_improve_pitching","bonusTitle":"Pitching
        Boost","teamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","totalVotes":123,"description":"Improved
        the Hades Tigers''s pitching by 10%","highestTeam":null,"highestTeamVotes":null,"teamVotes":null},{"id":"06a455d4-6bbc-4820-9256-e5c89e327720","bonusId":"reroll_worst_players_5","bonusTitle":"Randomize
        Players","teamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","totalVotes":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=b090fdfc-7d9d-414b-a4a5-bbc698028c15
  response:
    body:
      string: '[{"id":"b090fdfc-7d9d-414b-a4a5-bbc698028c15","decreeId":"forbidden_book","decreeTitle":"Open
        the Forbidden Book","description":"The Book Opens.\nSolar Eclipse.\nUmpires''
        eyes turn white.\nStar player Jaylen Hotdogfingers is incinerated.\nHellmouth
        swallows the Moab Desert.\nTHE DISCIPLINE ERA BEGINS","totalVotes":566}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"141-mVIUKOoV04v5KnPTaebQ4oyk29s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=f0f15969-aecb-4f9e-8eb9-00f05ece732c,ec18f915-7b78-478c-93c6-305eddaeeaed,511260ad-b831-4ebc-a6b4-2582b661846e,068792c3-51a0-47ae-a359-9ee234acb74a,e59fbc74-c6ea-4064-8309-e397aa4b3679,8a2f2499-244d-4788-abd8-22b8e71a7ca9,fa34d625-5cb8-4f96-9bf9-4e6b916e93c2,c8b1de0c-1916-4181-a03a-0a831b0b8612,6fbb2192-bc11-4fbc-9d78-54b34c170534,1687cebf-9012-46f5-aeb3-1a4258a39b40,be2e2092-7572-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/eventResults?ids=ascension_10,pods_10,stars_10
  response:
    body:
      string: '[{"id":"ascension_10","msg":"The Baltimore Crabs have been Called Up.\nGood
        Luck on your Journey!\nThey shall be replaced in the ILB by the Tokyo Lift."},{"id":"pods_10","msg":"The
        Shelled One''s Pods have fallen back to the plane!\nPeanut Bong fell to the
        Tacos.\nWyatt Quitter fell to the Lift.\nFrancisca Sasquatch fell to the Dale.\nPatel
        Beyonce fell to the Steaks.\nAlejandro Leaf fell to the Millennials.\nWyatt
        Pothos fell to the Jazz Hands.\nPitching Machine fell to the Garages.[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=b0317431-b707-4a76-af96-c46ac46c3834
  response:
    body:
      string: '[{"id":"b0317431-b707-4a76-af96-c46ac46c3834","decreeId":"tactical_nuke","decreeTitle":"Black
        Hole","description":"TIME TANGLES\nRETROCAUSAL EVENT RECORDED\nINITIATING
        PLAYBACK:\n\nWARNING: SUN 1 LOW FUEL\nPRESSURE AT CRITICAL\nSUN 2 WAIVERS","totalVotes":343191}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"108-gGxGs7GTNDLscU1NeCXj476IDvY"
    status:
      code: 200
      message: OK
version: 1
