interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/stadiums
  response:
    body:
      string: "{\"data\":[{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"lastUpdate\":\"2021-03-20T21:05:12.210645Z\",\"data\":{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hype\":0,\"mods\":[\"PSYCHOACOUSTICS\"],\"name\":\"Core
        Pillar Center\",\"birds\":0,\"model\":3,\"state\":{},\"teamId\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"renoLog\":{\"psychoacoustics_mod\":1},\"weather\":{\"17\":1},\"nickname\":\"The
        Pillars\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#d15700\",\"mysticism\":0.48208876148585916,\"viscosity\":0.2769749520408473,\"elongation\":0.5124500042294067,\"filthiness\":0.07062588738118596,\"obtuseness\":0.4521598407783409,\"forwardness\":0.4446314721438908,\"grandiosity\":0.4447289767338998,\"ominousness\":0.4391837802585088,\"renoDiscard\":[\"psychoacoustics_mod\",\"solar_panels_mod\",\"viscosity_minus\",\"viscosity_plus\",\"event_horizon_mod\",\"peanut_mister_mod\",\"elongation_plus\",\"grandiosity_plus\",\"coffee_threes_plus\"],\"fortification\":0.5376439522647619,\"inconvenience\":0.6025859364172551,\"luxuriousness\":0,\"tertiaryColor\":\"#ffddc4\",\"secondaryColor\":\"#ffaf96\"}},{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"lastUpdate\":\"2021-03-20T21:05:12.210645Z\",\"data\":{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hype\":0,\"mods\":[\"BIG_BUCKET\"],\"name\":\"The
        Fire Safety Awareness Center\",\"birds\":0,\"model\":2,\"state\":{},\"teamId\":\"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16\",\"renoLog\":{\"big_bucket_mod\":1},\"weather\":{\"15\":1},\"nickname\":\"The
        Fire House\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#8c2a3e\",\"mysticism\":0.2343003613218557,\"viscosity\":0.43120967518540154,\"elongation\":0.43654265137776965,\"filthiness\":0.09954383800229952,\"obtuseness\":0.5306518569849688,\"forwardness\":0.5860283120781291,\"grandiosity\":0.5112050242221085,\"ominousness\":0.46984360699104116,\"renoDiscard\":[\"psychoacoustics_mod\",\"big_bucket_mod\",\"blooddrain_plus\",\"sun_two_plus\",\[...]
