interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/player?category=0&id=1f159bab-923a-4811-b6fa-02bfde50925a&limit=2
  response:
    body:
      string: '[{"id":"2bef6152-2894-470b-a266-2b2b7e879e1f","playerTags":["1f159bab-923a-4811-b6fa-02bfde50925a"],"teamTags":["b024e975-1c4a-4575-8936-a3754a08806a","36569151-a2fb-43c1-9df7-2df512424c82"],"gameTags":["d44f799f-d582-4b90-9cc1-f017bdde6bf3"],"metadata":{"play":156,"subPlay":-1},"created":"2021-03-12T20:13:14.036Z","season":12,"tournament":-1,"type":5,"day":98,"phase":6,"category":0,"description":"NaN
        draws a walk."},{"id":"526d5f1e-e442-4858-b662-9c4c3b0236ec","playerTags":["1f159bab-923a-4811-b6fa-02bfde50925a"],"teamTags":["b024e975-1c4a-4575-8936-a3754a08806a","36569151-a2fb-43c1-9df7-2df512424c82"],"gameTags":["7a92a957-8686-4f3e-aec4-74a145570f45"],"metadata":{"play":73,"subPlay":-1},"created":"2021-03-12T19:06:02.831Z","season":12,"tournament":-1,"type":5,"day":97,"phase":6,"category":0,"description":"NaN
        draws a walk."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"348-nTRvhGEcPZH7bUCqMgnh637u/To"
    status:
      code: 200
      message: OK
version: 1
