interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/games?tournament=0
  response:
    body:
      string: "{\"data\":[{\"gameId\":\"26a1f31e-ce73-44aa-b232-6e099d2d7972\",\"startTime\":\"2020-11-24T23:00:01.6141Z\",\"endTime\":\"2020-11-24T23:35:47.637126Z\",\"data\":{\"id\":\"26a1f31e-ce73-44aa-b232-6e099d2d7972\",\"day\":6,\"phase\":6,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":8,\"season\":-1,\"weather\":16,\"awayOdds\":0.5856839849831853,\"awayOuts\":3,\"awayTeam\":\"49181b72-7f1c-4f1c-929f-928d763ad7fb\",\"homeOdds\":0.4143160150168147,\"homeOuts\":3,\"homeTeam\":\"d2634113-b650-47b9-ad95-673f8e28e687\",\"outcomes\":[],\"awayBalls\":4,\"awayBases\":4,\"awayScore\":11,\"finalized\":true,\"gameStart\":true,\"homeBalls\":4,\"homeBases\":4,\"homeScore\":5,\"playCount\":403,\"statsheet\":\"1673df33-94a7-4f8e-9c01-39897cd7bc8c\",\"atBatBalls\":0,\"awayBatter\":null,\"homeBatter\":null,\"lastUpdate\":\"Game
        over.\",\"tournament\":0,\"awayPitcher\":\"1513aab6-142c-48c6-b43e-fbda65fd64e8\",\"awayStrikes\":3,\"baseRunners\":[],\"homePitcher\":\"92ff8e42-dcca-4a94-a83d-24d2900b811a\",\"homeStrikes\":3,\"repeatCount\":0,\"scoreLedger\":\"\",\"scoreUpdate\":\"\",\"seriesIndex\":2,\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"topOfInning\":false,\"atBatStrikes\":0,\"awayTeamName\":\"Atl\xE9tico
        Latte\",\"gameComplete\":true,\"homeTeamName\":\"Society Data Witches\",\"isPostseason\":true,\"seriesLength\":3,\"awayBatterMod\":\"\",\"awayTeamColor\":\"#094f12\",\"awayTeamEmoji\":\"0x1F3C6\",\"basesOccupied\":[],\"homeBatterMod\":\"\",\"homeTeamColor\":\"#691a8f\",\"homeTeamEmoji\":\"0x1F52E\",\"awayBatterName\":\"\",\"awayPitcherMod\":\"\",\"baseRunnerMods\":[],\"halfInningOuts\":0,\"homeBatterName\":\"\",\"homePitcherMod\":\"\",\"awayPitcherName\":\"Caleb
        Alvarado\",\"baseRunnerNames\":[],\"baserunnerCount\":0,\"halfInningScore\":0,\"homePitcherName\":\"Nebula
        Holstein\",\"awayTeamNickname\":\"Atl\xE9tico\",\"homeTeamNickname\":\"Data
        Witches\",\"awayTeamBatterCount\":50,\"homeTeamBatterCount\":43,\"awayTeamSecondaryColor\":\"#36ad45\",\"homeTeamSecondaryColor\":\"#bc60e2\"}},{\"gameId\":\"f06e067f-6f16-4ce1-966c-3bdc7286ac80\",\"startTime\":\"2020-11-24T23:00:01.6141Z\",\"endTime\":\"2020-11-24T23:30:31.606703Z\",\"data\":{\"id\":\"f06e067f-6f16-4ce1-966c-3bdc7286ac80\",\"day\":6,\"phase\":6,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":9,\"season\":-1,\"weather\":16,\"awayOdds\":0.47245070770176517,\"awayOuts\":3,\"awayTeam\":\"a3ea6358-ce03-4f23-85f9-deb38cb81b20\",\"homeOdds\":0.5275492922982348,\"homeOuts\":3,\"homeT[...]
