interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/teams
  response:
    body:
      string: "{\"data\":[{\"id\":\"40b9ec2a-cb43-4dbb-b836-5accb62e7c20\",\"lastUpdate\":\"2020-10-18T19:00:00.500015Z\",\"data\":{\"id\":\"40b9ec2a-cb43-4dbb-b836-5accb62e7c20\",\"bench\":[],\"emoji\":\"0x1F95C\",\"lineup\":[\"9820f2c5-f9da-4a07-b610-c2dd7bee2ef6\",\"5ca7e854-dc00-4955-9235-d7fcd732ddcf\",\"8903a74f-f322-41d2-bd75-dbf7563c4abb\",\"a1ed3396-114a-40bc-9ff0-54d7e1ad1718\",\"f741dc01-2bae-4459-bfc0-f97536193eea\",\"ea44bd36-65b4-4f3b-ac71-78d87a540b48\",\"de21c97e-f575-43b7-8be7-ecc5d8c4eaff\",\"5ff66eae-7111-4e3b-a9b8-a9579165b0a5\",\"86d4e22b-f107-4bcf-9625-32d387fcb521\",\"083d09d4-7ed3-4100-b021-8fbe30dd43e8\",\"667cb445-c288-4e62-b603-27291c1e475d\"],\"slogan\":\"TREMBLE
        BEFORE MY PODS\",\"bullpen\":[],\"fullName\":\"THE SHELLED ONE'S PODS\",\"gameAttr\":[],\"location\":\"THE
        SHELLED ONE'S\",\"nickname\":\"PODS\",\"permAttr\":[\"PEANUT_RAIN\",\"CRUNCHY\",\"GOD\",\"EXTRA_STRIKE\",\"CURSE_OF_CROWS\",\"SUBJECTION\",\"DESTRUCTION\"],\"rotation\":[\"04e14d7b-5021-4250-a3cd-932ba8e0a889\"],\"seasAttr\":[],\"weekAttr\":[],\"mainColor\":\"#ff0000\",\"shameRuns\":2,\"shorthand\":\"THEP\",\"teamSpirit\":29918000,\"totalShames\":1,\"rotationSlot\":3,\"seasonShames\":1,\"championships\":0,\"totalShamings\":0,\"seasonShamings\":0,\"secondaryColor\":\"#ff0000\"}},{\"id\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"lastUpdate\":\"2021-03-20T21:04:07.004962Z\",\"data\":{\"id\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"card\":7,\"bench\":[\"b88d313f-e546-407e-8bc6-94040499daa5\",\"25581c43-f8da-4657-9e96-e704df0a8878\",\"04e14d7b-5021-4250-a3cd-932ba8e0a889\",\"061b209a-9cda-44e8-88ce-6a4a37251970\",\"2d95d41c-ff54-4fa1-89a0-76b84dd8fe2b\",\"04651d05-44ef-40c1-abd3-4d0c14b6845d\"],\"emoji\":\"0x1F3B8\",\"level\":4,\"state\":{},\"lineup\":[\"542af915-79c5-431c-a271-f7185e37c6ae\",\"86adac6f-c694-44ac-9560-758de7eac937\",\"9f218ed1-d793-437d-a1b9-79f88f69154d\",\"1301ee81-406e-43d9-b2bb-55ca6e0f7765\",\"81a0889a-4606-4f49-b419-866b57331383\",\"8b53ce82-4b1a-48f0-999d-1774b3719202\",\"f3ddfd87-73a2-4681-96fe-829476c97886\",\"c18961e9-ef3f-4954-bd6b-9fe01c615186\",\"1c73f91e-0562-480d-9543-2aab1d5e5acd\",\"d5c24c97-f3d3-4b3d-8c13-0debb61346c5\"],\"slogan\":\"Park
        It!\",\"bullpen\":[\"ce58415f-4e62-47e2-a2c9-4d6a85961e1e\",\"efa73de4-af17-4f88-99d6-d0d69ed1d200\",\"f6b38e56-0d98-4e00-a96e-345aaac1e653\",\"8a6fc67d-a7fe-443b-a084-744294cec647\",\"f968532a-bf06-478e-89e0-3856b7f4b124\",\"c6a277c3-d2b5-4363-839b-950896a5ec5e\",\"dd0b48fe-2d49-4344-83ed-9f0770b370a8\",\"d8742d68-8fce-4d52-9a49-f4e33bd2a6fc\",\"019ce117-2399-4382-8036-8c14db7e1d30\"],\"stadium\":\"cb94ac8b-003b-4d95-baf3-7c14b1c3fc29\",\"eDensity\":1646.5098886391115,\"fullName\":\"Seattle
        Garages\",\"gameAttr\":[],\"location\":\"Seattle\",\"nickname\":\"Garages\",\"permAttr\":[\"FREE_WILL\"],\"rotation\":[\"1732e623-ffc2-40f0-87ba-fdcf97131f1f\",\"e3c514ae-f813-470e-9c91-d5baf5ffcf16\",\"6f9de777-e812-4c84-915c-ef283c9f0cde\",\"68dd9d47-b9a8-4fd3-a89c-5c112eb1982e\",\"f2468055-e880-40bf-8ac6-a0763d846eb2\",\"4ed61b18-c1f6-4d71-aea3-caac01470b5c\",\"7e9a514a-7850-4ed0-93ab-f3a6e2f41c03\",\"f1cc4d7d-bef0-43dd-ba0a-17c7628aa775\"],\"seasAttr\":[\"PARTY_TIME\"],\"weekAttr\":[],\"evolution\":0,\"mainColor\":\"#2b4075\",\"shameRuns\":0,\"shorthand\":\"SEA\",\"winStreak\":-1,\"teamSpirit\":0,\"totalShames\":66,\"rotationSlot\":99,\"seasonShames\":8,\"championships\":0,\"totalShamings\":60,\"seasonShamings\":2,\"secondaryColor\":\"#5a83ea\",\"tournamentWins\":0}},{\"id\":\"e8f7ffee-ec53-4fe0-8e87-ea8ff1d0b4a9\",\"lastUpdate\":\"2021-03-20T21:04:07.004962Z\",\"data\":{\"id\":\"e8f7ffee-ec53-4fe0-8e87-ea8ff1d0b4a9\",\"card\":-1,\"bench\":[],\"emoji\":\"0x2693\",\"level\":null,\"state\":{},\"lineup\":[\"667cb445-c288-4e62-b603-27291c1e475d\",\"542af915-79c5-431c-a271-f7185e37c6ae\",\"da67c196-4cac-428b-8c18-2a411055ea35\",\"28964497-0efe-420c-9c1d-8574f224a4e9\",\"97f5a9cd-72f0-413e-9e68-a6ee6a663489\",\"9c3273a0-2711-4958-b716-bfcf60857013\",\"3e008f60[...]
