interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=CARCINIZATION,UNHOLEY,0
  response:
    body:
      string: '[{"id":"CARCINIZATION","color":"#ff4258","textColor":"#ff4258","background":"#38040a","title":"Carcinization","description":"When
        the Crabs activate the Black Hole, they will steal the other team''s best
        hitter for the remainder of the game."},{"id":"UNHOLEY","color":"#ffffff","textColor":"#ffffff","background":"#863490","title":"Unholey","description":"When
        this Team activates the Black Hole, a random player on their opponent''s Team
        will be impaired by 1%."},{"id":"0","color":"#cffff0","textColor":"#cffff0","background":"#904899","title":"0","description":"Players
        with 0 will always swing at strikes while there are 0 Balls and 0 Strikes
        in the At Bat."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"296-AuQy+9ld/Zc3AjErbJQDKWLmCRo"
    status:
      code: 200
      message: OK
version: 1
