interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=c0732e36-3731-4f1a-abdc-daa9563b6506
  response:
    body:
      string: '[{"id":"c0732e36-3731-4f1a-abdc-daa9563b6506","anticapitalism":0.7535699334532215,"baseThirst":1.4680715954105759,"buoyancy":0.8598374717212158,"chasiness":0.8256472057291726,"coldness":1.281903287711406,"continuation":1.4307251399157308,"divinity":1.3210789320805787,"groundFriction":1.4536741233603137,"indulgence":1.4025757341691665,"laserlikeness":0.8539120801037973,"martyrdom":1.0287604683498155,"moxie":1.4436646423152184,"musclitude":1.389331758266478,"name":"Nagomi
        Mcdaniel","bat":"","omniscience":0.9562225800059417,"overpowerment":1.1148738135644432,"patheticism":0.01,"ruthlessness":0.9319922566771603,"shakespearianism":1.307943961081487,"suppression":0.8940593276276807,"tenaciousness":0.7138742194834191,"thwackability":1.1848965647748932,"tragicness":0.1,"unthwackability":1.2403526473663602,"watchfulness":0.5600466550567234,"pressurization":0.572681607691041,"totalFingers":13,"soul":4,"deceased":false,"peanutAllergy":true,"cinnamon":0.6263053270205567,"fate":34,"armor":"","ritual":"Cursing
        the sun","coffee":6,"blood":4,"permAttr":["SUPERALLERGIC","SIPHON","FIRE_EATER","FLINCH"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":1.0687503285111004,"pitchingRating":1.1375661567178148,"hittingRating":1.231272313215619,"defenseRating":0.8337778761505514,"leagueTeamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","tournamentTeamId":"4e5d0063-73b4-440a-b2d1-214a7345cf16","eDensity":37.8995667221656,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"5d0-kADfEbwLCfAmQvvfSpDjvashY5Q"
    status:
      code: 200
      message: OK
[...]
