interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/season?number=3
  response:
    body:
      string: '{"id":"6c8acae5-fae4-4f81-a253-b21e97853996","league":"d8545021-e9fc-48a3-af74-48685950a183","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","schedule":"13126714-3ea2-4364-9844-063da864e694","seasonNumber":3,"standings":"dbcb0a13-2d59-4f13-8681-fd969aefdcc6","stats":"64392ad5-e14c-42c0-825c-c85da29addaa","terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"166-XoUYX296Wb+JHhwS/cyuE7xU4ns"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/season?number=-2
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/season?number=998
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
