interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?order=desc&player=0bd5a3ec-e14c-45bf-8283-7bc191ae53e4
  response:
    body:
      string: '{"nextPage":"7KPVC0zhv0WCg3vBka5T5GBMO2xFFgAA","data":[{"updateId":"492fc0fc-a8bb-4b6c-a0d6-3c8f17986002","playerId":"0bd5a3ec-e14c-45bf-8283-7bc191ae53e4","firstSeen":"2020-11-16T17:15:00.861234Z","lastSeen":"2021-02-13T18:30:01.171041Z","data":{"id":"0bd5a3ec-e14c-45bf-8283-7bc191ae53e4","bat":"","fate":72,"name":"Stephanie
        Donaldson","soul":5,"armor":"","blood":1,"moxie":0.960860114837361,"coffee":2,"ritual":"Gossip","buoyancy":0.9362595549644177,"cinnamon":0.8759026449394538,"coldness":0.5321971449274412,"deceased":false,"divinity":0.04776122611344499,"gameAttr":[],"permAttr":[],"seasAttr":[],"weekAttr":[],"chasiness":0.48061258448008193,"hitStreak":0,"martyrdom":0.17566830455231172,"baseThirst":0.0664812949947142,"indulgence":0.23882877181149118,"musclitude":0.428470705734316,"tragicness":0.1,"omniscience":0.17697074241304486,"patheticism":0.63070315785001,"suppression":0.19261447089170788,"continuation":0.3979453738589771,"leagueTeamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","ruthlessness":0.758358070834009,"totalFingers":10,"watchfulness":0.38647215222473585,"defenseRating":0.4624676859696008,"hittingRating":0.14916882672718948,"laserlikeness":0.03194917673385708,"overpowerment":0.45961272252346874,"peanutAllergy":true,"tenaciousness":0.385477663183885,"thwackability":0.14088530121215845,"anticapitalism":0.5177250774786364,"groundFriction":0.9048523997478259,"pitchingRating":0.4644450812069083,"pressurization":0.6552940518672206,"consecutiveHits":0,"unthwackability":0.3654955561561175,"shakespearianism":0.8134478624879604,"tournamentTeamId":null,"baserunningRating":0.10664698147582569}},{"updateId":"378db74f-b281-4f76-b38d-c7f7e291cf20","playerId":"0bd5a3ec-e14c-45bf-8283-7bc191ae53e4","firstSeen":"2020-10-18T21:50:00.947176Z","lastSeen":"2020-11-16T17:00:00.908841Z","data":{"id":"0bd5a3ec-e14c-45bf-8283-7bc191ae53e4","bat":"","fate":72,"name":"Stephanie
        Donaldson","soul":5,"armor":"","blood":1,"moxie":0.960860114837361,"coffee":2,"ritual":"Gossip","buoyancy":0.9362595549644177,"cinnamon":0.8759026449394538,"coldness":0.5321971449274412,"deceased":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?order=desc&player=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"nextPage":null,"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
