interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=3d4b8a9f-1a89-4597-be23-af21d1364820,196c2a47-240b-4418-bf96-20c5232fe782
  response:
    body:
      string: '[{"id":"196c2a47-240b-4418-bf96-20c5232fe782","name":null,"awaySeed":1,"awayTeam":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","awayWins":0,"homeSeed":0,"homeTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","homeWins":3,"gamesPlayed":0,"gamesNeeded":"0"},{"id":"3d4b8a9f-1a89-4597-be23-af21d1364820","name":null,"awaySeed":3,"awayTeam":"b024e975-1c4a-4575-8936-a3754a08806a","awayWins":1,"homeSeed":0,"homeTeam":"b72f3061-f573-40d7-832a-5ad475bd7909","homeWins":3,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e9-jxjSICzMIQJP8gDqncGjGfkXZUQ"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
