interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3c331c87-1634-46c4-87ce-e4b9c59e2969
  response:
    body:
      string: '[{"id":"3c331c87-1634-46c4-87ce-e4b9c59e2969","anticapitalism":0.9298660190909198,"baseThirst":0.8120501990612247,"buoyancy":0.2171350018593774,"chasiness":0.545102420330033,"coldness":0.6470957872425089,"continuation":0.10655967272918404,"divinity":0.5829758198250433,"groundFriction":0.6079880807237535,"indulgence":0.13834903862597378,"laserlikeness":0.6258762983500004,"martyrdom":0.7701534846148552,"moxie":0.2258498570706468,"musclitude":0.5997102435355803,"name":"Yosh
        Carpenter","omniscience":0.3180201502863657,"overpowerment":0.5583193242146954,"patheticism":0.1908621344171906,"ruthlessness":1.0436871136574417,"shakespearianism":0.9356315450947202,"suppression":0.8685803677012216,"tenaciousness":0.9463504218225285,"thwackability":0.6843843355715711,"tragicness":0.16234901633005422,"unthwackability":0.8753101789695832,"watchfulness":0.470478014604504,"pressurization":0.3186511553901601,"totalFingers":12,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":1.0215620744774612,"fate":30,"ritual":"Cartoons","coffee":4,"blood":9,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.4835584193187013,"pitchingRating":0.8568922536457634,"hittingRating":0.6131660637540067,"defenseRating":0.681467432821999,"leagueTeamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","tournamentTeamId":"4d921519-410b-41e2-882e-9726a4e54a6a","eDensity":32.445589186783295,"state":{},"evolution":0,"items":[{"id":"a7d9ab8c-a614-4312-919e-983664d51368","name":"Paper
        Shoes","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":{"name":"Paper","adjustments":[{"type":3,"value":-3}]},"root":{"name":"Shoes","adjustments":[{"stat":10,"type":1,"value":0.16587147348977954}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0.06863111552793844,"pitchingRating":0,"hittingRating":0,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76b-0tf2E05IXT7rPJ/pY05uxqtI+2M"
    status:
      code: 200
      message: OK
[...]
