interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameById/7288ef24-842d-4ae1-aede-392e00330406
  response:
    body:
      string: '{"id":"7288ef24-842d-4ae1-aede-392e00330406","basesOccupied":[],"baseRunners":[],"baseRunnerNames":[],"outcomes":[],"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","lastUpdate":"Game
        over.","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","statsheet":"1687a5be-3f66-4619-8a89-2970c9c2e67b","awayPitcher":"1732e623-ffc2-40f0-87ba-fdcf97131f1f","awayPitcherName":"Betsy
        Trombone","awayBatter":null,"awayBatterName":null,"awayTeam":"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","awayTeamName":"Philly
        Pies","awayTeamNickname":"Pies","awayTeamColor":"#399d8f","awayTeamEmoji":"0x1F967","awayOdds":0.4662638491705753,"awayStrikes":null,"awayScore":3,"awayTeamBatterCount":33,"homePitcher":"1513aab6-142c-48c6-b43e-fbda65fd64e8","homePitcherName":"Caleb
        Alvarado","homeBatter":null,"homeBatterName":null,"homeTeam":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","homeTeamName":"Chicago
        Firefighters","homeTeamNickname":"Firefighters","homeTeamColor":"#8c2a3e","homeTeamEmoji":"0x1F525","homeOdds":0.5337361508294247,"homeStrikes":null,"homeScore":2,"homeTeamBatterCount":32,"season":0,"isPostseason":true,"day":110,"phase":4,"gameComplete":true,"finalized":true,"gameStart":true,"halfInningOuts":0,"halfInningScore":0,"inning":8,"topOfInning":false,"atBatBalls":0,"atBatStrikes":0,"seriesIndex":3,"seriesLength":5,"shame":false,"weather":null,"baserunnerCount":0,"homeBases":4,"awayBases":4,"repeatCount":0,"awayTeamSecondaryColor":"","homeTeamSecondaryColor":"","homeBalls":4,"awayBalls":4,"homeOuts":3,"awayOuts":3,"playCount":0,"tournament":-1,"baseRunnerMods":[],"homePitcherMod":"","homeBatterMod":"","awayPitcherMod":"","awayBatterMod":"","scoreUpdate":"","scoreLedger":"","stadiumId":null,"secretBaserunner":null,"topInningScore":0,"bottomInningScore":0,"newInningPhase":-1,"gameStartPhase":-1,"isTitleMatch":false,"queuedEvents":[],"state":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"729-fKK0VPwvy0n+91QRO1X+YRmHWg4"
    status:
      code: 200
      message: OK
[...]
