interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=196c2a47-240b-4418-bf96-20c5232fe782
  response:
    body:
      string: '[{"id":"196c2a47-240b-4418-bf96-20c5232fe782","name":null,"awaySeed":1,"awayTeam":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","awayWins":0,"homeSeed":0,"homeTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","homeWins":3,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5-E07lliTunQwgkC2q455F5bAlCkY"
    status:
      code: 200
      message: OK
version: 1
