interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/games?season=2&day=54
  response:
    body:
      string: "[{\"id\":\"d4d5eb93-1894-4036-bc55-76ad962aa173\",\"basesOccupied\":[],\"baseRunners\":[],\"baseRunnerNames\":[],\"outcomes\":[],\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"lastUpdate\":\"Game
        over.\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"statsheet\":\"2dff6ce8-aad7-4eaf-bf14-00546f224a45\",\"awayPitcher\":\"f2c477fb-28ea-4fcb-943a-9fab22df3da0\",\"awayPitcherName\":\"Sandford
        Garner\",\"awayBatter\":null,\"awayBatterName\":null,\"awayTeam\":\"b72f3061-f573-40d7-832a-5ad475bd7909\",\"awayTeamName\":\"San
        Francisco Lovers\",\"awayTeamNickname\":\"Lovers\",\"awayTeamColor\":\"#780018\",\"awayTeamEmoji\":\"0x1F48B\",\"awayOdds\":0.6342800818444304,\"awayStrikes\":3,\"awayScore\":7,\"awayTeamBatterCount\":37,\"homePitcher\":\"e16c3f28-eecd-4571-be1a-606bbac36b2b\",\"homePitcherName\":\"Comfort
        Glover\",\"homeBatter\":null,\"homeBatterName\":null,\"homeTeam\":\"878c1bf6-0d21-4659-bfee-916c8314d69c\",\"homeTeamName\":\"Los
        Angeles Tacos\",\"homeTeamNickname\":\"Tacos\",\"homeTeamColor\":\"#64376e\",\"homeTeamEmoji\":\"0x1F32E\",\"homeOdds\":0.36571991815556965,\"homeStrikes\":3,\"homeScore\":8,\"homeTeamBatterCount\":40,\"season\":2,\"isPostseason\":false,\"day\":54,\"phase\":4,\"gameComplete\":true,\"finalized\":true,\"gameStart\":true,\"halfInningOuts\":0,\"halfInningScore\":0,\"inning\":8,\"topOfInning\":true,\"atBatBalls\":0,\"atBatStrikes\":0,\"seriesIndex\":1,\"seriesLength\":3,\"shame\":false,\"weather\":7,\"baserunnerCount\":0,\"homeBases\":4,\"awayBases\":4,\"repeatCount\":0,\"awayTeamSecondaryColor\":\"\",\"homeTeamSecondaryColor\":\"\",\"homeBalls\":4,\"awayBalls\":4,\"homeOuts\":3,\"awayOuts\":3,\"playCount\":0,\"tournament\":-1,\"baseRunnerMods\":[],\"homePitcherMod\":\"\",\"homeBatterMod\":\"\",\"awayPitcherMod\":\"\",\"awayBatterMod\":\"\",\"scoreUpdate\":\"\",\"scoreLedger\":\"\"},{\"id\":\"55b8c63c-45ce-48e3-85a6-e0a71036db0b\",\"basesOccupied\":[],\"baseRunners\":[],\"baseRunnerNames\":[],\"outcomes\":[],\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"lastUpdate\":\"Game
        over.\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"statsheet\":\"9cc9ee42-1b61-4fd1-97be-036642e4d999\",\"awayPitcher\":\"94baa9ac-ff96-4f56-a987-10358e917d91\",\"awayPitcherName\":\"Gabriel
        Griffith\",\"awayBatter\":null,\"awayBatterName\":null,\"awayTeam\":\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=2dff6ce8-aad7-4eaf-bf14-00546f224a45
  response:
    body:
      string: '[{"id":"2dff6ce8-aad7-4eaf-bf14-00546f224a45","homeTeamRunsByInning":[0,2,0,4,0,0,1,1],"awayTeamRunsByInning":[2,0,0,3,0,1,0,0,1],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"2b82acd7-9141-47d3-b123-9dcab175a927","homeTeamStats":"959e2dfe-3aca-4738-a837-769c79336efe"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-vT+nYu3eA+3DebqJDUbB/ityQvE"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/games?season=-2&day=2
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/games?season=3&day=-1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/games?season=0&day=998
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
