interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/time/map
  response:
    body:
      string: '{"data":[{"season":1,"tournament":-1,"day":98,"type":"season","startTime":"2020-08-01T07:13:21.108Z","endTime":"2020-08-01T13:00:02.705Z"},{"season":1,"tournament":-1,"day":99,"type":"postseason","startTime":"2020-08-01T13:00:02.705Z","endTime":"2020-08-01T14:00:02.188Z"},{"season":1,"tournament":-1,"day":100,"type":"postseason","startTime":"2020-08-01T14:00:02.188Z","endTime":"2020-08-01T15:00:01.84Z"},{"season":1,"tournament":-1,"day":101,"type":"postseason","startTime":"2020-08-01T15:00:01.84Z","endTime":"2020-08-01T16:00:01.232Z"},{"season":1,"tournament":-1,"day":102,"type":"postseason","startTime":[...]
