interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/teamSeasonStats?ids=28c40d9c-78f1-4b40-8cea-df4d1e7f7531,73a675da-04ce-4c40-abb9-be8bbfe8af6a,091f8384-6c9c-4768-bd8d-d59c1e07b228,0d52374a-1883-4a43-89ea-ff3ea9a2fc07,776eb1c9-dd8e-42d1-81a2-c824bcd0a461,2ab800dd-5f80-40fd-be6d-e359ea49da20,a9923e1c-7aa7-42d2-bc5f-964d96af5e6d,f4a2722f-ddb4-4ba2-a2aa-47f0fbe4f801,21ab4547-2058-4be5-944a-36aa90881390,9bc8e5f3-4f76-42ae-b668-f27ac2cfa942,1148677b-1063-40be-a3c6-6dc7241a18d8,d8faa202-203f-45a2-9c07-a749f55baf4c,045354c7-c200-474a-b796-921a7d2d575a,94c1b7af-a2c9-4b23-bc51-81e9f564e508,cfbcf289-7c25-4e39-9c18-fb2da66f3b99,a9e22821-8fde-4308-9ec1-b8c9abb63814,4dac9723-937e-4235-a7eb-3a5b41722eb3,61589d68-f552-444b-a184-8f1fc4062dbe,f4b0375a-c63c-4ede-986c-bc5952c57590,3c77880e-62f7-4543-ba6b-aa44acbf1d0a
  response:
    body:
      string: '[{"id":"045354c7-c200-474a-b796-921a7d2d575a","playerStats":["15ae3693-fc59-4207-b03c-4b02c5be4e56","c60e3f50-5b82-444f-b667-ef1a3f2c4355","ff93d1a2-37a7-4532-8231-e9bd6632148f","ac9948d5-d805-4dea-8804-6fa411ca7f09","38e49cd6-9333-42c0-b543-fa4ba4b1f03f","957666b3-0958-4341-8ab2-8022d4e2761d","3a258e1d-d763-4d47-9b8d-ccd3025b2934","26286c31-4850-4f6e-abe2-dbc876926df2","33b688dc-b111-45d5-b092-fdd31c53592b","9d029b76-5673-4548-b826-af571e8e483a","1e610bd1-0e0c-46aa-ba98-1c4c6a778068"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Breckenridge
        Jazz Hands","teamId":"a37f9158-7f82-46bc-908c-c9e2dda7c33b"},{"id":"a9e22821-8fde-4308-9ec1-b8c9abb63814","playerStats":["58be5f6d-f906-4da1-a9bb-3d132b359b00","60d51080-8d10-4e3d-b5fc-570a69cf0fc8","b0874c2d-58b1-4caf-ac80-d20b300c277d","e51d20aa-94fb-487d-b0b9-931d06fbe3fc","87251ba0-4b87-40f6-95c0-8a3f661828fb","77e3423f-c518-4686-bf90-fda0c11dabcb","69a8baa2-0be8-4859-aff9-6921cf9dabcc","ba01b3cd-d553-4ffc-9132-6b06f0a50615","28dedd68-2e7a-426f-8ffe-fc1e2b196d9e"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Unli[...]
