interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=a5f8ce83-02b2-498c-9e48-533a1d81aebf
  response:
    body:
      string: '[{"id":"a5f8ce83-02b2-498c-9e48-533a1d81aebf","anticapitalism":0.6473107385622316,"baseThirst":0.8452130393346146,"buoyancy":1.210799808244958,"chasiness":1.6358129392359912,"coldness":1.4768378482852007,"continuation":0.838801419073233,"divinity":0.5976192738032153,"groundFriction":0.6742114256678534,"indulgence":0.4509545699972076,"laserlikeness":0.8667417689924506,"martyrdom":0.8887579054021371,"moxie":0.5169341052602946,"musclitude":0.5713845464137874,"name":"Evelton
        McBlase","omniscience":1.016108653526868,"overpowerment":1.2354389151254632,"patheticism":0.27897144434291116,"ruthlessness":1.0906816660589356,"shakespearianism":0.640018690610739,"suppression":0.9139071357495523,"tenaciousness":1.0905431672893062,"thwackability":0.5576310318151114,"tragicness":0.05329773170422086,"unthwackability":0.5494323868001801,"watchfulness":0.6417084018495867,"pressurization":0.8115882671698996,"totalFingers":12,"soul":5,"deceased":false,"peanutAllergy":false,"cinnamon":1.3329727880852886,"fate":10,"ritual":"Crystals","coffee":8,"blood":5,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7985466416944847,"pitchingRating":0.7650011898172524,"hittingRating":0.6093723409889706,"defenseRating":0.9820532107041585,"leagueTeamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","tournamentTeamId":"e8f7ffee-ec53-4fe0-8e87-ea8ff1d0b4a9","eDensity":32.08481368243406,"state":{},"evolution":0,"items":[{"id":"6fee9484-6082-42f4-9b21-ab5d98b2b8f6","name":"Slimy
        Ring of Vitality","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Slimy","adjustments":[{"stat":10,"type":1,"value":-0.16138670131074573},{"stat":23,"type":1,"value":0.1551449700145062},{"stat":21,"type":1,"value":0.18616096020565998},{"stat":22,"type":1,"value":0.11037718407630921}]}],"postPrefix":null,"root":{"name":"Ring","adjustments":[{"stat":19,"type":1,"value":0.14801925054609913}]},"suffix":{"name":"Vitality","adjustments":[{"stat":13,"type":1,"value":0.1973042074965654},{"stat":9,"type":1,"value":0.14970587379865308},{"stat":20,"type":1,"value":0.11756140789134158}]},"durability":3,"health":3,"baserunningRating":-0.04728817902676319,"pitchingRating":0.03994989323034315,"hittingRating":0,"defenseRating":0.07604432192832589}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f8-BB+Gu8ral3B3VAS2MSVDw8YzPFE"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=bc4187fa-459a-4c06-bbf2-4e0e013d27ce
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
