interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=43431fbc-13c6-4502-bbb4-511af2cba3d0
  response:
    body:
      string: '[{"id":"43431fbc-13c6-4502-bbb4-511af2cba3d0","homeTeamRunsByInning":[0,0,1,0,0,0,0,1,0],"awayTeamRunsByInning":[-0.3,2.7,0,0,2,0,2,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"8af768f2-323e-4d76-ae81-e4c457a53472","homeTeamStats":"4922b337-c827-4b35-ad10-c69f20e1ed9c"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-vyGJBxzlYcrWQ+OyPtAKYy0n0j0"
    status:
      code: 200
      message: OK
version: 1
