interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerSeasonStats?ids=5fb13222-3864-4498-a43b-c42b9bc89203,4b5bcf0d-3519-4e27-9bc3-00823f9a7983,014760a0-a685-4713-b944-67053725fde2,35423662-2e3f-4a8c-be6b-b6bf2cf46319,41f4c039-dc9f-4fda-8fa9-868d0b0349df,bf56014b-a21e-4cec-b598-d21dbfb8f31b,c630607f-792e-4d02-88c7-7ea104021268,b4b1fcec-590f-4d3b-aa8d-4f35dbca8db4,0ad65532-6a8f-427a-80bf-5f7535314c55,2e0d9611-316f-4974-af09-20a955b757a2
  response:
    body:
      string: '[{"id":"014760a0-a685-4713-b944-67053725fde2","playerId":null,"teamId":null,"team":"014760a0-a685-4713-b944-67053725fde2","name":"014760a0-a685-4713-b944-67053725fde2","atBats":5,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":2,"hitsAllowed":0,"homeRuns":1,"losses":0,"outsRecorded":0,"rbis":4,"runs":1,"stolenBases":0,"strikeouts":0,"struckouts":1,"triples":1,"walks":0,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"0ad65532-6a8f-427a-80bf-5f7535314c55","playerId":null,"teamId":null,"team":"0ad65532-6a8f-427a-80bf-5f7535314c55","name":"0ad65532-6a8f-427a-80bf-5f7535314c55","atBats":3,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":0,"hitsAllowed":0,"homeRuns":0,"losses":0,"outsRecorded":0,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":0,"struckouts":0,"triples":0,"walks":1,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"2e0d9611[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerSeasonStats?ids=086d52ad-ef16-4cd9-b6d5-0e0d73b1150c,20e4445e-e44f-4899-bf74-160a5715e89f,bdebd89c-79f8-4bdc-ba20-07a0a851d9b7,fb452210-e573-4c71-b76c-b8e8f428d3c7,ba4c01df-1541-4d53-9fe3-8c19ff31000d,72d193f2-eec2-4ea6-bdca-5d4e577881db,410fd781-1ab8-4d85-a539-d3596ee1c604,ea55f080-a95c-4320-b3f3-bccf63685c85,a5e658bb-8001-4170-b033-33a9afe93261,aad1b0d3-e0b8-4457-98d2-e9b792e1f167,49de5278-[...]
[...]
