interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=60026a9d-fc9a-4f5a-94fd-2225398fa3da
  response:
    body:
      string: '[{"id":"60026a9d-fc9a-4f5a-94fd-2225398fa3da","anticapitalism":0.567869721958242,"baseThirst":0.5321752525138442,"buoyancy":0.3236018833578109,"chasiness":0.41869621543800084,"coldness":0.3361738773808536,"continuation":0.14614862646546273,"divinity":0.8722337296030688,"groundFriction":0.6552750331704766,"indulgence":0.4739337126875598,"laserlikeness":0.12242679105253707,"martyrdom":0.5396728460492346,"moxie":0.8404065814042896,"musclitude":0.39684693231667056,"name":"Bright
        Zimmerman","omniscience":0.6279900744234326,"overpowerment":0.8762319550686113,"patheticism":0.7361319524371172,"ruthlessness":0.5355457274128543,"shakespearianism":0.7250672567496692,"suppression":0.9018561797384052,"tenaciousness":0.5718806560316249,"thwackability":0.804962605810155,"tragicness":0.001,"unthwackability":0.23164021473619506,"watchfulness":0.5337519656990832,"pressurization":0.4668944850477603,"totalFingers":12,"soul":4,"deceased":false,"peanutAllergy":false,"cinnamon":0.6684317040319925,"fate":49,"ritual":"Antagonizing
        umpires","coffee":7,"blood":11,"permAttr":["WANDERER"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.24112225515348093,"pitchingRating":0.34635414902702594,"hittingRating":0.7519414851508361,"defenseRating":0.6628272593879936,"leagueTeamId":"bfd38797-8404-4b38-8b82-341da28b1f83","tournamentTeamId":null,"eDensity":22.015716041035358,"state":{},"evolution":0,"items":[{"id":"4a7adb52-8732-452f-af75-822e700a2128","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.13932529281978212}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.04294522991379923,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71d-F6kwrcRQK0uzrYaqvEwXHa3vyY8"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=53e701c7-e3c8-4e18-ba05-9b41b4b64cda,64f4cd75-0c1e-42cf-9ff0-e41c4756f22a
  response:
    body:
      string: '[{"id":"53e701c7-e3c8-4e18-ba05-9b41b4b64cda","anticapitalism":0.8616085599846877,"baseThirst":0.19174097087788616,"buoyancy":0.6018469875409906,"chasiness":0.5083160718350991,"coldness":0.3571432857288698,"continuation":0.7551352893063182,"divinity":0.11225454252409023,[...]
