interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=de3a52ca-9977-48c3-9138-214c71ac4b80
  response:
    body:
      string: '[{"id":"de3a52ca-9977-48c3-9138-214c71ac4b80","homeTeamRunsByInning":[1,0,2,0,2,0,0,0,0,0,0,1],"awayTeamRunsByInning":[3,0,0,0,0,2,0,0,0,0,0,7],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"21a6ffa7-8b3f-46be-b273-054f0bbce63b","homeTeamStats":"6a7574b6-ef2e-4388-acdc-a8d62204856e"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"131-ETb+KdgvRQ0ysM5xWivoIM+AdS0"
    status:
      code: 200
      message: OK
version: 1
