interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=SHELLED
  response:
    body:
      string: '[{"id":"SHELLED","color":"#fffd85","textColor":"#fffd85","background":"#404040","title":"Shelled","description":"A
        Shelled player is trapped in a big Peanut is unable to bat or pitch."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba-m8NNd/lspRyQ46hjxuWiX/0C2yo"
    status:
      code: 200
      message: OK
version: 1
