interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=b9d97990-df0b-4b8f-ac85-61c44ab29a3d,73265ee3-bb35-40d1-b696-1f241a6f5966,d0d7b8fe-bad8-481f-978e-cb659304ed49,f9930cb1-7ed2-4b9a-bf4f-7e35f2586d71
  response:
    body:
      string: '[{"id":"b9d97990-df0b-4b8f-ac85-61c44ab29a3d","anticapitalism":0.499921796810042,"baseThirst":0.431724620334064,"buoyancy":0.7896476494175042,"chasiness":0.779877799433257,"coldness":0.5679189622977855,"continuation":0.3808038784481831,"divinity":0.4183735665981526,"groundFriction":0.4504419863407509,"indulgence":0.8938006759214898,"laserlikeness":0.7255936170305212,"martyrdom":0.5314970183687517,"moxie":0.5700276459852873,"musclitude":0.9720902016245704,"name":"Lorcan
        Smaht","omniscience":0.4189507489916884,"overpowerment":1.0726647840774703,"patheticism":0.6010378324516782,"ruthlessness":0.8078324284510466,"shakespearianism":0.8937973367566694,"suppression":1.1431743507807295,"tenaciousness":0.7490466190539036,"thwackability":0.9963947685347959,"tragicness":0.11372712400576282,"unthwackability":1.1972403747959632,"watchfulness":0.8312559002809263,"pressurization":0.1909381121542617,"totalFingers":10,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.9654333981541237,"fate":51,"ritual":"Astral
        projection","coffee":11,"blood":11,"permAttr":["UNDERTAKER"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.649270243186319,"pitchingRating":0.989851073812923,"hittingRating":0.6634389269625012,"defenseRating":0.7085992706230291,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":35.0781166020934,"state":{},"evolution":0,"items":[],"itemAttr":[]},{"id":"73265ee3-bb35-40d1-b696-1f241a6f5966","anticapitalism":0.8186629072314737,"baseThirst":0.6712488720527097,"buoyancy":0.9132840631674503,"chasiness":0.6869739211548501,"coldness":1.1212093556955107,"continuation":0.41680858511809055,"divinity":0.1402538177383512,"groundFriction":1.153312501046977,"indulgence":0.6300727399479434,"laserlikeness":0.3996086586271152,"martyrdom":0.38548904791124644,"moxie":0.43758476174467986,"musclitude":0.15307656321819235,"name":"Parker
        Meng","o[...]
