interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/games?tournament=0&day=2
  response:
    body:
      string: "[{\"id\":\"a6c5dcd0-a9b9-4ccf-99db-c0b29fa5457d\",\"basesOccupied\":[],\"baseRunners\":[],\"baseRunnerNames\":[],\"outcomes\":[],\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"lastUpdate\":\"Game
        over.\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"statsheet\":\"e83bcd67-48ed-4114-9f85-49be970e156f\",\"awayPitcher\":\"fedbceb8-e2aa-4868-ac35-74cd0445893f\",\"awayPitcherName\":\"Uncle
        Plasma\",\"awayBatter\":null,\"awayBatterName\":\"\",\"awayTeam\":\"f29d6e60-8fce-4ac6-8bc2-b5e3cabc5696\",\"awayTeamName\":\"BC
        Noir\",\"awayTeamNickname\":\"BC Noir\",\"awayTeamColor\":\"#231709\",\"awayTeamEmoji\":\"0x1F50D\",\"awayOdds\":0.43674751642705106,\"awayStrikes\":3,\"awayScore\":1,\"awayTeamBatterCount\":31,\"homePitcher\":\"2720559e-9173-4042-aaa0-d3852b72ab2e\",\"homePitcherName\":\"Hiroto
        Wilcox\",\"homeBatter\":null,\"homeBatterName\":\"\",\"homeTeam\":\"e8f7ffee-ec53-4fe0-8e87-ea8ff1d0b4a9\",\"homeTeamName\":\"Heavy
        FC\",\"homeTeamNickname\":\"Heavy\",\"homeTeamColor\":\"#a9e8c9\",\"homeTeamEmoji\":\"0x2693\",\"homeOdds\":0.5632524835729489,\"homeStrikes\":3,\"homeScore\":3.5,\"homeTeamBatterCount\":31,\"season\":-1,\"isPostseason\":true,\"day\":2,\"phase\":6,\"gameComplete\":true,\"finalized\":true,\"gameStart\":true,\"halfInningOuts\":0,\"halfInningScore\":0,\"inning\":8,\"topOfInning\":true,\"atBatBalls\":0,\"atBatStrikes\":0,\"seriesIndex\":3,\"seriesLength\":3,\"shame\":false,\"weather\":15,\"baserunnerCount\":0,\"homeBases\":4,\"awayBases\":4,\"repeatCount\":0,\"awayTeamSecondaryColor\":\"#7f6f5c\",\"homeTeamSecondaryColor\":\"#a9e8c9\",\"homeBalls\":4,\"awayBalls\":4,\"homeOuts\":3,\"awayOuts\":3,\"playCount\":280,\"tournament\":0,\"baseRunnerMods\":[],\"homePitcherMod\":\"\",\"homeBatterMod\":\"\",\"awayPitcherMod\":\"\",\"awayBatterMod\":\"\",\"scoreUpdate\":\"\",\"scoreLedger\":\"\",\"stadiumId\":null,\"secretBaserunner\":null,\"topInningScore\":0,\"bottomInningScore\":0,\"newInningPhase\":-1,\"gameStartPhase\":-1,\"isTitleMatch\":false},{\"id\":\"4080ce32-9d3c-4712-b124-5447dd67de57\",\"basesOccupied\":[],\"baseRunners\":[],\"baseRunnerNames\":[],\"outcomes\":[],\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"lastUpdate\":\"Game
        over.\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"statsheet\":\"b992b95e-dd8e-4f91-a3a1-6b5f3c6e7de4\",\"awayPitcher\":\"df4da81a-917b-434f-b309-f00423ee4967\",\"awayPitcherName\":\"Eugenia
        Bickle\",\"awayBatter\":null,\"awayBatterName\":\"\",\"awayTeam\":\[...]
