interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=268580d3-7bbd-474d-a563-08044bafda8b
  response:
    body:
      string: '[{"id":"268580d3-7bbd-474d-a563-08044bafda8b","bonusId":"steal_best_pitcher","bonusTitle":"Steal
        Best Pitcher","teamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","totalVotes":178,"description":"The
        Baltimore Crabs stole the best pitcher in the league, PolkaDot Patterson,
        from the Kansas City Breath Mints. They sent back Winnie Hess.","highestTeam":null,"highestTeamVotes":null,"teamVotes":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18a-f3PX+406KNaO4QhebGCElj7/xiI"
    status:
      code: 200
      message: OK
version: 1
