interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=81d6d985-678a-4eab-960c-3db6ac4fd0b4
  response:
    body:
      string: '[{"id":"81d6d985-678a-4eab-960c-3db6ac4fd0b4","homeTeamRunsByInning":[0,0,0,0,0,0,0,1,0,1],"awayTeamRunsByInning":[0,0,0,0,1,0,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"02a45de6-b009-481f-a6f2-83737b3060f7","homeTeamStats":"b2db5ca6-eeab-4241-ae67-99ebf578c28e"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"129-zqpuOg6C/ZQPwSWrVI0Uz5V6Zbs"
    status:
      code: 200
      message: OK
version: 1
