interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=60026a9d-fc9a-4f5a-94fd-2225398fa3da
  response:
    body:
      string: '[{"id":"60026a9d-fc9a-4f5a-94fd-2225398fa3da","anticapitalism":0.5267600614593912,"baseThirst":0.49769924816381356,"buoyancy":0.27758363385331936,"chasiness":0.3763033992894125,"coldness":0.3039502744832021,"continuation":0.10988142657887244,"divinity":0.838959752721736,"groundFriction":0.6301963924534808,"indulgence":0.43833054983167,"laserlikeness":0.07813118358477697,"martyrdom":0.513075325106314,"moxie":0.794902260449326,"musclitude":0.3534221131648787,"name":"Bright
        Zimmerman","bat":"","omniscience":0.5914153882197646,"overpowerment":0.8526661930089606,"patheticism":0.7791569671777605,"ruthlessness":0.5111568108272864,"shakespearianism":0.6792240619141371,"suppression":0.8709614247805043,"tenaciousness":0.540320490145738,"thwackability":0.7648622316871648,"tragicness":0.034557492859063066,"unthwackability":0.20788185472252121,"watchfulness":0.48836063137711616,"pressurization":0.4668944850477603,"totalFingers":12,"soul":4,"deceased":false,"peanutAllergy":false,"cinnamon":0.6243757900146742,"fate":49,"armor":"","ritual":"Antagonizing
        umpires","coffee":7,"blood":11,"permAttr":["WANDERER"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.18379305403242166,"pitchingRating":0.31784704530816366,"hittingRating":0.711974027212367,"defenseRating":0.6302284063746955,"leagueTeamId":"bfd38797-8404-4b38-8b82-341da28b1f83","tournamentTeamId":null,"eDensity":20.906897730493533,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b9-3pIsEHJ2Z+TehEJlUQRDZ2oCsxg"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=53e701c7-e3c8-4e18-ba05-9b41b4b64cda,64f4cd75-0c1e-42cf-9ff0-e41c4756f22a
  response:
    body:
      string: '[{"id":"53e701c7-e3c8-4e18-ba05-9b41b4b64cda","anticapitalism":1.019924330419976,"baseThirst":0.30698100083476487,"buoyancy":0.8222094643474975,"chasiness":0.6486166204589938,"coldness":0.46743043617621205,"continuation":0.8331793198347479,"divinity":0.08378197595019157,[...]
