interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=HEATING_UP
  response:
    body:
      string: '[{"id":"HEATING_UP","color":"#9e0022","textColor":"#9e0022","background":"#d15700","title":"Heating
        Up...","description":"This batter needs one more consecutive hit to enter
        Fire mode. This mod will disappear if the batter gets out."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb-qJ63xl9g7mpCcokXLCgqhBslnhk"
    status:
      code: 200
      message: OK
version: 1
