interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/fights
  response:
    body:
      string: '{"data":[{"id":"3e2882a7-1553-49bd-b271-49cab930d9fc","lastUpdate":"2020-10-11T02:47:11.774Z","data":{"id":"3e2882a7-1553-49bd-b271-49cab930d9fc","day":1,"phase":6,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","shame":false,"awayHp":"5906630","homeHp":"0","inning":5,"season":8,"weather":10,"awayOdds":0.000000023,"awayTeam":"40b9ec2a-cb43-4dbb-b836-5accb62e7c20","homeOdds":99.999999987,"homeTeam":"bfd38797-8404-4b38-8b82-341da28b1f83","outcomes":["Jaylen
        Hotdogfingers hits Wyatt Quitter with a pitch! Wyatt Quitter is now Repeating!"],"awayBases":4,"awayMaxHp":"29918122","awayScore":3,"finalized":false,"gameStart":true,"homeBases":4,"homeMaxHp":"23813323","homeScore":1,"statsheet":"52dc302c-0ca4-47f2-b792-1c1cf6d5e9df","atBatBalls":0,"awayBatter":null,"homeBatter":null,"lastUpdate":"Jessica
        Telephone hits a solo home run!","awayPitcher":"3af96a6b-866c-4b03-bc14-090acf6ecee5","awayStrikes":4,"baseRunners":[],"homePitcher":"04e14d7b-5021-4250-a3cd-932ba8e0a889","homeStrikes":3,"repeatCount":0,"seriesIndex":1,"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","topOfInning":true,"atBatStrikes":0,"awayTeamName":"THE
        SHELLED ONE''S PODS","gameComplete":false,"homeTeamName":"Charleston Shoe
        Thieves","isPostseason":false,"seriesLength":1,"awayTeamColor":"#ff0000","awayTeamEmoji":"0x1F95C","basesOccupied":[],"damageResults":"[{\"dmgType\":3,\"teamTarget\":\"bfd38797-8404-4b38-8b82-341da28b1f83\",\"playerSource\":\"083d09d4-7ed3-4100-b021-8fbe30dd43e8\",\"dmg\":7507926}]","homeTeamColor":"#ffce0a","homeTeamEmoji":"0x1F45F","awayBatterName":"","halfInningOuts":0,"homeBatterName":"","awayPitcherName":"Axel
        Trololol","baseRunnerNames":[],"baserunnerCount":0,"halfInningScore":0,"homePitcherName":"Jaylen
        Hotdogfingers","awayTeamNickname":"PODS","homeTeamNickname":"Shoe Thieves","awayTeamBatterCount":20,"homeTeamBatterCount":17,"awayTeamSecondaryColor":"#ff0000","homeTeamSecondaryColor":"#ffce0a"}},{"id":"6754f45d-52a6-4b2f-b63c-15dcd520f8cf","lastUpdate":"2020-10-18T00:37:17.012Z","data":{"id":"6754f45d-52a6-4b2f-b63c-15dcd520f8cf","day":1,"phase":6,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","shame":false,"awayHp":"29915332","homeHp":"0","inning":0,"season":9,"weather":7,"awayOdds":0.000000023,"awayOuts":3,"awayTeam":"40b9ec2a-cb43-4dbb-b836-5accb62e7c20","homeOdds":99.999999987,"homeOuts":3,"homeTeam":"8d87c468-699a-47a8-b40d-cfb73a5660ad","outcomes":[],"awayBalls":4,"awayBases":4,"awayMaxHp":"29918000","awayScore":0,"finalized":false,"gameStart":true,"homeBalls":4,"homeBases":4,"homeMaxHp":"31993","homeScore":0,"playCount":0,"statsheet":"f11f62ad-2673-4d74-8871-0bdfc3cebfd9","atBatBalls":0,"awayBatter":null,"homeBatter":null,"lastUpdate":"Wyatt
        Quitter hits a Single!","awayPitcher":"3af96a6b-866c-4b03-bc14-090acf6ecee5","awayStrikes":4,"baseRunners":[],"homePitcher":"97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5","homeStrikes":3,"repeatCount":0,"seriesIndex":1,"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","topOfInning":true,"atBatStrikes":0,"awayTeamName":"THE
        SHELLED ONE''S PODS","gameComplete":fa[...]
