interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/fights/updates?count=100&page=Idm93eCAVkyD_5beIbEAM0q3oaKvVQAA
  response:
    body:
      string: '{"nextPage":"1xeRW4l1skahFNu66OldwaAZvBqwVQAA","data":[{"fightId":"9bb560d9-4925-4845-ad03-26012742ee23","timestamp":"2020-10-18T01:01:27.614341Z","hash":"28dd3945-1161-0ea5-6cff-3a7f091f2104","data":{"id":"9bb560d9-4925-4845-ad03-26012742ee23","day":1,"phase":5,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","shame":false,"awayHp":"6428027","homeHp":"45654005","inning":6,"season":9,"weather":9,"awayOdds":0.000000023,"awayOuts":3,"awayTeam":"40b9ec2a-cb43-4dbb-b836-5accb62e7c20","homeOdds":99.999999987,"homeOuts":3,"homeTeam":"c6c01051-cdd4-47d6-8a98-bb5b754f937f","outcomes":["Jaylen
        Hotdogfingers flickers! Jaylen Hotdogfingers and Axel Trololol switched teams
        in the feedback!","The Blooddrain gurgled! Workman Gloom siphoned some of
        Jessica Telephone''s defensive ability!","Jaylen Hotdogfingers flickers! Jaylen
        Hotdogfingers and Axel Trololol switched teams in the feedback!","Jaylen Hotdogfingers
        flickers! Jaylen Hotdogfingers and Axel Trololol switched teams in the feedback!","A
        Debt was collected. Rogue Umpire incinerated Hall Stars hitter Sebastian Telephone!
        Replaced by Hall of Flame player Scrap Murphy","The Instability chains to
        the Hall Stars''s Randall Marijuana!","Jaylen Hotdogfingers flickers! Jaylen
        Hotdogfingers and Axel Trololol switched teams in the feedback!","Jaylen Hotdogfingers
        flickers! Jaylen Hotdogfingers and Axel Trololol switched teams in the feedback!","Jaylen
        Hotdogfingers flickers! Jaylen Hotdogfingers and Axel Trololol switched teams
        in the feedback!","Jaylen Hotdogfingers flickers! Jaylen Hotdogfingers and
        Axel Trololol switched teams in the feedback!","Jaylen Hotdogfingers flickers!
        Jaylen Hotdogfingers and Axel Trololol switched teams in the feedback!"],"awayBalls":4,"awayBases":4,"awayMaxHp":"29918000","awayScore":13,"finalized":false,"gameStart":true,"homeBalls":4,"homeBases":4,"homeMaxHp":"148609129","homeScore":16,"playCount":0,"statsheet":"e0e22871-14e5-4611-a0a9-2af2bbb398b2","atBatBalls":0,"awayBatter":"a1ed3396-114a-40bc-9ff0-54d7e1ad1718","homeBatter":null,"lastUpdate":"The
        skies shift.\nThe drain begins to gurgle.","awayPitcher":"3af96a6b-866c-4b03-bc14-090acf6ecee5","awayStrikes":4,"baseRunners":["8903a74f-f322-41d2-bd75-dbf7563c4abb"],"homePitcher":"04e14d7b-5021-4250-a3cd-932ba8e0a889","homeStrikes":3,"repeatCount":0,"seriesIndex":1,"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","topOfInning":true,"atBatStrikes":0,"awayTeamName":"THE
        SHELLED ONE''S PODS","gameComplete":false,"homeTeamName":"The Hall Stars","isPostseason":false,"seriesLength":1,"awayTeamColor":"#ff0000","awayTeamEmoji":"0x1F95C","basesOccupied":[2],"damageResults":"[]","homeTeamColor":"#5988ff","homeTeamEmoji":"0x1F991","awayBatterName":"Patel
        Beyonce","halfInningOuts":2,"homeBatterName":"","awayPitcherName":"Axel Trololol","baseRunnerNames":["Francisca
        Sasquatch"],"baserunnerCount":1,"halfInningScore":3,"homePitcherName":"Jaylen
        Hotdogfingers","awayTeamNickname":"PODS","homeTeamNickname":"Hall Stars","awayTeamBatterCount":36,"homeTeamBatterCount":34,"awayTeamSecondaryColor":"#ff0000","homeTeamSecondaryColor":"#5988ff"}},{"fightId":"9bb560d9-4925-4845-ad03-26012742ee23","timestamp":"2020-10-18T01:01:29.121Z","hash":"28dd3945-1161-0ea5-6cff-3a7f091f2104","data":{"id":"9bb560d9-4925-4845-ad03-26012742ee23","day":1,"phase":5,"rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","shame":false,"awayHp":"6428027","homeHp":"45654005","inning":6,"season":9,"weather":9,"awayOdds":0.000000023,"awayOuts":3,"awayTeam":"40b9ec2a-cb43-4dbb-b836-5accb62e7c20","homeOdds":99.999999987,"homeOuts":3,"homeTeam":"c6c01051-cdd4-[...]
