interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameById/58a17204-5ccc-4bcf-b115-7c9897104c55
  response:
    body:
      string: '{"id":"58a17204-5ccc-4bcf-b115-7c9897104c55","basesOccupied":[],"baseRunners":[],"baseRunnerNames":[],"outcomes":[],"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","lastUpdate":"Game
        over.","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","statsheet":"349b9e2f-eaec-460e-87e5-b6ad64e317d3","awayPitcher":"7c5ae357-e079-4427-a90f-97d164c7262e","awayPitcherName":"Milo
        Brown","awayBatter":null,"awayBatterName":"","awayTeam":"b72f3061-f573-40d7-832a-5ad475bd7909","awayTeamName":"San
        Francisco Lovers","awayTeamNickname":"Lovers","awayTeamColor":"#780018","awayTeamEmoji":"0x1F48B","awayOdds":0.6050469483117872,"awayStrikes":3,"awayScore":7,"awayTeamBatterCount":42,"homePitcher":"740d5fef-d59f-4dac-9a75-739ec07f91cf","homePitcherName":"Conner
        Haley","homeBatter":null,"homeBatterName":"","homeTeam":"b024e975-1c4a-4575-8936-a3754a08806a","homeTeamName":"Dallas
        Steaks","homeTeamNickname":"Steaks","homeTeamColor":"#8c8d8f","homeTeamEmoji":"0x1F969","homeOdds":0.39495305168821276,"homeStrikes":3,"homeScore":4,"homeTeamBatterCount":35,"season":4,"isPostseason":true,"day":102,"phase":6,"gameComplete":true,"finalized":true,"gameStart":true,"halfInningOuts":0,"halfInningScore":0,"inning":8,"topOfInning":false,"atBatBalls":0,"atBatStrikes":0,"seriesIndex":4,"seriesLength":5,"shame":false,"weather":13,"baserunnerCount":0,"homeBases":4,"awayBases":4,"repeatCount":0,"awayTeamSecondaryColor":"","homeTeamSecondaryColor":"","homeBalls":4,"awayBalls":4,"homeOuts":3,"awayOuts":3,"playCount":0,"tournament":-1,"baseRunnerMods":[],"homePitcherMod":"","homeBatterMod":"","awayPitcherMod":"","awayBatterMod":"","scoreUpdate":"","scoreLedger":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66a-5KNR+3s0K5xm9PpDgQc9T/brq90"
    status:
      code: 200
      message: OK
[...]
