interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/stadiums
  response:
    body:
      string: "{\"data\":[{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"lastUpdate\":\"2021-03-09T20:14:34.577014Z\",\"data\":{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hype\":0,\"mods\":[],\"name\":\"Core
        Pillar Center\",\"birds\":0,\"model\":null,\"state\":{},\"teamId\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"renoLog\":{},\"weather\":{},\"nickname\":\"The
        Pillars\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#d15700\",\"mysticism\":0.5,\"viscosity\":0.5,\"elongation\":0.5,\"filthiness\":0,\"obtuseness\":0.5,\"forwardness\":0.5,\"grandiosity\":0.5,\"ominousness\":0.5,\"renoDiscard\":[],\"fortification\":0.5,\"inconvenience\":0.5,\"luxuriousness\":0,\"tertiaryColor\":\"#ffbf91\",\"secondaryColor\":\"#ff5b29\"}},{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"lastUpdate\":\"2021-03-09T20:14:34.577014Z\",\"data\":{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hype\":0,\"mods\":[],\"name\":\"The
        Fire Safety Awareness Center\",\"birds\":0,\"model\":null,\"state\":{},\"teamId\":\"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16\",\"renoLog\":{},\"weather\":{},\"nickname\":\"The
        Fire House\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#8c2a3e\",\"mysticism\":0.5,\"viscosity\":0[...]
