interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/roster/updates?count=1
  response:
    body:
      string: '{"nextPage":"HtsrANaZME-InTSfhUsjjGBMO2xFFgAA","data":[{"playerId":"bd4c6837-eeaa-4675-ae48-061efa0fd11a","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"lineup","rosterIndex":6,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2020-08-25T19:00:28.211Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
