interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=555b0a07-a3e0-41bc-b3db-ca8f520857bc
  response:
    body:
      string: '[{"id":"555b0a07-a3e0-41bc-b3db-ca8f520857bc","anticapitalism":0.5595608690594709,"baseThirst":0.04757662353334524,"buoyancy":0.08858130780444284,"chasiness":0.13122852935369878,"coldness":0.8227287237029124,"continuation":0.9249763689640531,"divinity":0.9241399541042874,"groundFriction":0.6003965317765747,"indulgence":0.8463684855589584,"laserlikeness":0.7459376737124472,"martyrdom":0.7298537333415389,"moxie":0.670643030719809,"musclitude":0.20566376385528784,"name":"Oops
        All Keepers","omniscience":0.8196603776707718,"overpowerment":0.5404437641361248,"patheticism":0.23419801626028658,"ruthlessness":0.5551297505227417,"shakespearianism":0.899112896577023,"suppression":0.7251926237221618,"tenaciousness":0.47144356834123613,"thwackability":0.5118920864938197,"tragicness":0.3143165384131521,"unthwackability":0.6116699084417228,"watchfulness":0.27822643298421923,"pressurization":0.866727452592432,"totalFingers":10,"soul":4,"deceased":false,"peanutAllergy":false,"cinnamon":0.3443454833555535,"fate":68,"ritual":"Oops
        All Groundskeeping","coffee":5,"blood":8,"permAttr":["COFFEE_PERIL","COFFEE_EXIT","NON_IDOLIZED"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.5906136259813624,"pitchingRating":0.5548706771689321,"hittingRating":0.6479270691622167,"defenseRating":0.5603251679694369,"leagueTeamId":null,"tournamentTeamId":"7fcb63bc-11f2-40b9-b465-f1d458692a63","eDensity":0,"state":{},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d1-jhPINpI7CQjdywpDz8n8eS+jGsQ"
    status:
      code: 200
      message: OK
version: 1
