interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=ca3f1c8c-c025-4d8e-8eef-5be6accbeb16
  response:
    body:
      string: '{"id":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","lineup":["ab36c776-b520-429b-a85f-bf633d7b081a","c182f33c-aea5-48a2-97ed-dc74fa29b3c0","ad8d15f4-e041-4a12-a10e-901e6285fdc5","20e13b56-599b-4a22-b752-8059effc81dc","20c529b3-947e-4a77-b56f-69fe25fb3717","43d5da5f-c6a1-42f1-ab7f-50ea956b6cd5","68f98a04-204f-4675-92a7-8823f2277075","5831a238-8efe-4d53-a483-1ad681e50ac3","5ff66eae-7111-4e3b-a9b8-a9579165b0a5","2268f452-01b9-4e16-98bb-c07e3ce767e3"],"rotation":["316abea7-9890-4fb8-aaea-86b35e24d9be","e4e4c17d-8128-4704-9e04-f244d4573c4d","1513aab6-142c-48c6-b43e-fbda65fd64e8","94baa9ac-ff96-4f56-a987-10358e917d91","f4a5d734-0ade-4410-abb6-c0cd5a7a1c26"],"bullpen":["f071889c-f10f-4d2f-a1dd-c5dda34b3e2b","ce0a156b-ba7b-4313-8fea-75807b4bc77f","3c051b92-4a86-4157-988a-e334bf6dc691","c8de53a4-d90f-4192-955b-cec1732d920e","54e5f222-fb16-47e0-adf9-21813218dafa","88ca603e-b2e5-4916-bef5-d6bba03235f5","520e6066-b14b-45cf-985c-0a6ee2dc3f7a","5f3b5dc2-351a-4dee-a9d6-fa5f44f2a365","ee29020f-1964-4fce-80f4-35a5e7edfb95"],"bench":["a7edbf19-caf6-45dd-83d5-46496c99aa88","7e4f012e-828c-43bb-8b8a-6c33bdfd7e3f","64aaa3cb-7daf-47e3-89a8-e565a3715b5d","bfd9ff52-9bf6-4aaf-a859-d308d8f29616","97387580-1f7c-49ea-a9e7-44be89329130"],"seasAttr":[],"permAttr":[],"fullName":"Chicago
        Firefighters","location":"Chicago","mainColor":"#8c2a3e","nickname":"Firefighters","secondaryColor":"#d13757","shorthand":"CHIF","emoji":"0x1F525","slogan":"We
        Are From Chicago","shameRuns":0,"totalShames":55,"totalShamings":60,"seasonShames":0,"seasonShamings":0,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":13,"tournamentWins":0,"stadium":"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1","eDensity":1841.3189409984911,"state":{},"evolution":0,"winStreak":-1,"level":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ea-TX723tkuhNIRKJjdNpxpFRLP6qM"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffRound?id=34c99cbf-1d7d-4715-8957-8abcba3c5b89
  response:
    body:
      string: '{"id":"34c99cbf-1d7d-4715-8957-8abcba3c5b89","gameIndex":3,"games":[["812e7d93-0721-4e57-850a-d432de114184","7f29c6e2-cc61-4837-b83f-20eb203e2c41","068fd2ba-a8d3-41e2-8248-85962a45b434","6aec9c92-3227-492d-8391-fdae0f141765","none","none","none","none"],["33e148ee-86be-44d4-8628-8ff6612a4934","c91ec8e5-6335-451c-a3a4-0b1748988df4","8f52e572-bcb3-4f3b-a7f7-df3f41ed8640","3bead95b-6ddb-49d4-9fc5-b3b0cbd6c69f"],["746bc66d-eb9c-427a-91a2-7f41ee8b4543","fca6f5d2-e645-4354-985e-3080983eecb4","14c384cb-e44c-4736-806f-c3f3178c2da0","477f451a-7bc0-4c4d-887d-a3e2d057569c"],["58a17204-5ccc-4bcf-b115-7c9897104c55","b7db28d7-4838-481c-a7d7-04272fbf3f80","c092fb3b-4888-4294-8381-f4c7b3765cb4","none"]],"matchups":["3d4b8a9f-1a89-4597-be23-af21d1364820","bb167354-f57f-4ff5-8309-63e6b918c131","b4f6d880-02f3-42ab-9ee5-54a103d94808","6d3dd7f6-5bd2-4642-a5e7-5c1796579c3f"],"name":"Round
        1","roundNumber":0,"special":false,"winnerSeeds":[0,2,3,1],"winners":["b72f3061-f573-40d7-832a-5ad475bd7909","ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","a37f9158-7f82-46bc-908c-c9e2dda7c33b"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"453-WV8phylRZVnR82nTx22q31ouaWQ"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffRound?id=e647b1d5-829d-4aeb-b50d-3426c99b5c21
  response:
    body:
      string: '{"id":"e647b1d5-829d-4aeb-b50d-3426c99b5c21","gameIndex":4,"games":[["ddfd2b7f-e547-4b1e-b597-9ef2af3a1775","none"],["af6ca8ef-62af-4b39-bdc2-9b3d649fb353"],["8f4397cf-d15a-4b89-879d-87d775f402fb"],["9298a48f-c2fc-4821-9466-1ecacfd35a56"],["52f6274e-e0dc-4c23-87e8-686f6d2b2bbf"]],"matchups":["937187dc-4d7d-45d3-95f6-dfb2ae2972a9"],"name":"The
        Internet Series","roundNumber":2,"special":true,"winnerSeeds":[2],"winners":["ca3f1c8c-c025-4d8e-8eef-5be6accbeb16"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ce-nCe1PIyhFMQdMkMe1MJBKI5rVTY"
    status:
      code: 200
      message: OK
version: 1
