interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerStatsheets?ids=086d52ad-ef16-4cd9-b6d5-0e0d73b1150c,20e4445e-e44f-4899-bf74-160a5715e89f,bdebd89c-79f8-4bdc-ba20-07a0a851d9b7,fb452210-e573-4c71-b76c-b8e8f428d3c7,ba4c01df-1541-4d53-9fe3-8c19ff31000d,72d193f2-eec2-4ea6-bdca-5d4e577881db,410fd781-1ab8-4d85-a539-d3596ee1c604,ea55f080-a95c-4320-b3f3-bccf63685c85,a5e658bb-8001-4170-b033-33a9afe93261,aad1b0d3-e0b8-4457-98d2-e9b792e1f167,49de5278-4967-4219-9c64-ed5c6bcc5e75,042b58bc-3797-4cee-adb0-4ca69ce77a97,3f444d25-fce3-4a23-91f1-a17099ba1e29,8745b073-1eee-4511-83d6-2e284ebe81b0
  response:
    body:
      string: '[{"id":"042b58bc-3797-4cee-adb0-4ca69ce77a97","playerId":null,"teamId":null,"team":"Hawaii
        Fridays","name":"Sixpack Dogwalker","atBats":0,"caughtStealing":0,"doubles":0,"earnedRuns":8,"groundIntoDp":0,"hits":0,"hitsAllowed":14,"homeRuns":0,"losses":1,"outsRecorded":27,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":6,"struckouts":0,"triples":0,"walks":0,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"086d52ad-ef16-4cd9-b6d5-0e0d73b1150c","playerId":"7b55d484-6ea9-4670-8145-986cb9e32412","teamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","team":"Hawaii
        Fridays","name":"Stevenson Heat","atBats":0,"caughtStealing":0,"doubles":0,"earnedRuns":4,"groundIntoDp":0,"hits":0,"hitsAllowed":12,"homeRuns":0,"losses":1,"outsRecorded":63,"rbis":0,"runs":0,"stolenBases":0,"strikeouts":17,"struckouts":0,"triples":0,"walks":0,"walksIssued":2,"wins":1,"hitByPitch":0,"hitBatters":0,"quadruples":[...]
