interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players
  response:
    body:
      string: "{\"data\":[{\"id\":\"006e1d32-9742-48ef-a6ba-36545e93b9e3\",\"teamId\":\"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5\",\"lastUpdate\":\"2021-03-23T19:22:01.494024Z\",\"position\":\"lineup\",\"rosterIndex\":4,\"data\":{\"id\":\"006e1d32-9742-48ef-a6ba-36545e93b9e3\",\"bat\":\"\",\"fate\":1,\"name\":\"Jomgy
        Rolsenthal\",\"soul\":3,\"armor\":\"\",\"blood\":9,\"moxie\":0.08509619086300413,\"state\":{},\"coffee\":7,\"ritual\":\"Recharging\",\"buoyancy\":0.27738163247818215,\"cinnamon\":0.9557723346100397,\"coldness\":0.8014029000551868,\"deceased\":false,\"divinity\":0.6352946917603408,\"eDensity\":17.285909031734874,\"gameAttr\":[],\"permAttr\":[],\"seasAttr\":[],\"weekAttr\":[],\"chasiness\":0.7229793667815614,\"evolution\":0,\"hitStreak\":0,\"martyrdom\":0.628838150810906,\"baseThirst\":0.8063255042563098,\"indulgence\":0.9362932518963565,\"musclitude\":0.5827715556855444,\"tragicness\":0.6650735014282325,\"omniscience\":0.834642193183369,\"patheticism\":0.10232689121070626,\"suppression\":0.5639760167314403,\"continuation\":0.9426529377328381,\"leagueTeamId\":\"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5\",\"ruthlessness\":0.3092681417641161,\"totalFingers\":10,\"watchfulness\":0.10619351145852662,\"defenseRating\":0.5207252411864172,\"hittingRating\":0.5497636099157143,\"laserlikeness\":0.023860282939176303,\"overpowerment\":0.7160279604013691,\"peanutAllergy\":true,\"tenaciousness\":0.45272361179163,\"thwackability\":0.5834560120336476,\"anticapitalism\":0.13371971759180457,\"groundFriction\":0.05784949974566822,\"pitchingRating\":0.4295057387110304,\"pressurization\":0.8174676049595371,\"consecutiveHits\":0,\"unthwackability\":0.6019902869990443,\"shakespearianism\":0.5152806683047602,\"tournamentTeamId\":null,\"baserunningRating\":0.1122781290061063},\"forbidden\":false},{\"id\":\"00ca40af-a8df-4519-af9a-beaf93ffc122\",\"teamId\":null,\"lastUpdate\":\"2021-03-23T19:22:01.825329Z\",\"position\":null,\"rosterIndex\":null,\"data\":{\"id\":\"00ca40af-a8df-4519-af9a-beaf93ffc122\",\"bat\":\"\",\"fate\":55,\"name\":\"Eli
        Winner\",\"soul\":4,\"armor\":\"\",\"blood\":0,\"moxie\":1.106860043476153,\"state\":{},\"coffee\":0,\"ritual\":\"Night
        terrors\",\"buoyancy\":0.47265662478938064,\"cinnamon\":0.0998392127375296,\"coldness\":1.2195256498335258[...]
