interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/versions?count=200&id=d9f89a8a-c563-493e-9d64-78e4f9a55d4a&order=desc&type=team
  response:
    body:
      string: '{"nextPage":"ipr42WPFPkmdZHjk-aVdSqwpqz092wAA","items":[{"entityId":"d9f89a8a-c563-493e-9d64-78e4f9a55d4a","hash":"6995d7c0-2d77-7508-204d-58d38c7f9be1","validFrom":"2021-04-09T21:21:41.287294Z","validTo":null,"data":{"id":"d9f89a8a-c563-493e-9d64-78e4f9a55d4a","card":-1,"bench":["8e1eeeb8-1b80-4781-9d85-bda3b58a45f4","9337389f-4301-4e30-a108-4680c02ee1fe","35acb6ea-9a7c-49b6-809c-59409f557651"],"emoji":"0x1F531","level":5,"state":{},"lineup":["409d1c96-760b-4a96-9a3c-481112ddf37b","91f5298e-a2ec-4f54-a541-1818702d1b6d","4b01cc3f-c59f-486d-9c00-b8a82624e620","3d293d6c-3a20-43ab-a895-2b7f1f28779f","5361e381-6658-488b-8236-dde6a264554f","6ebac746-6685-4d0f-8e84-6b21299b5169","ebe6ac02-3b83-4da8-b1e5-f89053bbd5c8","5116921f-7642-441a-9a85-40c93a1e61bd","ad56f749-ee48-4a85-9827-8455aeafe276"],"slogan":"You
        Sink, We Swim","bullpen":["9ae7cec4-1df0-4922-8f7a-f3b996d031e7","1f930140-9fc6-4240-9ef6-e7ac065eaefb","cbd19e6f-3d08-4734-b23f-585330028665","e6768069-1db7-44d6-849b-0a281f62e855","1c55aedf-6e31-4f3c-9b17-8a84b7d15a0c","ec41d37e-2398-4e7d-aaf0-f7f52e5300c7","7815e82e-5ea4-4cef-b28b-6d8e05815c52","0288bbb1-a994-45c3-bb8f-331fe296090d"],"stadium":"37c2743f-1a15-4e3f-bdb1-a6461df93434","eDensity":1865.9407711813587,"fullName":"Atlantis
        Georgias","gameAttr":[],"location":"Atlantis","nickname":"Georgias","permAttr":["UNDERSEA","FREE_WILL"],"rotation":["948ce8a8-19cd-4f81-b84f-88cce02c47bc","0ef1bc34-64ee-4c7b-8be2-88322b407a58","bc29afc1-c954-4def-978b-a59ae5def3c3","4a95d9d8-3dcc-488d-b1cb-19690271ae4c","56eba639-ea73-474d-bcee-ec68c0528b02"],"seasAttr":["PARTY_TIME"],"weekAttr":[],"evolution":1,"mainColor":"#00dbc2","shameRuns":0,"shorthand":"ATL","winStreak":-5,"teamSpirit":0,"totalShames":14,"rotationSlot":99,"seasonShames":4,"championships":4,"totalShamings":12,"seasonShamings":2,"secondaryColor":"#5cffec","tournamentWins":0}},{"entityId":"d9f89a8a-c563-493e-9d64-78e4f9a55d4a","hash":"982eee9f-74b3-4002-6840-4cd9218f202f","validFrom":"2021-04-09T19:32:12.548865Z","validTo":"2021-04-09T21:21:41.287294Z","data":{"id":"d9f89a8a-c563-493e-9d64-78e4f9a55d4a","card":-1,"bench":["8e1eeeb8-1b80-4781-9d85-bda3b58a45f4","9337389f-4301-4e30-a108-4680c02ee1fe","35acb6ea-9a7c-49b6-809c-59409f557651"],"emoji":"0x1F531","level":5,"state":{},"lineup":["409d1c96-760b-4a96-9a3c-481112ddf37b","91f5298e-a2ec-4f54-a541-1818702d1b6d","[...]
