interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&type=stadium
  response:
    body:
      string: "{\"nextPage\":\"h9Uf9wzSHEaIpBY0ot8_Q8Y2Rx873gAA\",\"items\":[{\"entityId\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hash\":\"1bff860e-932b-3267-8049-7e254adbd9fc\",\"validFrom\":\"2021-04-09T23:27:43.696892Z\",\"validTo\":null,\"data\":{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hype\":0,\"mods\":[\"PSYCHOACOUSTICS\",\"SECRET_BASE\",\"ECHO_CHAMBER\"],\"name\":\"Core
        Pillar Center\",\"birds\":0,\"model\":3,\"state\":{},\"teamId\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"renoLog\":{\"secret_base_mod\":1,\"echo_chamber_mod\":1,\"psychoacoustics_mod\":1},\"weather\":{\"17\":1},\"nickname\":\"The
        Pillars\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#d15700\",\"mysticism\":0.48208876148585916,\"viscosity\":0.2769749520408473,\"elongation\":0.5124500042294067,\"filthiness\":0.11778869588834996,\"obtuseness\":0.4521598407783409,\"forwardness\":0.4446314721438908,\"grandiosity\":0.4447289767338998,\"ominousness\":0.4391837802585088,\"renoDiscard\":[\"psychoacoustics_mod\",\"solar_panels_mod\",\"viscosity_minus\",\"viscosity_plus\",\"event_horizon_mod\",\"peanut_mister_mod\",\"elongation_plus\",\"grandiosity_plus\",\"coffee_threes_plus\",\"secret_base_mod\",\"grind_rail_mod\",\"ominousness_minus\",\"echo_chamber_mod\",\"big_bucket_mod\",\"soundsystem_mod\",\"event_horizon_mod\",\"grandiosity_plus\",\"flood_pumps_mod\"],\"fortification\":0.5376439522647619,\"inconvenience\":0.6025859364172551,\"luxuriousness\":0,\"tertiaryColor\":\"#ffddc4\",\"secondaryColor\":\"#ffaf96\"}},{\"entityId\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hash\":\"6cf10ff8-a988-26e2-dd4c-667a525f267d\",\"validFrom\":\"2021-04-09T19:18:29.8944Z\",\"validTo\":null,\"data\":{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hype\":0,\"mods\":[\"BIG_BUCKET\",\"SECRET_BASE\",\"ECHO_CHAMBER\"],\"name\":\"The
        Fire Safety Awareness Center\",\"birds\":0,\"model\":2,\"state\":{},\"teamId\":\"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16\",\"renoLog\":{\"big_bucket_mod\":1,\"secret_base_mod\":1,\"echo_chamber_mod\":1},\"weather\":{\"15\":1},\"nickname\":\"The
        Fire House\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#8c2a3e\",\"mysticism\":0.2343003613218557,\"viscosity\":0.43120967518540154,\"elongation\":0.43654265137776965,\"filthiness\":0.1742206245405967,\"obtuseness\":0.5306518569849688,\"forwardness\":0.5860283120781291,\"grandiosity\":0.5112050242221085,\"ominousness\":0.46984360699104116,\"renoDiscard\":[\"psychoacoustics_mod\",\"big_bucket_mod\",\"blooddrain_plus\",\"sun_two_plus\",\"feedback_plus\",\"mysticism_minus\",\"obtuseness_minus\",\"solar_panels_mod\",\"coffee_one_plus\",\"secret_base_mod\",\"soundsystem_mod\",\"echo_chamber_mod\",\"obtuseness_plus\",\"mysticism_plus\",\"obtuseness_minus\",\"flooding_plus\",\"forwardness_minus\",\"ominousness_minus\"],\"fortification\":0.6070407692089913,\"inconvenience\":0.5364666644060236,\"luxuriousness\":0,\"tertiaryColor\":\"#f8e7ee\",\"secondaryColor\":\"#d17588\"}},{\"entityId\":\"1c1614b3-abdb-4008-98eb-12aeb8f7bb54\",\"hash\":\"f370f9e1-43ef-bd3d-a598-2bb7ac0ca771\",\"validFrom\":\"2021-04-09T13:26:28.792287Z\",\"validTo\":null,\"data\":{\"id\":\"1c1614b3-abdb-4008-98eb-12aeb8f7bb54\",\"hype\":0,\"mods\":[\"GRIND_RAIL\",\"SECRET_BASE\"],\"name\":\"San
        Franstadium\",\"birds\":0,\"model\":2,\"state\":{},\"teamId\":\"b72f3061-f573-40d7-832a-5ad475bd7909\",\"renoLog\":{\"grind_rail_mod\":1,\"secret_base_mod\":1},\"weather\":{\"16\":1},\"nickname\":\"The
        Polyhedron\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#780018\",\"mysticism\":0.3770574015656983,\"viscosity\":0.598692635551642,\"elongation\":0.57028744875978,\"filthiness\":0.16236088815655808,\"obtuseness\":0.440766599802753,\"forwardness\":0.48562885702968184,\"grandiosity\":0.46934888376296396,\"ominousness\":0.49529640777130407,\"renoDiscard\":[\"psychoacoustics_mod\",\"grandiosity_minus\",\"solar_panels_mo[...]
