interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=643280fc-b7c6-4b6d-a164-9b53e1a3e47a,8af77570-ba69-46c6-9c7b-3064e7c5c1d5
  response:
    body:
      string: '[{"id":"643280fc-b7c6-4b6d-a164-9b53e1a3e47a","decreeId":"forecast_birds","decreeTitle":"
        ","description":"EMERGENCY ALERT\nSEVERE MURMURATION WARNING IN THIS AREA","totalVotes":304585},{"id":"8af77570-ba69-46c6-9c7b-3064e7c5c1d5","decreeId":"book_deface","decreeTitle":"Deface","description":"The
        Book Defaces\nItself.\nIt Rewrites the Rules,\nRe-faces the Ballot.\nRegards
        Itself.\nRecognizes Your Will.","totalVotes":213453}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ac-QGA2BbEiywIWbjQzLsSrOsMOto4"
    status:
      code: 200
      message: OK
version: 1
