interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/feed/team?category=0&id=a37f9158-7f82-46bc-908c-c9e2dda7c33b&limit=2
  response:
    body:
      string: '[{"id":"34d9a192-daa8-45a8-a6c9-8e5e760746fa","playerTags":[],"teamTags":["a37f9158-7f82-46bc-908c-c9e2dda7c33b","b63be8c2-576a-4d6e-8daf-814f8bcea96f"],"gameTags":["e5b4308b-9df9-4c59-8873-37bbb55b7f2b"],"metadata":{"play":302,"subPlay":-1},"created":"2021-03-19T19:26:29.943Z","season":13,"tournament":-1,"type":8,"day":98,"phase":6,"category":0,"description":"Stephens
        Lightner hit a ground out to Randy Dennis."},{"id":"13711e59-0821-4b29-8330-b34fcc5fb753","playerTags":[],"teamTags":["a37f9158-7f82-46bc-908c-c9e2dda7c33b","b63be8c2-576a-4d6e-8daf-814f8bcea96f"],"gameTags":["e5b4308b-9df9-4c59-8873-37bbb55b7f2b"],"metadata":{"play":301,"subPlay":-1},"created":"2021-03-19T19:26:24.899Z","season":13,"tournament":-1,"type":12,"day":98,"phase":6,"category":0,"description":"Stephens
        Lightner batting for the Jazz Hands."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33c-+y1kco1o1D/Hnq9hndYB6bj52j4"
    status:
      code: 200
      message: OK
version: 1
