interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=e6227e9d-7447-478e-b134-78fe49280e63
  response:
    body:
      string: '[{"id":"e6227e9d-7447-478e-b134-78fe49280e63","homeTeamRunsByInning":[0,0,2,0,3,1,3,2,0],"awayTeamRunsByInning":[0,0,0,0,0,1,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"fd72c65c-b177-459a-a85a-bab763e2dfa8","homeTeamStats":"e3549992-1df9-4158-9769-fec0c6bce1cd"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-4Tu3jbKxity1QAyDaTPKV20OP9c"
    status:
      code: 200
      message: OK
version: 1
