interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/teamStatsheets?ids=9b1dd34d-67af-4866-b558-2403a39a9ab6,02d53eb0-ef4a-49f9-9762-c2a3c9096f56
  response:
    body:
      string: '[{"id":"02d53eb0-ef4a-49f9-9762-c2a3c9096f56","playerStats":["9bdd399e-a236-4523-8258-b934bec02085","d029da53-b6fe-447e-b8a3-21640d9e9584","aef38340-2d30-4155-8f61-2821bfa17da5","255cda18-3774-478e-ae0c-0b30aa4e9768","86a3888d-ba2b-4aaf-bc4c-faaaf79d1644","a36777e2-1d86-47ff-a5ec-32345ccce198","bf84bcd4-c87d-4648-ab35-eadf161e57ea","73be8987-0d13-4827-abf1-889afdf64386","19bcddca-bcfa-4929-b125-6721d438ca7a","45d09166-01a7-4b1a-92e0-5edd243ae041","05bee097-2e9b-4ee3-a9ce-41d2eae27ed3","4b1e37bb-ec1a-42d5-9b21-27346fa17cc5","6c96545a-5c75-45c5-a65a-00e9aefe28b3","5e2fb5c3-4e1f-4e73-88f6-6b8f83856b5e"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Mexico
        City Wild Wings","teamId":"57ec08cc-0411-4643-b304-0e80dbc15ac7"},{"id":"9b1dd34d-67af-4866-b558-2403a39a9ab6","playerStats":["22d6f30f-1846-4f92-9438-73fa50b5f772","35b18570-e34b-4bf1-a76e-cf15facaa9f9","dd92e5a9-ad45-4225-80f0-c96c3f8e8b50","a3039653-0922-4066-ba53-8261bc3df9eb","4dd4e528-c522-4e79-a14b-35e88a19a017","7227ff9a-0979-463f-aa8b-b9537a9d0d2f","d49e7d5e-8745-44cc-810e-5e9a35c6f078","265df2fa-7e5d-44d1-b30a-2a879c2a4de3","4e666ffa-c558-4d0e-8778-5018a5b10bc0","d39af1d0-d080-4b90-956c-838ff2f562a9","20bbf8bf-7bd2-4264-81b7-1e2d14414466","4a0dcc73-b700-4ae0-9151-70ab8eaa4f8d","e555c7b6-b403-4562-9427-840fd7045b42"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Canada
        Moist Talkers","teamId":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"580-azZpJRQQ/8zuy8OVvs/R9NDBfCQ"
    status:
      code: 200
      message: OK
version: 1
