interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?at=2021-04-20T07%3A00%3A05.443951Z&count=1000&type=stadium
  response:
    body:
      string: "{\"nextPage\":\"h9Uf9wzSHEaIpBY0ot8_Q5Af0Ptq5gAA\",\"items\":[{\"entityId\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hash\":\"18d807ea-f0c1-50d8-de4e-9a973ad9ca16\",\"validFrom\":\"2021-04-20T06:32:31.440425Z\",\"validTo\":\"2021-04-20T07:00:35.543379Z\",\"data\":{\"id\":\"031670ae-97a5-4215-b1a1-98e9f1de7c50\",\"hype\":0,\"mods\":[\"PSYCHOACOUSTICS\",\"SECRET_BASE\",\"ECHO_CHAMBER\",\"SWEETENER\",\"SALMON_CANNONS\"],\"name\":\"Core
        Pillar Center\",\"birds\":0,\"model\":3,\"state\":{},\"teamId\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"renoLog\":{\"sweetener_mod\":1,\"secret_base_mod\":1,\"echo_chamber_mod\":1,\"salmon_cannons_mod\":1,\"psychoacoustics_mod\":1},\"weather\":{\"17\":1},\"nickname\":\"The
        Pillars\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#d15700\",\"mysticism\":0.48208876148585916,\"viscosity\":0.2769749520408473,\"elongation\":0.5124500042294067,\"filthiness\":0.2014942783841622,\"obtuseness\":0.4521598407783409,\"forwardness\":0.4446314721438908,\"grandiosity\":0.4447289767338998,\"ominousness\":0.4391837802585088,\"renoDiscard\":[\"psychoacoustics_mod\",\"solar_panels_mod\",\"viscosity_minus\",\"viscosity_plus\",\"event_horizon_mod\",\"peanut_mister_mod\",\"elongation_plus\",\"grandiosity_plus\",\"coffee_threes_plus\",\"secret_base_mod\",\"grind_rail_mod\",\"ominousness_minus\",\"echo_chamber_mod\",\"big_bucket_mod\",\"soundsystem_mod\",\"event_horizon_mod\",\"grandiosity_plus\",\"flood_pumps_mod\",\"salmon_cannons_mod\",\"sweetener_mod\",\"flooding_plus\",\"big_bucket_mod\",\"mysticism_plus\",\"filthiness_cleanup\",\"coffee_one_plus\",\"solar_panels_mod\",\"forwardness_plus\"],\"fortification\":0.5376439522647619,\"inconvenience\":0.6025859364172551,\"luxuriousness\":0,\"tertiaryColor\":\"#ffddc4\",\"secondaryColor\":\"#ffaf96\"}},{\"entityId\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hash\":\"622ffb5d-7b5f-8e02-c7a8-0fecec44bb50\",\"validFrom\":\"2021-04-19T23:23:56.548199Z\",\"validTo\":\"2021-04-20T09:00:54.93247Z\",\"data\":{\"id\":\"06c991f6-4ef3-4a9a-8254-8a2bc7d3a1e1\",\"hype\":0,\"mods\":[\"BIG_BUCKET\",\"SECRET_BASE\",\"ECHO_CHAMBER\",\"SALMON_CANNONS\",\"SWEETENER\"],\"name\":\"The
        Fire Safety Awareness Center\",\"birds\":0,\"model\":2,\"state\":{},\"teamId\":\"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16\",\"renoLog\":{\"sweetener_mod\":1,\"big_bucket_mod\":1,\"secret_base_mod\":1,\"echo_chamber_mod\":1,\"salmon_cannons_mod\":1},\"weather\":{\"15\":1},\"nickname\":\"The
        Fire House\",\"renoCost\":-1,\"renoHand\":[],\"mainColor\":\"#8c2a3e\",\"mysticism\":0.2343003613218557,\"viscosity\":0.43120967518540154,\"elongation\":0.43654265137776965,\"filthiness\":0.2761293103541116,\"obtuseness\":0.5306518569849688,\"forwardness\":0.5860283120781291,\"grandiosity\":0.5112050242221085,\"ominousness\":0.46984360699104116,\"renoDiscard\":[\"psychoacous[...]
