interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=bfd38797-8404-4b38-8b82-341da28b1f83
  response:
    body:
      string: '{"id":"bfd38797-8404-4b38-8b82-341da28b1f83","lineup":["03f920cc-411f-44ef-ae66-98a44e883291","020ed630-8bae-4441-95cc-0e4ecc27253b","eaaef47e-82cc-4c90-b77d-75c3fb279e83","b88d313f-e546-407e-8bc6-94040499daa5","d47dd08e-833c-4302-a965-a391d345455c","30218684-7fa1-41a5-a3b3-5d9cd97dd36b","4ca52626-58cd-449d-88bb-f6d631588640","2859166d-6aed-4262-b05b-db85c49b3391","b8ab86c6-9054-4832-9b96-508dbd4eb624"],"rotation":["63512571-2eca-4bc4-8ad9-a5308a22ae22","fe3e8ba5-6687-400d-9828-2b70d63ea8be","34267632-8c32-4a8b-b5e6-ce1568bb0639","f741dc01-2bae-4459-bfc0-f97536193eea","f7847de2-df43-4236-8dbe-ae403f5f3ab3","5e4dfa16-f1b9-400f-b8ef-a1613c2b026a"],"bullpen":["99e7de75-d2b8-4330-b897-a7334708aff9","50154d56-c58a-461f-976d-b06a4ae467f9","5b3f0a43-45e7-44e7-9496-512c24c040f0","93502db3-85fa-4393-acae-2a5ff3980dde","5b5bcc6c-d011-490f-b084-6fdc2c52f958","2d22f026-2873-410b-a45f-3b1dac665ffd","d002946f-e7ed-4ce4-a405-63bdaf5eabb5"],"bench":["d6e9a211-7b33-45d9-8f09-6d1a1a7a3c78","3531c282-cb48-43df-b549-c5276296aaa7","b056a825-b629-4856-856b-53a15ad34acb","198fd9c8-cb75-482d-873e-e6b91d42a446","3e0f7f48-675b-4f72-bb40-8a8c676f0054","9416dfa3-05e9-46f3-b1df-4fa6703e9b5b","60026a9d-fc9a-4f5a-94fd-2225398fa3da","b1b141fc-e867-40d1-842a-cea30a97ca4f"],"seasAttr":[],"permAttr":["TRAVELING","A","GOOD_RIDDANCE"],"fullName":"Charleston
        Shoe Thieves","location":"Charleston","mainColor":"#ffce0a","nickname":"Shoe
        Thieves","secondaryColor":"#ffce0a","shorthand":"CHST","emoji":"0x1F45F","slogan":"Your
        Kicks are Our Kicks","shameRuns":0,"totalShames":94,"totalShamings":65,"seasonShames":1,"seasonShamings":1,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":9,"tournamentWins":0,"stadium":"36ae955c-6264-4437-8669-3053f62992e5","eDensity":1269.7338152736431,"state":{},"evolution":0,"winStreak":-6,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73b-7c9jgrlwawU/Si19K7B4etCd8g8"
    status:
      code: 200
      message: OK
[...]
