interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/renovations?ids=big_bucket_mod,coffee_one_plus
  response:
    body:
      string: '[{"id":"big_bucket_mod","title":"Big Buckets","type":1,"effects":["Modification"],"description":"Place
        Big Buckets in Home Run territory to make your Home Runs just a little bit
        bigger."},{"id":"coffee_one_plus","title":"Coffee +","type":0,"effects":["Weather
        % +"],"description":"Your Ballpark will have Coffee weather more often."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14e-g4Fju/tg7XzrnfPbnzH/va3Sjek"
    status:
      code: 200
      message: OK
version: 1
