interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameById/0f9ba0c2-4fca-4157-b615-b751b7868d2d
  response:
    body:
      string: '{"id":"0f9ba0c2-4fca-4157-b615-b751b7868d2d","basesOccupied":[],"baseRunners":[],"baseRunnerNames":[],"outcomes":[],"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","lastUpdate":"Game
        over.","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","statsheet":"43feab44-818c-4981-a581-99be96f96ac2","awayPitcher":"b6aa8ce8-2587-4627-83c1-2a48d44afaee","awayPitcherName":"Inky
        Rutledge","awayBatter":null,"awayBatterName":"","awayTeam":"7966eb04-efcc-499b-8f03-d13916330531","awayTeamName":"Yellowstone
        Magic","awayTeamNickname":"Magic","awayTeamColor":"#bf0043","awayTeamEmoji":"0x2728","awayOdds":0.587348277764993,"awayStrikes":3,"awayScore":7,"awayTeamBatterCount":39,"homePitcher":"7d388846-8f4c-407f-aacb-b844d2561c5e","homePitcherName":"Kit
        Adamses","homeBatter":null,"homeBatterName":"","homeTeam":"b024e975-1c4a-4575-8936-a3754a08806a","homeTeamName":"Dallas
        Steaks","homeTeamNickname":"Steaks","homeTeamColor":"#8c8d8f","homeTeamEmoji":"0x1F969","homeOdds":0.41265172223500696,"homeStrikes":3,"homeScore":6,"homeTeamBatterCount":35,"season":10,"isPostseason":true,"day":101,"phase":6,"gameComplete":true,"finalized":true,"gameStart":true,"halfInningOuts":0,"halfInningScore":0,"inning":8,"topOfInning":false,"atBatBalls":0,"atBatStrikes":0,"seriesIndex":3,"seriesLength":2,"shame":false,"weather":14,"baserunnerCount":0,"homeBases":4,"awayBases":4,"repeatCount":0,"awayTeamSecondaryColor":"#f60f63","homeTeamSecondaryColor":"#b2b3b5","homeBalls":4,"awayBalls":4,"homeOuts":3,"awayOuts":3,"playCount":352,"tournament":-1,"baseRunnerMods":[],"homePitcherMod":"","homeBatterMod":"","awayPitcherMod":"","awayBatterMod":"","scoreUpdate":"","scoreLedger":"","stadiumId":null,"secretBaserunner":null,"topInningScore":0,"bottomInningScore":0,"newInningPhase":-1,"gameStartPhase":-1,"isTitleMatch":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"706-IltztmJIOVnoPpoYY7QLFwPcn70"
    status:
      code: 200
      message: OK
[...]
