interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/teamStatsheets?ids=ba51a850-113c-4211-8d58-10dc5fc9cff2,5bd186cd-3fec-44bd-962f-4c30e91bd63e
  response:
    body:
      string: '[{"id":"5bd186cd-3fec-44bd-962f-4c30e91bd63e","playerStats":["4f209782-8bab-4145-9c45-e9cdd29e2c3a","ac367512-9825-43c2-bd40-99828d45a024","ccb8d933-74b0-48eb-a734-f13fb7612fd6","4d2db9c1-b73f-4522-8c7c-2c12f684b147","7f34fcb1-1a19-4862-89d2-d97effd54d2c","674f4fc9-5d9b-423b-ac7c-3d01bbf96088","b1d33b5a-13aa-41c8-ab84-eddb83908978","6c178aa9-ee0b-4040-b4f0-dc212d90f4fa","21dbc110-81d8-4442-8ae6-0991b416b6a9","97647c4d-0e25-4450-8102-b86a916f0c60","ec204cfc-122f-4815-b9ec-048a8723f0a5","50f3b3a0-2312-4b56-8367-27507f7026c0"],"gamesPlayed":0,"wins":0,"losses":0,"name":"Dallas
        Steaks","teamId":"b024e975-1c4a-4575-8936-a3754a08806a"},{"id":"ba51a850-113c-4211-8d58-10dc5fc9cff2","playerStats":["a23d9dcf-95cf-41d0-bead-52c6f7d5a5ea","1ba2b555-8691-4cb1-ab66-9ff5919dfa54","46daaed2-9d6c-40fa-b27d-4b12887fa1fe","11d1e568-9625-45c7-b479-70beffa3ce9b","3077d1dc-3e2a-484e-b783-3e7bd904b694","4ca2a20c-9c27-4f66-b68b-8eb8d6ef97e2","d20182f3-ec64-4232-befd-7c4a0806abaa","075b284f-f129-48c9-b2b9-dcd56e2b15d0","5351a9c6-8165-4642-97ee-f7d9b353006a","aba6a308-6ba6-46e1-8591-0861cba4fdd0","3b580209-6f6d-4baa-a201-17f46c449ad9"],"gamesPlayed":0,"wins":0,"losses":0,"name":"New
        York Millennials","teamId":"36569151-a2fb-43c1-9df7-2df512424c82"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4db-6dpAJJHRIaOU9EskP9wEPHz0mWI"
    status:
      code: 200
      message: OK
version: 1
