interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=SHELLED
  response:
    body:
      string: '[{"id":"SHELLED","color":"#fffd85","textColor":"#fffd85","background":"#404040","title":"Shelled","description":"A
        Shelled player is trapped in a big Peanut is unable to bat or pitch."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba-m8NNd/lspRyQ46hjxuWiX/0C2yo"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=SIPHON
  response:
    body:
      string: '[{"id":"SIPHON","color":"#e30000","textColor":"#e30000","background":"#2b0000","title":"Siphon","description":"Siphons
        will steal blood more often in Blooddrain and use it in more ways."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc-3xVPHKH64zGM/9q0mQw2cFw64as"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=MARKED
  response:
    body:
      string: '[{"id":"MARKED","color":"#eaabff","textColor":"#eaabff","background":"#1b1c80","title":"Unstable","description":"Unstable
        players have a much higher chance of being incinerated in a Solar Eclipse."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7-68fvd2w/dERheAMCmSaOCHnWS5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=EXTRA_BASE
  response:
    body:
      string: '[{"id":"EXTRA_BASE","color":"#d9d9d9","textColor":"#d9d9d9","background":"#4a001a","title":"Fifth
        Base","description":"This team must run five bases instead of four in order
        to score."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba-nK2HfXaPXrJCVW7BWsUOBMIjqLw"
    status:
      code: 200
      message: OK
version: 1
