interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=7045f0cc-783e-493b-a4cc-2c3c92ead19e
  response:
    body:
      string: '[{"id":"7045f0cc-783e-493b-a4cc-2c3c92ead19e","homeTeamRunsByInning":[0,0,0,1,0,0,2,1,0],"awayTeamRunsByInning":[0,2,0,0,0,0,2,1,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"c8246c2c-c3a5-46f3-8f3d-60b8ab193e60","homeTeamStats":"5380f110-ee07-4f7c-8fb4-127b1cfdbdfa"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-a2/LpZrEenjMhWLWMe+DPMsjb4Q"
    status:
      code: 200
      message: OK
version: 1
