interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=bf122660-df52-4fc4-9e70-ee185423ff93
  response:
    body:
      string: '[{"id":"bf122660-df52-4fc4-9e70-ee185423ff93","anticapitalism":0.7895425089062604,"baseThirst":0.9283877306209459,"buoyancy":0.06878327071525062,"chasiness":0.9471455938964107,"coldness":0.39337405579174917,"continuation":0.5330842153867078,"divinity":0.41486641411338465,"groundFriction":0.09077105358893421,"indulgence":0.2705655403827165,"laserlikeness":0.7602650868630528,"martyrdom":0.5743099566166333,"moxie":0.10435791804236708,"musclitude":0.12293202139247444,"name":"Walton
        Sports","bat":"","omniscience":0.7629588753884712,"overpowerment":0.393205262192887,"patheticism":0.22787630448775884,"ruthlessness":0.4816371664817245,"shakespearianism":0.8119576470218195,"suppression":0.9377354379250402,"tenaciousness":0.9377872201069819,"thwackability":0.04775843388456824,"tragicness":0.1,"unthwackability":0.9406146592213176,"watchfulness":0.5705939012809509,"pressurization":0.4286682141063424,"totalFingers":10,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.576459201104455,"fate":48,"armor":"","ritual":"Tarot","coffee":9,"blood":8,"permAttr":["FRIEND_OF_CROWS"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.5609924689448913,"pitchingRating":0.602296372017929,"hittingRating":0.17830330868551425,"defenseRating":0.8588810613738266,"leagueTeamId":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58c-YtlgZuxLgITMPSBxXqve78Hl3G4"
    status:
      code: 200
      message: OK
[...]
