interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=ff5a37d9-a6dd-49aa-b6fb-b935fd670820
  response:
    body:
      string: '[{"id":"ff5a37d9-a6dd-49aa-b6fb-b935fd670820","anticapitalism":0.8702096469503214,"baseThirst":0.9543267569922499,"buoyancy":1.0273349651265833,"chasiness":0.8599458741651298,"coldness":1.004922832671289,"continuation":1.1413001050213134,"divinity":0.5013573770412718,"groundFriction":0.3281437734485111,"indulgence":0.6324896860749399,"laserlikeness":1.013934769024473,"martyrdom":0.39661535126648906,"moxie":0.5029153913567603,"musclitude":0.6132712474952127,"name":"Dunn
        Keyes","bat":"","omniscience":0.47941388374008753,"overpowerment":0.2235488089710304,"patheticism":0.650679808746039,"ruthlessness":0.3737783625842831,"shakespearianism":0.5704660247565767,"suppression":0.3676060929720581,"tenaciousness":0.3729322950515312,"thwackability":0.4075426802879937,"tragicness":0.1,"unthwackability":1.0880693117159579,"watchfulness":0.5634161520732002,"pressurization":0.6718389101890525,"totalFingers":13,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.7498799875684145,"fate":15,"armor":"","ritual":"Fixating
        on their impending death","coffee":12,"blood":12,"permAttr":["ALTERNATE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.8678136266362878,"pitchingRating":0.5314422693345392,"hittingRating":0.4886177530110161,"defenseRating":0.6500706380369825,"leagueTeamId":"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","tournamentTeamId":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"578-B15aAUBGXaWH9BEPaVsgg0fQTUg"
    status:
      code: 200
      message: OK
[...]
