interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blaseball-reference.com/v1/playerIdsByName?name=August%20Mina&current=True
  response:
    body:
      string: '[{"player_id":"c17a4397-4dcc-440e-8c53-d897e971cae9","player_name":"August
        Mina","valid_from":"2020-10-11T19:02:00.973Z","valid_until":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-fj9vvwP+Cx9f9JB5VuawaX8bEHw"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=c17a4397-4dcc-440e-8c53-d897e971cae9
  response:
    body:
      string: '[{"id":"c17a4397-4dcc-440e-8c53-d897e971cae9","anticapitalism":0.27823373447071154,"baseThirst":0.1444813657717241,"buoyancy":0.42767297745781385,"chasiness":0.5488068797217673,"coldness":0.029122036620556457,"continuation":0.06270654856247249,"divinity":0.7190284119188852,"groundFriction":0.8723409862002314,"indulgence":0.07475076452566376,"laserlikeness":0.4099959290799151,"martyrdom":0.1629109581042285,"moxie":0.775334128956795,"musclitude":0.35687078778152803,"name":"August
        Mina","bat":"","omniscience":0.5502160214317255,"overpowerment":0.12729665063432427,"patheticism":0.7652653607688311,"ruthlessness":0.15881491419351468,"shakespearianism":0.27333482393594255,"suppression":0.7901647478144345,"tenaciousness":0.9979712194939745,"thwackability":0.01325991643836133,"tragicness":0.1,"unthwackability":0.5792989861180196,"watchfulness":0.013064198650530212,"pressurization":0.634520222045976,"totalFingers":10,"soul":3,"deceased":true,"peanutAllergy":true,"cinnamon":0.6698219262927751,"fate":16,"armor":"","ritual":"Fishing
        for compliments","coffee":4,"blood":3,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.3044615384353079,"pitchingRating":0.21518177451624892,"hittingRating":0.15966534962063808,"defenseRating":0.47634483502409325,"leagueTeamId":null,"tournamentTeamId":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54d-uopBK3D3hix69KOsxxx+YDpQyYI"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blaseball-reference.com/v1/playerIdsByName?name=Test%20Playerson&current=True
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
