interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/eventResults?ids=future_written
  response:
    body:
      string: '[{"id":"future_written","msg":"A New Era is Written:"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-snJ44ptVKjhMLipybgv2wpeRRiM"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=cc2b337d-0e78-4abd-827a-8dad1317618f,3851674e-aa9c-4be4-93f0-c5968e5569a7,aea8c352-6a5d-4e2c-bf01-d6f2f133ab22,d7bb91c5-ead5-485c-83fb-89c56a7066f0,8a8cc6b9-5dda-4613-ba99-37f762cd7120,23b3c1a3-90e9-46e7-9182-b673ef8c2a46,d7280e1d-1d7d-45de-b15e-d79f2f95576f,f265dece-6293-4159-8acf-8152bb7aa086,ea9930de-2bd4-44b1-9c03-cde3752265a0,325b0812-1b00-4016-8fe2-db02fd81219e,3676a21d-540e-41e0-b384-95250428602b,5243aca3-b628-4ff8-9e65-6f68dc9d625a,34a6ec5f-2b37-4988-a43e-54f1f5cbde85,a78381ad-2c26-4332-b26f-feab6a8af60b,c015588b-d302-4640-a5c5-d597d9156cd1,6a4f8148-bc3c-4fe8-8164-1364a2cd6b37,11523b4d-b344-4424-8c6f-eac142588f09,f9c20d0e-ba7c-457e-8838-c6e5a080c454,dec21227-6f65-4f6a-8f2b-b8217c42634f,106a25e2-c4c5-4b5a-9c9f-47a4b73adf16
  response:
    body:
      string: '[{"id":"cc2b337d-0e78-4abd-827a-8dad1317618f","bonusId":"tarot_hanged_man","bonusTitle":"XII","teamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","totalVotes":79176,"description":"The
        Sunbeams receive XII The Hanged Man.","highestTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","highestTeamVotes":8789,"teamVotes":2642},{"id":"3851674e-aa9c-4be4-93f0-c5968e5569a7","bonusId":"tarot_pope","bonusTitle":"V","teamId":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","totalVotes":59745,"description":"The
        Moist Talkers receive V The Pope.","highestTeam":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","highestTeamVotes":30269,"teamVotes":30269},{"id":"aea8c352-6a5d-4e2c-bf01-d6f2f133ab22","bonusId":"tarot_devil","bonusTitle":"XV","teamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","totalVotes":110141,"description":"The
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=90a316e5-0edc-43e4-8278-2c241ced5f5b,8af77570-ba69-46c6-9c7b-3064e7c5c1d5,ca1be37f-3a48-40a0-ba39-92bf03116ba2
  response:
    body:
      string: '[{"id":"90a316e5-0edc-43e4-8278-2c241ced5f5b","decreeId":"book_eat","decreeTitle":"Eat","description":"The
        Book Eats\nEverything in Sight.\nStomachs Rumble.\nConcessions are Made.","totalVotes":747270},{"id":"8af77570-ba69-46c6-9c7b-3064e7c5c1d5","decreeId":"book_deface","decreeTitle":"Deface","description":"The
        Book Defaces\nItself.\nIt Rewrites the Rules,\nRe-faces the Ballot.\nRegards
        Itself.\nRecognizes Your Will.","totalVotes":213453},{"id":"ca1be37f-3a48-40a0-ba39-92bf03116ba2","decreeId":"book_close","decreeTitle":"Close","description":"The
        Book Closes\nOn a Prime Piece of Property in Baltimore.\nPeanut Debris is
        Cleared\nGround is Broken on the Crabitat.","totalVotes":198178}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b5-FFb+IOPTAK7ycqzmtezvGCSteao"
    status:
      code: 200
      message: OK
version: 1
