interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerSeasonStats?ids=f0ece2e0-0360-48fa-b82d-bdaf646e4df9,3d0521c5-085b-4a24-b5bf-8307d9bba21c
  response:
    body:
      string: '[{"id":"3d0521c5-085b-4a24-b5bf-8307d9bba21c","playerId":"2e13249e-38ff-46a2-a55e-d15fa692468a","teamId":"878c1bf6-0d21-4659-bfee-916c8314d69c","team":"Unlimited
        Tacos","name":"Vito Kravitz","atBats":19,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":5,"hitsAllowed":0,"homeRuns":1,"losses":0,"outsRecorded":0,"rbis":2,"runs":3,"stolenBases":0,"strikeouts":0,"struckouts":6,"triples":1,"walks":1,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0},{"id":"f0ece2e0-0360-48fa-b82d-bdaf646e4df9","playerId":"0d5300f6-0966-430f-903f-a4c2338abf00","teamId":"878c1bf6-0d21-4659-bfee-916c8314d69c","team":"Unlimited
        Tacos","name":"Wyatt Dovenpart","atBats":22,"caughtStealing":0,"doubles":0,"earnedRuns":0,"groundIntoDp":0,"hits":3,"hitsAllowed":0,"homeRuns":0,"losses":0,"outsRecorded":0,"rbis":1,"runs":0,"stolenBases":0,"strikeouts":0,"struckouts":2,"triples":0,"walks":0,"walksIssued":0,"wins":0,"hitByPitch":0,"hitBatters":0,"quadruples":0,"pitchesThrown":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f8-4hnbMW7UNjV/TLWWEt5DBrXQE5E"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playerSeasonStats?ids=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    status:
      code: 200
      message: OK
version: 1
