interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=bdf63f15-40e7-4ef9-a41e-558def20e946
  response:
    body:
      string: '[{"id":"bdf63f15-40e7-4ef9-a41e-558def20e946","homeTeamRunsByInning":[1,0,0,0,1,3,0,0,1],"awayTeamRunsByInning":[3,0,0,4,0,0,4,2,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"8e695f0c-585e-444f-a184-dbb1cdd4ec15","homeTeamStats":"8e356ae5-92f0-4dd3-a37e-88b7452659a7"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-98MmA6eCQDq/5cDRKi7A/N0Anms"
    status:
      code: 200
      message: OK
version: 1
