interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/bonusResults?ids=cbb567c0-d770-4d22-92f6-ff16ebb94758
  response:
    body:
      string: '[{"id":"cbb567c0-d770-4d22-92f6-ff16ebb94758","bonusId":"team_improve_hitting","bonusTitle":"Hitting
        Boost","teamId":"7966eb04-efcc-499b-8f03-d13916330531","totalVotes":96,"description":"Improved
        the Yellowstone Magic''s hitting by 10%","highestTeam":null,"highestTeamVotes":null,"teamVotes":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"129-3gEKkD6iPHfOtamyjtFPqNwZr6Q"
    status:
      code: 200
      message: OK
version: 1
