interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=PEANUT_MISTER
  response:
    body:
      string: '[{"id":"PEANUT_MISTER","color":"#f3ff54","textColor":"#f3ff54","background":"#423519","title":"Peanut
        Mister","description":"A Peanut Mister will occasionally cure a player of
        their peanut allergy."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8-eqFfKNW3EaLTiKLxUYkVf/5AUTg"
    status:
      code: 200
      message: OK
version: 1
