interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=03f920cc-411f-44ef-ae66-98a44e883291
  response:
    body:
      string: '[{"id":"03f920cc-411f-44ef-ae66-98a44e883291","anticapitalism":0.9284772309868228,"baseThirst":0.7415774046328505,"buoyancy":0.5561955632700941,"chasiness":0.3802331744603662,"coldness":0.2658102901425531,"continuation":0.2774420669393711,"divinity":0.8087475149306345,"groundFriction":0.6328081587696925,"indulgence":0.7146090966645195,"laserlikeness":0.3013786836143284,"martyrdom":0.5830058497608914,"moxie":0.288101843866158,"musclitude":0.15206001209596362,"name":"Cornelius
        Games","bat":"","omniscience":0.7017478772600323,"overpowerment":0.8630231333407706,"patheticism":0.7799636106831813,"ruthlessness":0.848092869220289,"shakespearianism":0.044181778456907905,"suppression":0.29703272058926544,"tenaciousness":0.9017321819540995,"thwackability":0.25437322871815593,"tragicness":0.1,"unthwackability":0.7301548776779113,"watchfulness":0.3606905047767004,"pressurization":0.9408542236529036,"totalFingers":12,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":0.12234152986984431,"fate":31,"armor":"HEADPHONES","ritual":"Swearing
        an oath","coffee":7,"blood":1,"permAttr":["WILD","PERK"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.43293550807990766,"pitchingRating":0.5541493647679683,"hittingRating":0.4166268113138546,"defenseRating":0.7425869840663851,"leagueTeamId":"bfd38797-8404-4b38-8b82-341da28b1f83","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59e-pRLjZCAMlBgdq8UefsHD4u2YIMw"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=733d80f1-2485-40f7-828b-fd7cd8243a01,733d80f1-2485-40f7-828b-fd7cd8243a01
  response:
    body:
      string: '[{"id":"733d80f1-2485-40f7-828b-fd7cd8243a01","anticapitalism":1.0342559210221949,"baseThirst":0.41950235903842203,"buoyancy":0.2025754951706992,"chasiness":0.38982341920522817,"coldness":0.7205217091209154,"continuation":0.4608955604830617,"divinity":1.0632182127844032,[...]
