interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=6644d767-ab15-4528-a4ce-ae1f8aadb65f
  response:
    body:
      string: '[{"id":"6644d767-ab15-4528-a4ce-ae1f8aadb65f","anticapitalism":0.21638585126057738,"baseThirst":0.7088650277668863,"buoyancy":0.102821094200512,"chasiness":0.31947315802048937,"coldness":0.8860402736329226,"continuation":0.6754728323618524,"divinity":1.025723108579267,"groundFriction":0.39660517508375626,"indulgence":0.398308154600915,"laserlikeness":0.3261031174280058,"martyrdom":0.3039322657124523,"moxie":1.0962145506198797,"musclitude":0.12628586724043722,"name":"Paula
        Reddick","omniscience":0.7208275706510296,"overpowerment":0.9402286440834833,"patheticism":0.05887827487989102,"ruthlessness":0.5319423626719348,"shakespearianism":0.9372226263174125,"suppression":0.9463840255574854,"tenaciousness":1.0188060458645376,"thwackability":0.9078268859199926,"tragicness":0.001,"unthwackability":0.2622462884080141,"watchfulness":0.3135779664774694,"pressurization":0.040072109597423244,"totalFingers":10,"soul":5,"deceased":false,"peanutAllergy":false,"cinnamon":0.17512258917460827,"fate":62,"ritual":"Reading
        theory","coffee":7,"blood":4,"permAttr":["AMBITIOUS"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.44111555897257176,"pitchingRating":0.39044165144488274,"hittingRating":0.8186322838486249,"defenseRating":0.6408928965767862,"leagueTeamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","tournamentTeamId":null,"eDensity":26.037576735900057,"state":{"permModSources":{}},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bf-hRAfNizTFsG6frMTFyr19ZsNWII"
    status:
      code: 200
      message: OK
version: 1
