interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/items?ids=FIREPROOF
  response:
    body:
      string: '[{"id":"FIREPROOF","name":"Fireproof Jacket","attr":"FIREPROOF"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41-Aap0vdg+HCV5l0uVp6qjco2t1/k"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=FIREPROOF
  response:
    body:
      string: '[{"id":"FIREPROOF","color":"#a5c5f0","textColor":"#a5c5f0","background":"#4c77b0","title":"Fireproof","description":"A
        Fireproof player can not be incinerated."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2-l6aRyP64TBgfQJ+EpYFMNSfKeic"
    status:
      code: 200
      message: OK
version: 1
