interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=0295c6c2-b33c-47dd-affa-349da7fa1760
  response:
    body:
      string: '[{"id":"0295c6c2-b33c-47dd-affa-349da7fa1760","anticapitalism":0.6401987256823853,"baseThirst":0.6385409221488821,"buoyancy":0.001,"chasiness":0.01,"coldness":0.45178668328303656,"continuation":0.7776877728718051,"divinity":0.001,"groundFriction":0.5200472755146998,"indulgence":0.7781132603406641,"laserlikeness":0.030644696632260576,"martyrdom":0.39925503715357274,"moxie":0.33204504188307665,"musclitude":0.001,"name":"Combs
        Estes","bat":"","omniscience":0.4474790868044713,"overpowerment":0.7754645505676623,"patheticism":0.99,"ruthlessness":0.35961936844395787,"shakespearianism":0.5246090812440876,"suppression":0.5226170957077034,"tenaciousness":0.08396412049289687,"thwackability":0.11684610174266247,"tragicness":0.30000000000000004,"unthwackability":0.5815200318329725,"watchfulness":0.1745075104218416,"pressurization":0.08825681728678791,"totalFingers":12,"soul":7,"deceased":true,"peanutAllergy":true,"cinnamon":0.12844742835367118,"fate":14,"armor":"","ritual":"Organizing","coffee":1,"blood":11,"permAttr":["SIPHON"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.14910274124121303,"pitchingRating":0.4481369745888393,"hittingRating":0.01791557466280312,"defenseRating":0.26289733887814287,"leagueTeamId":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","tournamentTeamId":"70eab4ab-6cb1-41e7-ac8b-1050ee12eecc","eDensity":20.146368405596988,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"590-BHK7NIOFjZ7pQn6RTMbeJ0zEnU8"
    status:
      code: 200
      message: OK
[...]
