interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/season?number=3
  response:
    body:
      string: '{"id":"6c8acae5-fae4-4f81-a253-b21e97853996","league":"d8545021-e9fc-48a3-af74-48685950a183","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","schedule":"13126714-3ea2-4364-9844-063da864e694","seasonNumber":3,"standings":"dbcb0a13-2d59-4f13-8681-fd969aefdcc6","stats":"64392ad5-e14c-42c0-825c-c85da29addaa","terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"166-XoUYX296Wb+JHhwS/cyuE7xU4ns"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/seasonStatsheets?ids=64392ad5-e14c-42c0-825c-c85da29addaa
  response:
    body:
      string: '[{"id":"64392ad5-e14c-42c0-825c-c85da29addaa","teamStats":["9298cca4-442e-4aa0-8bcf-8ee349b1a45e","cc0fb608-945e-4b3f-8848-0c73dc6d32dc","bc5646fd-e892-4bd7-8631-84ac402c9ac9","9d06f0e1-d221-4e2e-8af1-6b9570fe3e71","eee9264e-c902-45fa-b981-2a49da1b04d5","0f587e43-fb3d-4a24-8a26-79ad99a612a6","a66c2f35-084f-4fae-a31a-436a905861e8","5e6fc1bd-d836-434f-aa28-c0e7298ca98d","5c2d22e0-18a5-4555-b839-77dc1cd79785","2232c53c-65cb-4941-99cb-8ed6969f2c62","a7aefb4d-734d-4ca4-ad15-77f27ec808da","206087b3-6e0a-4730-82ae-d708c1bec2ed","096a5a7a-70a8-44d2-9349-7b283cf4f8a0","5e03ef72-42a5-4014-8aa6-898cb9c55037","666e094c-bf66-4efa-bf7a-e2131454c495","787ce0a9-8789-4bf8-9887-51750b9753b4","691ba727-6c87-4641-a706-c39a27e84fb5","f013e9fa-f82d-4a51-b28c-ec07bdbc69dc","664db604-7658-4c27-9287-a34981e90978","397953e8-556d-4629-866c-3f1666f8dc49"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"349-bsRBTnoBj00ddnEXTa7evNYz0K0"
    status:
      code: 200
      message: OK
version: 1
