interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=PARTY_TIME
  response:
    body:
      string: '[{"id":"PARTY_TIME","color":"#ff66f9","textColor":"#ff66f9","background":"#fff947","title":"Party
        Time","description":"This team is mathematically eliminated from the Postseason,
        and will occasionally receive permanent stats boost in their games."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f9-+5d3oQdJOQNbjGwCSgWLcC9G2xk"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=FAKE_MODIFICATION
  response:
    body:
      string: '[{"id":"????","color":"#FFFFFF","background":"#FFFFFF","textColor":"#FFFFFF","title":"????","description":"This
        Modification is unknown."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b-Jr+pw03BmVOTZOoK1eDdvyY2d4c"
    status:
      code: 200
      message: OK
version: 1
