interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=57ec08cc-0411-4643-b304-0e80dbc15ac7
  response:
    body:
      string: '{"id":"57ec08cc-0411-4643-b304-0e80dbc15ac7","lineup":["80e474a3-7d2b-431d-8192-2f1e27162607","4542f0b0-3409-4a4a-a9e1-e8e8e5d73fcf","2b9f9c25-43ec-4f0b-9937-a5aa23be0d9e","f4ca437c-c31c-4508-afe7-6dae4330d717","ce0e57a7-89f5-41ea-80f9-6e649dd54089","d6c69d2d-9344-4b19-85a4-6cfcbaead5d2","e4f1f358-ee1f-4466-863e-f329766279d0","bd8778e5-02e8-4d1f-9c31-7b63942cc570","4204c2d1-ca48-4af7-b827-e99907f12d61","8d337b47-2a7d-418d-a44e-ef81e401c2ef"],"rotation":["65273615-22d5-4df1-9a73-707b23e828d5","16aff709-e855-47c8-8818-b9ba66e90fe8","7007cbd3-7c7b-44fd-9d6b-393e82b1c06e","ad1e670a-f346-4bf7-a02f-a91649c41ccb","089af518-e27c-4256-adc8-62e3f4b30f43"],"bullpen":["aa7ac9cb-e9db-4313-9941-9f3431728dce","1750de38-8f5f-426a-9e23-2899a15a2031","e919dfae-91c3-475c-b5d5-8b0c14940c41","ceac785e-55fd-4a4e-9bc8-17a662a58a38","ca709205-226d-4d92-8be6-5f7871f48e26","6bd4cf6e-fefe-499a-aa7a-890bcc7b53fa","094ad9a1-e2c7-49a0-af18-da0e3eb656ba","19af0d67-c73b-4ef2-bc84-e923c1336db5"],"bench":["23110c0f-2cf9-4d9c-ab2d-634f2f18867e","7951836f-581a-49d5-ae2f-049c6bcc575e"],"seasAttr":[],"permAttr":[],"fullName":"Mexico
        City Wild Wings","location":"Mexico City","mainColor":"#d15700","nickname":"Wild
        Wings","secondaryColor":"#ee6300","shorthand":"MCWW","emoji":"0x1F357","slogan":"Wings.
        Beer. Blaseball.","shameRuns":0,"totalShames":54,"totalShamings":34,"seasonShames":0,"seasonShamings":0,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":18,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d5-dwlVszttEb2aUBNEp+w2bcmbbMU"
    status:
      code: 200
      message: OK
[...]
