interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=43bf6a6d-cc03-4bcf-938d-620e185433e1
  response:
    body:
      string: '[{"id":"43bf6a6d-cc03-4bcf-938d-620e185433e1","anticapitalism":0.09843960666495281,"baseThirst":0.8528039460381532,"buoyancy":0.7898086758758708,"chasiness":0.9371226247283521,"coldness":0.5004884953043349,"continuation":0.4443475451948828,"divinity":0.9175024391696674,"groundFriction":0.16717967752686985,"indulgence":0.662752808106115,"laserlikeness":1.0191221404258144,"martyrdom":0.5436308843515708,"moxie":0.3466190034923066,"musclitude":0.2217659178499058,"name":"Miguel
        Javier","omniscience":0.08690689963907754,"overpowerment":0.05137544356599277,"patheticism":0.09715667163077309,"ruthlessness":0.2926475740610388,"shakespearianism":0.7974276295662059,"suppression":0.697205430930145,"tenaciousness":0.885824341901723,"thwackability":0.3119557477212879,"tragicness":0.1,"unthwackability":0.9763444101730805,"watchfulness":0.4988763670194591,"pressurization":0.27976698814511813,"totalFingers":10,"soul":5,"deceased":true,"peanutAllergy":true,"cinnamon":0.6732533291497882,"fate":77,"ritual":null,"coffee":10,"blood":1,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7352310216634694,"pitchingRating":0.37205471398061135,"hittingRating":0.5227634817445131,"defenseRating":0.4401252611888249,"leagueTeamId":null,"tournamentTeamId":null,"eDensity":0,"state":{},"evolution":0,"items":[],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55c-M5gcxZRGPZ671ZkoKNRSm0qXQw0"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=a1628d97-16ca-4a75-b8df-569bae02bef9
  response:
    body:
      string: '[{"id":"a1628d97-16ca-4a75-b8df-569bae02bef9","anticapitalism":0.001,"baseThirst":0.001,"buoyancy":0.001,"chasiness":0.001,"coldness":0.001,"continuation":0.001,"divinity":0.001,"groundFriction":0.001,"indulgence":0.001,"laserlikeness":0.001,"martyrdom":0.001,"moxie":0.001,"musclitude":0.001,"name":"Chorby
        Soul","omniscience":0.001,"overpowerment":0.001,"patheticism":0.99,"ruthlessness":0.001,"shakespearianism":0.001,"suppression":0.001,"tenaciousness":0.001,"thwackability":0.001,"tragicness":0.999,"unthwackability":0.001,"watchfulness":0.001,"pressurization":0.7113755233221608,"totalFingers":10,"soul":1546,"deceased":false,"peanutAllergy":false,"cinnamon":0.001,"fate":79,"ritual":null,"coffee":null,"blood":null,"permAttr":["MARKED","LEGENDARY"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.0019952623149688785,"pitchingRating":0.00029853826189179584,"hittingRating":0.0018197008586099837,"defenseRating":0.007943282347242812,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":3098.584397486479,"state":{},"evolution":0,"items":[{"id":"1efa0c28-467f-4780-a84e-9d65afa337f0","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.14774192624151536}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.008660067674703526,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e6-OuKvzdiLzrVFODhhot7mnV4xiRQ"
    status:
      code: 200
      message: OK
[...]
