interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=ae4acebd-edb5-4d20-bf69-f2d5151312ff,dddb6485-0527-4523-9bec-324a5b66bf37,5eac7fd9-0d19-4bf4-a013-994acc0c40c0,03f920cc-411f-44ef-ae66-98a44e883291,73265ee3-bb35-40d1-b696-1f241a6f5966
  response:
    body:
      string: '[{"id":"73265ee3-bb35-40d1-b696-1f241a6f5966","anticapitalism":0.631892584799719,"baseThirst":0.5086960393881598,"buoyancy":0.8864778197424251,"chasiness":0.5469031399743468,"coldness":0.9883799652329891,"continuation":0.2999988450717388,"divinity":0.09953215554293314,"groundFriction":1.0022532876654098,"indulgence":0.46159343637602085,"laserlikeness":0.2723469217263761,"martyrdom":0.3400660895113714,"moxie":0.34728088866548124,"musclitude":0.08375671445628266,"name":"Parker
        Meng","bat":"","omniscience":0.3058665966463254,"overpowerment":0.5980129504437046,"patheticism":0.6803183922161864,"ruthlessness":0.8928557819307141,"shakespearianism":0.7580814748340636,"suppression":0.6842731443639755,"tenaciousness":0.44213466603391627,"thwackability":1.0324106559461854,"tragicness":0.1,"unthwackability":0.8283491683649759,"watchfulness":0.8915316767233074,"pressurization":0.6735110277965328,"totalFingers":11,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":0.36430307557703356,"fate":38,"armor":"","ritual":"Showtunes","coffee":7,"blood":9,"permAttr":["ALTERNATE","PERK"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.4003526806713785,"pitchingRating":0.7830157928098287,"hittingRating":0.3193909997101739,"defenseRating":0.5957806159510802,"leagueTeamId":"b72f3061-f573-40d7-832a-5ad475bd7909","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1"},{"id":"ae4acebd-edb5-4d20-bf69-f2d5151312ff","anticapitalism":0.736649828867666,"baseThirst":0.3185418958794001,"buoyancy":1.1410689067902577,"chasiness":1.200897566992514,"coldness":0.9862575706473643,"continuation":0.8247000071028844,"divinity":0.9862527211365105,"groundFriction":0.7410620196720222,"indulgence":0.24297396856494857,"laserlikeness":0.8738635241075825,"martyrdom":0.6242883477803085,"moxie":1.2026656956547965,"musclitude":0.6913119900066772,[...]
