interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=c675fcdf-6117-49a6-ac32-99a89a3a88aa
  response:
    body:
      string: '[{"id":"c675fcdf-6117-49a6-ac32-99a89a3a88aa","anticapitalism":0.1859711802189167,"baseThirst":0.6019468737493779,"buoyancy":1.1033478860858823,"chasiness":0.10319394530337167,"coldness":0.4113636155111186,"continuation":1.2913144257965592,"divinity":1.2537835457083217,"groundFriction":1.3429571498830029,"indulgence":1.1606593350871812,"laserlikeness":0.9979683935027357,"martyrdom":1.5554992828694776,"moxie":1.3423061838893344,"musclitude":1.6820183184176243,"name":"Valentine
        Games","bat":"","omniscience":0.9476842254982321,"overpowerment":1.1755463621015931,"patheticism":0.001,"ruthlessness":0.98818157217076,"shakespearianism":0.6275249456625132,"suppression":0.9431455145243433,"tenaciousness":0.36067271379920124,"thwackability":1.087321858307831,"tragicness":0.019991847233809465,"unthwackability":0.878881723660169,"watchfulness":0.09544977170147555,"pressurization":0.3384408801738285,"totalFingers":14,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.9445842418598195,"fate":40,"armor":"","ritual":"Blacking
        out","coffee":9,"blood":12,"permAttr":["EGO1"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":1.0183430471911143,"pitchingRating":0.8923898617090458,"hittingRating":1.1949710408982193,"defenseRating":0.42957882290318034,"leagueTeamId":"979aee4a-6d80-4863-bf1c-ee1a78e06024","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb","eDensity":35.24697940891092,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bf-9jSYrbnMZOQUn2K5c0ZWRn2g80Y"
    status:
      code: 200
      message: OK
[...]
