interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/players/updates?before=2020-07-30T02%3A13%3A38.328000Z&count=1&order=desc&player=0672a4be-7e00-402c-b8d6-0b813f58ba96
  response:
    body:
      string: '{"nextPage":"vqRyBgB-LEC41guBP1i6lmBMO2xFFgAA","data":[{"updateId":"560a777d-c360-4ef6-9298-d3e33c1b765f","playerId":"0672a4be-7e00-402c-b8d6-0b813f58ba96","firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2020-08-02T09:22:45.421Z","data":{"_id":"0672a4be-7e00-402c-b8d6-0b813f58ba96","name":"Castillo
        Logan","soul":8,"moxie":0.007738491812264048,"buoyancy":0.22151478241295175,"coldness":0.09006689224128905,"deceased":false,"divinity":0.6289827732856992,"chasiness":0.8198605904165859,"martyrdom":0.7502366761661856,"baseThirst":0.5002852188663769,"indulgence":0.7654869533223825,"musclitude":0.7336017020045906,"tragicness":0,"omniscience":0.7496143842806429,"patheticism":0.18160333703749232,"suppression":0.23083235365494637,"continuation":0.38201132934994453,"ruthlessness":0.6790438370738046,"totalFingers":10,"watchfulness":0.7176484136287455,"laserlikeness":0.4524484628135892,"overpowerment":0.1669838186222199,"tenaciousness":0.19175459591080912,"thwackability":0.2988160418306165,"anticapitalism":0.49162125377138977,"groundFriction":0.34854062412446796,"pressurization":0.3364096852713352,"unthwackability":0.9620564225342556,"shakespearianism":0.9942415785026826}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
