interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/games?season=5
  response:
    body:
      string: "{\"data\":[{\"gameId\":\"16afd110-b0fb-468b-83af-f1f78eb2e0ac\",\"startTime\":\"2020-09-07T16:00:05.036Z\",\"endTime\":\"2020-09-07T16:22:35.144Z\",\"data\":{\"id\":\"16afd110-b0fb-468b-83af-f1f78eb2e0ac\",\"day\":0,\"phase\":6,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":8,\"season\":5,\"weather\":12,\"awayOdds\":0.5036252608152639,\"awayTeam\":\"36569151-a2fb-43c1-9df7-2df512424c82\",\"homeOdds\":0.4963747391847361,\"homeTeam\":\"b72f3061-f573-40d7-832a-5ad475bd7909\",\"outcomes\":[],\"awayScore\":2,\"finalized\":true,\"gameStart\":true,\"homeScore\":1,\"statsheet\":\"06c619bf-09d6-42f2-a8ae-0e70effb8630\",\"atBatBalls\":0,\"awayBatter\":null,\"homeBatter\":null,\"lastUpdate\":\"Game
        over.\",\"awayPitcher\":\"ae4acebd-edb5-4d20-bf69-f2d5151312ff\",\"awayStrikes\":3,\"baseRunners\":[],\"homePitcher\":\"3c331c87-1634-46c4-87ce-e4b9c59e2969\",\"homeStrikes\":3,\"seriesIndex\":1,\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"topOfInning\":false,\"atBatStrikes\":0,\"awayTeamName\":\"New
        York Millennials\",\"gameComplete\":true,\"homeTeamName\":\"San Francisco
        Lovers\",\"isPostseason\":false,\"seriesLength\":3,\"awayTeamColor\":\"#ffd4d8\",\"awayTeamEmoji\":\"0x1F4F1\",\"basesOccupied\":[],\"homeTeamColor\":\"#780018\",\"homeTeamEmoji\":\"0x1F48B\",\"awayBatterName\":\"\",\"halfInningOuts\":0,\"homeBatterName\":\"\",\"awayPitcherName\":\"Theodore
        Cervantes\",\"baseRunnerNames\":[],\"baserunnerCount\":0,\"halfInningScore\":0,\"homePitcherName\":\"Yosh
        Carpenter\",\"awayTeamNickname\":\"Millennials\",\"homeTeamNickname\":\"Lovers\",\"awayTeamBatterCount\":32,\"homeTeamBatterCount\":31}},{\"gameId\":\"1ecd4de2-3072-42af-80f4-3c2d02e80cfe\",\"startTime\":\"2020-09-07T16:00:05.036Z\",\"endTime\":\"2020-09-07T16:24:59.857Z\",\"data\":{\"id\":\"1ecd4de2-3072-42af-80f4-3c2d02e80cfe\",\"day\":0,\"phase\":6,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":8,\"season\":5,\"weather\":7,\"awayOdds\":0.5661619094102751,\"awayTeam\":\"bfd38797-8404-4b38-8b82-341da28b1f83\",\"homeOdds\":0.4338380905897249,\"homeTeam\":\"adc5b394-8f76-416d-9ce9-813706877b84\"[...]
