interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=9820f2c5-f9da-4a07-b610-c2dd7bee2ef6
  response:
    body:
      string: '[{"id":"9820f2c5-f9da-4a07-b610-c2dd7bee2ef6","anticapitalism":0.5747027789465087,"baseThirst":0.5879518268467725,"buoyancy":0.43737207119273214,"chasiness":0.882258026211806,"coldness":0.859937777547209,"continuation":0.16626119856554214,"divinity":0.19285780267249167,"groundFriction":0.6243508373758799,"indulgence":0.6561796361421,"laserlikeness":0.9020022288570054,"martyrdom":0.4625331921712331,"moxie":0.4353004466461374,"musclitude":1.0249638419569076,"name":"Peanut
        Bong","bat":"","omniscience":0.4035296577205742,"overpowerment":0.29218115098094427,"patheticism":0.27425074697285423,"ruthlessness":0.4800578898360422,"shakespearianism":0.39214808453596806,"suppression":0.45136000151476763,"tenaciousness":0.24337932563649212,"thwackability":0.14727286740376866,"tragicness":0.060119020684301715,"unthwackability":0.1376800436411834,"watchfulness":0.41890323595884876,"pressurization":0.36431831294345723,"totalFingers":11,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.9784207878787687,"fate":96,"armor":"","ritual":"Philosophy","coffee":2,"blood":8,"permAttr":["HONEY_ROASTED","EGO1"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.6884338482387268,"pitchingRating":0.20869279571691118,"hittingRating":0.2620965026158201,"defenseRating":0.5384521203906321,"leagueTeamId":"878c1bf6-0d21-4659-bfee-916c8314d69c","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":22.38372686873463,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5dc-WtIVuQ9UKJIOzkQXpyF+fPQaCVc"
    status:
      code: 200
      message: OK
[...]
