interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/division?id=d4cc18de-a136-4271-84f1-32516be91a80
  response:
    body:
      string: '{"id":"d4cc18de-a136-4271-84f1-32516be91a80","teams":["c73b705c-40ad-4633-a6ed-d357ee2e2bcf","a37f9158-7f82-46bc-908c-c9e2dda7c33b","ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","747b8e4a-7e50-4638-a973-ea7950a3e739","57ec08cc-0411-4643-b304-0e80dbc15ac7"],"name":"Wild
        High"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10d-BjOr82xcvgQsDVbbl08ML95X73s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=c73b705c-40ad-4633-a6ed-d357ee2e2bcf
  response:
    body:
      string: "{\"id\":\"c73b705c-40ad-4633-a6ed-d357ee2e2bcf\",\"lineup\":[\"da67c196-4cac-428b-8c18-2a411055ea35\",\"b60605e6-ff41-4388-a61a-fafd2175f7ad\",\"e2f39815-5291-4dcf-ba19-97dcf0c015e9\",\"d86f836e-4edf-4dbd-9743-14f30461ee14\",\"6a567da6-7c96-44d3-85de-e5a08a919250\",\"89c8f6bf-94a2-4e56-8412-bdb0182509a9\",\"19241aa4-38e3-45ed-9750-68f4401f80e1\",\"9f218ed1-d793-437d-a1b9-79f88f69154d\",\"adcbc290-81c5-4da9-b4da-2e594b080710\",\"5ca7e854-dc00-4955-9235-d7fcd732ddcf\"],\"rotation\":[\"62ae6aa9-e346-4faa-b07c-1f7623580015\",\"c549f280-82ba-4d8e-a4ce-c49e56461fb6\",\"fa40d6ea-e24b-4422-9df1-0643ab202c5f\",\"9c23702b-f0c2-4668-8bcc-61bbdbbfd93e\",\"cfb42325-592a-4119-9b40-4cdc19959b09\"],\"bullpen\":[\"7088350c-905b-4ac0-a982-64191ecaecaa\",\"831b1121-ca14-4dbb-afee-56660bb11f0c\",\"8f357c9c-521a-4062-a771-2e547746a164\",\"f90c398b-eef0-40cb-8b07-302a759e8bd1\",\"6833ca7d-910e-48f5-b25d-2886cdb08d0e\",\"15840c01-d8ea-4823-a802-9b635c51efa2\",\"f106291a-5935-449e-b075-75e62d1d1b07\",\"51c70634-c50a-47a9-bc11-60fa72329875\"],\"bench\":[\"3188d641-4fcc-4d5e-887d-5f454b4c4ff8\",\"2d07ccd0-cac7-4ccd-bab6-a078bb983174\",\"6f39a2f9-76d7-44fd-8a6d-00f87d7bb004\"],\"seasAttr\":[],\"permAttr\":[],\"fullName\":\"Tokyo
        Lift\",\"location\":\"Tokyo\",\"mainColor\":\"#e830ab\",\"nickname\":\"Lift\",\"secondaryColor\":\"#e830ab\",\"shorthand\":\"TKL\",\"emoji\":\"\U0001F3CB\uFE0F\u200D\u2640\uFE0F\",\"slogan\":\"We've
        got swole\",\"shameRuns\":0,\"totalShames\":4,\"totalShamings\":1,\"seasonShames\":0,\"seasonShamings\":0,\"championships\":0,\"weekAttr\":[],\"gameAttr\":[],\"rotationSlot\":0,\"teamSpirit\":0,\"card\":10,\"tournamentWins\":0}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e2-H0pz1av5kSLLkr8sLo9IaD7X3yg"
    status:
      code: 200
      message: OK
[...]
