interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=083d09d4-7ed3-4100-b021-8fbe30dd43e8
  response:
    body:
      string: '[{"id":"083d09d4-7ed3-4100-b021-8fbe30dd43e8","anticapitalism":0.3842534654853399,"baseThirst":0.5024982069934809,"buoyancy":0.8079711083268983,"chasiness":1.2760210007230226,"coldness":0.5168206402023043,"continuation":1.4284160705215576,"divinity":0.9377578240973384,"groundFriction":0.2555308049690182,"indulgence":0.755209345462344,"laserlikeness":1.0983619233822883,"martyrdom":0.8619677913909676,"moxie":0.5774071891842834,"musclitude":1.0742385007316477,"name":"Jessica
        Telephone","omniscience":0.37734496593212863,"overpowerment":0.6924189744016984,"patheticism":0.3034245998875711,"ruthlessness":1.1020079418456339,"shakespearianism":0.9613514808303262,"suppression":0.09460526561985648,"tenaciousness":0.13657797910391575,"thwackability":0.8395682769284523,"tragicness":0.9292996075101755,"unthwackability":0.6606215611819624,"watchfulness":0.7250952034187675,"pressurization":0.900128751899383,"totalFingers":13,"soul":17,"deceased":false,"peanutAllergy":false,"cinnamon":0.4722910489382883,"fate":16,"ritual":"Batting
        Practice","coffee":2,"blood":5,"permAttr":["HONEY_ROASTED","EGO2","ALTERNATE","NEGATIVE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":0.8600480603437604,"pitchingRating":0.7834789308145736,"hittingRating":0.8461503025162664,"defenseRating":0.4983229780749088,"leagueTeamId":"c73b705c-40ad-4633-a6ed-d357ee2e2bcf","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":-67.91600190224656,"state":{},"evolution":0,"items":[{"id":"04030302-df31-49b9-8745-75b44bcea952","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.120266839557077}]},"suffix":null,"durability":1,"health":1,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.041293656494496345,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"767-eb2tfLKLCFeo2zVmzKt4+W/5d8Q"
    status:
      code: 200
      message: OK
version: 1
