interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=98a98014-9636-4ece-a46a-4625b47c65d5
  response:
    body:
      string: '[{"id":"98a98014-9636-4ece-a46a-4625b47c65d5","anticapitalism":0.35952986131958675,"baseThirst":0.07098576203570683,"buoyancy":0.9926519945226291,"chasiness":0.17174536510761262,"coldness":0.9881319853507573,"continuation":0.731134866148482,"divinity":0.18423274674957635,"groundFriction":0.6733100863907391,"indulgence":0.18601622847815724,"laserlikeness":0.8710446594319725,"martyrdom":0.38252472381290903,"moxie":0.1114033643936978,"musclitude":0.8730199431587689,"name":"Kiki
        Familia","omniscience":0.9600690357266237,"overpowerment":0.25518177671284836,"patheticism":0.3399103467017561,"ruthlessness":0.49890253046383237,"shakespearianism":0.343612098612577,"suppression":0.2696937433813369,"tenaciousness":0.6987461115318565,"thwackability":0.33166493133618413,"tragicness":0.1,"unthwackability":0.34924093429347414,"watchfulness":0.9875152986132687,"pressurization":0.8563793510078426,"totalFingers":10,"soul":7,"deceased":false,"peanutAllergy":true,"cinnamon":0.11165129223350156,"fate":64,"ritual":"Strength
        training","coffee":13,"blood":6,"permAttr":["SQUIDDISH","RETIRED"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":0.5640449055808296,"pitchingRating":0.32754692039809785,"hittingRating":0.3029655027275303,"defenseRating":0.6979764280449021,"leagueTeamId":"c6c01051-cdd4-47d6-8a98-bb5b754f937f","tournamentTeamId":null,"eDensity":0,"state":{},"evolution":0,"items":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59a-aihcZVl4Of4qUwN2Gvo62KwDGsI"
    status:
      code: 200
      message: OK
[...]
