interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=cb8208c2-6473-4ab2-990c-8a0f04d2f6f6,a7853495-54fe-4c8b-93a2-18c8075d9e7b,618b7f75-da29-4860-bbc6-c82a80d55c5f,136e7769-f3e2-4f86-9f34-8abbf6b7d58e,05664891-7844-470c-9b9f-212038380e89,24a8ff8a-d2bb-4d9b-ace2-8cd2be211326,d85ec2f7-a824-469b-bc84-1259172ccf17,969ac1c9-84ad-4d1a-8232-8bafa1a1ce51
  response:
    body:
      string: '[{"id":"618b7f75-da29-4860-bbc6-c82a80d55c5f","name":null,"awaySeed":null,"awayTeam":null,"awayWins":0,"homeSeed":1,"homeTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","homeWins":0,"gamesPlayed":0,"gamesNeeded":"2"},{"id":"136e7769-f3e2-4f86-9f34-8abbf6b7d58e","name":null,"awaySeed":null,"awayTeam":null,"awayWins":0,"homeSeed":2,"homeTeam":"878c1bf6-0d21-4659-bfee-916c8314d69c","homeWins":0,"gamesPlayed":0,"gamesNeeded":"2"},{"id":"05664891-7844-470c-9b9f-212038380e89","name":null,"awaySeed":null,"awayTeam":null,"awayWins":0,"homeSeed":0,"homeTeam":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","homeWins":0,"gamesPlayed":0,"gamesNeeded":"2"},{"id":"a7853495-54fe-4c8b-93a2-18c8075d9e7b","name":null,"awaySeed":4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=f02aeae2-5e6a-4098-9842-02d2273f25c7
  response:
    body:
      string: '{"id":"f02aeae2-5e6a-4098-9842-02d2273f25c7","lineup":["f0bcf4bb-74b3-412e-a54c-04c12ad28ecb","cf8e152e-2d27-4dcc-ba2b-68127de4e6a4","2b5f5dd7-e31f-4829-bec5-546652103bc0","5eac7fd9-0d19-4bf4-a013-994acc0c40c0","126fb128-7c53-45b5-ac2b-5dbf9943d71b","4f69e8c2-b2a1-4e98-996a-ccf35ac844c5","190a0f31-d686-4ac4-a7f3-cfc87b72c145","89f74891-2e25-4b5a-bd99-c95ba3f36aa0"],"rotation":["5703141c-25d9-46d0-b680-0cf9cfbf4777","3d3be7b8-1cbf-450d-8503-fce0daf46cbf","df4da81a-917b-434f-b309-f00423ee4967","20fd71e7-4fa0-4132-9f47-06a314ed539a","333067fd-c2b4-4045-a9a4-e87a8d0332d0"],"bullpen":["3dd85c20-a251-4903-8a3b-1b96941c07b7","206bd649-4f5f-4707-ad85-92784be4eb95","f883269f-117e-45ec-bb1e-fa8dbcf40d3e","088884af-f38d-4914-9d67-b319287481b4","6644d767-ab15-4528-a4ce-ae1f8aadb65f","14bfad43-2638-41ec-8964-8351f22e9c4f","459f7700-521e-40da-9483-4d111119d659","b69aa26f-71f7-4e17-bc36-49c875872cc1"],"bench":["1f145436-b25d-49b9-a1e3-2d3c91626211","4562ac1f-026c-472c-b4e9-ee6ff800d701","e3c06405-0564-47ce-bbbd-552bee4dd66f","8b0d717f-ae42-4492-b2ed-106912e2b530","5a6b0c6d-1cc8-4acb-991c-0ffe62f3d990","5f5b3b18-ebc5-4611-b8bf-61b8c6a3ba12","24ca976f-ddf2-4966-ba14-4fd2b9b20341"],"seasAttr":[],"permAttr":["BASE_INSTINCTS"],"fullName":"Hellmouth
        Sunbeams","location":"Hellmouth","mainColor":"#fffbab","nickname":"Sunbeams","secondaryColor":"#fffbab","shorthand":"SUN","emoji":"0x1F31E","slogan":"Stare
        into the Sun...","shameRuns":0,"totalShames":53,"totalShamings":41,"seasonShames":0,"seasonShamings":0,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":11,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64f-nYurZGMctopAuNZdL2ZnnWcfu5M"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=84f28e07-507a-4dd9-bc38-8c6c02be7542
  response:
    body:
      string: '[{"id":"84f28e07-507a-4dd9-bc38-8c6c02be7542","name":null,"awaySeed":2,"awayTeam":"23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","awayWins":3,"homeSeed":2,"homeTeam":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","homeWins":0,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5-0t1dB5NOePxTGC1MEmjz97sFs3c"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=3d4b8a9f-1a89-4597-be23-af21d1364820,bb167354-f57f-4ff5-8309-63e6b918c131,b4f6d880-02f3-42ab-9ee5-54a103d94808,6d3dd7f6-5bd2-4642-a5e7-5c1796579c3f
  response:
    body:
      string: '[{"id":"bb167354-f57f-4ff5-8309-63e6b918c131","name":null,"awaySeed":2,"awayTeam":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","awayWins":3,"homeSeed":1,"homeTeam":"36569151-a2fb-43c1-9df7-2df512424c82","homeWins":1,"gamesPlayed":0,"gamesNeeded":"0"},{"id":"3d4b8a9f-1a89-4597-be23-af21d1364820","name":null,"awaySeed":3,"awayTeam":"b024e975-1c4a-4575-8936-a3754a08806a","awayWins":1,"homeSeed":0,"homeTeam":"b72f3061-f573-40d7-832a-5ad475bd7909","homeWins":3,"gamesPlayed":0,"gamesNeeded":"0"},{"id":"b4f6d880-02f3-42ab-9ee5-54a103d94808","name":null,"awaySeed":3,"awayTeam":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","awayWins":3,"homeSeed":0,"homeTeam":"8d87c468-699a-47a8-b40d-cfb73a5660ad","homeWins":1,"gamesPlayed":0,"gamesNeeded":"0"},{"id":"6d3dd7f6-5bd2-4642-a5e7-5c1796579c3f","name":null,"awaySeed":2,"awayTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","awayWins":0,"homeSeed":1,"homeTeam":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","homeWins":3,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d1-EoA5WoFZWuszKXwzckJcaOS3J5M"
    status:
      code: 200
      message: OK
[...]
