interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=d4a4f20d-3ce0-4ece-88d3-cf489d538f3b
  response:
    body:
      string: '[{"id":"d4a4f20d-3ce0-4ece-88d3-cf489d538f3b","homeTeamRunsByInning":[0,0,0,1,1,0,0,4],"awayTeamRunsByInning":[0,1,0,1,2,0,0,0,0],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"173b368a-a8ba-4276-b449-5831676f47bf","homeTeamStats":"c72fa0ab-94ae-4770-8ac4-48fd6d70ebcf"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"123-43WThWoVM3TBJK9H5HJib837M7E"
    status:
      code: 200
      message: OK
version: 1
