interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=57ec08cc-0411-4643-b304-0e80dbc15ac7
  response:
    body:
      string: '{"id":"57ec08cc-0411-4643-b304-0e80dbc15ac7","lineup":["1448f1f3-d76f-45c1-a5c1-54f22544000b","4542f0b0-3409-4a4a-a9e1-e8e8e5d73fcf","f236bd5b-4ff1-4154-a3cd-7cb3c0ddaa5b","65273615-22d5-4df1-9a73-707b23e828d5","ce0e57a7-89f5-41ea-80f9-6e649dd54089","66e8f8fb-22f9-4591-9435-37dc93493202","ad1e670a-f346-4bf7-a02f-a91649c41ccb","f4ca437c-c31c-4508-afe7-6dae4330d717"],"rotation":["d6c69d2d-9344-4b19-85a4-6cfcbaead5d2","4204c2d1-ca48-4af7-b827-e99907f12d61","089af518-e27c-4256-adc8-62e3f4b30f43"],"bullpen":["bd8778e5-02e8-4d1f-9c31-7b63942cc570","1750de38-8f5f-426a-9e23-2899a15a2031","e919dfae-91c3-475c-b5d5-8b0c14940c41","ceac785e-55fd-4a4e-9bc8-17a662a58a38","ca709205-226d-4d92-8be6-5f7871f48e26","6bd4cf6e-fefe-499a-aa7a-890bcc7b53fa","094ad9a1-e2c7-49a0-af18-da0e3eb656ba","19af0d67-c73b-4ef2-bc84-e923c1336db5"],"bench":["23110c0f-2cf9-4d9c-ab2d-634f2f18867e","7951836f-581a-49d5-ae2f-049c6bcc575e","75e80e46-276d-4388-bb6a-da9125a0e8ad","7007cbd3-7c7b-44fd-9d6b-393e82b1c06e","df94a335-1677-4200-a23f-d794689a5732","e4f1f358-ee1f-4466-863e-f329766279d0","c9a22fa4-1721-4eef-a1a6-620cdf7d377f","e16c3f28-eecd-4571-be1a-606bbac36b2b"],"seasAttr":[],"permAttr":[],"fullName":"Mexico
        City Wild Wings","location":"Mexico City","mainColor":"#d15700","nickname":"Wild
        Wings","secondaryColor":"#ee6300","shorthand":"MCWW","emoji":"0x1F357","slogan":"Pase
        Lo Que Pase","shameRuns":0,"totalShames":90,"totalShamings":69,"seasonShames":2,"seasonShamings":1,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":18,"tournamentWins":0,"stadium":"2841dc8c-b5a2-4b3a-a717-9e646e8e29fc","eDensity":1186.1483410704195,"state":{},"evolution":0,"winStreak":-8,"level":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69e-j88gJ5MEAjSesqwqbcBGJS6b+0M"
    status:
      code: 200
      message: OK
[...]
