interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&type=stream
  response:
    body:
      string: "{\"nextPage\":\"AAAAAAAAAAAAAAAAAAAAACxSOH1R3gAA\",\"items\":[{\"entityId\":\"00000000-0000-0000-0000-000000000000\",\"hash\":\"09e67bfd-fa98-bbd6-9f61-55280687df06\",\"validFrom\":\"2021-04-09T22:02:37.45603Z\",\"validTo\":null,\"data\":{\"value\":{\"games\":{\"sim\":{\"id\":\"thisidisstaticyo\",\"day\":99,\"attr\":[\"OPENED_BOOK\",\"UNLOCKED_PEANUTS\",\"EAT_THE_RICH\",\"UNLOCKED_INTERVIEWS\",\"UNLOCKED_IDOLS\",\"PARTY_TIME\",\"UNLOCKED_HALL\",\"WILD_CARDS\",\"BLACK_HOLE\",\"SIM_BOOK_EAT\",\"SIM_TAROT\",\"SIM_BOOK_DEFACE\",\"SIM_BOOK_CLOSE\",\"SIM_GROUNDBROKEN\",\"SIM_BASED_EVOLUTION\",\"SIM_EVOLUTION_CONCEPTUALIZED\",\"SIM_FREE_WILL\",\"SIM_SHOW_LEVELS\",\"SIM_ALL_YOU_CAN_EAT\"],\"phase\":9,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"league\":\"d8545021-e9fc-48a3-af74-48685950a183\",\"season\":14,\"eraColor\":\"#ffbe00\",\"eraTitle\":\"THE
        EXPANSION ERA\",\"playoffs\":\"b39b8941-c007-458d-8be2-563cedab7d52\",\"seasonId\":\"645cdd84-175f-42f1-a9f3-d9014d97ae3b\",\"agitations\":331,\"tournament\":-1,\"godsDayDate\":\"2021-04-04T18:00:00.977Z\",\"salutations\":63,\"subEraColor\":\"#ba7b97\",\"subEraTitle\":\"LIVE
        BAIT\",\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"electionDate\":\"2021-04-11T18:00:00Z\",\"playOffRound\":0,\"endseasonDate\":\"2021-04-09T20:00:00Z\",\"midseasonDate\":\"2021-04-06T19:00:00Z\",\"nextPhaseTime\":\"2021-04-09T21:21:35.968Z\",\"preseasonDate\":\"2021-04-05T08:00:00.777Z\",\"earlseasonDate\":\"2021-04-05T15:00:00Z\",\"earlsiestaDate\":\"2021-04-06T18:00:00Z\",\"lateseasonDate\":\"2021-04-08T17:00:00Z\",\"latesiestaDate\":\"2021-04-08T16:00:00Z\",\"tournamentRound\":3,\"earlpostseasonDate\":\"2021-04-09T21:00:00Z\",\"latepostseasonDate\":\"2021-04-10T15:00:00Z\"},\"season\":{\"id\":\"645cdd84-175f-42f1-a9f3-d9014d97ae3b\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"stats\":\"aeb9927a-89fd-434b-8924-d1b8f83ed372\",\"league\":\"d8545021-e9fc-48a3-af74-48685950a183\",\"schedule\":\"9ad7d47c-7123-460e-ad76-90c51f19f773\",\"standings\":\"7cd94998-dd8e-43b7-b61a-976862f3c506\",\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"seasonNumber\":14},\"schedule\":[{\"id\":\"0e2c878f-bf8a-4ebb-ae52-2d786a8adc47\",\"day\":99,\"phase\":7,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"inning\":16,\"season\":14,\"weather\":19,\"awayOdds\":0.5087645175134381,\"awayOuts\":3,\"awayTeam\":\"57ec08cc-0411-4643-b304-0e80dbc15ac7\",\"homeOdds\":0.49123548248656196,\"homeOuts\":3,\"homeTeam\":\"878c1bf6-0d21-4659-bfee-916c8314d69c\",\"outcomes\":[],\"awayBalls\":4,\"awayBases\":4,\"awayScore\":1,\"finalized\":true,\"gameStart\":true,\"homeBalls\":4,\"homeBases\":4,\"homeScore\":0,\"playCount\":488,\"stadiumId\":\"36b94380-39a6-4e32-b525-3e888215798a\",\"statsheet\":\"8d75fa8a-7b04-4a7d-8978-1bfe0b8c3179\",\"atBatBalls\":0,\"awayBatter\":null,\"homeBatter\":null,\"lastUpdate\":\"Wild
        Wings 1, Tacos 0\",\"tournament\":-1,\"awayPitcher\":\"65273615-22d5-4df1-9a73-707b23e828d5\",\"awayStrikes\":3,\"baseRunners\":[],\"homePitcher\":\"d81ce662-07b6-4a73-baa4-acbbb41f9dc5\",\"homeStrikes\":3,\"repeatCount\":0,\"scoreLedger\":\"\",\"scoreUpdate\":\"\",\"seriesIndex\":1,\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"topOfInning\":false,\"atBatStrikes\":0,\"awayTeamName\":\"Mexico
        City Wild Wings\",\"gameComplete\":true,\"homeTeamName\":\"LA Unlimited Tacos\",\"isPostseason\":true,\"isTitleMatch\":false,\"seriesLength\":2,\"awayBatterMod\":\"\",\"awayTeamColor\":\"#d15700\",\"awayTeamEmoji\":\"0x1F357\",\"basesOccupied\":[],\"homeBatterMod\":\"\",\"homeTeamColor\":\"#64376e\",\"homeTeamEmoji\":\"0x1F32E\",\"awayBatterName\":\"\",\"awayPitcherMod\":\"\",\"baseRunnerMods\":[],\"gameStartPhase\":29,\"halfInningOuts\":0,\"homeBatterName\":\"\",\"homePitcherMod\":\"\",\"newInningPhase\":-1,\"topInningScore\":0,\"awayPitcherName\":\"Burke
        Gonzales\",\"baseRunnerNames\":[],\"baserunnerCount\":0,\"halfInningScore\":0,\"homePitcherName\":\"Yummy
        Elliott\",\"awayTeamNickname\":\"Wild Wings\",\"homeTeamNickname\":\"Tacos\",\"secretBaserunner\":null,\"bottomInningScore\":0,\"awayTeamBatterCount\":66,\"homeTeamBatterCount\":53,\"awayTeamSecondaryColor\":\"#ee6300\",\"homeTeamSecondaryColor\":\"#b063c1\"},{\"id\":\"16b082ef-720b-4217-90ff-b804a4a636f5\",\"day\":99,\"phase\":7,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":true,\"inning\":8,\"season\":14,\"weather\":19,\"awayOdds\":0.5369187853490767,\"awayOuts\":3,\"awayTeam\":\"46358869-dce9-4a01-bfba-ac24fc56f57e\",\"homeOdds\":0.4630812146509233,\"homeOuts\":3,\"homeTeam\":\"adc5b394-8f76-416d-9ce9-813706877b84\",\"outcomes\":[],\"awayBalls\":4,\"awayBases\":4,\"awayScore\":4,\"finalized\":true,\"gameStart\":true,\"h[...]
