interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=766dfd1e-11c3-42b6-a167-9b2d568b5dc0
  response:
    body:
      string: '[{"id":"766dfd1e-11c3-42b6-a167-9b2d568b5dc0","anticapitalism":0.6607333764974479,"baseThirst":0.5963993298472201,"buoyancy":0.8502586789110096,"chasiness":0.19944894296017104,"coldness":0.24964422796307367,"continuation":0.8319952920669782,"divinity":0.7961773480828651,"groundFriction":0.3544236883813392,"indulgence":0.9157216890755215,"laserlikeness":0.8756788665400987,"martyrdom":0.8064289315605551,"moxie":0.33622395264247384,"musclitude":0.6844197499063772,"name":"Sandie
        Turner","omniscience":0.38085997836449537,"overpowerment":0.384339644351599,"patheticism":0.6197667597160794,"ruthlessness":0.6503200490136459,"shakespearianism":1.2182831179351,"suppression":0.18122710004566212,"tenaciousness":0.49527052240246505,"thwackability":1.0248047732717527,"tragicness":0.07702438415213625,"unthwackability":1.0773667038842145,"watchfulness":1.0459291351913256,"pressurization":0.5287515061488359,"totalFingers":10,"soul":6,"deceased":false,"peanutAllergy":true,"cinnamon":0.9308259755533657,"fate":64,"ritual":"Pining
        for glory","coffee":7,"blood":6,"permAttr":["SPICY","PERK"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7795910776942706,"pitchingRating":0.7458436052323034,"hittingRating":0.7906966557202726,"defenseRating":0.5875672598942242,"leagueTeamId":"36569151-a2fb-43c1-9df7-2df512424c82","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1","eDensity":58.32589018978749,"state":{},"evolution":0,"items":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cc-NhKA5l8EtwHDo4Mfi7zjNEdwjfI"
    status:
      code: 200
      message: OK
version: 1
