interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v1/roster/updates?count=100
  response:
    body:
      string: '{"nextPage":"2HhvNY0Vmkm5QlEZqkRWrWBMO2xFFgAA","data":[{"playerId":"bd4c6837-eeaa-4675-ae48-061efa0fd11a","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"lineup","rosterIndex":6,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2020-08-25T19:00:28.211Z"},{"playerId":"50154d56-c58a-461f-976d-b06a4ae467f9","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"bullpen","rosterIndex":2,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2021-03-14T18:01:09.302179Z"},{"playerId":"5b3f0a43-45e7-44e7-9496-512c24c040f0","teamId":"bfd38797-8404-4b38-8b82-341da28b1f83","position":"bullpen","rosterIndex":3,"firstSeen":"2020-07-29T08:12:22.438Z","lastSeen":"2021-03-14T18:01:09.302179Z"},{"playerId":"b8ab86c6-9054-4832-9b96-5[...]
