interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=747b8e4a-7e50-4638-a973-ea7950a3e739
  response:
    body:
      string: '{"id":"747b8e4a-7e50-4638-a973-ea7950a3e739","lineup":["d4a10c2a-0c28-466a-9213-38ba3339b65e","c0177f76-67fc-4316-b650-894159dede45","efafe75e-2f00-4418-914c-9b6675d39264","f245f6c6-4613-40f5-bc3b-85aa9ee3cf7e","c18961e9-ef3f-4954-bd6b-9fe01c615186","32c9bce6-6e52-40fa-9f64-3629b3d026a8","2e86de11-a2dd-4b28-b5fe-f4d0c38cd20b","7932c7c7-babb-4245-b9f5-cdadb97c99fb"],"rotation":["1db2f602-64b1-4a5c-8697-1932cc2c6df1","2720559e-9173-4042-aaa0-d3852b72ab2e","7aeb8e0b-f6fb-4a9e-bba2-335dada5f0a3","b3e512df-c411-4100-9544-0ceadddb28cf"],"bullpen":["5fc4713c-45e1-4593-a968-7defeb00a0d4","77a41c29-8abd-4456-b6e0-a034252700d2","a73427b3-e96a-4156-a9ab-844edc696fed","04f955fe-9cc9-4482-a4d2-07fe033b59ee","6e744b21-c4fa-4fa8-b4ea-e0e97f68ded5","37efef78-2df4-4c76-800c-43d4faf07737","58fca5fa-e559-4f5e-ac87-dc99dd19e410","2727215d-3714-438d-b1ba-2ed15ec481c0"],"bench":["9abe02fb-2b5a-432f-b0af-176be6bd62cf","7cf83bdc-f95f-49d3-b716-06f2cf60a78d","695daf02-113d-4e76-b802-0862df16afbd","db3ff6f0-1045-4223-b3a8-a016ca987af9","6f71667b-59f2-46df-adac-a8885a4f6ac5","df34d168-4d6a-403c-aca5-2b1ebe90444d"],"seasAttr":[],"permAttr":["FIREPROOF","SEALANT"],"fullName":"Hades
        Tigers","location":"Hades","mainColor":"#5c1c1c","nickname":"Tigers","secondaryColor":"#e83622","shorthand":"HAT","emoji":"0x1F405","slogan":"Never
        Look Back.","shameRuns":-9,"totalShames":40,"totalShamings":58,"seasonShames":0,"seasonShamings":0,"championships":2,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":14,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f6-Hq/1UzSIqAsFdBd7nf0qPMIxLL8"
    status:
      code: 200
      message: OK
[...]
