interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?at=2020-07-30T02%3A13%3A38.328000Z&count=1000&id=0672a4be-7e00-402c-b8d6-0b813f58ba96%2C62111c49-1521-4ca7-8678-cd45dacf0858%2C7f379b72-f4f0-4d8f-b88b-63211cf50ba6%2C906a5728-5454-44a0-adfe-fd8be15b8d9b%2C90cc0211-cd04-4cac-bdac-646c792773fc%2Ca7b0bef3-ee3c-42d4-9e6d-683cd9f5ed84%2Cb85161da-7f4c-42a8-b7f6-19789cf6861d%2Cd2a1e734-60d9-4989-b7d9-6eacda70486b&type=player
  response:
    body:
      string: "{\"nextPage\":\"NOeh0tlgiUm32W6s2nBIa2BMO2xFFgAA\",\"items\":[{\"entityId\":\"0672a4be-7e00-402c-b8d6-0b813f58ba96\",\"hash\":\"91b12a09-2680-7f16-fc74-427235e90131\",\"validFrom\":\"2020-07-29T08:12:22.438Z\",\"validTo\":\"2020-08-02T10:22:50.243Z\",\"data\":{\"_id\":\"0672a4be-7e00-402c-b8d6-0b813f58ba96\",\"name\":\"Castillo
        Logan\",\"soul\":8,\"moxie\":0.007738491812264048,\"buoyancy\":0.22151478241295175,\"coldness\":0.09006689224128905,\"deceased\":false,\"divinity\":0.6289827732856992,\"chasiness\":0.8198605904165859,\"martyrdom\":0.7502366761661856,\"baseThirst\":0.5002852188663769,\"indulgence\":0.7654869533223825,\"musclitude\":0.7336017020045906,\"tragicness\":0,\"omniscience\":0.7496143842806429,\"patheticism\":0.18160333703749232,\"suppression\":0.23083235365494637,\"continuation\":0.38201132934994453,\"ruthlessness\":0.6790438370738046,\"totalFingers\":10,\"watchfulness\":0.7176484136287455,\"laserlikeness\":0.4524484628135892,\"overpowerment\":0.1669838186222199,\"tenaciousness\":0.19175459591080912,\"thwackability\":0.2988160418306165,\"anticapitalism\":0.49162125377138977,\"groundFriction\":0.34854062412446796,\"pressurization\":0.3364096852713352,\"unthwackability\":0.9620564225342556,\"shakespearianism\":0.9942415785026826}},{\"entityId\":\"62111c49-1521-4ca7-8678-cd45dacf0858\",\"hash\":\"7043fecc-24d5-41ae-2221-d7eea8a7c710\",\"validFrom\":\"2020-07-29T08:12:22.438Z\",\"validTo\":\"2020-08-02T10:22:50.243Z\",\"data\":{\"_id\":\"62111c49-1521-4ca7-8678-cd45dacf0858\",\"name\":\"Bambi
        Perez\",\"soul\":2,\"moxie\":0.8207791958207984,\"buoyancy\":0.5247106876089447,\"coldness\":0.5821469490519895,\"deceased\":false,\"divinity\":0.18656297205361239,\"chasiness\":0.10869974079345579,\"marty[...]
