interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e
  response:
    body:
      string: '{"id":"3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e","lineup":["28964497-0efe-420c-9c1d-8574f224a4e9","718dea1a-d9a8-4c2b-933a-f0667b5250e6","855775c1-266f-40f6-b07b-3a67ccdf8551","defbc540-a36d-460b-afd8-07da2375ee63","51c5473a-7545-4a9a-920d-d9b718d0e8d1","f2468055-e880-40bf-8ac6-a0763d846eb2","d51f1fe8-4ab8-411e-b836-5bba92984d32","8cd06abf-be10-4a35-a3ab-1a408a329147","75f9d874-5e69-438d-900d-a3fcb1d429b3","04931546-1b4a-469f-b391-7ed67afe824c","be18d363-752d-4e4a-b06b-1a7e4641400b"],"rotation":["ff5a37d9-a6dd-49aa-b6fb-b935fd670820","3e008f60-6842-42e7-b125-b88c7e5c1a95","dfd5ccbb-90ed-4bfe-83e0-dae9cc763f10","24f6829e-7bb4-4e1e-8b59-a07514657e72","a647388d-fc59-4c1b-90d3-8c1826e07775"],"bullpen":["51985516-5033-4ab8-a185-7bda07829bdb","98f26a25-905f-4850-8960-b741b0c583a4","4b73367f-b2bb-4df6-b2eb-2a0dd373eead","a938f586-f5c1-4a35-9e7f-8eaab6de67a6","c771abab-f468-46e9-bac5-43db4c5b410f","a98917bc-e9df-4b0e-bbde-caa6168aa3d7","2cadc28c-88a5-4e25-a6eb-cdab60dd446d","e3e1d190-2b94-40c0-8e88-baa3fd198d0f"],"bench":["d9a072f5-1cbb-45ce-87fb-b138e4d8f769","de67b585-9bf4-4e49-b410-101483ca2fbc","81b25b16-3370-4eb0-9d1b-6d630194c680","710541f4-bb89-4134-8973-958c82b29a41","8acc97fa-4bf1-49f6-bb93-fb52513a015b"],"seasAttr":[],"permAttr":["GROWTH"],"fullName":"Boston
        Flowers","location":"Boston","mainColor":"#f7d1ff","nickname":"Flowers","secondaryColor":"#f7d1ff","shorthand":"BOF","emoji":"0x1F339","slogan":"Bloom
        Goes The Dynamite!","shameRuns":0,"totalShames":40,"totalShamings":42,"seasonShames":0,"seasonShamings":0,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":0,"teamSpirit":0,"card":2,"tournamentWins":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"668-pgL7UZvfa4PT7VJuSPa/0Prinx0"
    status:
      code: 200
      message: OK
[...]
