interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/division?id=456089f0-f338-4620-a014-9540868789c9
  response:
    body:
      string: '{"id":"456089f0-f338-4620-a014-9540868789c9","teams":["36569151-a2fb-43c1-9df7-2df512424c82","b024e975-1c4a-4575-8936-a3754a08806a","b72f3061-f573-40d7-832a-5ad475bd7909","23e4cbc1-e9cd-47fa-a35b-bfa06f726cb7","105bc3ff-1320-4e37-8ef0-8d595cb95dd0","46358869-dce9-4a01-bfba-ac24fc56f57e"],"name":"Mild
        High"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"134-4izXSvMXYTigx9TeYtNbnpvODpE"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=36569151-a2fb-43c1-9df7-2df512424c82
  response:
    body:
      string: '{"id":"36569151-a2fb-43c1-9df7-2df512424c82","lineup":["4b3e8e9b-6de1-4840-8751-b1fb45dc5605","766dfd1e-11c3-42b6-a167-9b2d568b5dc0","9e724d9a-92a0-436e-bde1-da0b2af85d8f","c0c85be4-ff26-470f-8135-af771fd21e51","58c9e294-bd49-457c-883f-fb3162fc668e","ec68845f-3b26-412f-8446-4fef34e09c77","4ffd2e50-bb5b-45d0-b7c4-e24d41b2ff5d","16aff709-e855-47c8-8818-b9ba66e90fe8"],"rotation":["5dbf11c0-994a-4482-bd1e-99379148ee45","81d7d022-19d6-427d-aafc-031fcb79b29e","defbc540-a36d-460b-afd8-07da2375ee63","6c346d8b-d186-4228-9adb-ae919d7131dd","aae38811-122c-43dd-b59c-d0e203154dbe"],"bullpen":["ab9b2592-a64a-4913-bf6c-3ae5bd5d26a5","29bf512a-cd8c-4ceb-b25a-d96300c184bb","8d81b190-d3b8-4cd9-bcec-0e59fdd7f2bc","94d772c7-0254-4f08-814c-f6fc58fcfb9b","1e229fe5-a191-48ef-a7dd-6f6e13d6d73f","c4dec95e-78a1-4840-b209-b3b597181534","5c60f834-a133-4dc6-9c07-392fb37b3e6a","b7cdb93b-6f9d-468a-ae00-54cbc324ee84","c4951cae-0b47-468b-a3ac-390cc8e9fd05","cc113432-5f9b-46f8-9745-09f999d51801","5c6cce63-99b3-441d-90e0-0664e68057a6"],"bench":["1e7b02b7-6981-427a-b249-8e9bd35f3882","6a869b40-be99-4520-89e5-d382b07e4a3c","ae4acebd-edb5-4d20-bf69-f2d5151312ff","662f34f0-bd74-49a7-8506-50d4dd333c4c","c54fba12-2fb5-4091-b1d7-1449693b35d6","98220753-0a70-4a4e-8058-0a7bcb6f7d5d","138fccc3-e66f-4b07-8327-d4b6f372f654","8b5ddd3d-cca6-4e01-ac7f-65dc56831933"],"seasAttr":[],"permAttr":["BIRD_SEED"],"fullName":"New
        York Millennials","location":"New York","mainColor":"#ffd4d8","nickname":"Millennials","secondaryColor":"#ffd4d8","shorthand":"NYMI","emoji":"0x1F4F1","slogan":"Youth
        Will Save Us","shameRuns":0,"totalShames":81,"totalShamings":77,"seasonShames":2,"seasonShamings":4,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":5,"tournamentWins":0,"stadium":"ba794e99-4d6b-4e12-9450-6522745190f8","eDensity":1198.8705486163012,"state":{},"evolution":0,"winStreak":2,"level":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"768-F4BZuXlZdEeCLYDM6wHR9fmhrPE"
    status:
      code: 200
      message: OK
[...]
