interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=a691f2ba-9b69-41f8-892c-1acd42c336e4
  response:
    body:
      string: '[{"id":"a691f2ba-9b69-41f8-892c-1acd42c336e4","anticapitalism":0.40706930014870657,"baseThirst":0.06075073273090413,"buoyancy":0.3070653103913532,"chasiness":0.12276552988364456,"coldness":0.3435547896343929,"continuation":0.07983046423184632,"divinity":0.7325835657564812,"groundFriction":0.5952900642615573,"indulgence":0.30438982070858095,"laserlikeness":0.18130336378700546,"martyrdom":0.4484046852929482,"moxie":0.5501551082186955,"musclitude":0.1180241187442599,"name":"Jenkins
        Good","omniscience":0.9379881446013921,"overpowerment":0.6095441653955972,"patheticism":0.11657316503900782,"ruthlessness":0.9832449173108893,"shakespearianism":0.20756732006330592,"suppression":0.1782665374474638,"tenaciousness":0.9011995218807582,"thwackability":0.2777279208831013,"tragicness":0.017450762881110166,"unthwackability":0.9132199339072635,"watchfulness":0.08645010818528946,"pressurization":0.7071860243831654,"totalFingers":10,"soul":6,"deceased":false,"peanutAllergy":true,"cinnamon":0.46219847798046737,"fate":78,"ritual":"Collective
        bargaining","coffee":12,"blood":8,"permAttr":["ALTERNATE","FRIEND_OF_CROWS"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.2106642416494858,"pitchingRating":0.7331940808472789,"hittingRating":0.45621180536883965,"defenseRating":0.5609894498069079,"leagueTeamId":"eb67ae5e-c4bf-46ca-bbbc-425cd34182ff","tournamentTeamId":"9a5ab308-41f2-4889-a3c3-733b9aab806e","eDensity":25.727417043707586,"state":{},"evolution":0,"items":[{"id":"e2c10c6f-0a4a-454c-9c31-b85847e1717b","name":"Weird
        Air Cannon","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Weird","adjustments":[{"stat":0,"type":1,"value":0.1099023648449446},{"stat":14,"type":1,"value":0.20110300095851522},{"stat":13,"type":1,"value":0.19973593001938392},{"stat":6,"type":1,"value":0.19727963758218098},{"stat":8,"type":1,"value":0.20676441746789465}]}],"postPrefix":{"name":"Air","adjustments":[{"stat":1,"type":1,"value":0.09499194886434288},{"stat":4,"type":1,"value":0.09040284960133457},{"stat":10,"type":1,"value":0.1267348297017586}]},"root":{"name":"Cannon","adjustments":[{"stat":18,"type":1,"value":0.14299770403176815}]},"suffix":null,"durability":3,"health":3,"baserunningRating":0.05261720597567743,"pitchingRating":0.09064311524169366,"hittingRating":0.010845912313196315,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"952-w/oUmB8FOYIChEGccJ1Kap9AABs"
    status:
      code: 200
      message: OK
[...]
