interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3d3be7b8-1cbf-450d-8503-fce0daf46cbf
  response:
    body:
      string: '[{"id":"3d3be7b8-1cbf-450d-8503-fce0daf46cbf","anticapitalism":0.35177594247862404,"baseThirst":0.5970519521755473,"buoyancy":0.24664456862154877,"chasiness":0.5334055435645227,"coldness":0.4086419585989069,"continuation":0.9079556934833422,"divinity":0.6679051571873152,"groundFriction":0.9206647606734248,"indulgence":0.184760341061531,"laserlikeness":0.8085809838000829,"martyrdom":0.40566006647064207,"moxie":0.6549453653348354,"musclitude":0.3570868909689747,"name":"Zack
        Sanders","bat":"","omniscience":1.0658345336922888,"overpowerment":0.6447460123881854,"patheticism":0.01,"ruthlessness":0.8873624778126253,"shakespearianism":0.4018161067130752,"suppression":0.560616814702228,"tenaciousness":1.067906689383709,"thwackability":0.4459699439282889,"tragicness":0.1,"unthwackability":0.28400382163068255,"watchfulness":0.39449000520064587,"pressurization":0.9398150163500756,"totalFingers":12,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.559123014779645,"fate":72,"armor":"","ritual":"Whispering","coffee":9,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.708500999347072,"pitchingRating":0.4246167520810171,"hittingRating":0.5755300298670479,"defenseRating":0.7910074709321011,"leagueTeamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56b-t8MvOeO/BL+FCpmvdwAf91+OQqI"
    status:
      code: 200
      message: OK
[...]
