interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3d3be7b8-1cbf-450d-8503-fce0daf46cbf
  response:
    body:
      string: '[{"id":"3d3be7b8-1cbf-450d-8503-fce0daf46cbf","anticapitalism":0.5067533407723847,"baseThirst":0.6914988551708078,"buoyancy":0.33409473444060395,"chasiness":0.6826388142712023,"coldness":0.7878246281170745,"continuation":1.024187763572771,"divinity":0.7140684796436005,"groundFriction":1.0379386714435588,"indulgence":0.3186391871837896,"laserlikeness":0.9390439583720773,"martyrdom":0.4906178234445857,"moxie":0.6983609668349411,"musclitude":0.43104154475679946,"name":"Zack
        Sanders","omniscience":1.2571598021221786,"overpowerment":0.9764309295565486,"patheticism":0.001,"ruthlessness":1.290672915399166,"shakespearianism":0.8346614613809711,"suppression":0.9181104077647523,"tenaciousness":1.2324903118037986,"thwackability":0.5117820136251028,"tragicness":0.04912538215592917,"unthwackability":0.6249770029663944,"watchfulness":0.5698990530958269,"pressurization":0.9398150163500756,"totalFingers":13,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.6754911322784035,"fate":72,"ritual":"Whispering","coffee":9,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.838121832989695,"pitchingRating":0.851660492426724,"hittingRating":0.6330791543289788,"defenseRating":0.9279260209911361,"leagueTeamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb","eDensity":36.755512505155735,"state":{},"evolution":0,"items":[{"id":"de2dd81a-5a89-44bd-a39b-b218d060a9e1","name":"Head
        Cannon","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":{"name":"Head","adjustments":[{"stat":3,"type":1,"value":0.11291369938789952},{"stat":21,"type":1,"value":0.14803091223924084}]},"root":{"name":"Cannon","adjustments":[{"stat":18,"type":1,"value":0.11726030066244163}]},"suffix":null,"durability":2,"health":2,"baserunningRating":0,"pitchingRating":0.014611915279987286,"hittingRating":0.007156137710225385,"defenseRating":0.020890658122331596}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7cf-uDqDF23ZwV9D/mBuMO5SVXu6lOg"
    status:
      code: 200
      message: OK
[...]
