interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=90c2cec7-0ed5-426a-9de8-754f34d59b39,425f3f84-bab0-4cf2-91c1-96e78cf5cd02,c6a19154-7438-4c4f-b786-2dfaf5951f0f,e4034192-4dc6-4901-bb30-07fe3cf77b5e,7dcf6902-632f-48c5-936a-7cf88802b93a,1a93a2d2-b5b6-479b-a595-703e4a2f3885,2c4b2a6d-9961-4e40-882c-a338f4e72117,d35ccee1-9559-49a1-aaa4-7809f7b5c46e,84a2b5f6-4955-4007-9299-3d35ae7135d3,61bbbf34-98c1-4bf6-bd0c-56c19199b35e
  response:
    body:
      string: '[{"id":"90c2cec7-0ed5-426a-9de8-754f34d59b39","anticapitalism":0.3199671846909,"baseThirst":1.362307498224399,"buoyancy":0.01,"chasiness":0.973030592112794,"coldness":0.7175838726638344,"continuation":0.7814454042112295,"divinity":0.7402986096486818,"groundFriction":0.8029491453999982,"indulgence":1.2734331850482659,"laserlikeness":0.6586391899233999,"martyrdom":0.14847426133558597,"moxie":0.8221201336165372,"musclitude":0.8619216289397401,"name":"Tot
        Fox","bat":"","omniscience":0.4014581357190734,"overpowerment":0.08934638537427936,"patheticism":0.33478614508501436,"ruthlessness":0.31343497240274704,"shakespearianism":0.7981688932759639,"suppression":0.17131587975180845,"tenaciousness":0.8931408588024388,"thwackability":0.2084479017156479,"tragicness":0.1,"unthwackability":0.9869094843967716,"watchfulness":1.0559922590082247,"pressurization":0.1967169760847065,"totalFingers":11,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.22360260026010148,"fate":82,"armor":"","ritual":"Smoke
        Cleansing","coffee":8,"blood":8,"permAttr":["FLINCH"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.8184790796393124,"pitchingRating":0.4215659125600151,"hittingRating":0.47735920782350144,"defenseRating":0.7287881646235442,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":21.123346552524612,"state":{},"evolution":1},{"id":"425f3f84-bab0-4cf2-91c1-96e78cf5cd02","anticapitalism":0.757913002968727,"baseThirst":0.33739081603870014,"buoyancy":0.6868325904112986,"chasiness":0.5499661762304972,"coldness":0.7774124888627569,"continuation":0.6332206671626727,"divinity":0.17746980367593146,"groundFriction":0.20859269824410923,"indulgence":0.6253578523116768,"laserlikeness":0.8062397029256781,"martyrdom":0.5741651702927348,"moxie":0.8492250070737182,"musclitude":0.2111148517575725,"name":"Luis
        Acevedo","ba[...]
