interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=09f2787a-3352-41a6-8810-d80e97b253b5
  response:
    body:
      string: '[{"id":"09f2787a-3352-41a6-8810-d80e97b253b5","anticapitalism":1.3574614512773893,"baseThirst":0.6788273626948397,"buoyancy":0.8188880904102992,"chasiness":1.2972788562618809,"coldness":1.2349921870698688,"continuation":0.5936705954320132,"divinity":1.3522335862241328,"groundFriction":0.9912965289505121,"indulgence":0.8229795131619753,"laserlikeness":0.48432739539758835,"martyrdom":0.9046537494873624,"moxie":1.2652999548725368,"musclitude":1.2604699265688892,"name":"Curry
        Aliciakeyes","omniscience":0.8683748765488348,"overpowerment":1.3141904186061752,"patheticism":0.42767052687882817,"ruthlessness":1.2327320731026228,"shakespearianism":0.9922261489535771,"suppression":0.9140916956318438,"tenaciousness":1.3579671197692833,"thwackability":0.42716134535106776,"tragicness":0.001,"unthwackability":1.1203545201613316,"watchfulness":1.2485399207239356,"pressurization":0.9383202630490881,"totalFingers":14,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":0.8852546988128279,"fate":8,"ritual":"Photography","coffee":2,"blood":6,"permAttr":["OVERUNDER"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.6226718987177859,"pitchingRating":1.2044163158272425,"hittingRating":0.8294445143804291,"defenseRating":1.1182415594325086,"leagueTeamId":"7966eb04-efcc-499b-8f03-d13916330531","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":42.423420018505766,"state":{"permModSources":{}},"evolution":0,"items":[{"id":"835da73c-5eed-4ba1-b7ab-b762ce6da8f0","name":"Wooden
        Jersey","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Wooden","adjustments":[{"stat":2,"type":1,"value":0.25649771947003236},{"stat":10,"type":1,"value":-0.05559588242017271},{"stat":22,"type":1,"value":-0.12249988315668044}]}],"postPrefix":null,"root":{"name":"Jersey","adjustments":[{"stat":5,"type":1,"value":0.10389267110452563}]},"suffix":null,"durability":2,"health":1,"baserunningRating":-0.03682727047834289,"pitchingRating":0,"hittingRating":0.15423541167717636,"defenseRating":-0.02094498244565357}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82d-P8jTK2JWbNSMhJkJuisRg4zsN2k"
    status:
      code: 200
      message: OK
[...]
