interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/items?ids=aab9ce81-6fd4-439b-867c-a9da07b3e011,c42d0c94-aafb-4045-9f75-dee241bad500
  response:
    body:
      string: '[{"id":"aab9ce81-6fd4-439b-867c-a9da07b3e011","name":"Concrete Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":{"name":"Concrete","adjustments":[{"type":3,"value":2}]},"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.11636700336056469}]},"suffix":null,"durability":4,"health":4,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.11139757415520618,"defenseRating":0},{"id":"c42d0c94-aafb-4045-9f75-dee241bad500","name":"Inflatable
        Sunglasses","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Inflatable","adjustments":[{"stat":1,"type":1,"value":0.08018538943653307},{"stat":18,"type":1,"value":-0.057625704007659484},{"stat":6,"type":1,"value":0.09361321296435508}]}],"postPrefix":null,"root":{"name":"Sunglasses","adjustments":[{"stat":8,"type":1,"value":0.10106190330006283}]},"suffix":null,"durability":2,"health":2,"baserunningRating":0,"pitchingRating":-0.007925706301007307,"hittingRating":-0.009156785264647693,"defenseRating":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f9-P5iZLFYYEQ3idnPhnBvJkfatvFU"
    status:
      code: 200
      message: OK
version: 1
