interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&type=stream
  response:
    body:
      string: "{\"nextPage\":\"AAAAAAAAAAAAAAAAAAAAAAKDgn2z_QAA\",\"items\":[{\"entityId\":\"00000000-0000-0000-0000-000000000000\",\"hash\":\"ed261629-dc8d-f303-963b-6830e3a887f0\",\"validFrom\":\"2021-05-19T20:32:14.667853Z\",\"validTo\":null,\"data\":{\"value\":{\"games\":{\"sim\":{\"id\":\"thisidisstaticyo\",\"day\":52,\"attr\":[\"OPENED_BOOK\",\"UNLOCKED_PEANUTS\",\"EAT_THE_RICH\",\"UNLOCKED_INTERVIEWS\",\"UNLOCKED_IDOLS\",\"SIM_PARTY_TIME\",\"UNLOCKED_HALL\",\"WILD_CARDS\",\"BLACK_HOLE\",\"SIM_BOOK_EAT\",\"SIM_TAROT\",\"SIM_BOOK_DEFACE\",\"SIM_BOOK_CLOSE\",\"SIM_GROUNDBROKEN\",\"SIM_BASED_EVOLUTION\",\"SIM_EVOLUTION_CONCEPTUALIZED\",\"SIM_FREE_WILL\",\"SIM_SHOW_LEVELS\",\"SIM_ALL_YOU_CAN_EAT\",\"SIM_ITEM_SYSTEM\",\"SIM_COMMUNITY_CHEST\",\"SIM_LIBRARY\",\"SIM_SMITHY\",\"SIM_FAIRGROUNDS\",\"SIM_HYPE_TRAIN\",\"SIM_RATIFICATION\",\"HOTEL_MOTEL\",\"TURNTABLES\"],\"menu\":\"S19\",\"phase\":4,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"league\":\"d8545021-e9fc-48a3-af74-48685950a183\",\"season\":18,\"eraColor\":\"#ffbe00\",\"eraTitle\":\"THE
        EXPANSION ERA\",\"playoffs\":\"b3c9e35f-b420-4286-8625-97e5fe63cc39\",\"seasonId\":\"df087320-9e21-436f-bd70-230129617ca9\",\"agitations\":374,\"tournament\":-1,\"godsDayDate\":\"2021-05-16T18:00:00.786Z\",\"salutations\":110,\"subEraColor\":\"#a16dc3\",\"subEraTitle\":\"UNDERTOW\",\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"electionDate\":\"2021-05-23T18:00:00.048Z\",\"playOffRound\":0,\"endseasonDate\":\"2021-05-21T20:00:00.048Z\",\"midseasonDate\":\"2021-05-18T19:00:00.048Z\",\"nextPhaseTime\":\"2021-05-18T19:00:00Z\",\"preseasonDate\":\"2021-05-17T08:00:00.862Z\",\"earlseasonDate\":\"2021-05-17T15:00:00.048Z\",\"earlsiestaDate\":\"2021-05-18T18:00:00.048Z\",\"lateseasonDate\":\"2021-05-20T17:00:00.048Z\",\"latesiestaDate\":\"2021-05-20T16:00:00.048Z\",\"tournamentRound\":3,\"earlpostseasonDate\":\"2021-05-21T21:00:00.048Z\",\"latepostseasonDate\":\"2021-05-22T15:00:00.048Z\"},\"season\":{\"id\":\"df087320-9e21-436f-bd70-230129617ca9\",\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"stats\":\"e9c05042-1069-432e-b92c-bbd71a074496\",\"league\":\"d8545021-e9fc-48a3-af74-48685950a183\",\"schedule\":\"7a3aa34f-1e23-4af6-a9e4-d3d0127fd32f\",\"standings\":\"8a136169-f62b-487e-b914-093e742fcf3b\",\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"seasonNumber\":18},\"schedule\":[{\"id\":\"e1ca39a4-705d-4efc-bf7b-a2734f9ab5e3\",\"day\":52,\"phase\":7,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"state\":{},\"inning\":8,\"season\":18,\"weather\":12,\"awayOdds\":0.5139441186171922,\"awayOuts\":3,\"awayTeam\":\"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5\",\"homeOdds\":0.4860558813828078,\"homeOuts\":3,\"homeTeam\":\"bb4a9de5-c924-4923-a0cb-9d1445f1ee5d\",\"outcomes\":[\"Loubert
        Ji-E-n returned from Elsewhere!\"],\"awayBalls\":4,\"awayBases\":4,\"awayScore\":3,\"finalized\":true,\"gameStart\":true,\"homeBalls\":4,\"homeBases\":4,\"homeScore\":12,\"playCount\":363,\"stadiumId\":\"8a84154e-80d7-47d5-8f56-295e9a9653d9\",\"statsheet\":\"060afe77-42d4-492c-b8f5-68f63b44152d\",\"atBatBalls\":0,\"awayBatter\":null,\"homeBatter\":null,\"lastUpdate\":\"Worms
        12, Spies 3\",\"tournament\":-1,\"awayPitcher\":\"a8530be5-8923-4f74-9675-bf8a1a8f7878\",\"awayStrikes\":3,\"baseRunners\":[],\"homePitcher\":\"ce7d33b7-1bba-48d6-a1d1-cd0e29231be8\",\"homeStrikes\":3,\"repeatCount\":0,\"scoreLedger\":\"\",\"scoreUpdate\":\"\",\"seriesIndex\":2,\"terminology\":\"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b\",\"topOfInning\":true,\"atBatStrikes\":0,\"awayTeamName\":\"Houston
        Spies\",\"gameComplete\":true,\"homeTeamName\":\"Ohio Worms\",\"isPostseason\":false,\"isTitleMatch\":false,\"queuedEvents\":[],\"seriesLength\":3,\"awayBatterMod\":\"\",\"awayTeamColor\":\"#67556b\",\"awayTeamEmoji\":\"0x1F575\",\"basesOccupied\":[],\"homeBatterMod\":\"\",\"homeTeamColor\":\"#5c4822\",\"homeTeamEmoji\":\"0x1F40C\",\"awayBatterName\":\"\",\"awayPitcherMod\":\"\",\"baseRunnerMods\":[],\"gameStartPhase\":26,\"halfInningOuts\":0,\"homeBatterName\":\"\",\"homePitcherMod\":\"\",\"newInningPhase\":-1,\"topInningScore\":0,\"awayPitcherName\":\"Mohammed
        Picklestein\",\"baseRunnerNames\":[],\"baserunnerCount\":0,\"halfInningScore\":0,\"homePitcherName\":\"Jacoby
        Podcast\",\"awayTeamNickname\":\"Spies\",\"homeTeamNickname\":\"Worms\",\"secretBaserunner\":null,\"bottomInningScore\":0,\"awayTeamBatterCount\":35,\"homeTeamBatterCount\":52,\"awayTeamSecondaryColor\":\"#9e82a4\",\"homeTeamSecondaryColor\":\"#ba9c65\"},{\"id\":\"d30bf608-e5a5-4f5d-90e0-912ff4391232\",\"day\":52,\"phase\":7,\"rules\":\"4ae9d46a-5408-460a-84fb-cbd8d03fff6c\",\"shame\":false,\"state\":{},\"inning\":8,\"season\":18,\"weather\":9,\"awayOdds\":0.4147527641694599,\"awayOuts\":3,\"awayTeam\":\"b72f3061-f573-40d7-832a-5ad475bd7909\",\"homeOdds\":0.5852472358305402,\"homeOuts\":3,\"homeTeam\":\"105bc3ff-1320-4e37-8ef0-8d595cb95dd0\",\"outcomes\":[],\"awayBalls\":4,\"awayBases\":4,\"awayScore\":4,\"finalized\":true,\"gameSta[...]
