interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3c331c87-1634-46c4-87ce-e4b9c59e2969
  response:
    body:
      string: '[{"id":"3c331c87-1634-46c4-87ce-e4b9c59e2969","anticapitalism":0.8144719112482496,"baseThirst":0.8276194573836204,"buoyancy":0.22427866581588335,"chasiness":0.5110078199478887,"coldness":0.6829548756152195,"continuation":0.1081732397193205,"divinity":0.5539652063757337,"groundFriction":0.5101751601727961,"indulgence":0.07622634396669577,"laserlikeness":0.4898355256474115,"martyrdom":0.7117023713181533,"moxie":0.11090341533254505,"musclitude":0.44205036927867336,"name":"Yosh
        Carpenter","bat":"","omniscience":0.3256784036660068,"overpowerment":0.5420523736544021,"patheticism":0.20548864480649118,"ruthlessness":0.9808146019956697,"shakespearianism":0.8025876112274433,"suppression":0.7697881609898709,"tenaciousness":0.9618890241620097,"thwackability":0.5508329782413124,"tragicness":0.1,"unthwackability":0.7592244015378945,"watchfulness":0.41767045501816136,"pressurization":0.3186511553901601,"totalFingers":12,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":1.0139784537583232,"fate":30,"armor":"","ritual":"Cartoons","coffee":4,"blood":9,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.3973769138724253,"pitchingRating":0.7642493553704165,"hittingRating":0.5163575092966772,"defenseRating":0.6655742742265919,"leagueTeamId":"b72f3061-f573-40d7-832a-5ad475bd7909","tournamentTeamId":"4d921519-410b-41e2-882e-9726a4e54a6a"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57f-Y4rYe5cjV6HxSJjqadRc4xPwKjU"
    status:
      code: 200
      message: OK
[...]
