interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=73265ee3-bb35-40d1-b696-1f241a6f5966
  response:
    body:
      string: '[{"id":"73265ee3-bb35-40d1-b696-1f241a6f5966","anticapitalism":0.6970424063026017,"baseThirst":0.5813538396820958,"buoyancy":0.9371854495279643,"chasiness":0.595290940921901,"coldness":1.0426907687901772,"continuation":0.34240198528379795,"divinity":0.15331239510323016,"groundFriction":1.0599164987772507,"indulgence":0.5220780793107824,"laserlikeness":0.33138080606431924,"martyrdom":0.4169920255343835,"moxie":0.42600458004596475,"musclitude":0.14556018002450738,"name":"Parker
        Meng","bat":"","omniscience":0.35970985618596,"overpowerment":0.6672730992548463,"patheticism":0.6238825986795812,"ruthlessness":0.9510617373377305,"shakespearianism":0.8084109923932342,"suppression":0.735721114019327,"tenaciousness":0.5107959658367092,"thwackability":1.077086583818663,"tragicness":0.04011225247384004,"unthwackability":0.8716956931662337,"watchfulness":0.9639019919335599,"pressurization":0.6735110277965328,"totalFingers":11,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":0.42843706358284445,"fate":38,"armor":"","ritual":"Showtunes","coffee":7,"blood":9,"permAttr":["ALTERNATE","PERK","MINIMALIST"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.4617023319241731,"pitchingRating":0.8439730634955874,"hittingRating":0.40426389349942154,"defenseRating":0.650192707900268,"leagueTeamId":"b72f3061-f573-40d7-832a-5ad475bd7909","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1","eDensity":58.520923977736146,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5dd-p1isOgUOFxcrZTIGAa/h3XVCy7Y"
    status:
      code: 200
      message: OK
[...]
