interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=65273615-22d5-4df1-9a73-707b23e828d5
  response:
    body:
      string: '[{"id":"65273615-22d5-4df1-9a73-707b23e828d5","anticapitalism":0.9227522142756347,"baseThirst":0.9380733641456237,"buoyancy":1.2524857365109126,"chasiness":0.5028915784757931,"coldness":1.1453112277740547,"continuation":1.380032237568085,"divinity":0.7180550324203268,"groundFriction":0.8131558231524086,"indulgence":1.2128573971224934,"laserlikeness":0.8081850012521012,"martyrdom":0.481529878653164,"moxie":1.271060073056947,"musclitude":1.0086839184892864,"name":"Burke
        Go-zale-","omniscience":0.7756613282499781,"overpowerment":1.0283728741466325,"patheticism":0.001,"ruthlessness":1.4996455713666772,"shakespearianism":0.9886204342275805,"suppression":0.9481746592816355,"tenaciousness":1.088559239006993,"thwackability":0.9729246662524104,"tragicness":0.001,"unthwackability":1.3424232940889296,"watchfulness":1.4505998931882422,"pressurization":0.7309676123161581,"totalFingers":13,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":1.0404503223491028,"fate":31,"ritual":"Powerlifting","coffee":2,"blood":12,"permAttr":["ALTERNATE","SCATTERED"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.9212263433838077,"pitchingRating":1.3713200619126784,"hittingRating":0.8855302728579721,"defenseRating":0.9292135872384635,"leagueTeamId":"57ec08cc-0411-4643-b304-0e80dbc15ac7","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e","eDensity":44.75103185775045,"state":{"unscatteredName":"Burke
        Gonzales"},"evolution":0,"items":[{"id":"35058b35-82c8-4fa0-b836-4a896c06bc7b","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.14328567961503008}]},"suffix":null,"durability":1,"health":1,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.0421496558562372,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74c-3gDCJ3BtyG6b1WR+KEIx+EzEDXk"
    status:
      code: 200
      message: OK
[...]
