interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.blaseball-reference.com/v1/allPlayersForGameday?season=10&day=98
  response:
    body:
      string: "[{\"player_id\":\"cc11963b-a05b-477b-b154-911dc31960df\",\"player_name\":\"Pudge
        Nakamoto\",\"current_state\":\"active\",\"current_location\":\"main_roster\",\"debut_gameday\":95,\"debut_season\":6,\"debut_tournament\":-1,\"team_id\":\"adc5b394-8f76-416d-9ce9-813706877b84\",\"team_abbreviation\":\"KCBM\",\"team\":\"Breath
        Mints\",\"position_id\":0,\"position_type\":\"BATTER\",\"valid_from\":\"2020-10-18T21:52:14.633Z\",\"valid_until\":null,\"gameday_from\":null,\"season_from\":9,\"tournament_from\":null,\"phase_type_from\":\"ELECTION_RESULTS\",\"deceased\":false,\"incineration_season\":null,\"incineration_gameday\":null,\"incineration_phase\":null,\"anticapitalism\":\"0.807274953220275\",\"base_thirst\":\"0.935606747293341\",\"buoyancy\":\"0.863451785178222\",\"chasiness\":\"0.337324903868244\",\"coldness\":\"0.968564654032187\",\"continuation\":\"0.376872343685978\",\"divinity\":\"0.867593759436808\",\"ground_friction\":\"0.0118955171416817\",\"indulgence\":\"0.85909315599673\",\"laserlikeness\":\"0.218807821415013\",\"martyrdom\":\"0.140479158786768\",\"moxie\":\"0.204338528487778\",\"musclitude\":\"0.362415637155495\",\"omniscience\":\"0.0600370492616991\",\"overpowerment\":\"0.452059719177695\",\"patheticism\":\"0.0480644174684308\",\"ruthlessness\":\"0.285630917799923\",\"shakespearianism\":\"0.677953450700895\",\"suppression\":\"0.507568970078891\",\"tenaciousness\":\"0.58104515213033\",\"thwackability\":\"0.0983024847125409\",\"tragicness\":\"0.1\",\"unthwackability\":\"0.260058216251164\",\"watchfulness\":\"0.557655618612954\",\"pressurization\":\"0.777819782802657\",\"cinnamon\":\"0.0589894838377618\",\"total_fingers\":10,\"soul\":6,\"fate\":42,\"peanut_allergy\":true,\"armor\":\"\",\"bat\":\"\",\"ritual\":\"Reading
        theory\",\"coffee\":\"Plenty of Sugar\",\"blood\":\"H\u2082O\",\"url_slug\":\"pudge-nakamoto\",\"modifications\":null,\"batting_rating\":\"0.333004536925911\",\"baserunning_rating\":\"0.266503269279863\",\"defense_rating\":\"0.423320636837582\",\"pitching_rating\":\"0.263578480767456\",\"batting_stars\":\"1.5\",\"baserunning_stars\":\"1.5\",\"defense_stars\":\"2.0\",\"pitching_stars\":\"1.5\"},{\"player_id\":\"88cd6efa-dbf2-4309-aabe-ec1d6f21f98a\",\"player_name\":\"Hewitt
        Best\",\"current_state\":\"active\",\"current_location\":\"main_roster\",\"debut_gameday\":0,\"debut_season\":2,\"debut_tournament\":-1,\"team_id\":\"adc5b394-8f76-416d-9ce9-813706877b84\",\"team_abbreviation\":\"KCBM\",\"team\":\"Breath
        Mints\",\"position_id\":1,\"position_type\":\"BATTER\",\"valid_from\":\"2020-10-18T21:50:00.947Z\",\"valid_until\":null,\"gameday_from\":null,\"season_from\[...]
