interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=a37f9158-7f82-46bc-908c-c9e2dda7c33b
  response:
    body:
      string: "{\"id\":\"a37f9158-7f82-46bc-908c-c9e2dda7c33b\",\"lineup\":[\"0f61d948-4f0c-4550-8410-ae1c7f9f5613\",\"5dbf11c0-994a-4482-bd1e-99379148ee45\",\"ef9f8b95-9e73-49cd-be54-60f84858a285\",\"18f45a1b-76eb-4b59-a275-c64cf62afce0\",\"2f3d7bc7-6ffb-40c3-a94f-5e626be413c9\",\"678170e4-0688-436d-a02d-c0467f9af8c0\",\"4f328502-d347-4d2c-8fad-6ae59431d781\",\"9c3273a0-2711-4958-b716-bfcf60857013\",\"817dee99-9ccf-4f41-84e3-dc9773237bc8\"],\"rotation\":[\"0295c6c2-b33c-47dd-affa-349da7fa1760\",\"b348c037-eefc-4b81-8edd-dfa96188a97e\",\"bf122660-df52-4fc4-9e70-ee185423ff93\",\"d23a1f7e-0071-444e-8361-6ae01f13036f\",\"f3c07eaf-3d6c-4cc3-9e54-cbecc9c08286\",\"ea44bd36-65b4-4f3b-ac71-78d87a540b48\"],\"bullpen\":[\"e376a90b-7ffe-47a2-a934-f36d6806f17d\",\"f6342729-a38a-4204-af8d-64b7accb5620\",\"b9293beb-d199-4b46-add9-c02f9362d802\",\"dac2fd55-5686-465f-a1b6-6fbed0b417c5\",\"5fbf04bb-f5ec-4589-ab19-1d89cda056bd\",\"ecf19925-dc57-4b89-b114-923d5a714dbe\",\"52cfebfb-8008-4b9f-a566-72a30e0b64bf\",\"b5c95dba-2624-41b0-aacd-ac3e1e1fe828\"],\"bench\":[\"16a59f5f-ef0f-4ada-8682-891ad571a0b6\",\"3de17e21-17db-4a6b-b7ab-0b2f3c154f42\",\"f10ba06e-d509-414b-90cd-4d70d43c75f9\",\"ac5e4ce2-de6f-408b-9910-a52bb1d1a978\"],\"seasAttr\":[\"EXTRA_STRIKE\"],\"permAttr\":[],\"fullName\":\"Breckenridge
        Jazz Hands\",\"location\":\"Breckenridge\",\"mainColor\":\"#6388ad\",\"nickname\":\"Jazz
        Hands\",\"secondaryColor\":\"#7ba9d7\",\"shorthand\":\"BJAZ\",\"emoji\":\"0x1F450\",\"slogan\":\"We\u2019ve
        Got Winning to Do. Just for You.\",\"shameRuns\":0,\"totalShames\":61,\"totalShamings\":49,\"seasonShames\":1,\"seasonShamings\":4,\"championships\":0,\"weekAttr\":[],\"gameAttr\":[],\"rotationSlot\":28,\"teamSpirit\":0,\"card\":15,\"tournamentWins\":0,\"stadium\":\"60e78a6c-fe49-4283-8293-735e9fa7e3e9\",\"imPosition\":0.15684475657207866,\"eDensity\":987.388755127944,\"eVelocity\":-0.007140418733414219,\"state\":{},\"evolution\":0,\"winStreak\":2}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6fc-3eoD0y+W+1rMxcTdcbFo99jgsWg"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameById/a3331aed-4ed9-4d72-84ce-5a1df319f33f
  response:
    body:
      string: '{"id":"a3331aed-4ed9-4d72-84ce-5a1df319f33f","basesOccupied":[],"baseRunners":[],"baseRunnerNames":[],"outcomes":[],"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","lastUpdate":"Spies
        4, Jazz Hands 3","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","statsheet":"b0cc5baf-b5f9-4352-9351-828cdddf41b1","awayPitcher":"f3c07eaf-3d6c-4cc3-9e54-cbecc9c08286","awayPitcherName":"Campos
        Arias","awayBatter":null,"awayBatterName":"","awayTeam":"a37f9158-7f82-46bc-908c-c9e2dda7c33b","awayTeamName":"Breckenridge
        Jazz Hands","awayTeamNickname":"Jazz Hands","awayTeamColor":"#6388ad","awayTeamEmoji":"0x1F450","awayOdds":0.5644520614631561,"awayStrikes":3,"awayScore":3,"awayTeamBatterCount":47,"homePitcher":"446a3366-3fe3-41bb-bfdd-d8717f2152a9","homePitcherName":"Marco
        Escobar","homeBatter":null,"homeBatterName":"","homeTeam":"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5","homeTeamName":"Houston
        Spies","homeTeamNickname":"Spies","homeTeamColor":"#67556b","homeTeamEmoji":"0x1F575","homeOdds":0.4355479385368438,"homeStrikes":3,"homeScore":4,"homeTeamBatterCount":49,"season":11,"isPostseason":false,"day":52,"phase":7,"gameComplete":true,"finalized":true,"gameStart":true,"halfInningOuts":0,"halfInningScore":0,"inning":10,"topOfInning":false,"atBatBalls":0,"atBatStrikes":0,"seriesIndex":2,"seriesLength":3,"shame":true,"weather":14,"baserunnerCount":0,"homeBases":4,"awayBases":4,"repeatCount":0,"awayTeamSecondaryColor":"#7ba9d7","homeTeamSecondaryColor":"#9e82a4","homeBalls":4,"awayBalls":4,"homeOuts":3,"awayOuts":3,"playCount":401,"tournament":-1,"baseRunnerMods":[],"homePitcherMod":"","homeBatterMod":"","awayPitcherMod":"","awayBatterMod":"","scoreUpdate":"","scoreLedger":"","stadiumId":null,"secretBaserunner":null,"topInningScore":0,"bottomInningScore":0,"newInningPhase":-1,"gameStartPhase":20,"isTitleMatch":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71d-w8T6T2IWC+Cxlg1JUBiuMIRaSQ0"
    status:
      code: 200
      message: OK
version: 1
