interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sibr.dev/chronicler/v2/entities?count=1000&id=6754f45d-52a6-4b2f-b63c-15dcd520f8cf&type=type
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|da91958b-45ccbf488f99117e.","errors":{"type":["The
        value ''type'' is not valid."]}}'
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
