interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=90c2cec7-0ed5-426a-9de8-754f34d59b39,86d4e22b-f107-4bcf-9625-32d387fcb521,c6a19154-7438-4c4f-b786-2dfaf5951f0f,80de2b05-e0d4-4d33-9297-9951b2b5c950,c0732e36-3731-4f1a-abdc-daa9563b6506,1a93a2d2-b5b6-479b-a595-703e4a2f3885,d35ccee1-9559-49a1-aaa4-7809f7b5c46e,84a2b5f6-4955-4007-9299-3d35ae7135d3,61bbbf34-98c1-4bf6-bd0c-56c19199b35e
  response:
    body:
      string: '[{"id":"86d4e22b-f107-4bcf-9625-32d387fcb521","anticapitalism":0.7353529536069288,"baseThirst":0.3672936602092609,"buoyancy":1.2593094698539085,"chasiness":0.2951854198906845,"coldness":0.3043536965750927,"continuation":0.9521487364939015,"divinity":1.1383965378033092,"groundFriction":0.0327796447289124,"indulgence":0.8519680649130618,"laserlikeness":0.6337955406003984,"martyrdom":0.5376279455892786,"moxie":0.9902878925285323,"musclitude":1.1764011605143947,"name":"York
        Silk","bat":"","omniscience":0.32820397920832645,"overpowerment":0.6784513042443595,"patheticism":0.306328316225548,"ruthlessness":0.3465096329679718,"shakespearianism":0.4706456440205379,"suppression":0.8369510830718048,"tenaciousness":1.0423421538813835,"thwackability":1.2298351431014618,"tragicness":0.001,"unthwackability":1.0164568792530158,"watchfulness":1.0786706692905197,"pressurization":0.32762547788474816,"totalFingers":12,"soul":9,"deceased":false,"peanutAllergy":false,"cinnamon":0.9383021426684449,"fate":76,"armor":"","ritual":"LARPing","coffee":12,"blood":12,"permAttr":["DOUBLE_PAYOUTS","HONEY_ROASTED","EGO2","RETURNED","DEBT_THREE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.501128575792566,"pitchingRating":0.5604182580391098,"hittingRating":1.1035345156335554,"defenseRating":0.6978768467655102,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":"9a5ab308-41f2-4889-a3c3-733b9aab806e","eDensity":51.04070737361519,"state":{},"evolution":0},{"id":"90c2cec7-0ed5-426a-9de8-754f34d59b39","anticapitalism":0.6070606296393118,"baseThirst":1.6510006366247112,"buoyancy":0.3313421787031362,"chasiness":1.2160805313138856,"coldness":0.9192853984947874,"continuation":1.1220881980408968,"divinity":0.9785643082395017,"groundFriction":1.142984707907385,"indulgence":1.514625547413696,"laserlikeness":1.0097744063273206,"martyrdom":0.4249837686866689,"moxie":1.1207754225425914,"musclitude":1.1075657920720885,"name":"Tot
        Fox","bat":"","omniscience":0.6842156070388938,"overpowerment":0.3898549168928418,"patheticism":0.07297530128818258,"ruthlessness":0.5919525880517638,"shakespearianism":1.1262703878953348,"suppression":0.4796881707942455,"tenaciousness":1.2399315538408378,"thwackability":0.45198282321606054,"tragicness":0.001,"unthwackability":1.3281981025213203,"watchfulness":1.2911666169713034,"pressurization":0.1967169760847065,"totalFingers":11,"soul":2,"deceased":false,"peanutAllergy":false,"cinnamon":0.5151285367283283,"fate":82,"armor":"","ritual":"Smoke
        Cleansing","coffee":8,"blood":8,"permAttr":["FLINCH","ELSEWHERE"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":1.1290785913774306,"pitchingRating":0.8192796643653674,"hittingRating":0.7480975503525489,"defenseRating":0.963021109359207,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":22.961659416483656,"state":{"elsewhere":{"day":85,"season":13}},"evolution":1},{"id":"c6a19154-7438-4c4f-b786-2dfaf5951f0f","anticapitalism":0.5213194315256015,"baseThirst":0.5394020681480318,"buoyancy":0.12919689538414728,"chasiness":0.429890585635741,"coldness":0.6287676460249405,"continuation":0.8099183326018289,"divinity":1.0950436284059455,"groundFriction":0.1411101977474547,"indulgence":0.2720137456995406,"laserlikeness":0.5476533180853311,"martyrdom":0.6096626321564692,"moxie":0.42437096351387826,"musclitude":0.3674120561125577,"name":"Silvaire
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=90c2cec7-0ed5-426a-9de8-754f34d59b39,86d4e22b-f107-4bcf-9625-32d387fcb521,c6a19154-7438-4c4f-b786-2dfaf5951f0f,1a93a2d2-b5b6-479b-a595-703e4a2f3885,84a2b5f6-4955-4007-9299-3d35ae7135d3,61bbbf34-98c1-4bf6-bd0c-56c19199b35e
  response:
    body:
      string: '[{"id":"90c2cec7-0ed5-426a-9de8-754f34d59b39","anticapitalism":0.6070606296393118,"baseThirst":1.551000636624711,"buoyancy"[...]
