interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=CARCINIZATION,UNHOLEY
  response:
    body:
      string: '[{"id":"CARCINIZATION","color":"#ff4258","textColor":"#ff4258","background":"#38040a","title":"Carcinization","description":"When
        the Crabs activate the Black Hole, they will steal the other team''s best
        hitter for the remainder of the game."},{"id":"UNHOLEY","color":"#ffffff","textColor":"#ffffff","background":"#863490","title":"Unholey","description":"When
        this Team activates the Black Hole, a random player on their opponent''s Team
        will be impaired by 1%."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1cf-nYdL+Pz/Tc2QG8nuBhNxs4VEabE"
    status:
      code: 200
      message: OK
version: 1
