interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=PEANUT_MISTER,PSYCHOACOUSTICS,SECRET_BASE,FLOOD_PUMPS
  response:
    body:
      string: '[{"id":"PEANUT_MISTER","color":"#f3ff54","textColor":"#f3ff54","background":"#423519","title":"Peanut
        Mister","description":"A Peanut Mister will occasionally cure a player of
        their peanut allergy."},{"id":"PSYCHOACOUSTICS","color":"#ff007b","textColor":"#ff007b","background":"#ffd1f1","title":"PsychoAcoustics","description":"In
        Feedback or Reverb, PsychoAcoustics will occasionally Echo one of the Away
        Team''s mods to the Home Team, for game-long use."},{"id":"SECRET_BASE","color":"#ffffff","textColor":"#ffffff","background":"#363335","title":"Secret
        Base","description":"The Secret Base is a hidden base beyond 2nd that allows
        a baserunner to hide between innings."},{"id":"FLOOD_PUMPS","color":"#41feff","textColor":"#41feff","background":"#465f63","title":"Flood
        Pumps","description":"Flood Pumps will prevent Flooding weather from making
        your Ballpark filthier."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"369-FPBQXegA0pNWJt2yzxP6fQvY3Yo"
    status:
      code: 200
      message: OK
version: 1
