interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/playoffMatchups?ids=3d4b8a9f-1a89-4597-be23-af21d1364820,00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '[{"id":"3d4b8a9f-1a89-4597-be23-af21d1364820","name":null,"awaySeed":3,"awayTeam":"b024e975-1c4a-4575-8936-a3754a08806a","awayWins":1,"homeSeed":0,"homeTeam":"b72f3061-f573-40d7-832a-5ad475bd7909","homeWins":3,"gamesPlayed":0,"gamesNeeded":"0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5-2oMxwpKXfX0q3Y7Gw8WAzRjeEME"
    status:
      code: 200
      message: OK
version: 1
