interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameStatsheets?ids=940cd2f2-f832-4553-b9ad-03fbe7878ca6
  response:
    body:
      string: '[{"id":"940cd2f2-f832-4553-b9ad-03fbe7878ca6","homeTeamRunsByInning":[],"awayTeamRunsByInning":[],"awayTeamTotalBatters":0,"homeTeamTotalBatters":0,"awayTeamStats":"9a046b0d-9f93-483c-affa-5beefb452868","homeTeamStats":"002dd5cb-c3e0-4d02-9070-c49ebf93bea5"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"103-yeu+RDig9JRu0zARdi5Swl/sWQA"
    status:
      code: 200
      message: OK
version: 1
