interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=03f920cc-411f-44ef-ae66-98a44e883291
  response:
    body:
      string: '[{"id":"03f920cc-411f-44ef-ae66-98a44e883291","anticapitalism":0.8159556698122307,"baseThirst":0.5556113251139317,"buoyancy":0.560885464246524,"chasiness":0.35931216241550434,"coldness":0.3269359111894803,"continuation":0.20746429359618085,"divinity":0.6918535481652274,"groundFriction":0.5816080828881661,"indulgence":0.6937518949210977,"laserlikeness":0.1295357670116387,"martyrdom":0.578166247832905,"moxie":0.17681463234374956,"musclitude":0.029427534815350403,"name":"Cornelius
        Games","omniscience":0.5844040700803568,"overpowerment":0.926127139076325,"patheticism":0.9111741769455438,"ruthlessness":0.9696345761705276,"shakespearianism":0.1775499573405838,"suppression":0.5671730917899347,"tenaciousness":0.7963676640553033,"thwackability":0.18439091516623185,"tragicness":0.10384161696457388,"unthwackability":0.9985079140914006,"watchfulness":0.29652913961058763,"pressurization":0.9408542236529036,"totalFingers":12,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.10480112752132023,"fate":31,"ritual":"Swearing
        an oath","coffee":7,"blood":0,"permAttr":["WILD","PERK"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.2648193755795837,"pitchingRating":0.7982027278919672,"hittingRating":0.2870291884674065,"defenseRating":0.6721805719286889,"leagueTeamId":"bfd38797-8404-4b38-8b82-341da28b1f83","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1","eDensity":54.155623047073526,"state":{},"evolution":0,"items":[{"id":"21cef61d-0729-43dc-a1ef-0e42c52b6c0b","name":"Bat","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Bat","adjustments":[{"stat":2,"type":1,"value":0.14521969254389072}]},"suffix":null,"durability":1,"health":1,"baserunningRating":0,"pitchingRating":0,"hittingRating":0.06470747867944404,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74a-WrRlDo2IgOgPqJ+xe7dAy3MTu7o"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=733d80f1-2485-40f7-828b-fd7cd8243a01,733d80f1-2485-40f7-828b-fd7cd8243a01
  response:
    body:
      string: '[{"id":"733d80f1-2485-40f7-828b-fd7cd8243a01","anticapitalism":0.9967960956113966,"baseThirst":0.4322614532178606,"buoyancy":0.12628078483010358,"chasiness":0.4097189130770279,"coldness":0.7701997609558319,"continuation":0.44389553101504675,"divinity":1.0078299364716643,[...]
