interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=09f2787a-3352-41a6-8810-d80e97b253b5
  response:
    body:
      string: '[{"id":"09f2787a-3352-41a6-8810-d80e97b253b5","anticapitalism":1.184864614510016,"baseThirst":0.4859758771710539,"buoyancy":0.6507448302212091,"chasiness":1.1088361856885303,"coldness":1.0470984659191176,"continuation":0.3859774926880108,"divinity":1.1872840511358957,"groundFriction":0.7968520467280916,"indulgence":0.6627498236232694,"laserlikeness":0.2868352939582448,"martyrdom":0.7483560090391264,"moxie":1.1169194236167344,"musclitude":1.0588412960273759,"name":"Curry
        Aliciakeyes","bat":"","omniscience":0.7074849861385403,"overpowerment":1.1370370003590402,"patheticism":0.6065620745480723,"ruthlessness":1.0765074595995778,"shakespearianism":0.8356472211406627,"suppression":0.7332614994430247,"tenaciousness":1.1574194048686557,"thwackability":0.2562553034533145,"tragicness":0.02545267482164304,"unthwackability":0.9808783031894917,"watchfulness":1.0985227868611587,"pressurization":0.9383202630490881,"totalFingers":14,"soul":8,"deceased":false,"peanutAllergy":false,"cinnamon":0.6714552034723824,"fate":8,"armor":"","ritual":"Photography","coffee":2,"blood":6,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.42501738499609065,"pitchingRating":1.0225452991498565,"hittingRating":0.6334430604469738,"defenseRating":0.996726755716446,"leagueTeamId":"7966eb04-efcc-499b-8f03-d13916330531","tournamentTeamId":"9e42c12a-7561-42a2-b2d0-7cf81a817a5e"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58d-b00cZwYHNchtD3nIKdsSxfGSTgc"
    status:
      code: 200
      message: OK
[...]
