interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/decreeResults?ids=643280fc-b7c6-4b6d-a164-9b53e1a3e47a,00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '[{"id":"643280fc-b7c6-4b6d-a164-9b53e1a3e47a","decreeId":"forecast_birds","decreeTitle":"
        ","description":"EMERGENCY ALERT\nSEVERE MURMURATION WARNING IN THIS AREA","totalVotes":304585}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba-OwEG5u7uomB/p+VxqB6WMZjEkPU"
    status:
      code: 200
      message: OK
version: 1
