interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=7966eb04-efcc-499b-8f03-d13916330531
  response:
    body:
      string: '{"id":"7966eb04-efcc-499b-8f03-d13916330531","lineup":["17392be2-7344-48a0-b4db-8a040a7fb532","114100a4-1bf7-4433-b304-6aad75904055","44c92d97-bb39-469d-a13b-f2dd9ae644d1","ac69dba3-6225-4afd-ab4b-23fc78f730fb","2ffbaec8-a646-4435-a17a-3a0a2b5f3e16","a3947fbc-50ec-45a4-bca4-49ffebb77dbe","e16c3f28-eecd-4571-be1a-606bbac36b2b","aa6c2662-75f8-4506-aa06-9a0993313216","63512571-2eca-4bc4-8ad9-a5308a22ae22"],"rotation":["89ec77d8-c186-4027-bd45-f407b4800c2c","8adb084b-19fe-4295-bcd2-f92afdb62bd7","b6aa8ce8-2587-4627-83c1-2a48d44afaee","09f2787a-3352-41a6-8810-d80e97b253b5","24f6829e-7bb4-4e1e-8b59-a07514657e72"],"bullpen":["9a031b9a-16f8-4165-a468-5d0e28a81151","450e6483-d116-41d8-933b-1b541d5f0026","1af239ae-7e12-42be-9120-feff90453c85","94f30f21-f889-4a2e-9b94-818475bb1ca0","1ded0384-d290-4ea1-a72b-4f9d220cbe37","82733eb4-103d-4be1-843e-6eb6df35ecd7","db53211c-f841-4f33-accf-0c3e167889a0","b77dffaa-e0f5-408f-b9f2-1894ed26e744"],"bench":["945974c5-17d9-43e7-92f6-ba49064bbc59","c6146c45-3d9b-4749-9f03-d4faae61e2c3","ac57cf28-556f-47af-9154-6bcea2ace9fc","7b779947-46ef-4b77-be37-962d60875647"],"seasAttr":[],"permAttr":["O_NO"],"fullName":"Yellowstone
        Magic","location":"Yellowstone","mainColor":"#bf0043","nickname":"Magic","secondaryColor":"#f60f63","shorthand":"YELL","emoji":"0x2728","slogan":"As
        Above, So Below","shameRuns":0,"totalShames":54,"totalShamings":43,"seasonShames":2,"seasonShamings":4,"championships":0,"weekAttr":[],"gameAttr":[],"rotationSlot":28,"teamSpirit":0,"card":0,"tournamentWins":0,"stadium":"2a1a52b3-9759-44aa-ba49-b1437396d895","imPosition":0.19466331624822308,"eDensity":915.4696870867015,"eVelocity":-0.009832897401137002,"state":{},"evolution":0,"winStreak":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6aa-dwmCWJqlDbJFsLiEb2RG3dN7Fe8"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=09f2787a-3352-41a6-8810-d80e97b253b5,316abea7-9890-4fb8-aaea-86b35e24d9be
  response:
    body:
      string: '[{"id":"316abea7-9890-4fb8-aaea-86b35e24d9be","anticapitalism":0.8359329704481304,"baseThirst":0.8463118171784367,"buoyancy":0.0930830706900685,"chasiness":0.8110339578055679,"coldness":0.5583546606259776,"continuation":0.11473030023424437,"divinity":0.7432775255255708,"groundFriction":0.629124317532908,"indulgence":0.16834300633018473,"laserlikeness":0.13200519260877752,"martyrdom":0.5867421133786843,"moxie":0.27058439094744946,"musclitude":0.5348700247769871,"name":"Kennedy
        Rodgers","bat":"","omniscience":0.03,"overpowerment":0.8744562540340829,"patheticism":0.922815527066779,"ruthlessness":0.7645552037305964,"shakespearianism":0.3084108642419964,"suppression":0.8238507101095759,"tenaciousness":0.7465797937383487,"thwackability":0.3942111778756332,"tragicness":0.1,"unthwackability":0.46995349201821257,"watchfulness":0.03869315579558942,"pressurization":0.266324437480846,"totalFingers":13,"soul":3,"deceased":false,"peanutAllergy":true,"cinnamon":0.34145377768804286,"fate":86,"armor":"","ritual":"Updating","coffee":9,"blood":10,"permAttr":["UNDEROVER","OVERPERFORMING"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.22988440805093371,"pitchingRating":0.5287342133030167,"hittingRating":0.48948250053457387,"defenseRating":0.3250303846226135,"leagueTeamId":"ca3f1c8c-c025-4d8e-8eef-5be6accbeb16","tournamentTeamId":null,"eDensity":17.011920545577965,"state":{"permModSources":{"OVERPERFORMING":["UNDEROVER"]}},"evolution":0},{"id":"09f2787a-3352-41a6-8810-d80e97b253b5","anticapitalism":1.256132120879667,"baseThirst":0.5565308611162642,"buoyancy":0.7039109769332003,"chasiness":1.1707912812453831,"coldness":1.121361138636024,"continuation":0.4445964997086256,"divinity":1.2396374181526257,"groundFriction":0.8670639362364617,"indulgence":0.734776965569531,"laserlikeness":0.3445758050237605,"martyrdom":0.8027976041945023,"moxie":1.1706080776021686,"musclitude":1.1366952852343934,"name":"Cur[...]
