interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/mods?ids=FAIRNESS
  response:
    body:
      string: '[{"id":"FAIRNESS","color":"#12b300","textColor":"#12b300","background":"#ffdb0f","title":"Total
        Fairness","description":"This Season, each team will win only one Blessing,
        and will be Happy with what they get."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4-vTDXyw8t4xW0r7CY2JXgBmVmX9w"
    status:
      code: 200
      message: OK
version: 1
