interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=678170e4-0688-436d-a02d-c0467f9af8c0,cbd19e6f-3d08-4734-b23f-585330028665,a7d8196a-ca6b-4dab-a9d7-c27f3e86cc21,03b80a57-77ea-4913-9be4-7a85c3594745,766dfd1e-11c3-42b6-a167-9b2d568b5dc0,32c9bce6-6e52-40fa-9f64-3629b3d026a8,04931546-1b4a-469f-b391-7ed67afe824c,817dee99-9ccf-4f41-84e3-dc9773237bc8,2f3d7bc7-6ffb-40c3-a94f-5e626be413c9
  response:
    body:
      string: '[{"id":"cbd19e6f-3d08-4734-b23f-585330028665","anticapitalism":1.0150512984712878,"baseThirst":0.26289695172682825,"buoyancy":0.5690513506296129,"chasiness":0.9500118511287631,"coldness":0.3256024896118952,"continuation":0.6273651382906865,"divinity":0.7204669495284493,"groundFriction":0.24035842938156413,"indulgence":0.6106408298272051,"laserlikeness":0.8533774884012403,"martyrdom":0.9466135986469153,"moxie":1.0242843365976615,"musclitude":1.1580274877775993,"name":"Knight
        Triumphant","bat":"","omniscience":1.1264012658411793,"overpowerment":0.8021384994524631,"patheticism":0.3422292086125862,"ruthlessness":0.34793373254741733,"shakespearianism":0.9285857468445039,"suppression":0.20059519708221246,"tenaciousness":0.8078193378922855,"thwackability":1.0986019619913714,"tragicness":0.1,"unthwackability":0.9432581103612802,"watchfulness":0.48115034230758824,"pressurization":0.7816458937113402,"totalFingers":10,"soul":5,"deceased":false,"peanutAllergy":false,"cinnamon":0.738287283119095,"fate":54,"armor":"","ritual":"Bagels","coffee":7,"blood":9,"permAttr":["SIPHON","PERK"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":1,"baserunningRating":0.6367452355981351,"pitchingRating":0.5944983955999997,"hittingRating":0.9119879828194736,"defenseRating":0.9087642969001997,"leagueTeamId":"b72f3061-f573-40d7-832a-5ad475bd7909","tournamentTeamId":"d8f82163-2e74-496b-8e4b-2ab35b2d3ff1"},{"id":"a7d8196a-ca6b-4dab-a9d7-c27f3e86cc21","anticapitalism":0.3493684176238053,"baseThirst":0.780688835734565,"buoyancy":0.6676879619008992,"chasiness":0.9854494509627565,"coldness":1.0194794657357429,"continuation":0.8819366648900164,"divinity":0.78923123303327,"groundFriction":0.36373150104575175,"indulgence":0.5865034973221178,"laserlikeness":0.9069461860648763,"martyrdom":1.0012843597334973,"moxie":1.0263398190799369,"musclitude":0.4504386167931167,"[...]
