interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=747b8e4a-7e50-4638-a973-ea7950a3e739
  response:
    body:
      string: '{"id":"747b8e4a-7e50-4638-a973-ea7950a3e739","lineup":["194a78fd-3aa7-4356-8ba0-b9fdcbc0ea85","c0177f76-67fc-4316-b650-894159dede45","b082ca6e-eb11-4eab-8d6a-30f8be522ec4","19241aa4-38e3-45ed-9750-68f4401f80e1","5bcfb3ff-5786-4c6c-964c-5c325fcc48d7","7cf83bdc-f95f-49d3-b716-06f2cf60a78d","2e86de11-a2dd-4b28-b5fe-f4d0c38cd20b","7932c7c7-babb-4245-b9f5-cdadb97c99fb"],"rotation":["2720559e-9173-4042-aaa0-d3852b72ab2e","7aeb8e0b-f6fb-4a9e-bba2-335dada5f0a3","b3e512df-c411-4100-9544-0ceadddb28cf"],"bullpen":["5fc4713c-45e1-4593-a968-7defeb00a0d4","77a41c29-8abd-4456-b6e0-a034252700d2","a73427b3-e96a-4156-a9ab-844edc696fed","1db2f602-64b1-4a5c-8697-1932cc2c6df1","04f955fe-9cc9-4482-a4d2-07fe033b59ee","6e744b21-c4fa-4fa8-b4ea-e0e97f68ded5","37efef78-2df4-4c76-800c-43d4faf07737","58fca5fa-e559-4f5e-ac87-dc99dd19e410","2727215d-3714-438d-b1ba-2ed15ec481c0","63580bd7-6138-471c-82a5-bc9d29ffd06d"],"bench":["9abe02fb-2b5a-432f-b0af-176be6bd62cf","32c9bce6-6e52-40fa-9f64-3629b3d026a8","695daf02-113d-4e76-b802-0862df16afbd","db3ff6f0-1045-4223-b3a8-a016ca987af9","6f71667b-59f2-46df-adac-a8885a4f6ac5","df34d168-4d6a-403c-aca5-2b1ebe90444d","2a8b371f-d2eb-4be7-b89f-aff10edb4412","128a33b9-c82f-408e-9fa3-5161f5a3e297","852107b8-8cf3-4fbb-97f9-76f73bc47708","243e9c5c-5a8a-4b48-9ce6-b10ddd677ae6","d744f534-2352-472b-9e42-cd91fa540f1b","f73009c5-2ede-4dc4-b96d-84ba93c8a429","6fc3689f-bb7d-4382-98a2-cf6ddc76909d"],"seasAttr":[],"permAttr":["FIREPROOF","SEALANT","AMBUSH","FIERY"],"fullName":"Hades
        Tigers","location":"Hades","mainColor":"#5c1c1c","nickname":"Tigers","secondaryColor":"#e83622","shorthand":"HAT","emoji":"0x1F405","slogan":"Never
        Look Back.","shameRuns":0,"totalShames":62,"totalShamings":91,"seasonShames":0,"seasonShamings":3,"championships":3,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":14,"tournamentWins":0,"stadium":"929fc650-948a-4736-b7a2-bb7b75902e6e","eDensity":1661.0695194219463,"state":{},"evolution":1,"winStreak":-2,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c0-aztD9tRowdKQTm4pPhscUPIJLaE"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=b082ca6e-eb11-4eab-8d6a-30f8be522ec4
  response:
    body:
      string: '[{"id":"b082ca6e-eb11-4eab-8d6a-30f8be522ec4","anticapitalism":0.9157442880234117,"baseThirst":0.3437157792322584,"buoyancy":0.5419331699197909,"chasiness":0.535827700919852,"coldness":0.32544789524387235,"continuation":0.5298424082851564,"divinity":0.8161980785237983,"groundFriction":0.9124917043625987,"indulgence":0.865561189189924,"laserlikeness":0.7595097773700209,"martyrdom":0.8463792768909123,"moxie":0.7480280358774711,"musclitude":0.24671314521109103,"name":"Nicholas
        Mora","omniscience":1.088098966687371,"overpowerment":0.42517410917572185,"patheticism":0.1004387215522603,"ruthlessness":0.1831037796017933,"shakespearianism":0.1810301656831002,"suppression":0.22264945178070283,"tenaciousness":0.46928833430184913,"thwackability":1.0584003972803195,"tragicness":0.1577368049356543,"unthwackability":0.9345679937311262,"watchfulness":0.606064364999314,"pressurization":0.9056106219154152,"totalFingers":13,"soul":9,"deceased":false,"peanutAllergy":false,"cinnamon":0.2538338260092554,"fate":83,"ritual":"Astronomy","coffee":1,"blood":10,"permAttr":["EGO1"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7178835026143074,"pitchingRating":0.35339184923681133,"hittingRating":0.8283645892450509,"defenseRating":0.774378781029763,"leagueTeamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","tournamentTeamId":null,"eDensity":43.218131054881525,"state":{},"evolution":0,"items":[{"id":"8decfe69-71a8-4a85-a12f-8a48c7432669","name":"Shoes","forger":null,"forgerName":null,"prePrefix":null,"prefixes":null,"postPrefix":null,"root":{"name":"Shoes","adjustments":[{"stat":10,"type":1,"value":0.12825575544842654}]},"suffix":null,"durability":1,"health":0,"baserunningRating":0.05808608321819542,"pitchingRating":0,"hittingRating":0,"defenseRating":0}],"itemAttr":[]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"719-/VI8cgK5NPUJ1EZ+lG/7q4nFq5M"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/gameById/ea7e391a-8c5b-4547-b520-a7ee44a9946c
  response:
    body:
      string: '{"id":"ea7e391a-8c5b-4547-b520-a7ee44a9946c","basesOccupied":[],"baseRunners":[],"baseRunnerNames":[],"outcomes":["CONSUMERS
        ATTACK\nNICHOLAS MORA"],"terminology":"b67e9bbb-1495-4e1b-b517-f1444b0a6c8b","lastUpdate":"Tigers
        3, Spies 2","rules":"4ae9d46a-5408-460a-84fb-cbd8d03fff6c","statsheet":"51d887d4-adf6-45d2-af88-de247da7ee88","awayPitcher":"2720559e-9173-4042-aaa0-d3852b72ab2e","awayPitcherName":"Hiroto
        Wilcox","awayBatter":null,"awayBatterName":"","awayTeam":"747b8e4a-7e50-4638-a973-ea7950a3e739","awayTeamName":"Hades
        Tigers","awayTeamNickname":"Tigers","awayTeamColor":"#5c1c1c","awayTeamEmoji":"0x1F405","awayOdds":0.5620388926345852,"awayStrikes":3,"awayScore":3,"awayTeamBatterCount":33,"homePitcher":"e111a46d-5ada-4311-ac4f-175cca3357da","homePitcherName":"Alexandria
        Rosales","homeBatter":null,"homeBatterName":"","homeTeam":"9debc64f-74b7-4ae1-a4d6-fce0144b6ea5","homeTeamName":"Houston
        Spies","homeTeamNickname":"Spies","homeTeamColor":"#67556b","homeTeamEmoji":"0x1F575","homeOdds":0.43796110736541477,"homeStrikes":3,"homeScore":2,"homeTeamBatterCount":30,"season":13,"isPostseason":false,"day":85,"phase":7,"gameComplete":true,"finalized":true,"gameStart":true,"halfInningOuts":0,"halfInningScore":0,"inning":8,"topOfInning":false,"atBatBalls":0,"atBatStrikes":0,"seriesIndex":2,"seriesLength":3,"shame":false,"weather":18,"baserunnerCount":0,"homeBases":4,"awayBases":4,"repeatCount":0,"awayTeamSecondaryColor":"#e83622","homeTeamSecondaryColor":"#9e82a4","homeBalls":4,"awayBalls":4,"homeOuts":3,"awayOuts":3,"playCount":287,"tournament":-1,"baseRunnerMods":[],"homePitcherMod":"","homeBatterMod":"","awayPitcherMod":"","awayBatterMod":"","scoreUpdate":"","scoreLedger":"","stadiumId":"43fbdf41-336f-46a8-9445-eb8a6e05d811","secretBaserunner":null,"topInningScore":0,"bottomInningScore":0,"newInningPhase":-1,"gameStartPhase":19,"isTitleMatch":false,"queuedEvents":[],"state":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"771-9vInq7pcwJg2mlYY4fczCO8+3s0"
    status:
      code: 200
      message: OK
version: 1
