interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5
  response:
    body:
      string: '[{"id":"97dfc1f6-ac94-4cdc-b0d5-1cb9f8984aa5","anticapitalism":1.1009320366796362,"baseThirst":0.6771638064151392,"buoyancy":1.0267877416768048,"chasiness":0.8697247232366522,"coldness":0.6573119920149351,"continuation":0.24848264909321316,"divinity":0.39478679161081554,"groundFriction":0.7428805345686874,"indulgence":0.5450668528414812,"laserlikeness":0.957922496404547,"martyrdom":0.08850439985962211,"moxie":0.11500315776657663,"musclitude":0.2863804762734838,"name":"Brock
        Forbes","bat":"","omniscience":0.8606974496304113,"overpowerment":0.47105048020855766,"patheticism":0.22852560776261677,"ruthlessness":1.289278056253604,"shakespearianism":0.5549510915655834,"suppression":1.0639356259860633,"tenaciousness":0.7575204576264043,"thwackability":0.15734831852184103,"tragicness":0.001,"unthwackability":1.040106759690124,"watchfulness":0.45004701253451124,"pressurization":0.49843552394620527,"totalFingers":14,"soul":8,"deceased":false,"peanutAllergy":true,"cinnamon":0.5721252077856721,"fate":67,"armor":"","ritual":"Playing
        fetch","coffee":6,"blood":7,"permAttr":["WILD"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7481712955770872,"pitchingRating":0.9408220195652431,"hittingRating":0.2752666946046606,"defenseRating":0.8438961338603685,"leagueTeamId":"8d87c468-699a-47a8-b40d-cfb73a5660ad","tournamentTeamId":null,"eDensity":35.65709300525152,"state":{},"evolution":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59d-EUgwyjrUBG5ueLlN5Bcp3VKHpSI"
    status:
      code: 200
      message: OK
[...]
