interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=5bcfb3ff-5786-4c6c-964c-5c325fcc48d7
  response:
    body:
      string: '[{"id":"5bcfb3ff-5786-4c6c-964c-5c325fcc48d7","anticapitalism":1.0979397969703346,"baseThirst":1.1666614481417168,"buoyancy":0.454870998755753,"chasiness":0.7741133606084597,"coldness":0.4795223142452367,"continuation":0.5388006906884085,"divinity":1.2133465479799508,"groundFriction":0.788704126734123,"indulgence":0.3399452319661686,"laserlikeness":1.2193283195768643,"martyrdom":0.4715152545390886,"moxie":1.0389302160155134,"musclitude":0.72582813381404,"name":"Paula
        Turnip","omniscience":0.38048432382737074,"overpowerment":0.1968240819579866,"patheticism":0.3424885019838324,"ruthlessness":0.8966562551767906,"shakespearianism":0.5611758172160295,"suppression":0.9256283331936267,"tenaciousness":0.7229802063367504,"thwackability":0.9369960187526525,"tragicness":0.001,"unthwackability":0.8333984236841864,"watchfulness":1.1241446117155531,"pressurization":0.874510487786416,"totalFingers":10,"soul":6,"deceased":false,"peanutAllergy":false,"cinnamon":0.968315275870618,"fate":70,"ritual":"Repenting","coffee":3,"blood":10,"permAttr":["DOUBLE_PAYOUTS","UNCERTAIN"],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.9241233337371819,"pitchingRating":0.6346270522388928,"hittingRating":0.9878025936407453,"defenseRating":0.7689766674399391,"leagueTeamId":"747b8e4a-7e50-4638-a973-ea7950a3e739","tournamentTeamId":"b3b9636a-f88a-47dc-a91d-86ecc79f9934","eDensity":35.208707529397316,"state":{"itemModSources":{"SQUIDDISH":["2bb205b8-cf89-4864-976b-5742120af473"]}},"evolution":0,"items":[{"id":"2bb205b8-cf89-4864-976b-5742120af473","name":"Squiddish
        Shoes","forger":null,"forgerName":null,"prePrefix":null,"prefixes":[{"name":"Squiddish","adjustments":[{"mod":"SQUIDDISH","type":0}]}],"postPrefix":null,"root":{"name":"Shoes","adjustments":[{"stat":10,"type":1,"value":0.11858714695593486}]},"suffix":null,"durability":2,"health":2,"baserunningRating":0.04389580302979912,"pitchingRating":0,"hittingRating":0,"defenseRating":0}],"itemAttr":["SQUIDDISH"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d8-N4XOvGqg+NlOgyRQh8UoUqRVtCA"
    status:
      code: 200
      message: OK
[...]
