interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/players?ids=3d3be7b8-1cbf-450d-8503-fce0daf46cbf
  response:
    body:
      string: '[{"id":"3d3be7b8-1cbf-450d-8503-fce0daf46cbf","anticapitalism":0.4386409581436979,"baseThirst":0.6432772429822662,"buoyancy":0.316825320931078,"chasiness":0.6412342200303531,"coldness":0.522018095595872,"continuation":0.9781895058318322,"divinity":0.715703169856751,"groundFriction":0.9889442172866877,"indulgence":0.25997935514166703,"laserlikeness":0.8669226506918096,"martyrdom":0.46774892460307915,"moxie":0.7018017234854356,"musclitude":0.4271514730929309,"name":"Zack
        Sanders","bat":"","omniscience":1.179563878549894,"overpowerment":0.7336562428423392,"patheticism":0.001,"ruthlessness":0.9682367726193304,"shakespearianism":0.519537499386037,"suppression":0.6713759562902777,"tenaciousness":1.1834378361479734,"thwackability":0.5189909351078359,"tragicness":0.03469284292434677,"unthwackability":0.37144331148292165,"watchfulness":0.5111405144045624,"pressurization":0.9398150163500756,"totalFingers":13,"soul":7,"deceased":false,"peanutAllergy":false,"cinnamon":0.6222866056830362,"fate":72,"armor":"","ritual":"Whispering","coffee":9,"blood":4,"permAttr":[],"seasAttr":[],"weekAttr":[],"gameAttr":[],"hitStreak":0,"consecutiveHits":0,"baserunningRating":0.7760386644276405,"pitchingRating":0.5292570135192174,"hittingRating":0.6359857144624891,"defenseRating":0.8805215730783632,"leagueTeamId":"f02aeae2-5e6a-4098-9842-02d2273f25c7","tournamentTeamId":"49181b72-7f1c-4f1c-929f-928d763ad7fb","eDensity":33.75262075841397,"state":{},"evolution":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b0-WHJiP2VtaaO7o4LdQFUquaaG3B8"
    status:
      code: 200
      message: OK
[...]
