interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.blaseball.com/database/team?id=b024e975-1c4a-4575-8936-a3754a08806a
  response:
    body:
      string: '{"id":"b024e975-1c4a-4575-8936-a3754a08806a","lineup":["97f5a9cd-72f0-413e-9e68-a6ee6a663489","817dee99-9ccf-4f41-84e3-dc9773237bc8","2d07ccd0-cac7-4ccd-bab6-a078bb983174","cbd19e6f-3d08-4734-b23f-585330028665","c3dc7aa2-e27b-4859-bbf0-47ba66c03186","733d80f1-2485-40f7-828b-fd7cd8243a01","042962c8-4d8b-44a6-b854-6ccef3d82716","d35ccee1-9559-49a1-aaa4-7809f7b5c46e","b39b5aae-8571-4c90-887a-6a00f2a2f6fd"],"rotation":["b7ca8f3f-2fdc-477b-84f4-157f2802e9b5","6b8d128f-ed51-496d-a965-6614476f8256","82d1b7b4-ce00-4536-8631-a025f05150ce","41bdb527-1fb2-487d-8237-093958e737e4","e4034192-4dc6-4901-bb30-07fe3cf77b5e"],"bullpen":["fdfd36c7-e0c1-4fce-98f7-921c3d17eafe","dd7e710f-da4e-475b-b870-2c29fe9d8c00","3f08f8cd-6418-447a-84d3-22a981c68f16","721fb947-7548-49ea-8cbe-7721b0ed49e0","c6bd21a8-7880-4c00-8abe-33560fe84ac5","4fe28bc1-f690-4ad6-ad09-1b2e984bf30b","ebf2da50-7711-46ba-9e49-341ce3487e00","d796d287-77ef-49f0-89ef-87bcdeb280ee"],"bench":["a1ed3396-114a-40bc-9ff0-54d7e1ad1718","de52d5c0-cba4-4ace-8308-e2ed3f8799d0","13cfbadf-b048-4c4f-903d-f9b52616b15c","e7ecf646-e5e4-49ef-a0e3-10a78e87f5f4","732899a3-2082-4d9f-b1c2-74c8b75e15fb","7d388846-8f4c-407f-aacb-b844d2561c5e","266abcc0-8abc-4570-b32e-e5668e5d38f3","35a99ff3-cf9e-4682-ba6e-0a6044aa3a4b","6fa08e08-6a95-4fbc-9d00-5c39c5302b60"],"seasAttr":[],"permAttr":["AAA"],"fullName":"Dallas
        Steaks","location":"Dallas","mainColor":"#8c8d8f","nickname":"Steaks","secondaryColor":"#b2b3b5","shorthand":"DAL","emoji":"0x1F969","slogan":"Well
        Done.","shameRuns":0,"totalShames":63,"totalShamings":82,"seasonShames":5,"seasonShamings":1,"championships":1,"weekAttr":[],"gameAttr":[],"rotationSlot":53,"teamSpirit":0,"card":3,"tournamentWins":0,"stadium":"6bfd22e7-831d-4ba9-a9f9-2cf7ab00c39d","eDensity":1440.4442823180086,"state":{"permModSources":{}},"evolution":0,"winStreak":-1,"level":3}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"738-q0jOd2S3d9ATBtDWB80s/SmGA4w"
    status:
      code: 200
      message: OK
[...]
